Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(grid): evaluate row dependencies on the row's own docfield
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

test(grid): dependent column stays on rows whose dependency is met
  cypress/fixtures/child_table_doctype_1.js
  cypress/integration/grid_row_dependency.js
Due: ui-tests

fix(grid): route refresh_field through the row's own docfield
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

fix(grid): drop unused width copy from row docfield
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

fix: consistent link style in toast message (#41847)
  frappe/public/css/espresso/components/toast.css
Due: none

refactor: enhance Kanban card image display with blur-fill technique for improved aesthetics
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
  frappe/public/scss/desk/kanban_v2.scss
Due: ui-tests

fix: limit translated link search results
  frappe/desk/search.py
Due: server

refactor: add early epoch check to prevent stale requests during column page fetch
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: ui-tests

fix: drop the file icon from the setup screen
  frappe/public/js/print_format_builder/components/editor/PrintFormatSetup.vue
Due: none

fix: translate quill table picker labels
  frappe/public/js/frappe/form/controls/text_editor.js
  frappe/public/scss/common/quill.scss
Due: ui-tests

fix: translate awesomplete status messages
  frappe/public/js/frappe/form/controls/autocomplete.js
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/ui/awesomplete.js
Due: ui-tests

feat: choose builder or html up front, dev-only standard in create dialog
  frappe/printing/doctype/print_format/print_format.json
  frappe/printing/doctype/print_format/print_format_list.js
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSetup.vue
Due: ui-tests

style: trim create-dialog and form field hints
  frappe/printing/doctype/print_format/print_format.json
  frappe/printing/doctype/print_format/print_format_list.js
Due: ui-tests

fix: pre-fill dialog doctype from the list filter
  frappe/printing/doctype/print_format/print_format_list.js
Due: ui-tests

test: setup screen has two options, drop the write-html card test
  cypress/integration/print_format_builder.js
Due: ui-tests

test: cover builder and html creation through the new dialog
  cypress/integration/print_format_builder.js
Due: ui-tests

fix: render barcodes in print view
  frappe/printing/page/print/print.js
  frappe/templates/print_formats/standard_macros.html
  frappe/www/printview.html
Due: ui-tests

fix: support options fix: bundle files
  frappe/printing/page/print/print.js
  frappe/public/js/frappe/form/controls/barcode.js
  frappe/public/js/print.bundle.js
  frappe/templates/print_formats/standard_macros.html
  frappe/www/printview.html
Due: ui-tests

fix: only render if barcode value is not an svg
  frappe/printing/page/print/print.js
  frappe/templates/print_formats/standard_macros.html
Due: ui-tests

refactor: add option to enable Kanban V2 experience in settings dialog
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/public/js/frappe/views/kanban_v2/kanban_settings.bundle.js
Due: ui-tests

refactor: add use_kanban_v2 option to quick_kanban_board and enhance state management in KanbanCore
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: server, ui-tests

fix: report print formats from the new dialog must use JS type
  cypress/integration/print_format_builder.js
  frappe/printing/doctype/print_format/print_format_list.js
Due: ui-tests

fix: Chinese Simplified translations
  frappe/locale/zh.po
Due: none

fix: Chinese Traditional translations
  frappe/locale/zh_TW.po
Due: none

fix: Swedish translations
  frappe/locale/sv.po
Due: none

fix: Khmer translations
  frappe/locale/km.po
Due: none

fix: Hungarian translations
  frappe/locale/hu.po
Due: none

fix: Italian translations
  frappe/locale/it.po
Due: none
