Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: remove debug print
  frappe/core/doctype/version/version.py
Due: server

feat: add bulk_update and bulk_insert endpoints
  frappe/api/v2.py
Due: server

test(user-invitation): correct tests after invitation user relation fix
  frappe/core/doctype/user_invitation/test_user_invitation.py
Due: server

test(user-invitation): add invite by email api's disabled user test
  frappe/core/doctype/user_invitation/test_user_invitation.py
Due: server

fix: version diff for empty datetime fields (#33605)
  frappe/core/doctype/version/version.py
Due: server

docs(user-invitation): mention disabled users processing
  frappe/core/doctype/user_invitation/internal_doc/index.md
Due: none

fix(phone_field): Allow conventional internationl phone number format minor refactor.
  frappe/public/js/frappe/form/controls/phone.js
Due: ui-tests

feat: order kanban by queue_position and appointment_date
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/reportview.py
Due: server

fix: keyboard navigation via tab on forms
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/form/controls/table.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/js/frappe/form/layout.js
  frappe/public/js/frappe/form/section.js
  frappe/public/js/frappe/form/tab.js
  frappe/public/js/frappe/ui/keyboard.js
  frappe/public/scss/common/buttons.scss
  frappe/public/scss/common/grid.scss
  frappe/public/scss/desk/form.scss
Due: ui-tests

fix: make shift tab work
  frappe/public/js/frappe/form/controls/table.js
Due: ui-tests

fix: remove merge conflict
  frappe/public/scss/common/grid.scss
Due: none

fix: merge conflicit in keyboard.js
  frappe/public/js/frappe/ui/keyboard.js
Due: ui-tests

fix: merge conflict in tab.js
  frappe/public/js/frappe/form/tab.js
Due: ui-tests

fix: merge conflict in link.js
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

chore: move docs link to documentation instead of description
  frappe/email/doctype/email_account/email_account.json
Due: ui-tests

Notes added by 'git notes add'
  c3c763852c133f60ce6ba9bf89bc68ba26604260
Due: none

Notes added by 'git notes add'
  01b495d3784f4ed9d8fac3573e8d6ac4df092fcd
Due: none

refactor(user-invitation): add `User invitation` doctype to `ignore_links_on_delete`
  frappe/core/doctype/user/user.py
  frappe/hooks.py
Due: server

feat: unambiguous link field icon
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

fix(restore): check for `AES` instead of `cipher` to detect encrypted backup
  frappe/commands/site.py
Due: server

Revert "refactor(user-invitation): add `User invitation` doctype to `ignore_links_on_delete`"
  frappe/core/doctype/user/user.py
  frappe/hooks.py
Due: server

fix: mask passwords
  frappe/public/js/frappe/request.js
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix: queue position in kanban
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/reportview.py
Due: server

fix: decimal in queue_position
  frappe/desk/reportview.py
Due: server

create bucket s3 viettel
  frappe/utils/s3_auto_setup.py
Due: server

fix: validate social login key JSON fields
  frappe/integrations/doctype/social_login_key/social_login_key.py
Due: server

fix: validate social login key JSON fields (#33622)
  frappe/integrations/doctype/social_login_key/social_login_key.py
Due: server

chore(deps): bump pypdf
  pyproject.toml
Due: none

feat: respect linl title in Preview Popup
  frappe/desk/link_preview.py
Due: server

fix(UX): freeze screen while navigating
  frappe/public/js/frappe/form/form.js
Due: ui-tests

Format code using pre-commit
  frappe/desk/link_preview.py
Due: server

fix: iterate over Object.keys
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

refactor: use `String.includes(w)` instead of `String.indexOf(w) !== 1`
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

Fixing Issue no. 45353 , highlighting the active module in the sidebar
  frappe/public/js/frappe/views/workspace/workspace.js
Due: ui-tests

fix: populate filters for number card of type report
  frappe/public/js/frappe/widgets/number_card_widget.js
Due: ui-tests

feat: Show progress of long migration queries
  frappe/migrate.py
Due: server

chore: move out common get_filters()
  frappe/public/js/frappe/widgets/number_card_widget.js
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
