Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(ui): fix checked checkbox invisible in dark mode (#40308)
  frappe/public/scss/desk/dark.scss
Due: none

feat: read desk.package.json per app and split the shell lockfile
  .github/workflows/frontend-tests.yml
  .gitignore
  frappe/bundler.py
  frappe/shell/manifest.py
  frappe/tests/test_shell.py
  frontend/CLAUDE.md
  frontend/COMPATIBILITY.md
  frontend/base-lock.sh
  frontend/package.base.json
  frontend/yarn.lock.base
Due: server, ui-tests

test(notification): assert email template content reaches Email notification
  frappe/email/doctype/notification/test_notification.py
Due: server

feat(Web Form): hide breaks in Get Fields, rebuild layout on Select All
  frappe/website/doctype/web_form/test_web_form.py
  frappe/website/doctype/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.py
Due: server, ui-tests

chore(web_form): add description to Is Standard field
  frappe/website/doctype/web_form/web_form.json
Due: ui-tests

Merge pull request #40518 from sokumon/remove-json
  frappe/desktop_icon/automation.json
  frappe/desktop_icon/build.json
  frappe/desktop_icon/data.json
  frappe/desktop_icon/email.json
  frappe/desktop_icon/framework.json
  frappe/desktop_icon/integrations.json
  frappe/desktop_icon/printing.json
  frappe/desktop_icon/system.json
  frappe/desktop_icon/users.json
  frappe/desktop_icon/website.json
  frappe/workspace_sidebar/automation.json
  frappe/workspace_sidebar/build.json
  frappe/workspace_sidebar/data.json
  frappe/workspace_sidebar/email.json
  frappe/workspace_sidebar/integrations.json
  frappe/workspace_sidebar/printing.json
  frappe/workspace_sidebar/system.json
  frappe/workspace_sidebar/users.json
  frappe/workspace_sidebar/website.json
Due: ui-tests

chore: create backport test users without welcome email
  frappe/tests/test_query_report.py
Due: server

feat: load app Tailwind presets with presets: [] and refuse a second writer on one theme leaf
  frontend/COMPATIBILITY.md
  frontend/package.base.json
  frontend/plugin/presets.js
  frontend/plugin/tests/presets.test.ts
  frontend/tailwind.config.js
  frontend/vite.config.js
Due: ui-tests

fix: walk theme paths as arrays so a dotted key such as spacing 0.5 stays a framework leaf
  frontend/COMPATIBILITY.md
  frontend/plugin/presets.js
  frontend/plugin/tests/presets.test.ts
Due: ui-tests

fix(currency): Label replaced only if contains currency label name
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: edge case in the new routing
  frappe/public/js/frappe/ui/sidebar/sidebar_item.js
Due: ui-tests

fix: load presets from every app on the bench, not only manifest contributors
  frontend/COMPATIBILITY.md
  frontend/plugin/presets.js
  frontend/plugin/tests/presets.test.ts
  frontend/tailwind.config.js
  frontend/vite.config.js
Due: ui-tests

feat(desk): publish frappe/i18n with desk v1's __ and a reserved __n
  babel_extractors.csv
  frappe/frontend/i18n.js
  frappe/hooks.py
  frappe/tests/test_shell.py
  frontend/COMPATIBILITY.md
  frontend/src/i18n.ts
  frontend/src/shell/tests/i18n.test.ts
Due: server, ui-tests

feat(desk): resolve a framework published name from app source
  frontend/COMPATIBILITY.md
  frontend/plugin/oneTree.js
  frontend/plugin/tests/oneTree.test.ts
Due: ui-tests

fix(print_format): generate print_by_server temp file path server-side
  frappe/utils/print_format.py
Due: server

feat(shell): check an app's singleton range against the version the framework ships
  frappe/bundler.py
  frappe/shell/manifest.py
  frappe/tests/test_shell.py
  frontend/COMPATIBILITY.md
Due: server

feat: DocType Settings (#40480)
  frappe/core/doctype/doctype_settings_map/__init__.py
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.js
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.json
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.py
  frappe/core/doctype/doctype_settings_map/test_doctype_settings_map.py
  frappe/core/doctype/doctype_settings_map_item/__init__.py
  frappe/core/doctype/doctype_settings_map_item/doctype_settings_map_item.json
  frappe/core/doctype/doctype_settings_map_item/doctype_settings_map_item.py
  frappe/core/doctype/role/role.js
  frappe/desk/doctype_settings/__init__.py
  frappe/desk/doctype_settings/settings_map.py
  frappe/desk/doctype_settings/test_settings_map.py
  frappe/printing/doctype/print_format/print_format.json
  frappe/printing/doctype/print_format/print_format.py
  frappe/public/css/espresso/components/button.css
  frappe/public/js/desk.bundle.js
  frappe/public/js/doctype_settings.bundle.js
  frappe/public/js/frappe/form/doctype_settings/doctype_settings.js
  frappe/public/js/frappe/form/doctype_settings/list_panel.js
  frappe/public/js/frappe/form/doctype_settings/registry.js
  frappe/public/js/frappe/form/doctype_settings/tabs/email_template.js
  frappe/public/js/frappe/form/doctype_settings/tabs/global_search.js
  frappe/public/js/frappe/form/doctype_settings/tabs/naming.js
  frappe/public/js/frappe/form/doctype_settings/tabs/notification.js
  frappe/public/js/frappe/form/doctype_settings/tabs/permissions.js
  frappe/public/js/frappe/form/doctype_settings/tabs/print_format.js
  frappe/public/js/frappe/form/doctype_settings/tabs/settings_map.js
  frappe/public/js/frappe/form/doctype_settings/tabs/workflow.js
  frappe/public/js/frappe/form/toolbar.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/ui/embedded_list.js
  frappe/public/js/frappe/ui/naming_series.js
  frappe/public/js/frappe/ui/permission_dialog.js
  frappe/public/js/frappe/ui/settings_dialog.js
  frappe/public/scss/desk/doctype_settings.scss
  frappe/public/scss/desk/embedded_list.scss
  frappe/public/scss/desk/index.scss
  frappe/public/scss/desk/settings_dialog.scss
  frappe/public/scss/espresso_components.scss
  frappe/utils/preview.py
Due: server, ui-tests

feat: user settings dialog (#40186)
  frappe/core/doctype/user/user.js
  frappe/public/css/espresso/colors.css
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/ui/keyboard.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/theme_switcher.js
  frappe/public/js/frappe/ui/user_settings_dialog.js
  frappe/public/js/frappe/utils/user.js
  frappe/public/scss/common/controls.scss
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/index.scss
  frappe/public/scss/desk/settings_dialog.scss
  frappe/public/scss/desk/theme_switcher.scss
  frappe/public/scss/desk/user_settings_dialog.scss
Due: ui-tests

Merge pull request #40568 from sokumon/webform-mandatory
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/ui/field_group.js
  frappe/public/js/frappe/web_form/web_form.js
Due: ui-tests

fix: list layout selector UI (#40533)
  cypress/integration/list_saved_layouts.js
  frappe/public/js/frappe/list/list_filter/list_filter_menu.js
Due: ui-tests

Merge pull request #40569 from sokumon/sidebar-logo
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
Due: ui-tests

fix(shell): refuse an empty or non-string singleton range instead of skipping or crashing
  frappe/shell/manifest.py
Due: server

Merge pull request #40577 from nishkagosalia/fix-doctype-setting-layout
  frappe/public/scss/desk/settings_dialog.scss
Due: none

Merge pull request #40350 from kaulith/fix/assign-filter-user-picker
  frappe/database/query.py
  frappe/model/db_query.py
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/tests/test_assign.py
Due: server, ui-tests

Merge pull request #40638 from kaulith/perf/grid-strip-rich-text-html
  cypress/integration/grid_rich_text.js
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

Merge pull request #40576 from nikkothari22/button-utility
  frappe/public/css/espresso/components/button.css
  frappe/public/css/espresso/components/spinner.css
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/form/doctype_settings/list_panel.js
  frappe/public/js/frappe/form/doctype_settings/registry.js
  frappe/public/js/frappe/form/doctype_settings/tabs/naming.js
  frappe/public/js/frappe/ui/components/button.js
  frappe/public/js/frappe/ui/embedded_list.js
  frappe/public/js/frappe/ui/settings_dialog.js
  frappe/public/js/frappe/ui/user_settings_dialog.js
  frappe/public/scss/espresso_components.scss
Due: ui-tests

perf(search): let an index skip the vocabulary pass
  frappe/search/sqlite_search.md
  frappe/search/sqlite_search.py
Due: server

test(search): drain the queue before reading the caught-up row
  frappe/tests/test_sqlite_search.py
Due: server

test(search): cover the build window and the vocabulary flag
  frappe/tests/test_sqlite_search.py
Due: server

fix(search): catch up on writes made while a build ran
  frappe/search/sqlite_search.py
Due: server

fix(search): mark the vocabulary built when the pass is skipped
  frappe/search/sqlite_search.py
Due: server

fix(search): read the build start from the index being built
  frappe/search/sqlite_search.py
Due: server

perf(search): index the build catch-up instead of queueing it
  frappe/search/sqlite_search.py
Due: server

test(search): give the interrupted build a document to index
  frappe/tests/test_sqlite_search.py
Due: server

test(search): drive a real continuation and the skipped vocabulary pass
  frappe/tests/test_sqlite_search.py
Due: server

docs(search): tighten the docstrings
  frappe/search/sqlite_search.py
Due: server

Merge pull request #40748 from sokumon/workspace-link
  frappe/desk/doctype/workspace_link/workspace_link.json
Due: ui-tests

feat(ui): add generic utilities for styling and layout (#40755)
  frappe/public/scss/common/flex.scss
  frappe/public/scss/common/utilities.scss
  frappe/public/scss/desk.bundle.scss
  frappe/public/scss/espresso/_typography.scss
Due: none

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
