Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

refactor: simplfiy translate pattern
  frappe/translate.py
Due: server

chore: ignore js format commit
  .git-blame-ignore-revs
Due: none

fix: ignore built assets in translation
  frappe/translate.py
Due: server

feat: use AST to extract translation sources
  frappe/tests/test_translate.py
  frappe/translate.py
Due: server

refactor: extract python translations using babel
  frappe/tests/test_translate.py
  frappe/translate.py
Due: server

feat: modified parser for frappe JS translate syntax
  frappe/tests/test_translate.py
  frappe/translate.py
Due: server

refactor: simplify get_messages_from_file
  frappe/translate.py
Due: server

feat: JS extractor and custom JS parser
  frappe/tests/test_translate.py
  frappe/translate.py
Due: server

chore: remove pointless template strings
  frappe/public/js/frappe/form/quick_entry.js
  frappe/public/js/frappe/list/list_view_select.js
  frappe/public/js/frappe/views/workspace/blocks/header.js
  frappe/public/js/frappe/views/workspace/blocks/paragraph.js
  frappe/public/js/frappe/views/workspace/blocks/spacer.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/js/frappe/widgets/base_widget.js
Due: ui-tests

chore: correct default arg for extract_javascript
  frappe/translate.py
Due: server

fix: send all messages on boot instead of scanning
  frappe/boot.py
  frappe/translate.py
Due: server

fix: test cases
  cypress/integration/control_link.js
  frappe/tests/ui_test_helpers.py
Due: server, ui-tests

fix: correct focus field index
  frappe/desk/search.py
Due: server

fix: fixed fields when getting field names from child tables
  frappe/database/query.py
Due: server

feat: generate report PDF server side
  frappe/utils/print_format.py
Due: server

feat: template for server side report rendering
  frappe/templates/includes/report_to_pdf.html
Due: none

feat: setting STARTTLS for IMAP
  frappe/email/doctype/email_account/email_account.json
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_domain/email_domain.json
  frappe/email/doctype/email_domain/email_domain.py
  frappe/email/doctype/email_domain/test_email_domain.py
  frappe/email/receive.py
  yarn.lock
Due: server, ui-tests

chore: reset yarn.lock
  yarn.lock
Due: none

fix: add_user_permission with applicale_for arg set not updating in user permission
  frappe/permissions.py
Due: server

test: Pass sid to requests to maintain a session
  frappe/tests/test_oauth20.py
Due: server

fix: ensure return value is same as before
  frappe/model/utils/__init__.py
Due: server

test: add test for `frappe.model.utils.get_fetch_values`
  frappe/tests/test_model_utils.py
Due: server

chore: Remove dead imports
  frappe/tests/test_oauth20.py
Due: server

perf: reduce DB calls made in `get_fetch_values` (#17671)
  frappe/model/utils/__init__.py
  frappe/tests/test_model_utils.py
Due: server

test: Set sid as client cookie instead of oauth payload
  frappe/tests/test_oauth20.py
Due: server

fix: Remove pre-imported 'frappe%' modules before coverage
  frappe/commands/utils.py
Due: server

ci: automated security review requirement checks
  .github/helper/security_flags.yml
  .github/workflows/linters.yml
  frappe/model/virtual_doctype.py
  frappe/tests/test_bot.py
Due: server

fix: Allow setting kwarg site for make_request test util
  frappe/tests/test_api.py
  frappe/tests/test_oauth20.py
Due: server

fix: fixed filters when getting field names from child tables
  frappe/database/query.py
Due: server

fix: Setup test_client for each test
  frappe/tests/test_oauth20.py
Due: server

refactor: translatable doctypes
  cypress/integration/control_link.js
  frappe/boot.py
  frappe/contacts/doctype/gender/gender.json
  frappe/contacts/doctype/salutation/salutation.json
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/role/role.json
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/database/mariadb/framework_mariadb.sql
  frappe/database/postgres/framework_postgres.sql
  frappe/desk/search.py
  frappe/geo/doctype/country/country.json
  frappe/hooks.py
  frappe/public/js/frappe/form/controls/link.js
  frappe/sessions.py
  frappe/tests/ui_test_helpers.py
  frappe/translate.py
  frappe/utils/boilerplate.py
Due: server, ui-tests

fix: typo in comment on keyboard.js
  frappe/public/js/frappe/ui/keyboard.js
Due: ui-tests

chore: args should be none
  frappe/tests/ui_test_helpers.py
Due: server

chore: typo in comment on keyboard.js (#17742)
  frappe/public/js/frappe/ui/keyboard.js
Due: ui-tests

test: check if link-badge exists
  cypress/integration/control_link.js
  frappe/tests/ui_test_helpers.py
Due: server, ui-tests

chore: linter changes
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

chore: revert changes to github workflow template
  frappe/utils/boilerplate.py
Due: server
