Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: restore missing `helpful` and `not_helpful` fields to help article doctype. (#19309)
  frappe/website/doctype/help_article/help_article.json
  frappe/website/doctype/help_article/test_help_article.py
Due: server, ui-tests

fix(UX): Redirect after submitting webform
  frappe/public/js/frappe/web_form/web_form.js
Due: ui-tests

ci: bump black to latest
  .pre-commit-config.yaml
Due: none

ci: bump black to latest (#19319)
  .pre-commit-config.yaml
Due: none

fix: allow zero page length to return complete list
  frappe/frappeclient.py
Due: server

fix(UX): Redirect after submitting webform (#19318)
  frappe/public/js/frappe/web_form/web_form.js
Due: ui-tests

fix: only System Manager can work with Note
  frappe/desk/doctype/note/note.js
  frappe/desk/doctype/note/note.json
  frappe/desk/doctype/note/note.py
  frappe/desk/doctype/note/test_note.py
  frappe/hooks.py
Due: server, ui-tests

fix: usage of Note in test_unassignment_rule
  frappe/automation/doctype/assignment_rule/test_assignment_rule.py
Due: server

fix: usage of Note in test_unassignment_rule (2)
  frappe/automation/doctype/assignment_rule/test_assignment_rule.py
Due: server

chore: ignore vuln `GHSA-hcpj-qp55-gfph` during pip audit
  .github/workflows/linters.yml
Due: none

chore: ignore vuln `GHSA-hcpj-qp55-gfph` during pip audit (#19328)
  .github/workflows/linters.yml
Due: none

test: improve doctype and field naming
  frappe/tests/test_linked_with.py
Due: server

perf: reuse `_doc_before_save` in `doc.get_latest`
  frappe/model/base_document.py
  frappe/model/document.py
Due: server

fix: patch to remove share on existing sites
  frappe/patches.txt
  frappe/patches/v13_0/remove_share_for_std_users.py
Due: server

fix: dont share with self for standard users
  frappe/core/doctype/user/user.py
Due: server

fix: better check of whether doctype is child table
  frappe/model/base_document.py
  frappe/model/meta.py
Due: server

fix: linting issues
  frappe/frappeclient.py
Due: server

perf: init `_table_fields` earlier
  frappe/model/meta.py
Due: server

fix(workflow): Remove docstatus field from get_workflow_state_count
  frappe/workflow/doctype/workflow/workflow.py
Due: server

Cython and PyYAML
  pyproject.toml
Due: none

fix: db ssl connection (#19308)
  frappe/database/mariadb/database.py
Due: server

chore: dont pin cython
  pyproject.toml
Due: none

fix: allow zero page length in `get_list` to return complete list (#19322)
  frappe/frappeclient.py
Due: server

chore: remove labeller
  .github/labeler.yml
  .github/workflows/labeller.yml
Due: none

build: bump pyyaml (#19331)
  pyproject.toml
Due: none

fix: better check of whether doctype is child table (#19329)
  frappe/model/base_document.py
  frappe/model/meta.py
Due: server

fix(workflow): Remove docstatus field from get_workflow_state_count (#19332)
  frappe/workflow/doctype/workflow/workflow.py
Due: server

style: black
  frappe/commands/site.py
  frappe/website/doctype/web_form/test_web_form.py
  frappe/website/doctype/web_form/web_form.py
Due: server

chore: conflicts
  frappe/website/doctype/help_article/help_article.json
  frappe/website/doctype/help_article/test_help_article.py
Due: server, ui-tests
