Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

refactor: validate_autoname
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
Due: server, ui-tests

chore: fix sider
  frappe/model/db_query.py
  frappe/tests/test_sequence.py
Due: server

chore: update sequence function names in Database
  frappe/database/database.py
  frappe/model/naming.py
Due: server

fix: added searching in cast_name rather than handling it manually
  frappe/model/db_query.py
  frappe/tests/test_sequence.py
Due: server

fix: convert filename to str (for autoincremented doctypes)
  frappe/__init__.py
Due: server

fix(test): updated test_autoincremented_doctype_transition with transitioning when no data is present
  frappe/core/doctype/doctype/test_doctype.py
Due: server

minor: attach sequence methods to db context local
  frappe/database/database.py
Due: server

chore: better regex for modifying values for postgres
  frappe/database/postgres/database.py
Due: server

fix(test): updated test_cast_name
  frappe/tests/test_db_query.py
Due: server

fix: use not null constraint in postgres when changing name type
  frappe/core/doctype/doctype/doctype.py
Due: server

chore: replace sequence imports with frappe.db.x
  frappe/database/mariadb/schema.py
  frappe/database/postgres/schema.py
Due: server

fix: bad query if user has ' in the email address
  frappe/desk/doctype/dashboard_settings/dashboard_settings.py
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/doctype/notification_settings/notification_settings.py
  frappe/desk/doctype/number_card/number_card.py
  frappe/workflow/doctype/workflow_action/workflow_action.py
Due: server

chore: better naming for can_change_name_column_type
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/customize_form/customize_form.py
Due: server

chore: add comment for autoincremented_site_status_map
  frappe/model/naming.py
Due: server

chore: update/add docstrings
  frappe/model/db_query.py
  frappe/model/naming.py
Due: server

test: get_count
  frappe/tests/test_db.py
Due: server

test: multiple_tables_in_filters
  frappe/database/query.py
  frappe/tests/test_query.py
Due: server

feat: left join tables by default
  frappe/database/query.py
Due: server

style: Applied Frappe linting
  frappe/database/database.py
  frappe/tests/test_query.py
Due: server

test: update test_multiple_tables_in_filters
  frappe/tests/test_query.py
Due: server

feat: multi table queries
  frappe/database/database.py
  frappe/database/query.py
Due: server

refactor: new query engine in `get_count()`
  frappe/database/database.py
  frappe/database/query.py
  frappe/desk/reportview.py
Due: server

feat: disable change log
  frappe/core/doctype/system_settings/system_settings.json
  frappe/public/js/frappe/desk.js
Due: ui-tests

test: Fix flaky tests
  cypress/integration/control_data.js
  cypress/integration/form_tour.js
Due: ui-tests

fix: use data fieldtype instead of int
  frappe/tests/test_db_query.py
Due: server

chore: linter changes
  frappe/boot.py
  frappe/custom/doctype/customize_form/customize_form.py
Due: server

fix: use explicit validations in number card validation method
  frappe/desk/doctype/number_card/number_card.py
  frappe/desk/query_report.py
Due: server

fix: broken link for dashboard
  frappe/public/js/frappe/utils/dashboard_utils.js
Due: ui-tests

fix: show add to dashboard button only if the form is not new
  frappe/desk/doctype/number_card/number_card.js
Due: ui-tests

fix: using frappe.db.escape to get the formatted user
  frappe/desk/doctype/dashboard_settings/dashboard_settings.py
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/doctype/note/note.py
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/doctype/notification_settings/notification_settings.py
  frappe/desk/doctype/number_card/number_card.py
  frappe/workflow/doctype/workflow_action/workflow_action.py
Due: server

style: fixed indentation
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/workflow/doctype/workflow_action/workflow_action.py
Due: server

fix: Use BlogPosting schema for Article
  frappe/website/doctype/help_article/templates/help_article.html
Due: none

fix: misc fixes (integer primary keys) (#16307)
  frappe/__init__.py
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/mariadb/schema.py
  frappe/database/postgres/database.py
  frappe/database/postgres/schema.py
  frappe/database/sequence.py
  frappe/model/db_query.py
  frappe/model/naming.py
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/model/model.js
  frappe/tests/test_db_query.py
  frappe/tests/test_sequence.py
Due: server, ui-tests

fix: Resolve conflicts
  frappe/website/doctype/help_article/templates/help_article.html
Due: none

style: Run frappe linter via pre-commit
  frappe/model/base_document.py
  frappe/model/document.py
Due: server

fix: use proper validations for number card validation method (#16581)
  frappe/desk/doctype/number_card/number_card.js
  frappe/desk/doctype/number_card/number_card.py
  frappe/desk/query_report.py
  frappe/public/js/frappe/utils/dashboard_utils.js
Due: server, ui-tests

wip
  frappe/public/js/print_format_builder/PrintFormatControls.vue
  frappe/public/js/print_format_builder/store.js
  frappe/public/js/print_format_builder/utils.js
  frappe/templates/print_format/print_format.html
  frappe/utils/weasyprint.py
Due: server, ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
