Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

feat(filters): pick the values of a Link "in" filter with the combobox
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

fix(multiselect): keep a filter box on one line
  frappe/public/js/frappe/form/controls/multiselect_combobox.js
Due: ui-tests

fix(ui): keep the swatch ring in sync and use the shadow token
  frappe/public/js/frappe/color_picker/color_picker.js
  frappe/public/scss/common/color_picker.scss
Due: ui-tests

test(ui): follow the new color picker swatches
  playwright/tests/control_color.spec.js
Due: ui-tests

fix(filters): keep search text out of a Link "in" filter
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

fix(filters): don't put a whole "in" list into a single value box
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

feat(email): read use_ssl from site config for outgoing mail
  frappe/email/doctype/email_account/email_account.py
Due: server

fix: widen empty state description
  frappe/public/js/frappe/ui/components/empty_state.js
Due: ui-tests

test(filters): keep search text that is no record out of a Link "in" filter
  playwright/tests/list_filter.spec.js
Due: ui-tests

fix: add description to report empty state
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

fix(print): show number stepper as a single input with inline buttons
  frappe/public/js/print_format_builder/components/inspector/Stepper.vue
Due: none

fix: show filter hint only when the report has filters
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

fix(print): match section radius between editor and pdf
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/editor/SectionRadiusHandle.vue
  frappe/public/js/print_format_builder/components/inspector/SectionPropertiesPanel.vue
Due: none

fix: show Image field in report side panel preview
  frappe/public/js/frappe/form/controls/image.js
Due: ui-tests

fix(print): step the typed value on arrow keys
  frappe/public/js/print_format_builder/components/inspector/Stepper.vue
Due: none

fix(filters): plain value boxes and a CI-safe Link "in" picker test
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/public/scss/desk/filters.scss
  playwright/tests/list_filter.spec.js
Due: ui-tests

fix: use Frappe UI ScrollArea in onboarding
  ui/src/components/Onboarding/HelpCenter.vue
  ui/src/components/Onboarding/OnboardingSteps.vue
Due: none

fix(print): drop px unit from inspector number fields
  frappe/public/js/print_format_builder/components/inspector/SectionPropertiesPanel.vue
  frappe/public/js/print_format_builder/components/inspector/TableFieldInspector.vue
  frappe/public/js/print_format_builder/components/inspector/field_properties.js
Due: ui-tests

fix(print): keep radius handle clear of the section toolbar
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/editor/SectionRadiusHandle.vue
Due: none

fix: verify against NFC and raw password only. check for old password max length added in update password
  frappe/core/doctype/user/user.py
  frappe/tests/test_password.py
  frappe/utils/password.py
Due: server

fix(print): round the section selection ring to its radius
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
Due: none

fix: allow JSON-encoded strings for dict/list typed whitelisted args
  frappe/tests/test_utils.py
  frappe/utils/typing_validations.py
Due: server

fix(ui): stop cutting off the bottom of badge text
  frappe/public/css/espresso/components/badge.css
Due: none

fix: icon picker stays open when clicking elsewhere in a child table
  frappe/public/js/frappe/form/controls/icon.js
Due: ui-tests

fix(print): explain why a section is greyed out on hover
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
Due: none

fix(data_import): skip payload_count write when the import doctype lacks the column
  frappe/core/doctype/data_import/importer.py
Due: server

test(data_import): import through a doctype without payload_count
  frappe/core/doctype/data_import/test_importer.py
Due: server

test(data_import): delete the import document and its logs after the run
  frappe/core/doctype/data_import/test_importer.py
Due: server

refactor: remove duplicate if condition for identifier case
  frappe/model/db_query.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
