Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(link_selector): Fix page_length value
  frappe/public/js/frappe/form/link_selector.js
Due: ui-tests

chore: Provision to ignore prepared report via route options
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
Due: server, ui-tests

fix(link_selector): Fix page_length value (#22076)
  frappe/public/js/frappe/form/link_selector.js
Due: ui-tests

chore: Provision to ignore prepared report via route options (#22077)
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
Due: server, ui-tests

fix: remove hazardous cache for autoincr
  frappe/model/naming.py
Due: server

fix: move cache to redis
  frappe/model/naming.py
Due: server

fix: clear all redis cache after restoring a site
  frappe/database/db_manager.py
Due: server

feat: Hook to add dynamic routes for other web view doctypes
  frappe/website/doctype/web_page/web_page.py
  frappe/website/page_renderers/document_page.py
  frappe/website/router.py
Due: server

build(deps): Bump gunicorn to latest version
  pyproject.toml
Due: none

chore: resolve conflicts
  frappe/desk/query_report.py
Due: server

fix: translation of buttons in the Form tour (#22055)
  frappe/public/js/onboarding_tours/onboarding_tours.js
Due: ui-tests

build(deps): Bump gunicorn to latest version (#22086)
  pyproject.toml
Due: none

fix: autoincr caching and clear site cache after restore (#22079)
  frappe/database/db_manager.py
  frappe/model/naming.py
Due: server

feat(dx): Run gunicorn in development setup
  frappe/app.py
Due: server

feat(dx): Run gunicorn in development setup (#22088)
  frappe/app.py
Due: server

refactor!: Prefix all custom fieldnames created from Desk (#21355)
  .semgrepignore
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/test_customize_form.py
Due: server

fix(minor): grid row layout on small viewport
  frappe/public/scss/common/grid.scss
Due: none

fix: update navbar size and styles
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/scss/desk/css_variables.scss
  frappe/public/scss/desk/navbar.scss
Due: none

fix: hide "Edit" text on md viewport
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/scss/common/grid.scss
Due: ui-tests

refactor: replace usage of `mktemp`
  frappe/build.py
Due: server

Revert "fix: run assignment rule on change"
  frappe/hooks.py
Due: server

refactor: replace usage of `mktemp` (#22093)
  frappe/build.py
Due: server

fix(Assignment Rule): run on additional events
  frappe/hooks.py
Due: server

feat(form): Highlight changed (dirty) fields
  frappe/public/js/frappe/form/controls/base_control.js
  frappe/public/js/frappe/form/form.js
  frappe/public/scss/common/controls.scss
Due: ui-tests

fix: add espresso icons in frappe.utils.icon
  frappe/public/js/frappe/utils/utils.js
  frappe/public/scss/common/icons.scss
Due: ui-tests

fix: changed lifecycle method
  frappe/desk/doctype/console_log/console_log.js
  frappe/desk/doctype/system_console/system_console.js
Due: ui-tests

fix: remove thread-unsafe class attributes
  frappe/core/doctype/data_import/importer.py
  frappe/model/base_document.py
  frappe/model/meta.py
Due: server

fix: remove thread-unsafe class attributes (#22097)
  frappe/core/doctype/data_import/importer.py
  frappe/model/base_document.py
  frappe/model/meta.py
Due: server

fix: run assignment rule on change
  frappe/hooks.py
Due: server

test: assignment rule on_submit / cancel
  frappe/automation/doctype/assignment_rule/test_assignment_rule.py
Due: server

feat: create single doctype for comparator
  frappe/core/doctype/document_comparator/__init__.py
  frappe/core/doctype/document_comparator/document_comparator.json
  frappe/core/doctype/document_comparator/test_document_comparator.py
Due: server, ui-tests

feat: add logic for changed values and rows
  frappe/core/doctype/document_comparator/document_comparator.py
Due: server

fix: return df label only when not none
  frappe/model/meta.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
