Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

docs(desk): the structure checks run in CI
  frontend/ARCHITECTURE.md
Due: none

docs(desk): rewrap the paragraph under the CI checks table
  frontend/ARCHITECTURE.md
Due: none

chore: resolve conflicts
  frappe/core/doctype/file/test_file.py
Due: server

chore: resolve conflicts
  frappe/tests/test_safe_exec.py
Due: server

fix: incorporate default app information for home_page deduction
  frappe/website/utils.py
Due: server

chore: resolve conflicts
  frappe/tests/test_auth.py
Due: server

refactor: removing test as not required
  frappe/desk/doctype/kanban_board/test_kanban_board.py
Due: server

refactor(print): balance the rendered letterhead on its own line
  frappe/utils/print_format.py
Due: server

fix(print): report pdf is blank when the letterhead leaves a tag open
  frappe/utils/print_format.py
Due: server

fix(print): builder pdf is blank when the letterhead leaves a tag open
  frappe/utils/print_format_generator.py
Due: server

test(print): pdf keeps the body when the letterhead leaves a tag open
  frappe/printing/doctype/letter_head/test_letter_head.py
  frappe/utils/test_print_format_generator.py
Due: server

fix: cut long Postgres index names by bytes (#43558)
  frappe/database/postgres/schema.py
  frappe/tests/test_db.py
Due: server

fix(grid): prevent crash when focusing child table fields on touch
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

fix(datepicker): sync calendar year with date input
  frappe/public/js/frappe/form/controls/date.js
Due: ui-tests

chore: resolve datetime merge conflicts
  frappe/public/js/frappe/form/controls/date.js
Due: ui-tests

chore: retain old argument order
  frappe/commands/site.py
Due: server

fix(query): compare is set filters with the column's empty value (#43537)
  frappe/database/operator_map.py
  frappe/database/query.py
  frappe/tests/test_query.py
Due: server

chore: remove web_search
  frappe/search/__init__.py
Due: server

chore: remove website search related fields
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype/doctype.py
Due: server, ui-tests

fix: end the read only transaction when a query report fails
  frappe/core/doctype/report/report.py
  frappe/core/doctype/report/test_report.py
Due: server

refactor!: remove Whoosh-backed website search (#43318)
  frappe/commands/site.py
  frappe/commands/test_commands.py
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype/doctype.py
  frappe/migrate.py
  frappe/public/scss/website/doc.scss
  frappe/public/scss/website/index.scss
  frappe/public/scss/website/search.scss
  frappe/search/__init__.py
  frappe/search/full_text_search.py
  frappe/search/test_full_text_search.py
  frappe/search/website_search.py
  frappe/templates/doc.html
  frappe/website/doctype/web_form/web_form.py
  frappe/website/js/website.js
  frappe/website/website_generator.py
  pyproject.toml
Due: server, ui-tests

feat: add Automation Trigger Queue doctype package init
  frappe/automation/doctype/automation_trigger_queue/__init__.py
Due: server

feat: add Automation Trigger Queue outbox doctype schema
  frappe/automation/doctype/automation_trigger_queue/automation_trigger_queue.json
Due: ui-tests

feat: add automation_engine package init
  frappe/automation_engine/__init__.py
Due: server

feat: add Automation Action child doctype schema
  frappe/automation/doctype/automation_action/automation_action.json
Due: ui-tests

feat: add Automation Action controller
  frappe/automation/doctype/automation_action/automation_action.py
Due: server

feat: add Automation Trigger Queue controller
  frappe/automation/doctype/automation_trigger_queue/automation_trigger_queue.py
Due: server

feat: add Automation Action doctype package init
  frappe/automation/doctype/automation_action/__init__.py
Due: server

feat: add Automation config doctype schema
  frappe/automation/doctype/automation/automation.json
Due: ui-tests

test: add Automation validate() coherence tests
  frappe/automation/doctype/automation/test_automation.py
Due: server

feat: add Automation doctype package init
  frappe/automation/doctype/automation/__init__.py
Due: server

feat: add Automation controller with trigger-config validation
  frappe/automation/doctype/automation/automation.py
Due: server

feat: add Automation Run Step controller
  frappe/automation/doctype/automation_run_step/automation_run_step.py
Due: server
