Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

refactor(socketio): explicitly listen on port
  realtime/index.js
Due: ui-tests

fix: gently log the port on which the realtime service listens (#21575)
  realtime/index.js
Due: ui-tests

fix: add env overrides for service orchestration (#21577)
  frappe/__init__.py
  frappe/commands/utils.py
  frappe/database/database.py
  frappe/database/db_manager.py
  frappe/database/postgres/setup_db.py
  frappe/installer.py
  frappe/query_builder/utils.py
  frappe/tests/test_commands.py
  frappe/utils/logger.py
  node_utils.js
Due: server, ui-tests

test: replicas
  frappe/__init__.py
  frappe/tests/test_db.py
Due: server

fix: `connect_replica` should be idempotent
  frappe/__init__.py
Due: server

fix: `connect_replica` and `read_only` should be idempotent (#21674)
  frappe/__init__.py
  frappe/tests/test_db.py
Due: server

ci: update pyupgrade
  .pre-commit-config.yaml
  frappe/__init__.py
  frappe/core/doctype/user/user.py
  frappe/database/database.py
  frappe/database/operator_map.py
  frappe/model/document.py
  frappe/model/naming.py
  frappe/query_builder/utils.py
  frappe/rate_limiter.py
  frappe/recorder.py
  frappe/tests/test_child_table.py
  frappe/tests/utils.py
  frappe/utils/__init__.py
  frappe/utils/background_jobs.py
  frappe/utils/caching.py
  frappe/utils/oauth.py
  frappe/utils/typing_validations.py
Due: server

fix: setup_likes_from_feedback patch
  frappe/patches/v14_0/setup_likes_from_feedback.py
Due: server

ci: bump flake8
  .pre-commit-config.yaml
  frappe/email/receive.py
Due: server

ci: unpin semgrep
  .github/workflows/linters.yml
Due: none

ci: Add eslint in precommit
  .pre-commit-config.yaml
Due: none

ci: tweak eslint rules
  .eslintrc
  .pre-commit-config.yaml
Due: none

fix: All ESLint errors
  .eslintrc
  frappe/core/doctype/user/user.js
  frappe/custom/doctype/doctype_layout/doctype_layout.js
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/printing/page/print_format_builder/print_format_builder.js
  frappe/public/js/frappe/defaults.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/save.js
  frappe/public/js/frappe/form/toolbar.js
  frappe/public/js/frappe/microtemplate.js
  frappe/public/js/frappe/model/indicator.js
  frappe/public/js/frappe/model/model.js
  frappe/public/js/frappe/request.js
  frappe/public/js/frappe/ui/messages.js
  frappe/public/js/frappe/ui/toolbar/about.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/js/frappe/utils/number_format.js
  frappe/public/js/frappe/utils/user.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/container.js
  frappe/public/js/frappe/views/reports/report_utils.js
  frappe/public/js/onboarding_tours/onboarding_tours.js
  frappe/website/js/website.js
  frappe/workflow/doctype/workflow/workflow.js
Due: ui-tests

fix: check if table exists
  frappe/patches/v14_0/setup_likes_from_feedback.py
Due: server

fix: setup_likes_from_feedback patch (#21677)
  frappe/patches/v14_0/setup_likes_from_feedback.py
Due: server

refactor: clarify prefix logic, see https://github.com/frappe/frappe/pull/20852/files/c4866921dfaa397bdea9a6c1a01c85d21218b593#r1196249038
  frappe/utils/fixtures.py
Due: server

fix: remove unknown protocol
  frappe/utils/connections.py
Due: server

fix: checkpoint the supported schemes for connectivity (#21576)
  frappe/exceptions.py
  frappe/utils/connections.py
Due: server

perf: lazy load sidebar stats
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

refactor: rename poorly named variables
  frappe/desk/reportview.py
Due: server

fix(UX): Show loading state while loading tags
  frappe/public/js/frappe/list/list_sidebar.js
Due: ui-tests

fix: Correct event for sidebar dropdown
  frappe/public/js/frappe/list/list_sidebar.js
Due: ui-tests

fix: cast port to integer
  frappe/utils/connections.py
Due: server

fix(UX): Highlight prepared reports older than 1 day
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

fix(UX): Highlight prepared reports older than 1 day (#21689)
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

feat: Custom naming series parser via hooks
  frappe/model/naming.py
Due: server

chore: use assignment operatot
  frappe/model/naming.py
Due: server

test: Unit test for custom parser
  frappe/hooks.py
Due: server

test: Unit test for custom parser
  frappe/tests/test_naming.py
Due: server

fix: incorrect cache clearing of assets
  frappe/public/js/frappe/assets.js
  frappe/tests/test_perf.py
  frappe/utils/__init__.py
Due: server, ui-tests

fix: Accurately determine rapid reloads
  frappe/public/js/frappe/assets.js
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
