Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix!: Webhook naming should be prompt
  frappe/core/doctype/document_naming_settings/test_document_naming_settings.py
  frappe/integrations/doctype/webhook/test_webhook.py
  frappe/integrations/doctype/webhook/webhook.json
Due: server, ui-tests

chore(release): Bumped to Version 13.56.6
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  0b/4910094a631ff050a9244161fd5ed9d6a810ca
Due: none

fix(role): Set desk properties (e.g. search_bar) to 1 for roles with desk access (#21162)
  frappe/core/doctype/doctype/doctype.py
Due: server

perf: Cache web view routes
  frappe/__init__.py
  frappe/website/page_renderers/document_page.py
  frappe/website/utils.py
Due: server

perf: cache dynamic web pages
  frappe/website/doctype/web_page/web_page.py
  frappe/website/page_renderers/document_page.py
  frappe/website/router.py
Due: server

perf: Cache published web forms
  frappe/__init__.py
  frappe/website/doctype/web_form/web_form.py
  frappe/website/doctype/web_page/web_page.py
  frappe/website/page_renderers/document_page.py
  frappe/website/router.py
  frappe/website/utils.py
Due: server

chore: separate out func call key for @redis_cache
  frappe/utils/caching.py
Due: server

Closing span tags on form_links.html and list_view status field indicator. Also Removed extra calls from multicheck.js
  frappe/public/js/frappe/form/controls/multicheck.js
  frappe/public/js/frappe/form/templates/form_links.html
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

RestrictedPython to 6.0
  requirements.txt
Due: none

fix: currency formatter got incorrect format when use precision 0
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

Revert "fix: currency formatter got incorrect format when use precision 0"
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

fix: allow 0 as default precision
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

fix: currency formatter got incorrect format when use precision 0 (#21239)
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

Revert "fix: currency formatter got incorrect format when use precision 0 (#21239)"
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

fix: allow setting 0 as precision in formatter
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

fix smtp.py session connect
  frappe/email/smtp.py
Due: server

fix: changed section with card url field to small text
  frappe/website/web_template/section_with_cards/section_with_cards.json
Due: ui-tests

fix: changed for section with features and testimonial web temlates
  frappe/website/web_template/section_with_features/section_with_features.json
  frappe/website/web_template/section_with_testimonials/section_with_testimonials.json
Due: ui-tests

refactor: const instead of var, indentation
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

fix: handle read only property
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

feat: read-only geolocation (GDE-86)
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

fix: fit and recenter map when section is expanded
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

refactor: move pointToLayer into a separate method
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

refactor: call control's `on_section_collapse()`
  frappe/public/js/frappe/form/controls/signature.js
  frappe/public/js/frappe/form/section.js
Due: ui-tests

chore: resolve conflicts
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

fix(UX): Notify if newly created user has no roles
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
Due: server, ui-tests

fix: avoid loading workspace content if already loaded
  frappe/public/js/frappe/views/workspace/workspace.js
Due: ui-tests

fix(UX): Notify if newly created user has no roles (#21251)
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
Due: server, ui-tests
