Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

chore: simpler condition
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

style: format
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix: Modified Number system for Nepal (#23613)
  frappe/public/js/frappe/utils/number_systems.js
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix: set correct sentry tags
  frappe/public/js/sentry.bundle.js
Due: ui-tests

undefined variable name fixed in dark.scss
  frappe/public/scss/desk/dark.scss
Due: none

fix(Report View): clear checked items
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

Update notification_settings.js
  frappe/desk/doctype/notification_settings/notification_settings.js
Due: ui-tests

fix: Update notification_settings.js
  frappe/desk/doctype/notification_settings/notification_settings.js
Due: ui-tests

chore: fix typo in comment
  frappe/model/mapper.py
Due: server

fix: remove redundant breadcrumbs
  frappe/desk/doctype/notification_settings/notification_settings.js
Due: ui-tests

fix: dont stop next unattached file from being unattached
  frappe/core/doctype/file/utils.py
Due: server

fix: dont stop next unattached file from being attached if file_url of first file is invalid
  frappe/core/doctype/file/utils.py
Due: server

fix: don't stop next unattached file from being attached
  frappe/core/doctype/file/file.py
Due: server

fix: use encoded filename for arabic (latin) language while exporting
  frappe/utils/response.py
Due: server

test: unit test to check arabic filename export
  frappe/tests/test_api.py
Due: server

fix: pass filter to formatter to handle custom logic
  frappe/public/js/frappe/views/reports/query_report.js
  package.json
  yarn.lock
Due: ui-tests

chore: resolved conflict
  package.json
Due: ui-tests

chore: resolved conflict
  yarn.lock
Due: none

fix: ignore rtlcss for cropperjs
  frappe/public/js/frappe/file_uploader/ImageCropper.vue
  frappe/public/js/frappe/form/sidebar/user_image.js
  frappe/public/scss/desk/form.scss
Due: ui-tests

refactor: use is_virtual_doctype util & always return a dict
  frappe/client.py
Due: server

fix(Virtual DocType): don't call db get_value in link field validation (#23620)
  frappe/client.py
Due: server

chore: resolved conflict
  frappe/tests/test_api.py
Due: server

update order on mount
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Due: ui-tests

chore: linter fix
  frappe/tests/test_api.py
Due: server
