Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: ambiguous linked tables
  .flake8
  frappe/model/db_query.py
  frappe/tests/test_db_query.py
Due: server

fix: bom creator tree view not working (#24200)
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

fix: ambiguous linked tables (#24214)
  .flake8
  frappe/model/db_query.py
  frappe/tests/test_db_query.py
Due: server

fix: don't update docstatus
  frappe/workflow/doctype/workflow/test_workflow.py
  frappe/workflow/doctype/workflow/workflow.py
Due: server

fix: added invalid conditions for number fields
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

fix: duplicate field in filters
  cypress/integration/routing.js
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

test: clear filters using new clear filter button
  cypress/support/commands.js
Due: ui-tests

fix: don't update docstatus (#24216)
  frappe/workflow/doctype/workflow/test_workflow.py
  frappe/workflow/doctype/workflow/workflow.py
Due: server

chore: linter fix
  frappe/email/doctype/notification/notification.py
Due: server

fix: added validation if upload is clicked without uploading file
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/file_uploader/file_uploader.bundle.js
Due: ui-tests

fix: added validation if upload is clicked without uploading file
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/file_uploader/index.js
Due: ui-tests

fix: duplicate field in filters (#24189)
  cypress/integration/routing.js
  cypress/support/commands.js
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: status field should only be of type 'Select'/'Data'/'Check'
  frappe/core/doctype/doctype/doctype.py
Due: server

chore: change code position
  frappe/core/doctype/doctype/doctype.py
Due: server

fix: formatting, add yarn to gitignore
  .gitignore
  frappe/public/js/frappe/form/form.js
Due: ui-tests

feat(router): put the query string in the link into the address bar when clicking the link
  frappe/public/js/frappe/router.js
Due: ui-tests

fix(form): solve the problem of modifying the link content through code without refreshing the display
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

fix: solve the problem that when downloading an attachment, if there are non-ASCII characters in the attachment name, an error will be reported.
  frappe/utils/response.py
Due: server

fix(filter): Solve the problem that ancestor/descendant filter conditions are always not displayed in the selection of filter conditions under partial filter conditions
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

chore(release): Bumped to Version 14.62.2
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  a9/c8a1d4c8b074823ae98f1a660ba4a97a9c396c
Due: none

chore: conflicts
  frappe/workflow/doctype/workflow/workflow.py
Due: server

chore conflicts
  frappe/workflow/doctype/workflow/test_workflow.py
  frappe/workflow/doctype/workflow/workflow.py
Due: server

chore(release): Bumped to Version 15.9.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  82/a52cc97372b92fe9510ef6ad363be90f2b5472
Due: none

fix: convert status field data to string to handle all cases
  frappe/core/doctype/doctype/doctype.py
  frappe/public/js/frappe/utils/utils.js
Due: server, ui-tests

fix: pass parent doctype on dashboard chart
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
Due: server

fix: pass parent doctype on dashboard chart (#24236)
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
Due: server

chore: linting fixed
  frappe/push_notification.py
Due: server

feat: permission debugger
  frappe/core/doctype/permission_debugger/__init__.py
  frappe/core/doctype/permission_debugger/permission_debugger.js
  frappe/core/doctype/permission_debugger/permission_debugger.json
  frappe/core/doctype/permission_debugger/permission_debugger.py
  frappe/core/doctype/permission_debugger/test_permission_debugger.py
  frappe/permissions.py
Due: server, ui-tests

fix: capture UP pass check
  frappe/core/doctype/permission_debugger/permission_debugger.json
  frappe/permissions.py
Due: server, ui-tests
