Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: Bosnian translations
  frappe/locale/bs.po
Due: none

fix: support multi currency for display in dashboard chart
  frappe/desk/doctype/dashboard_chart/dashboard_chart.json
  frappe/public/js/frappe/widgets/chart_widget.js
Due: ui-tests

feat: estimate table size
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/tests/test_db.py
Due: server

feat: share table size heuristic with meta
  frappe/model/meta.py
Due: server

fix: don't apply "like" default on large tables
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

fix: throttle list view refreshes for longer time
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: Chinese Simplified translations
  frappe/locale/zh.po
Due: none

build: bump gunicorn
  pyproject.toml
Due: none

chore: conflicts
  frappe/public/js/frappe/list/list_view.js
  frappe/tests/test_db.py
Due: server, ui-tests

fix: add python files
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/desk/doctype/number_card/number_card.py
Due: server

perf: use client cache for notifications
  frappe/cache_manager.py
  frappe/email/doctype/notification/notification.py
  frappe/model/document.py
Due: server

perf: use client cache for doctype meta
  frappe/cache_manager.py
Due: server

perf: use client cache for tables
  frappe/database/database.py
  frappe/database/mariadb/database.py
Due: server

perf: client-cache webhooks
  frappe/integrations/doctype/webhook/__init__.py
  frappe/integrations/doctype/webhook/test_webhook.py
  frappe/integrations/doctype/webhook/webhook.py
Due: server

fix: replace misleading "global" clear cache with frappe.clear_cache
  frappe/cache_manager.py
  frappe/migrate.py
Due: server

test: ensure utilization of idle threads is <2%
  frappe/commands/test_commands.py
  frappe/tests/test_perf.py
Due: server

fix: Persian translations
  frappe/locale/fa.po
Due: none

fix: Turkish translations
  frappe/locale/tr.po
Due: none

revert: error/webhook logs on every document
  frappe/desk/form/load.py
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/form/templates/form_sidebar.html
Due: server, ui-tests

perf: Skip loading EPS if not enabled
  frappe/desk/form/load.py
  frappe/social/doctype/energy_point_settings/energy_point_settings.py
Due: server

test: fix cpu usage numbers
  frappe/commands/test_commands.py
  frappe/tests/test_perf.py
Due: server

perf: use client cache for notifications
  frappe/cache_manager.py
  frappe/email/doctype/notification/notification.py
  frappe/migrate.py
  frappe/model/document.py
Due: server

chore: trigger release PRs early
  .github/workflows/initiate_release.yml
Due: none

Update initiate_release.yml
  .github/workflows/initiate_release.yml
Due: none

Notes added by 'git notes add'
  209d0dbc5ef08a9b12a66af9f9c4479ed18ca641
Due: none

Notes added by 'git notes add'
  330efefcbcc7995c9603a4fa7af4d912aece2005
Due: none
