Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(event): escape google_meet_link in form headline
  frappe/desk/doctype/event/event.js
Due: ui-tests

fix(multi-select-dialog): escape field values in result rows
  frappe/public/js/frappe/form/multi_select_dialog.js
Due: ui-tests

fix(notifications): escape Event fields when rendering events list
  frappe/public/js/frappe/ui/notifications/notifications.js
Due: ui-tests

fix(number-card): escape filter values when rendering filters table
  frappe/desk/doctype/number_card/number_card.js
Due: ui-tests

fix: preserve falsy values (0/false) in frappe.utils.escape_html
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix(treeview): escape node label, title and doctype when rendering
  frappe/public/js/frappe/ui/tree.js
Due: ui-tests

fix: Strip invalid google meet links
  frappe/desk/doctype/event/event.py
Due: server

fix(pdf): always terminate chrome and close pages after pdf generation
  frappe/utils/pdf.py
  frappe/utils/pdf_generator/browser.py
Due: server

fix(pdf): log chrome cleanup failures instead of silently swallowing
  frappe/utils/pdf_generator/browser.py
Due: server

test(treeview): use browser back navigation to avoid route-capture race
  cypress/integration/tree_view.js
Due: ui-tests

style(print-format-builder): remove semibold from field labels
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/templates/print_format/print_format.css
Due: none

fix(pdf): resolve backport conflict — use _close_browser() over remove_browser
  frappe/utils/pdf.py
Due: server

chore: conflicts
  frappe/desk/doctype/number_card/number_card.js
  frappe/public/js/frappe/ui/desktop_icon.html
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix(pdf): remove no-op except clause
  frappe/utils/pdf.py
Due: server

fix(print-format-builder): exclude image field from merged cell text lines
  frappe/public/js/print_format_builder/components/editor/Field.vue
Due: none

fix: remove dead update_selection_banner call on row selection
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

chore(release): Bumped to Version 15.113.4
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  588e443808206a7bfe87429c5a55e16016ec7840
Due: none

fix(treeview): keep scroll position on back-navigation
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

test(treeview): cover scroll position kept on back-navigation
  cypress/integration/tree_view.js
  frappe/tests/ui_test_helpers.py
Due: server, ui-tests

refactor: bypassing redundant annotation checks
  frappe/utils/typing_validations.py
Due: server

feat: resolving forwardrefs using get_type_hints
  frappe/utils/typing_validations.py
Due: server

fix: bugs in impl
  frappe/utils/typing_validations.py
Due: server

feat: handling default value at decoration/declartion time, refactoring, queue TODOs.
  frappe/utils/typing_validations.py
Due: server

refactor: cleaning up transform_parameter_types, removing redundant code, args
  frappe/utils/typing_validations.py
Due: server

refactor: better descriptive identifier..
  frappe/utils/typing_validations.py
Due: server

feat(print-format-builder): add custom css style input for sections and fields
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/public/js/print_format_builder/components/inspector/StyleSection.vue
  frappe/public/js/print_format_builder/stores/index.js
  frappe/public/js/print_format_builder/utils.js
  frappe/templates/print_format/macros/Data.html
  frappe/templates/print_format/macros/Divider.html
  frappe/templates/print_format/macros/FieldTemplate.html
  frappe/templates/print_format/macros/HTML.html
  frappe/templates/print_format/macros/Repeater.html
  frappe/templates/print_format/macros/Spacer.html
  frappe/templates/print_format/macros/Table.html
  frappe/templates/print_format/print_format.html
  frappe/utils/test_print_format_generator.py
Due: server, ui-tests

feat(print-format-builder): searchable font picker with default option
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
Due: none

fix(print-format-builder): address review comments on style and font picker
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/vue-components/Autocomplete.vue
  frappe/utils/test_print_format_generator.py
Due: server

chore: update quill image resize module
  package.json
  yarn.lock
Due: ui-tests

fix: remove previous commits and keep the strip_exif_data() idempotent one
  frappe/tests/test_utils.py
  frappe/utils/image.py
Due: server

fix: apply exif orientation before stripping the tag (#37998)
  frappe/utils/image.py
Due: server

fix: conflict
  frappe/utils/image.py
Due: server

fix: Re-resolve using yarn
  yarn.lock
Due: none

build: update quill image resize module (#40557)
  package.json
  yarn.lock
Due: ui-tests
