Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: preserve original error message (#25682)
  frappe/email/smtp.py
Due: server

fix: auto add modified index when sort_field is set to it
  frappe/database/mariadb/schema.py
Due: server

fix: incorrect UI icon for desc sort
  frappe/public/js/frappe/ui/sort_selector.js
Due: ui-tests

fix: incorrect UI icon for desc sort (#25687)
  frappe/public/js/frappe/ui/sort_selector.js
Due: ui-tests

test: avoid closing connection in tests
  frappe/email/smtp.py
Due: server

fix: auto add modified index when sort_field is set to it (#25686)
  frappe/database/mariadb/schema.py
  frappe/email/smtp.py
Due: server

fix: modified index sync
  frappe/database/mariadb/schema.py
Due: server

fix: make ads translatable
  frappe/core/doctype/server_script/server_script_list.js
Due: ui-tests

fix: advertise insights to system manager only
  frappe/public/js/frappe/list/list_sidebar.js
Due: ui-tests

fix: handle nested event calls
  frappe/database/database.py
  frappe/model/document.py
Due: server

test: transaction control
  frappe/database/database.py
  frappe/tests/test_db.py
Due: server

feat: initial failed site rollback implementation
  frappe/commands/site.py
  frappe/installer.py
Due: server

chore: check whether we're in an interactive session or not
  frappe/commands/site.py
Due: server

fix: recorder sorting with multi-col
  frappe/core/doctype/recorder/recorder.py
Due: server

fix: Correct logic for comlete success
  frappe/core/doctype/data_import/importer.py
Due: server

fix: let's colored tags in listview
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix(importer): set `Pending` status as a fallback
  frappe/core/doctype/data_import/importer.py
Due: server

fix: let's colored tags in listview (#25552)
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: check if rollback callback is defined
  frappe/commands/site.py
  frappe/database/mariadb/setup_db.py
  frappe/installer.py
Due: server

fix: switch to `datetime.now()` instead of our `get_datetime()`
  frappe/installer.py
Due: server

fix: erase logs in case of complete failure
  frappe/core/doctype/data_import/importer.py
Due: server

fix: dont allow querying files to website users (#25094)
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/test_file.py
  frappe/core/doctype/user/test_user.py
Due: server

fix: incorrect status on data import
  frappe/core/doctype/data_import/data_import_list.js
  frappe/core/doctype/data_import/importer.py
Due: server, ui-tests

fix: pass function as lambda
  frappe/installer.py
  frappe/utils/__init__.py
Due: server

fix: Spanish translations
  frappe/locale/es.po
Due: none

fix: Turkish translations
  frappe/locale/tr.po
Due: none

fix: sql_ddl - always ensure commit
  frappe/database/database.py
Due: server

fix: sql_ddl - always ensure commit (#25704)
  frappe/database/database.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
