Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: activity toggle render (#36974)
  frappe/public/js/frappe/form/footer/form_timeline.js
Due: ui-tests

feat: Persistent Announcement Widget and Color Customization (#36768)
  frappe/core/doctype/navbar_settings/navbar_settings.json
  frappe/core/doctype/navbar_settings/navbar_settings.py
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/js/frappe/ui/toolbar/toolbar.js
Due: server, ui-tests

Merge pull request #36859 from mendozal/fix-float-parse-number-format
  frappe/public/js/frappe/form/controls/float.js
  frappe/public/js/frappe/form/controls/int.js
Due: ui-tests

Merge pull request #37518 from safwansamsudeen/session-defaults-read-only
  frappe/public/js/frappe/model/create_new.js
Due: ui-tests

Merge pull request #37608 from kaulith/fix-link-filters-enforcement
  frappe/client.py
  frappe/public/js/frappe/form/controls/link.js
Due: server, ui-tests

fix: remove bold font weight from h3 and h4 to maintain consistent header styling (#37289)
  frappe/public/css/bootstrap.css
Due: none

fix: reset temp file for new uploads (#37922)
  frappe/handler.py
Due: server

fix: enable/disable buttons in roles editor based on state (#37212)
  frappe/core/doctype/user/user.js
  frappe/public/js/frappe/roles_editor.js
Due: ui-tests

fix: `frappe.call` for website now handles 417 errors (#32362)
  frappe/website/js/website.js
Due: ui-tests

fix: re-upload with different name maintains original name (#37313)
  frappe/core/doctype/file/file.js
  frappe/utils/response.py
Due: server, ui-tests

fix: make translation for link field value irrespective of user permissions only if the source doctype is in translated doctypes (#35803)
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

Merge pull request #37396 from krantheman/fix-new-linked-document
  frappe/model/meta.py
  frappe/public/js/frappe/form/dashboard.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/templates/form_links.html
Due: server, ui-tests

fix(grid): saving of values on navigation using arrow keys (#37243)
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

Merge pull request #37026 from UmakanthKaspa/feat/web-form-dynamic-filters
  frappe/website/doctype/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
  frappe/www/list.py
Due: server, ui-tests

Merge pull request #37215 from diptanilsaha/stt-zi-pos
  frappe/public/js/frappe/form/footer/footer.js
  frappe/public/scss/desk/form.scss
Due: ui-tests

Merge pull request #37980 from iamejaaz/adjust-list-columns-width
  cypress/integration/list_view_column_width.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/js/frappe/list/list_settings.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/scss/desk/list.scss
Due: ui-tests

Merge pull request #39559 from Vibhuti410/email-templates
  frappe/email/doctype/email_template/email_template.json
  frappe/email/doctype/email_template/email_template.py
  frappe/public/js/frappe/views/communication.js
Due: server, ui-tests

Merge pull request #39867 from sokumon/user-emails
  frappe/core/doctype/user/user.py
  frappe/www/login.py
Due: server

Merge pull request #39556 from Vibhuti410/report-link
  frappe/core/doctype/report/report.json
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

Merge pull request #38548 from KerollesFathy/fix-int-float-dirty-on-input
  frappe/public/js/frappe/form/controls/data.js
  frappe/public/js/frappe/form/controls/int.js
Due: ui-tests

Merge pull request #39554 from Vibhuti410/session-default
  frappe/hooks.py
  frappe/public/js/frappe/ui/menu.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/scss/desk/menu.scss
Due: server, ui-tests

Merge pull request #38904 from iamejaaz/small-ui-ux-fix
  frappe/public/scss/desk/frappe_datatable.scss
Due: none

Merge pull request #37736 from KerollesFathy/fix/date-picker-infinite-loop
  frappe/public/js/frappe/form/controls/date.js
Due: ui-tests

Merge pull request #38637 from iamejaaz/report-sticky-ui
  frappe/public/scss/desk/list.scss
  frappe/public/scss/desk/report.scss
Due: none

chore: remove unused Octicons (#39836)
  attributions.md
  frappe/public/css/octicons/LICENSE.txt
  frappe/public/css/octicons/README.md
  frappe/public/css/octicons/octicons-local.ttf
  frappe/public/css/octicons/octicons.css
  frappe/public/css/octicons/octicons.eot
  frappe/public/css/octicons/octicons.less
  frappe/public/css/octicons/octicons.scss
  frappe/public/css/octicons/octicons.svg
  frappe/public/css/octicons/octicons.ttf
  frappe/public/css/octicons/octicons.woff
  frappe/public/css/octicons/sprockets-octicons.scss
  frappe/public/js/frappe/data_import/import_preview.js
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/js/frappe/views/interaction.js
  frappe/public/js/frappe/views/pageview.js
  frappe/public/scss/desk.bundle.scss
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/list.scss
  frappe/public/scss/web_form.bundle.scss
  frappe/templates/includes/search_box.html
  frappe/website/js/bootstrap-4.js
Due: ui-tests

Merge pull request #39725 from nehasan16/add-attachment-preview
  frappe/public/js/frappe/form/sidebar/attachments.js
  frappe/public/scss/desk/form_sidebar.scss
Due: ui-tests

Merge pull request #39464 from iamejaaz/adjust-list-columns-width
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

Merge pull request #39051 from frappe/primary-grp-btn
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

Merge pull request #39047 from sagarvora/fix/remove-unnecessary-deep-copy-in-paste-listener
  frappe/public/js/frappe/desk.js
Due: ui-tests

Merge pull request #39625 from sokumon/awesomebar-fix
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
Due: ui-tests

Merge pull request #39733 from sumitjain236/39428-data-import-allow-creatingmapping-invalid-link-fields-to-existing-values
  frappe/core/doctype/data_import/data_import.css
  frappe/core/doctype/data_import/data_import.js
  frappe/core/doctype/data_import/data_import.json
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import/importer.py
  frappe/core/doctype/data_import/test_data_import.py
  frappe/core/doctype/data_import/test_importer.py
  frappe/core/doctype/data_import/value_mapping.py
  frappe/core/doctype/data_import_skipped_row/data_import_skipped_row.json
  frappe/core/doctype/data_import_skipped_row/data_import_skipped_row.py
  frappe/core/doctype/data_import_skipped_row/test_data_import_skipped_row.py
  frappe/core/doctype/data_import_value_mapping/data_import_value_mapping.json
  frappe/core/doctype/data_import_value_mapping/data_import_value_mapping.py
  frappe/core/doctype/data_import_value_mapping/test_data_import_value_mapping.py
  frappe/public/js/frappe/data_import/import_preview.js
  frappe/public/scss/desk/data_import.scss
  frappe/utils/csvutils.py
Due: server, ui-tests

Merge pull request #36792 from aerele/fix/doctype-duplicate-auto-repeat
  frappe/core/doctype/doctype/doctype.js
Due: ui-tests

Merge pull request #39404 from sokumon/awesomeabar-on-top
  cypress/integration/awesome_bar.js
  frappe/desk/page/desktop/desktop.css
  frappe/desk/page/desktop/desktop.html
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/ui/page.html
  frappe/public/js/frappe/ui/page.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
  frappe/public/js/frappe/views/container.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/index.scss
  frappe/public/scss/desk/page.scss
  frappe/public/scss/desk/search_widget.scss
Due: ui-tests

Merge pull request #39681 from sokumon/notifications-actions
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/scss/desk/notification.scss
Due: ui-tests

Merge pull request #38283 from iamejaaz/sticky-header
  frappe/public/scss/desk/list.scss
Due: none

Merge pull request #39702 from Abdeali099/remove-invalid-condition-from-map
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

Merge pull request #39779 from sokumon/icon-configuration
  frappe/desk/page/desktop/desktop.js
Due: ui-tests

Merge pull request #39775 from iamejaaz/fix/search-sidebar-and-button-styling
  frappe/public/js/frappe/ui/keyboard.js
  frappe/public/js/frappe/ui/page.html
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/navbar.scss
  frappe/public/scss/desk/search_widget.scss
Due: ui-tests

feat: convert user avatar to a dropdown button (#39520)
  frappe/public/js/frappe/ui/menu.js
  frappe/public/js/frappe/ui/sidebar/sidebar.html
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/scss/desk/sidebar.scss
Due: ui-tests

Merge pull request #39756 from sumitjain236/fix-child-table-tab-border-issue
  frappe/public/scss/common/grid.scss
Due: none
