Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(email_group): prevent `StopIteration` when running import on a doctype without email fields
  frappe/email/doctype/email_group/email_group.py
Due: server

feat: add calendar note docType
  frappe/core/doctype/calendar_note/__init__.py
  frappe/core/doctype/calendar_note/calendar_note.js
  frappe/core/doctype/calendar_note/calendar_note.json
  frappe/core/doctype/calendar_note/calendar_note.py
  frappe/core/doctype/calendar_note/test_calendar_note.py
Due: server, ui-tests

fix(Table_Multiselect_Field): Making changes where required
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/form/controls/table_multiselect.js
Due: ui-tests

fix: rename_modal_translation (#28937)
  frappe/public/js/frappe/form/toolbar.js
Due: ui-tests

feat: add duplicate role functionality with permission copying
  frappe/core/doctype/role/role.js
  frappe/core/doctype/role/role.py
Due: server, ui-tests

feat: add validation for existing role names during duplication
  frappe/core/doctype/role/role.py
Due: server

fix: remove unnecessary comment on alert dismissal in role duplication success message
  frappe/core/doctype/role/role.py
Due: server

fix: reorder import statements for consistency in role.py
  frappe/core/doctype/role/role.py
Due: server

feat: enhance role permission copying by adding and updating permissions directly
  frappe/core/doctype/role/role.py
Due: server

feat: simplify role duplication by removing target role option and enhancing permission copying
  frappe/core/doctype/role/role.py
Due: server

refactor: improve code formatting and consistency in role duplication functionality
  frappe/core/doctype/role/role.js
  frappe/core/doctype/role/role.py
Due: server, ui-tests

fix(email-template): correct Jinja syntax in file_backup_notification.html
  frappe/templates/emails/file_backup_notification.html
Due: none

Fix: showing warning for unsupported file type for preview
  frappe/public/js/frappe/file_uploader/FileUploader.vue
Due: none

fix: prevent tooltip overflow in comment area
  frappe/public/js/frappe/form/controls/quill-mention/quill.mention.js
  frappe/public/scss/common/quill.scss
Due: ui-tests

fix api download_file handler
  frappe/core/doctype/file/file.js
  frappe/core/doctype/file/file.py
  frappe/handler.py
  frappe/utils/s3_file_handler.py
Due: server, ui-tests

fix: remove default value from time field
  frappe/model/create_new.py
Due: server

fix: dont set assets_json during build (#33051)
  esbuild/esbuild.js
Due: ui-tests

fix: clear all cache after uninstalling apps
  frappe/installer.py
Due: server

fix form change password
  frappe/www/update-password.html
Due: none

Revert "fix: remove default value from time field (backport #33515)"
  frappe/model/create_new.py
Due: server

fix: convert numeric values to strings when searching string fields
  frappe/database/query.py
Due: server

feat: junior and senior mechanic
  frappe/core/doctype/comment/comment.json
  frappe/desk/reportview.py
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/sessions.py
  frappe/www/app.html
Due: server, ui-tests

feat(User Permission): add kwarg ignore_permissions to remove_user_permission
  frappe/permissions.py
Due: server

fix: jinja template had missing `}}`
  frappe/templates/emails/file_backup_notification.html
Due: none

fix: jinja template had missing `}}` (#33541)
  frappe/templates/emails/file_backup_notification.html
Due: none

fix: handle missing encryption key
  frappe/utils/password.py
Due: server

fix(Login): don't prevent login if encryption key is invalid
  frappe/www/login.py
Due: server

fix(boot): drop `setup_wizard_not_required_apps`
  frappe/boot.py
Due: server

Notes added by 'git notes add'
  6cc2b01e3565aab96a79bb5bed6c6186ac38f4aa
Due: none

Notes added by 'git notes add'
  ff921aafa70039b01a7f087ef776dbf48049cf4c
Due: none

fix: Commit changes to installed apps
  frappe/installer.py
Due: server

fix: Commit changes to installed apps (#33550)
  frappe/installer.py
Due: server

fix: type error while updating workspace
  frappe/desk/doctype/workspace/workspace.py
Due: server

fix(DX): Default list view contextual script
  frappe/public/js/frappe/ui/dropdown_console.js
Due: ui-tests
