Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

refactor: change scheduling param from datetime to schedule_at
  frappe/tests/test_background_jobs.py
  frappe/utils/background_jobs.py
Due: server

fix: do not mark custom field as translatable by default
  frappe/custom/doctype/custom_field/custom_field.json
Due: ui-tests

chore: resolve conflicts
  frappe/custom/doctype/custom_field/custom_field.json
Due: ui-tests

fix: list view click and drag select rows
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: Skip virtual doctypes in link field checks (#24759)
  frappe/desk/form/linked_with.py
Due: server

fix: Skip child table management for children of virt doctypes
  frappe/model/document.py
Due: server

fix!: get_count accepts splatted arguments
  frappe/core/doctype/rq_job/rq_job.py
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/core/doctype/rq_worker/rq_worker.py
  frappe/core/doctype/rq_worker/test_rq_worker.py
  frappe/desk/reportview.py
  frappe/tests/test_db_query.py
Due: server

test: flake from expecting a succesful job
  frappe/core/doctype/rq_job/test_rq_job.py
Due: server

refactor: migrate virtual doctypes to new API
  frappe/core/doctype/permission_inspector/permission_inspector.py
  frappe/core/doctype/recorder/recorder.py
  frappe/core/doctype/recorder_query/recorder_query.py
  frappe/model/virtual_doctype.py
  frappe/modules/utils.py
  frappe/tests/test_db_query.py
  frappe/tests/test_virtual_doctype.py
Due: server

ci: split pre-commit config (#24437)
  .github/workflows/linters.yml
  .github/workflows/pre-commit.yml
Due: none

fix: debug logging without logging key
  frappe/handler.py
  frappe/utils/response.py
Due: server

chore: conflicts
  .github/workflows/linters.yml
Due: none

fix: commit before ddl
  frappe/database/mariadb/database.py
  frappe/database/mariadb/schema.py
Due: server

fix: rollback invalid customize form changes (#25198)
  frappe/database/mariadb/database.py
  frappe/database/mariadb/schema.py
  frappe/database/postgres/database.py
Due: server

fix(auto_email_report): check if column (docfield) parent is a child table
  frappe/email/doctype/auto_email_report/auto_email_report.py
Due: server

fix: Prevent multiple schedulers from running on same bench
  frappe/utils/scheduler.py
  frappe/utils/synchronization.py
Due: server

fix(auto_email_report): check if column (docfield) parent is a child table (#25335)
  frappe/email/doctype/auto_email_report/auto_email_report.py
Due: server

fix: Prevent multiple schedulers from running on same bench (#25340)
  frappe/utils/scheduler.py
  frappe/utils/synchronization.py
Due: server

revert: fetch validations
  frappe/core/doctype/doctype/doctype.py
Due: server

revert: fetch validations (#25343)
  frappe/core/doctype/doctype/doctype.py
Due: server

chore: conflicts
  frappe/core/doctype/doctype/doctype.py
Due: server

ci: merge install script
  .github/helper/install.sh
  .github/helper/install_dependencies.sh
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
Due: none

ci: use apt-get
  .github/helper/install.sh
Due: none

ci: run apt install in parallel
  .github/helper/install.sh
Due: none

ci: dont redo node requirements
  .github/helper/install.sh
Due: none

ci: avoid building js assets
  .github/helper/install.sh
Due: none

ci: split wkhtml again
  .github/helper/install.sh
Due: none

feat: border color card in parking
  frappe/desk/form/save.py
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Due: server, ui-tests

fix: delete duplicate filed
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Due: ui-tests

fix: socketio port
  frappe/public/js/frappe/socketio_client.js
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
