Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: added std_fields in model/__init__.py
  frappe/model/__init__.py
Due: server

fix: use std_fields meta from model
  frappe/core/doctype/data_export/data_export.js
  frappe/core/doctype/data_export/exporter.py
Due: server, ui-tests

fix: extract the frappe version from backup header directly
  frappe/installer.py
Due: server

fix(communication): don't change email case
  frappe/core/doctype/communication/communication.py
Due: server

fix: Allowed standard fields in data export ( creation, owner) (#24187)
  frappe/core/doctype/data_export/data_export.js
  frappe/core/doctype/data_export/exporter.py
  frappe/core/doctype/data_export/test_data_exporter.py
  frappe/model/__init__.py
Due: server, ui-tests

fix: Handle empty value of datetime control
  frappe/public/js/frappe/form/controls/datetime.js
Due: ui-tests

fix: use GET and .commit() to avoid CSRF validation
  frappe/push_notification.py
Due: server

fix: Correct logic for can_cancel
  frappe/model/workflow.py
Due: server

fix: notification.py should ignore permissions on fetching on mobile_no receiver list
  frappe/email/doctype/notification/notification.py
Due: server

fix: use expires_in_sec with set_value of cache
  frappe/push_notification.py
Due: server

fix: remove_custom_button removes menu item
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: correct indentation
  frappe/public/js/frappe/form/form.js
Due: ui-tests

correct formatting
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: bom creator tree view not working
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

fix: use get_password for api_secret field
  frappe/push_notification.py
Due: server

fix: Correct logic for can_cancel (#24196)
  frappe/model/workflow.py
Due: server

chore: add proper comment for db.commit
  frappe/push_notification.py
Due: server

fix(MultiCheck): Use df.sort_options to enable/disable sort
  frappe/public/js/frappe/form/controls/multicheck.js
Due: ui-tests

fix(OTP): Autofocus OTP input
  frappe/templates/includes/login/login.js
Due: ui-tests

fix(OTP): Fix placeholder of OTP input
  frappe/templates/includes/login/login.js
Due: ui-tests

fix(OTP): Autofocus OTP input, fix placeholder (#24203)
  frappe/templates/includes/login/login.js
Due: ui-tests

feat(ui): Add LinkCatalog class
  frappe/public/js/frappe/ui/catalog/FrappeFilters.vue
  frappe/public/js/frappe/ui/catalog/LinkCatalog.vue
  frappe/public/js/frappe/ui/catalog/LinkCatalogAdapter.js
  frappe/public/js/frappe/ui/catalog/LinkCatalogItem.vue
  frappe/public/js/frappe/ui/catalog/VueSmartElement.vue
  frappe/public/js/frappe/ui/catalog/index.js
  frappe/public/js/frappe/ui/catalog/link_catalog_common.js
Due: ui-tests

fix: delete existing children first to avoid `UniqueValidationError` (#24140)
  frappe/model/document.py
Due: server

fix: nonetype local url fixed
  frappe/push_notification.py
Due: server

feat: auto-generated attribution page
  frappe/www/attribution.html
  frappe/www/attribution.py
Due: server

feat: cache app info
  frappe/www/attribution.py
Due: server

fix: only show attribution to authenticated users
  frappe/www/attribution.py
Due: server

Update contact_us_settings.json State to State/Province and sync with frappe existing string
  frappe/website/doctype/contact_us_settings/contact_us_settings.json
Due: ui-tests

fix: count correction when a tag is deleted
  frappe/desk/doctype/tag/tag.py
Due: server
