Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(background-jobs): tolerate invalid workers config
  frappe/tests/test_background_jobs.py
  frappe/utils/background_jobs.py
Due: server

feat: added a custom api with permission checks to get report print format html-css
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
Due: server, ui-tests

chore: Define patch hook in patch.txt file of frappe
  frappe/patches.txt
Due: none

fix: Update doc-string in patch_handler
  frappe/modules/patch_handler.py
Due: server

fix(streaming): never claim framework-owned path namespaces
  frappe/app.py
  frappe/tests/test_streaming_request_paths.py
Due: server

fix: Remove typo in patch.txt
  frappe/patches.txt
Due: none

test: add tests for the change
  frappe/model/db_query.py
  frappe/tests/test_db_query.py
Due: server

feat: init module sidebar
  frappe/boot.py
  frappe/core/doctype/module_def/module_def.py
  frappe/desk/doctype/module_sidebar/__init__.py
  frappe/desk/doctype/module_sidebar/module_sidebar.js
  frappe/desk/doctype/module_sidebar/module_sidebar.json
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/module_sidebar_item/__init__.py
  frappe/desk/doctype/module_sidebar_item/module_sidebar_item.json
  frappe/desk/doctype/module_sidebar_item/module_sidebar_item.py
  frappe/installer.py
  frappe/migrate.py
  frappe/model/sync.py
  frappe/patches.txt
  frappe/patches/v16_0/build_module_sidebars.py
  frappe/public/js/desktop_icons.bundle.js
  frappe/public/js/frappe/ui/sidebar/sidebar_item.js
  frappe/public/js/frappe/ui/sidebar/workspace_dock.js
  frappe/public/js/frappe/utils/user.js
  frappe/test_module/__init__.py
Due: server, ui-tests

feat(desk): key the navigation payload by module
  frappe/boot.py
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/doctype/module_sidebar_customization/__init__.py
  frappe/desk/doctype/module_sidebar_customization/module_sidebar_customization.json
  frappe/desk/doctype/module_sidebar_customization/module_sidebar_customization.py
  frappe/desk/doctype/module_sidebar_customization/test_module_sidebar_customization.py
  frappe/desk/doctype/module_sidebar_item_preference/__init__.py
  frappe/desk/doctype/module_sidebar_item_preference/module_sidebar_item_preference.json
  frappe/desk/doctype/module_sidebar_item_preference/module_sidebar_item_preference.py
  frappe/tests/test_module_sidebar_boot.py
Due: server, ui-tests

feat(core): gate module visibility on Role.modules
  frappe/core/doctype/module_profile/module_profile.py
  frappe/core/doctype/module_profile/test_module_profile.py
  frappe/core/doctype/role/role.json
  frappe/core/doctype/role/role.py
  frappe/core/doctype/role_module/__init__.py
  frappe/core/doctype/role_module/role_module.json
  frappe/core/doctype/role_module/role_module.py
  frappe/patches.txt
  frappe/patches/v16_0/link_block_module_to_module_def.py
  frappe/tests/test_client.py
  frappe/tests/test_module_permissions.py
  frappe/utils/modules.py
Due: server, ui-tests

feat(desk): list modules on the dock
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user_dock_module/__init__.py
  frappe/core/doctype/user_dock_module/user_dock_module.json
  frappe/core/doctype/user_dock_module/user_dock_module.py
  frappe/desk/desktop.py
  frappe/patches.txt
  frappe/patches/v16_0/migrate_user_workspaces_to_dock_modules.py
  frappe/public/js/desktop_icons.bundle.js
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/ui/sidebar/sidebar_item.js
  frappe/public/js/frappe/ui/sidebar/workspace_dock.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/breadcrumbs.js
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

feat(desk): extract Module Sidebar labels for translation
  babel_extractors.csv
  frappe/gettext/extractors/module_sidebar.py
Due: server

test(desk): pin Module Sidebar key stability across re-import
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
Due: server

feat: make Module Sidebar app content, writable only in developer mode
  frappe/desk/doctype/module_sidebar/module_sidebar.json
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/module_sidebar_customization/module_sidebar_customization.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/tests/test_module_sidebar_boot.py
Due: server, ui-tests

fix: stop persisting auto generated sidebars
  frappe/boot.py
  frappe/core/doctype/module_def/module_def.py
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/module_sidebar_customization/module_sidebar_customization.py
  frappe/desk/doctype/module_sidebar_customization/test_module_sidebar_customization.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/installer.py
  frappe/migrate.py
  frappe/patches/v16_0/build_module_sidebars.py
Due: server

feat: add ability to add module sidebars as standard
  frappe/desk/doctype/module_sidebar/module_sidebar.js
  frappe/desk/doctype/module_sidebar/module_sidebar.json
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
Due: server, ui-tests

feat: give a custom module a desktop tile of its own
  frappe/boot.py
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/ui/desktop_icon.html
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_standalone_modules.py
Due: server, ui-tests

fix: don't break sidebar rendering
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/public/js/frappe/ui/sidebar/sidebar_item.js
Due: server, ui-tests

fix: various issues for tests
  frappe/automation/workspace/automation/automation.json
  frappe/core/workspace/build/build.json
  frappe/core/workspace/data/data.json
  frappe/core/workspace/system/system.json
  frappe/core/workspace/users/users.json
  frappe/desk/desktop.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/workspace/patches/set_standard_flag.py
  frappe/desk/doctype/workspace/patches/update_app.py
  frappe/desk/doctype/workspace/test_workspace.py
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
  frappe/email/workspace/email/email.json
  frappe/integrations/workspace/integrations/integrations.json
  frappe/model/sync.py
  frappe/patches/v16_0/backfill_workspace_module.py
  frappe/printing/workspace/printing/printing.json
  frappe/tests/test_module_sidebar_boot.py
  frappe/website/workspace/website/website.json
Due: server, ui-tests

feat: compute a sidebar base for a module that has no document
  frappe/boot.py
  frappe/cache_manager.py
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/page/page.py
  frappe/core/doctype/report/report.py
  frappe/desk/doctype/dashboard/dashboard.py
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/tests/test_module_sidebar_boot.py
Due: server

fix(desk): name the module in the sidebar header
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
Due: ui-tests

fix: remove home_workspace and module_onboarding
  frappe/boot.py
  frappe/desk/doctype/module_onboarding/module_onboarding.py
  frappe/desk/doctype/module_sidebar/module_sidebar.json
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/views/breadcrumbs.js
  frappe/tests/test_module_home_and_onboarding.py
  frappe/tests/test_module_sidebar_boot.py
  frappe/tests/test_standalone_modules.py
Due: server, ui-tests

refactor: resolve module sidebars per module, not per row
  frappe/boot.py
  frappe/tests/test_module_sidebar_boot.py
Due: server

feat(desk): require a module on every workspace
  frappe/core/doctype/user/test_user.py
  frappe/desk/doctype/workspace/test_workspace.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/patches.txt
  frappe/patches/v16_0/backfill_workspace_module.py
  frappe/public/js/frappe/views/workspace/workspace.js
Due: server, ui-tests

fix: remove generated field from module sidebar
  frappe/boot.py
  frappe/desk/doctype/module_sidebar/module_sidebar.js
  frappe/desk/doctype/module_sidebar/module_sidebar.json
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/model/sync.py
  frappe/tests/test_module_sidebar_boot.py
Due: server, ui-tests

refactor: private workspace
  frappe/boot.py
  frappe/desk/doctype/custom_module_sidebar/custom_module_sidebar.py
  frappe/desk/doctype/custom_module_sidebar/test_custom_module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/workspace/test_workspace.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/tests/test_module_permissions.py
  frappe/tests/test_module_sidebar_boot.py
Due: server

refactor: custom workspace
  frappe/desk/desktop.py
  frappe/desk/doctype/custom_module_sidebar/custom_module_sidebar.py
  frappe/desk/doctype/custom_workspace/__init__.py
  frappe/desk/doctype/custom_workspace/custom_workspace.json
  frappe/desk/doctype/custom_workspace/custom_workspace.py
  frappe/desk/doctype/custom_workspace/test_custom_workspace.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/patches.txt
  frappe/patches/v16_0/rename_workspace_customization_to_custom_workspace.py
  frappe/public/js/frappe/views/workspace/workspace.js
Due: server, ui-tests

feat: compute a sidebar base for a document that has no items too
  frappe/boot.py
  frappe/tests/test_module_sidebar_boot.py
Due: server

refactor: sidebar item identity
  frappe/boot.py
  frappe/core/doctype/module_def/module_def.py
  frappe/desk/doctype/custom_module_sidebar/custom_module_sidebar.py
  frappe/desk/doctype/custom_module_sidebar/test_custom_module_sidebar.py
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/module_sidebar_item/module_sidebar_item.json
  frappe/hooks.py
  frappe/tests/test_module_sidebar_boot.py
Due: server, ui-tests

feat: add module sidebar as a connection for module
  frappe/core/doctype/module_def/module_def.json
Due: ui-tests

fix: remove getting started
  frappe/public/js/frappe/ui/sidebar/sidebar.html
Due: none

fix: remove workspaces from user
  frappe/core/doctype/user/user.js
  frappe/core/doctype/user/user.py
Due: server, ui-tests

fix: standard check exports files
  frappe/desk/doctype/module_sidebar/module_sidebar.js
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
Due: server, ui-tests

feat: custom modules
  frappe/app_state.py
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/module_def/module_def.js
  frappe/core/doctype/module_def/module_def.json
  frappe/core/doctype/module_def/module_def.py
  frappe/core/doctype/module_def/test_module_def.py
  frappe/desk/desktop.py
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/installer.py
  frappe/utils/modules.py
Due: server, ui-tests

refactor: custom module sidebar
  frappe/boot.py
  frappe/desk/doctype/custom_module_sidebar/__init__.py
  frappe/desk/doctype/custom_module_sidebar/custom_module_sidebar.json
  frappe/desk/doctype/custom_module_sidebar/custom_module_sidebar.py
  frappe/desk/doctype/custom_module_sidebar/custom_module_sidebar_list.js
  frappe/desk/doctype/custom_module_sidebar/test_custom_module_sidebar.py
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/module_sidebar_customization/module_sidebar_customization.py
  frappe/desk/doctype/module_sidebar_customization/test_module_sidebar_customization.py
  frappe/desk/doctype/module_sidebar_item/module_sidebar_item.json
  frappe/desk/doctype/module_sidebar_item/module_sidebar_item.py
  frappe/desk/doctype/module_sidebar_item_preference/__init__.py
  frappe/desk/doctype/module_sidebar_item_preference/module_sidebar_item_preference.json
  frappe/desk/doctype/module_sidebar_item_preference/module_sidebar_item_preference.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/hooks.py
  frappe/tests/test_module_home_and_onboarding.py
  frappe/tests/test_module_sidebar_boot.py
Due: server, ui-tests

feat: no app context inside a standalone module
  frappe/boot.py
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/ui/sidebar/workspace_dock.js
  frappe/public/scss/desk/workspace_dock.scss
  frappe/tests/test_standalone_modules.py
Due: server, ui-tests

feat: convert old sidebar fixtures with a command
  frappe/commands/utils.py
  frappe/desk/doctype/module_sidebar/convert_fixtures.py
  frappe/patches.txt
  frappe/patches/v16_0/notify_apps_to_convert_sidebar_fixtures.py
  frappe/tests/test_sidebar_fixture_conversion.py
  hooks.md
Due: server

fix: rename to is_default_module
  frappe/automation/module_sidebar/automation/automation.json
  frappe/boot.py
  frappe/build_tools/module_sidebar/build_tools/build_tools.json
  frappe/contacts/module_sidebar/contacts/contacts.json
  frappe/data/module_sidebar/data/data.json
  frappe/desk/doctype/custom_module_sidebar/custom_module_sidebar.py
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/module_sidebar_item/module_sidebar_item.json
  frappe/desk/doctype/module_sidebar_item/module_sidebar_item.py
  frappe/email/module_sidebar/email/email.json
  frappe/integrations/module_sidebar/integrations/integrations.json
  frappe/printing/module_sidebar/printing/printing.json
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_module_sidebar_boot.py
  frappe/users/module_sidebar/users/users.json
  frappe/website/module_sidebar/website/website.json
  frappe/workflow/module_sidebar/workflow/workflow.json
Due: server, ui-tests

refactor: handle v15 migration
  frappe/patches.txt
  frappe/patches/v16_0/backfill_workspace_module.py
  frappe/patches/v16_0/build_module_sidebars.py
  frappe/patches/v16_0/keep_existing_sites_on_desktop_icons.py
  frappe/patches/v16_0/migrate_user_workspaces_to_dock_modules.py
  frappe/tests/test_v15_upgrade.py
Due: server

feat: ship more sidebars
  frappe/automation/module_sidebar/automation/automation.json
  frappe/boot.py
  frappe/build_tools/module_sidebar/build_tools/build_tools.json
  frappe/contacts/module_sidebar/contacts/contacts.json
  frappe/data/module_sidebar/data/data.json
  frappe/desk/doctype/module_sidebar/module_sidebar.json
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/email/module_sidebar/email/email.json
  frappe/integrations/module_sidebar/integrations/integrations.json
  frappe/printing/module_sidebar/printing/printing.json
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/system/module_sidebar/system/system.json
  frappe/tests/test_dock_preferences.py
  frappe/users/module_sidebar/users/users.json
  frappe/website/module_sidebar/website/website.json
  frappe/workflow/module_sidebar/workflow/workflow.json
Due: server, ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
