Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: Skip update prompt if not setup (#39593)
  frappe/public/js/frappe/desk.js
  frappe/utils/change_log.py
Due: server, ui-tests

build: Bump gunicorn for adaptive queueing
  pyproject.toml
Due: none

refactor(ai): remove ask_user tool — plain-text questions replace structured pauses
  frappe/ai/assistant.py
  frappe/ai/doctype/ai_agent/ai_agent.py
  frappe/ai/doctype/ai_agent/test_ai_agent.py
  frappe/ai/doctype/ai_run/test_ai_run.py
  frappe/ai/test_api.py
  frappe/ai/tools/builtins.py
  frappe/tests/test_ai_api.py
  frappe/tests/test_ai_builtins.py
Due: server

refactor(ai): rename introspect→describe and query→read
  frappe/ai/doctype/ai_agent/ai_agent.json
  frappe/ai/doctype/ai_agent_tool/test_ai_agent_tool.py
Due: server, ui-tests

fix: enable filtering by ID and Job Name in RQ Job list view
  frappe/core/doctype/rq_job/rq_job.py
  frappe/core/doctype/rq_job/test_rq_job.py
Due: server

fix(prepared_report): commit prepared report before enqueueing csv conversion
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/core/doctype/rq_job/test_rq_job.py
Due: server

test: run tests for lazy document controller imports
  frappe/tests/test_document.py
  frappe/utils/lazy_controller.py
Due: server

feat: Import all doctypes from single location
  frappe/commands/utils.py
  frappe/core/doctype/doctype/doctype.py
  frappe/doctypes.py
  frappe/doctypes.pyi
  frappe/utils/generate_doctype_imports.py
  frappe/utils/lazy_controller.py
Due: server

fix: Make lazy controller subclassing work
  frappe/model/document.py
Due: server

refactor: Migrate get_docs
  frappe/core/doctype/user/user.py
  frappe/core/doctype/user_invitation/user_invitation.py
  frappe/desk/doctype/event/event.py
  frappe/email/doctype/auto_email_report/auto_email_report.py
  frappe/utils/scheduler.py
Due: server

fix: Invalid refactors
  frappe/automation/doctype/auto_repeat/test_auto_repeat.py
  frappe/core/doctype/activity_log/test_activity_log.py
  frappe/core/doctype/background_task/background_task.py
  frappe/core/doctype/scheduled_job_type/test_scheduled_job_type.py
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/doctype/note/test_note.py
  frappe/desk/doctype/todo/test_todo.py
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/email/doctype/email_account/test_email_account.py
  frappe/email/doctype/notification/test_notification.py
  frappe/integrations/doctype/webhook/test_webhook.py
  frappe/tests/test_scheduler.py
Due: server

ci: Refactor and simplify CI as much as possibleo
  .github/workflows/_base-migration.yml
  .github/workflows/_base-server-tests.yml
  .github/workflows/_base-type-check.yml
  .github/workflows/_base-ui-tests.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
Due: none

ci: Speedup CI
  .github/actions/setup/action.yml
  .github/workflows/server-tests.yml
Due: none

ci: need asset for email tests
  .github/workflows/server-tests.yml
Due: none

ci: Overlap asset build with site creation
  .github/actions/setup/action.yml
Due: none

ci: Install python and node deps concurrently
  .github/actions/setup/action.yml
Due: none

ci: Overlap apt system deps with frappe-bench tool install
  .github/actions/setup/action.yml
Due: none

ci: Drop unused Python 3.11 from migrate job setup
  .github/workflows/server-tests.yml
Due: none

chore: unnecessary changes
  .github/workflows/server-tests.yml
Due: none

ci: Speedup mariadb
  .github/actions/setup/action.yml
  .github/workflows/run-indinvidual-tests.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
Due: none

build: Bump esbuild to latest
  esbuild/esbuild.js
  package.json
  yarn.lock
Due: ui-tests

build: Update caniuse-lite
  yarn.lock
Due: none

build: Keep older vue by default
  package.json
  yarn.lock
Due: ui-tests

fix: fix grid selection toast text invisible in dark mode and extra top margin
  frappe/public/scss/common/grid.scss
Due: none

fix(file_uploader): use optional chaining for frm.attachments.max_reached
  frappe/public/js/frappe/file_uploader/file_uploader.bundle.js
Due: ui-tests

fix: include session in run_started SSE frame to avoid race on subsequent turns
  frappe/ai/api.py
  frappe/ai/doctype/ai_run/ai_run.py
Due: server

refactor: remove _deduplicate_tools from AIAgent validation
  frappe/ai/doctype/ai_agent/ai_agent.py
Due: server

feat: add find_doctypes builtin tool for doctype discovery before describe/read
  frappe/ai/assistant.py
  frappe/ai/tools/builtins.py
  frappe/tests/test_ai_builtins.py
Due: server

feat: add AI chat sidebar panel (Ctrl+M, composer-anchored, SSE streaming)
  frappe/hooks.py
  frappe/public/js/ai.bundle.js
  frappe/public/js/frappe/ai/AiPanel.vue
Due: server, ui-tests

fix: update mandatory dependency for aggregate function field in Number Card
  frappe/desk/doctype/number_card/number_card.json
Due: ui-tests

fix: truncate long values in create/update confirm prompts and fix unicode escapes
  frappe/ai/tools/builtins.py
Due: server

feat: treat free-text confirmation answer as redirect feedback instead of denial
  frappe/ai/agent.py
Due: server

feat: add Other input to confirmation card and narration rule to assistant instructions
  frappe/ai/assistant.py
  frappe/public/js/frappe/ai/AiPanel.vue
Due: server

refactor!: Migrate website search backend from whoosh to sqlite
  frappe/search/full_text_search.py
  frappe/search/test_website_search.py
  frappe/search/website_search.py
  pyproject.toml
Due: server

refactor(workflow): replace sql by qb in set_active
  frappe/workflow/doctype/workflow/workflow.py
Due: server

refactor(workflow): replace sql by qb in update_default_workflow_status
  frappe/workflow/doctype/workflow/workflow.py
Due: server

perf(notifications): cache unread count on Notification Settings
  frappe/boot.py
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/doctype/notification_settings/notification_settings.json
  frappe/desk/doctype/notification_settings/notification_settings.py
  frappe/public/js/frappe/ui/notifications/notifications.js
Due: server, ui-tests
