Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(file): tighten get_file_path containment to the files directory
  frappe/core/doctype/file/test_file.py
  frappe/utils/file_manager.py
Due: server

fix: UI cleanup
  cypress/integration/tree_view.js
  frappe/public/js/frappe/ui/tree.js
  frappe/public/js/frappe/views/reports/print_tree.html
  frappe/public/js/frappe/views/treeview.js
  frappe/public/scss/desk/tree.scss
Due: ui-tests

fix(file): use commonpath instead of startswith for containment check
  frappe/core/doctype/file/test_file.py
  frappe/utils/file_manager.py
Due: server

chore: cleanup comments
  cypress/integration/tree_view.js
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/ui/tree.js
  frappe/public/js/frappe/views/reports/print_tree.html
  frappe/public/js/frappe/views/treeview.js
  frappe/public/scss/desk/tree.scss
Due: ui-tests

fix(desk): exclude disabled reports from the allowed reports payload
  frappe/desk/desk_views.py
Due: server

test(desk): cover disabled report exclusion from allowed reports
  frappe/tests/test_boot.py
Due: server

chore: update POT file (#42307)
  frappe/locale/main.pot
Due: none

fix: use Python 3.10 for version-15-hotfix POT generation
  .github/workflows/generate-pot-file.yml
Due: none

fix(twofactor): report actual email delivery status on 2FA login
  frappe/twofactor.py
Due: server

test(twofactor): cover 2FA email status when mail is not queued
  frappe/tests/test_twofactor.py
Due: server

chore: pre-commit lint
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

chore: update POT file (#42306)
  frappe/locale/main.pot
Due: none

fix(integration): Add connect timeout for requests to frappecloud
  frappe/integrations/frappe_providers/frappecloud_billing.py
Due: server

fix: better message copy
  frappe/utils/synchronization.py
Due: server

test(ui): cover escaping of default link text in get_form_link
  cypress/integration/utils.js
Due: ui-tests

fix(ui): escape docname used as default link text in get_form_link
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

feat: enhance tree view functionality and styling
  frappe/public/js/frappe/ui/tree.js
  frappe/public/js/frappe/views/treeview.js
  frappe/public/scss/desk/tree.scss
Due: ui-tests

refactor: remove unused methods and clean up tree styles
  frappe/public/js/frappe/ui/tree.js
  frappe/public/scss/desk/tree.scss
Due: ui-tests

fix: include current module while resetting
  frappe/desk/doctype/sidebar/sidebar.py
  frappe/desk/doctype/sidebar/test_sidebar.py
  frappe/public/js/frappe/ui/sidebar/sidebar_manager.js
Due: server, ui-tests

fix(website): stop shipping website test fixtures as public routes
  frappe/core/doctype/file/test_file.py
  frappe/tests/test_website.py
  frappe/tests/website_fixtures/__init__.py
  frappe/tests/website_fixtures/_test/__init__.py
  frappe/tests/website_fixtures/_test/_sidebar.json
  frappe/tests/website_fixtures/_test/_test_custom_base.html
  frappe/tests/website_fixtures/_test/_test_folder/__init__.py
  frappe/tests/website_fixtures/_test/_test_folder/_test_page.css
  frappe/tests/website_fixtures/_test/_test_folder/_test_page.html
  frappe/tests/website_fixtures/_test/_test_folder/_test_page.js
  frappe/tests/website_fixtures/_test/_test_folder/_test_page.py
  frappe/tests/website_fixtures/_test/_test_folder/_test_toc.md
  frappe/tests/website_fixtures/_test/_test_folder/index.md
  frappe/tests/website_fixtures/_test/_test_folder/new.csv/__init__.py
  frappe/tests/website_fixtures/_test/_test_folder/new.csv/index.html
  frappe/tests/website_fixtures/_test/_test_home_page.py
  frappe/tests/website_fixtures/_test/_test_metatags.html
  frappe/tests/website_fixtures/_test/_test_metatags.py
  frappe/tests/website_fixtures/_test/_test_no_context.html
  frappe/tests/website_fixtures/_test/_test_no_context.py
  frappe/tests/website_fixtures/_test/_test_safe_render_off.html
  frappe/tests/website_fixtures/_test/_test_safe_render_on.html
  frappe/tests/website_fixtures/_test/_test_webform.py
  frappe/tests/website_fixtures/_test/assets/__init__.py
  frappe/tests/website_fixtures/_test/assets/css_asset.css
  frappe/tests/website_fixtures/_test/assets/file.zip
  frappe/tests/website_fixtures/_test/assets/image
  frappe/tests/website_fixtures/_test/assets/image.jpg
  frappe/tests/website_fixtures/_test/assets/js_asset.min.js
  frappe/tests/website_fixtures/_test/index.html
  frappe/tests/website_fixtures/_test/problematic_page.html
  frappe/tests/website_fixtures/_test/static-file-test.png
  frappe/website/page_renderers/static_page.py
Due: server, ui-tests

fix: ensure tree view elements are fully loaded before interaction
  cypress/integration/tree_view.js
  frappe/public/js/frappe/ui/tree.js
Due: ui-tests

refactor: optimize tree view filtering logic to exclude node subtrees
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

chore: cleanup excess comments
  cypress/integration/tree_view.js
  frappe/public/js/frappe/views/treeview.js
  frappe/public/scss/desk/tree.scss
Due: ui-tests

fix(treeview): offer all valid parents in move picker
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

test: enhance bulk operations tests with job waiting logic
  frappe/tests/test_api_v2.py
  frappe/tests/utils/__init__.py
Due: server

feat(treeview): cleaner tree view UI (#42189)
  cypress/integration/tree_view.js
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/ui/link_preview.js
  frappe/public/js/frappe/ui/tree.js
  frappe/public/js/frappe/views/reports/print_tree.html
  frappe/public/js/frappe/views/treeview.js
  frappe/public/scss/desk/tree.scss
Due: ui-tests

chore: run pre-commit
  frappe/utils/synchronization.py
Due: server

fix: don't advise deleting the lock file on lock timeout
  frappe/utils/synchronization.py
Due: server

chore: resolve backport conflict in twofactor.py
  frappe/tests/test_twofactor.py
  frappe/twofactor.py
Due: server

fix(website): serve www/_test fixtures only in developer mode
  frappe/tests/test_website.py
  frappe/website/path_resolver.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
