Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(UX): let user see actual count on click
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: support child tables in count with limit
  frappe/desk/reportview.py
  frappe/public/js/frappe/list/list_view.js
Due: server, ui-tests

chore: conflicts
  frappe/desk/reportview.py
Due: server

fix: dont show tooltip if already limited (#25361)
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

style: format files
  frappe/desk/doctype/todo/todo_list.js
Due: ui-tests

fix: default filter setup on todo list (#25455)
  frappe/desk/doctype/todo/todo_list.js
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

chore: v14 compat
  frappe/email/doctype/email_queue/email_queue.py
Due: server

fix: allow transitioning to long text
  frappe/custom/doctype/customize_form/customize_form.py
Due: server

perf: use same order to avoid full table scan
  frappe/public/js/frappe/ui/sort_selector.js
Due: ui-tests

fix: Skip unique-ish keys from tie breaking
  frappe/public/js/frappe/ui/sort_selector.js
Due: ui-tests

fix: deterministic ordering (#25278)
  frappe/public/js/frappe/ui/sort_selector.js
Due: ui-tests

feat: add extractor for label of number card (#25414)
  frappe/gettext/extractors/workspace.py
Due: server

chore(weblist): Fix data-txt encoding, remove notxt (#25101)
  frappe/templates/includes/list/list.html
  frappe/website/doctype/blog_post/templates/blog_post_list.html
Due: none

test: return string
  frappe/tests/utils.py
Due: server

fix(QuickEntry): Don't allow Tab Breaks (#24950)
  frappe/public/js/frappe/form/layout.js
  frappe/public/js/frappe/form/quick_entry.js
  frappe/public/js/frappe/form/tab.js
Due: ui-tests

feat(kb): Add list for help article (#25102)
  frappe/website/doctype/help_article/templates/help_article_list.html
Due: none

fix(ControlText): Preserve indentation when read only (#25262)
  frappe/public/js/frappe/form/controls/text.js
Due: ui-tests

test: return string (#25466)
  frappe/tests/utils.py
Due: server

fix(ControlLink)!: Fix link selection in tables on iOS
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/scss/common/awesomeplete.scss
  frappe/public/scss/common/modal.scss
  frappe/public/scss/desk/filters.scss
Due: ui-tests

ci: setup ssh if test failed
  .github/workflows/server-tests.yml
Due: none

fix: support for adding filters for child table
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: Skip virtual doctypes while renaming
  frappe/model/rename_doc.py
Due: server

test: fixup timeouts
  frappe/core/doctype/rq_job/test_rq_job.py
Due: server

feat(format): Localize duration format
  frappe/utils/data.py
Due: server

test(format): Test Duration Python formatter
  frappe/locale/fr.po
  frappe/tests/test_formatter.py
Due: server

fix(list_view): Fix checkbox selection of documents with special characters
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix: Skip virtual doctypes while renaming (#25473)
  frappe/model/rename_doc.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
