Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

test: db timeout computation
  frappe/tests/test_db.py
Due: server

ci: config cleanup and bump coverage
  .flake8
  .github/helper/flake8.conf
  .pre-commit-config.yaml
  .stylelintrc
  bandit.yml
  pyproject.toml
Due: none

perf: faster as_list and as_dict
  frappe/database/database.py
Due: server

refactor(db): deprecated unused functions
  frappe/database/database.py
  frappe/utils/deprecations.py
Due: server

Update breadcrumbs.js
  frappe/public/js/frappe/views/breadcrumbs.js
Due: ui-tests

fix: dashboard view from workspace
  frappe/public/js/frappe/views/breadcrumbs.js
Due: ui-tests

chore: handle
  frappe/public/js/frappe/ui/toolbar/about.js
Due: ui-tests

docs: youtube channel in "about" section (#18810)
  frappe/public/js/frappe/ui/toolbar/about.js
Due: ui-tests

refactor: fields, filters confusion
  frappe/database/query.py
Due: server

fix: use link field to select print language
  frappe/printing/page/print/print.js
Due: ui-tests

fix: decorator ordering
  frappe/database/database.py
Due: server

fix: raise exception if doc before save is not found (#18796)
  frappe/model/document.py
  frappe/tests/test_document.py
Due: server

feat: Set default SQL statement timeouts (backport #18771)
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/tests/test_db.py
Due: server

refactor: use link for print format
  frappe/printing/doctype/print_format/print_format.json
  frappe/printing/page/print/print.js
Due: ui-tests

fix: add placeholder for language
  frappe/printing/page/print/print.js
Due: ui-tests

refactor: use link for Letter Head
  frappe/printing/page/print/print.js
Due: ui-tests

fix: reportview permlevel bug
  frappe/desk/reportview.py
Due: server

perf: faster generate_hash
  frappe/__init__.py
Due: server

refactor: remove `txt` param from generate_hash use
  frappe/__init__.py
  frappe/core/doctype/data_export/exporter.py
  frappe/core/doctype/data_import/test_importer.py
  frappe/model/naming.py
  frappe/patches/v11_0/remove_skip_for_doctype.py
  frappe/patches/v12_0/move_email_and_phone_to_child_table.py
  frappe/patches/v12_0/setup_tags.py
  frappe/templates/includes/navbar/navbar_items.html
  frappe/tests/test_modules.py
  frappe/utils/jinja_globals.py
  frappe/utils/oauth.py
  frappe/website/doctype/website_theme/website_theme.py
  frappe/website/web_template/section_with_collapsible_content/section_with_collapsible_content.html
  frappe/website/web_template/section_with_tabs/section_with_tabs.html
  frappe/website/web_template/slideshow/slideshow.html
Due: server

fix: reportview permlevel bug (#18822)
  frappe/desk/reportview.py
Due: server

fix: page has an empty menu button
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

refactor: validation of permlevel
  frappe/desk/reportview.py
Due: server

chore: python 3.7 compatibility
  frappe/desk/desktop.py
Due: server

chore: resolved conflicts
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

perf(workflow): get_transitions
  frappe/model/workflow.py
Due: server

feat: add is_last_day_of_the_month
  frappe/tests/test_utils.py
  frappe/utils/data.py
Due: server

chore: fix code style
  frappe/tests/test_utils.py
Due: server

fix: breadcrumbs is broken
  frappe/public/js/frappe/views/breadcrumbs.js
Due: ui-tests
