Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(pfb): restore the format setting tab and open print settings in a dialog
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
  frappe/public/js/print_format_builder/components/Preview.vue
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/public/js/print_format_builder/components/PrintSettingsPanel.vue
  frappe/public/js/print_format_builder/print_format_builder.bundle.js
Due: ui-tests

refactor(pfb): put preview and print settings icons in the page header
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
  frappe/public/js/print_format_builder/components/Preview.vue
  frappe/public/js/print_format_builder/print_format_builder.bundle.js
Due: ui-tests

refactor(pfb): drop the change print format menu item
  frappe/public/js/print_format_builder/print_format_builder.bundle.js
Due: ui-tests

feat(print): move the label colon option from print settings to the format
  frappe/patches.txt
  frappe/patches/v16_0/move_show_label_colon_to_print_format.py
  frappe/printing/doctype/print_format/print_format.json
  frappe/printing/doctype/print_format/print_format.py
  frappe/printing/doctype/print_settings/print_settings.json
  frappe/printing/doctype/print_settings/print_settings.py
  frappe/public/js/print_format_builder/components/PrintSettingsPanel.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/templates/print_format/print_format.html
  frappe/utils/test_print_format_generator.py
  frappe/utils/test_print_format_parity.py
Due: server, ui-tests

fix(pfb): drop the preview's inner scrollbar
  frappe/public/js/print_format_builder/components/Preview.vue
Due: none

refactor(print): drop the label colon migration patch
  frappe/patches.txt
  frappe/patches/v16_0/move_show_label_colon_to_print_format.py
Due: server

fix: restore compact email button size
  frappe/public/scss/email.bundle.scss
Due: none

refactor(pfb): replace the single-item page menu with an icon
  frappe/public/js/print_format_builder/print_format_builder.bundle.js
Due: ui-tests

refactor(pfb): fix preview mode switching and clean up review findings
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
  frappe/public/js/print_format_builder/components/Preview.vue
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/utils/print_format_generator.py
Due: server

test: don't leak fake localhost request from sid helper
  frappe/tests/test_api.py
Due: server

feat: support QUERY HTTP method (RFC 10008)
  frappe/__init__.py
  frappe/api/v1.py
  frappe/api/v2.py
  frappe/auth.py
  frappe/tests/test_api.py
Due: server

refactor: parse fields/expand with frappe.parse_json
  frappe/api/v1.py
  frappe/tests/test_utils.py
Due: server

chore: resolve conflicts
  frappe/core/doctype/user/user.py
  frappe/patches.txt
Due: server

fix: handle orphan doctypes doctypes
  frappe/desk/desk_views.py
Due: server

chore(release): Bumped to Version 16.28.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  be4728af84ecdec9e3e555f0aca1a7766d3f1811
Due: none

fix: update `for_user` when workspace exists
  frappe/desk/doctype/workspace/workspace.py
Due: server

fix(ui): empty state text for list views
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

test(user): name workspace fixture in the real Title-user_email shape
  frappe/core/doctype/user/test_user.py
Due: server

fix: return html string instead
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix(ui): empty state text for list views (#41138)
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

test: fix flaky link filter test in form builder
  cypress/integration/form_builder.js
Due: ui-tests

refactor(pfb): remove dead code across the builder
  frappe/printing/doctype/print_format/print_format.py
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/inspector/HTMLEditor.vue
  frappe/public/js/print_format_builder/components/inspector/StepperRow.vue
  frappe/public/js/print_format_builder/components/letterhead/LetterHeadZoneEditor.vue
  frappe/public/js/print_format_builder/composables/useFieldFormat.js
Due: server, ui-tests

refactor(pfb): reuse shared styles and drop duplicate css
  frappe/public/js/print_format_builder/components/PrintSettingsPanel.vue
  frappe/public/js/print_format_builder/components/editor/FieldPreviewRepeater.vue
  frappe/public/js/print_format_builder/components/editor/FieldPreviewTable.vue
  frappe/public/js/print_format_builder/components/inspector/LetterHeadZoneInspector.vue
  frappe/public/js/print_format_builder/inspector.css
  frappe/templates/print_format/print_format_doc.css
  frappe/utils/test_print_format_parity.py
Due: server

refactor(pfb): extract BlockCard and SectionActions components
  frappe/public/js/print_format_builder/components/BlockCard.vue
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/editor/SectionActions.vue
Due: none

refactor(pfb): dedupe localStorage and inspector prop helpers
  frappe/public/js/print_format_builder/components/inspector/FieldPropertiesPanel.vue
  frappe/public/js/print_format_builder/components/inspector/TableFieldInspector.vue
  frappe/public/js/print_format_builder/components/inspector/useSelectedField.js
  frappe/public/js/print_format_builder/composables/useClipboard.js
  frappe/public/js/print_format_builder/composables/usePresets.js
  frappe/public/js/print_format_builder/composables/useSnippets.js
  frappe/public/js/print_format_builder/utils.js
Due: ui-tests

refactor(pfb): drop narration comments
  frappe/printing/doctype/print_format/print_format.js
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
  frappe/public/js/print_format_builder/components/inspector/ColorField.vue
  frappe/public/js/print_format_builder/components/inspector/SectionPropertiesPanel.vue
  frappe/public/js/print_format_builder/components/inspector/TemplateInput.vue
Due: ui-tests

test: wait for filter dialog before typing
  cypress/integration/form_builder.js
Due: ui-tests

test: add coverage for the new oauth state changes
  frappe/integrations/doctype/social_login_key/test_social_login_key.py
Due: server

fix(oauth): store OAuth redirect_to server-side instead
  frappe/utils/oauth.py
Due: server

fix: Resilient `bench serve`
  frappe/app.py
Due: server

fix: Resilient `bench serve` (#41144)
  frappe/app.py
Due: server

fix: duplicate title in List View Settings dialog
  frappe/public/js/frappe/list/list_settings.js
Due: ui-tests

chore(release): Bumped to Version 15.116.0
  frappe/__init__.py
Due: server
