Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: Column 'creation' in order clause was ambiguous
  frappe/contacts/doctype/address/address.py
  frappe/contacts/doctype/contact/contact.py
Due: server

fix: exclude some untranslatable select options
  frappe/gettext/extractors/doctype.py
Due: server

fix(grid): ensure that `doc.name` is truthy before proceeding
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

fix: don't show bulk actions for doctype with workflow
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

test: cypress shouldn't expect disabled actions
  cypress/integration/list_view.js
Due: ui-tests

fix: German translations
  frappe/locale/de.po
Due: none

fix: Turkish translations
  frappe/locale/tr.po
Due: none

fix: Bosnian translations
  frappe/locale/bs.po
Due: none

fix: Don't assign returned values if row is deleted
  frappe/public/js/frappe/form/form.js
Due: ui-tests

chore: filters added in kanban project
  frappe/desk/reportview.py
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Due: server, ui-tests

chore: filter by user added
  frappe/desk/reportview.py
Due: server

feat: Apply Filters to Link Fields Via Form Builder (#22844)
  cypress/fixtures/form_builder_doctype.js
  cypress/integration/form_builder.js
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/docfield/docfield.py
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/custom_field/custom_field.json
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/custom/doctype/customize_form_field/customize_form_field.py
  frappe/public/js/form_builder/components/Field.vue
  frappe/public/js/form_builder/store.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/ui/filters/filter_list.js
Due: server, ui-tests

fix: link field shown only for Link fieldtype
  frappe/public/js/form_builder/components/Field.vue
  frappe/public/js/form_builder/components/FieldProperties.vue
  frappe/public/js/form_builder/store.js
Due: ui-tests

fix: add back if condition
  frappe/public/js/form_builder/components/Field.vue
Due: none

feat: add eval support for link field filters
  frappe/public/js/form_builder/components/Field.vue
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: eval support for child table
  frappe/public/js/form_builder/components/Field.vue
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: support for adding filters for child table
  frappe/public/js/frappe/form/form.js
Due: ui-tests

chore: code cleanup
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

chore: remove duplicate field
  frappe/core/doctype/docfield/docfield.json
Due: ui-tests

chore: code cleanup
  frappe/custom/doctype/customize_form/customize_form.py
Due: server

fix: check if user exists in browse command
  frappe/commands/site.py
Due: server

Added function to delete emails on delete of doc record
  frappe/core/doctype/communication/communication.py
Due: server

feat: permission debugger (#24239)
  frappe/core/doctype/permission_debugger/__init__.py
  frappe/core/doctype/permission_debugger/permission_debugger.js
  frappe/core/doctype/permission_debugger/permission_debugger.json
  frappe/core/doctype/permission_debugger/permission_debugger.py
  frappe/core/doctype/permission_debugger/test_permission_debugger.py
  frappe/permissions.py
Due: server, ui-tests

fix!: Don't let users with write access to UP bypass UP
  frappe/permissions.py
  frappe/tests/test_permissions.py
Due: server

Fix syntax
  frappe/core/doctype/communication/communication.py
Due: server

refactor(minor): email retreiveing
  frappe/email/receive.py
Due: server

chore: take out email_list to function scope
  frappe/email/receive.py
Due: server

fix: make_error_msg for imap
  frappe/email/receive.py
Due: server

chore: rename message_meta -> uid
  frappe/email/receive.py
Due: server

refactor: receive email
  frappe/email/receive.py
Due: server

fix(TextEditor): In grid row, make read only and hide toolbar
  frappe/public/js/frappe/form/controls/text_editor.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/scss/common/grid.scss
Due: ui-tests

db.postgres: attempt type map to be accurate as mariadb type map
  frappe/database/postgres/database.py
Due: server

perf: make website bundle with less bloat
  frappe/public/js/frappe/format.js
  frappe/public/js/frappe/socketio_client.js
  frappe/public/js/frappe/translate.js
  frappe/public/js/frappe/utils/common.js
  frappe/public/js/website.bundle.js
  frappe/website/js/website.js
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
