Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: fetch portal sidebar items (#21703)
  frappe/website/page_renderers/template_page.py
Due: server

fix: store version for name
  frappe/core/doctype/version/version.py
Due: server

fix: compare with `doc.amended_from` while saving version for newly amended doc
  frappe/core/doctype/version/version.py
  frappe/model/document.py
  frappe/public/js/frappe/model/create_new.js
Due: server, ui-tests

fix: include languages when clearing website cache
  frappe/website/utils.py
Due: server

fix: invalidate cache when language is updated
  frappe/core/doctype/language/language.py
Due: server

chore: resolve conflicts
  frappe/website/utils.py
Due: server

chore: bump `requests`, `chardet`, and `dropbox` to latest versions (#21080)
  .github/workflows/linters.yml
  pyproject.toml
Due: none

chore(release): Bumped to Version 13.58.2
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  f3/086fde1ba285adebd2a8c17a69ed1bf29c59e8
Due: none

fix: show list of user details that we are giving access to if scope is openid
  frappe/integrations/oauth2.py
Due: server

fix: allow cross child table links in dashboard
  frappe/desk/notifications.py
  frappe/public/js/frappe/form/dashboard.js
Due: server, ui-tests

fix: allow users having access to email queue to bulk retry sending
  frappe/email/doctype/email_queue/email_queue_list.js
Due: ui-tests

build(deps): update pyyaml to 6.0.1
  pyproject.toml
Due: none

build(deps): update pyyaml to 6.0.1 (#21728)
  pyproject.toml
Due: none

build(deps): Bump pyyaml
  requirements.txt
Due: none

build(deps): Bump pyyaml (#21730)
  requirements.txt
Due: none

ci: dont run tests on every push
  .github/workflows/linters.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
Due: none

chore(release): Bumped to Version 14.41.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  5a/d48cfaf3dcd638c37314fc28dd750cbb86e673
Due: none

fix: increase form builder height
  frappe/public/js/form_builder/components/FieldTypes.vue
  frappe/public/js/form_builder/components/Tabs.vue
Due: none

fix!: Dont show bold fields in quick entry.
  frappe/public/js/frappe/form/quick_entry.js
Due: ui-tests

refactor(Geolocation): customize_draw_controls
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

refactor(Geolocation): image path via map defaults
  frappe/public/js/frappe/form/controls/geolocation.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/map/map_view.js
Due: ui-tests

refactor(Geolocation): provide less utils
  frappe/public/js/frappe/form/controls/geolocation.js
  frappe/public/js/frappe/views/map/map_view.js
Due: ui-tests

feat(DX): normalize queries in recorder
  frappe/public/js/frappe/recorder/RequestDetail.vue
  frappe/recorder.py
  frappe/tests/test_recorder.py
Due: server

feat(DX): normalize queries in recorder (#21735)
  frappe/public/js/frappe/recorder/RequestDetail.vue
  frappe/recorder.py
  frappe/tests/test_recorder.py
Due: server

refactor: Simpler workflow caching
  frappe/model/workflow.py
  frappe/workflow/doctype/workflow/workflow.py
Due: server

fix: disable workflow emails by default
  frappe/workflow/doctype/workflow/workflow.json
Due: ui-tests

fix!: Dont show bold fields in quick entry. (#21733)
  frappe/public/js/frappe/form/quick_entry.js
Due: ui-tests

fix: disable list view updates during bulk approval
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: duplicate on_row_checked call
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: actually debounce list view updates
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: incorrect cache clearing of assets
  frappe/public/js/frappe/assets.js
  frappe/tests/test_perf.py
  frappe/utils/__init__.py
Due: server, ui-tests

fix: Accurately determine rapid reloads
  frappe/public/js/frappe/assets.js
Due: ui-tests
