Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

chore: return path for tests
  frappe/modules/utils.py
Due: server

test: fix ldap test
  frappe/integrations/doctype/ldap_settings/test_ldap_settings.py
Due: server

fix: perm query for dashboard
  frappe/core/doctype/user/test_user.py
  frappe/desk/doctype/dashboard/dashboard.py
  frappe/desk/doctype/dashboard/test_dashboard.py
Due: server

fix: perm query for dashboard (#26239)
  frappe/core/doctype/user/test_user.py
  frappe/desk/doctype/dashboard/dashboard.py
  frappe/desk/doctype/dashboard/test_dashboard.py
Due: server

fix: handle null in CSV preview
  frappe/public/js/frappe/views/reports/report_utils.js
Due: ui-tests

fix: compute modal title server side
  frappe/templates/includes/contact.js
Due: ui-tests

chore: refactor based on review comments
  frappe/printing/page/print/print.js
  frappe/utils/pdf.py
Due: server, ui-tests

chore: conflicts
  frappe/desk/doctype/dashboard/dashboard.py
Due: server

fix(report_utils): ensure that delimiter and separator can't be empty
  frappe/public/js/frappe/views/reports/report_utils.js
Due: ui-tests

chore: conflicts
  frappe/core/doctype/user/test_user.py
Due: server

chore: return False incase of exception
  frappe/utils/pdf.py
Due: server

chore: conflicts
  frappe/tests/test_permissions.py
Due: server

chore: refactor and better naming
  frappe/utils/pdf.py
Due: server

fix: multistep webform page navigation
  frappe/public/js/frappe/web_form/web_form.js
Due: ui-tests

chore: warn if wkhtmltopdf is invalid (#26174)
  frappe/printing/page/print/print.js
  frappe/utils/pdf.py
Due: server, ui-tests

feat: workspace extraction improvements (#26169)
  frappe/gettext/extractors/workspace.py
Due: server

chore(release): Bumped to Version 14.73.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  6b9472ee5a2d7f30bcb07a56234478fa9681cdb3
Due: none

chore(release): Bumped to Version 15.25.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  587438d450e5466658b9dacefd30aa53091ed592
Due: none

test: flaky link field test
  cypress/integration/control_link.js
Due: ui-tests

test: flaky link field test (#26246)
  cypress/integration/control_link.js
Due: ui-tests

fix: new date format for hun reports
  frappe/tests/test_utils.py
  frappe/utils/data.py
Due: server

feat(Data Import): custom delimiters
  frappe/core/doctype/data_import/data_import.json
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import/fixtures/sample_import_file_semicolon.csv
  frappe/core/doctype/data_import/importer.py
  frappe/core/doctype/data_import/test_importer.py
  frappe/core/doctype/data_import_log/data_import_log.json
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/test_file.py
  frappe/utils/csvutils.py
Due: server, ui-tests

fix(Data Import): don't rely on permission for Data Import Log (#26228)
  frappe/core/doctype/data_import/data_import.js
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import_log/data_import_log.json
Due: server, ui-tests

chore: check conn and not cursor
  frappe/database/mariadb/database.py
Due: server

fix: lstrip for query writes detection (#26180)
  frappe/database/database.py
Due: server

feat: background worker monitoring
  frappe/desk/doctype/system_health_report/system_health_report.json
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/desk/doctype/system_health_workers/__init__.py
  frappe/desk/doctype/system_health_workers/system_health_workers.json
  frappe/desk/doctype/system_health_workers/system_health_workers.py
Due: server, ui-tests

feat: System Health Report
  frappe/desk/doctype/system_health_report/__init__.py
  frappe/desk/doctype/system_health_report/system_health_report.js
  frappe/desk/doctype/system_health_report/system_health_report.json
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/desk/doctype/system_health_report/test_system_health_report.py
Due: server, ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
