Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

test: Update aggregation test
  frappe/tests/test_db_query.py
Due: server

test: Fix test
  frappe/tests/test_db_query.py
Due: server

fix: Push aggregate_on_field to field list - for proper extraction of child table
  frappe/desk/reportview.py
Due: server

test: Add test case to validate aggregation - based on child table field
  frappe/tests/test_db_query.py
Due: server

refactor: Use f-string
  frappe/desk/reportview.py
Due: server

feat: queue in scheduled job type
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.json
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/core/doctype/server_script/server_script.json
  frappe/patches.txt
  frappe/patches/v13_0/update_schedule_job_type_frequency_and_queue.py
Due: server, ui-tests

refactor: split remove_app in smaller functions
  frappe/installer.py
Due: server

fix: fieldname for linkfield hardcoded to "module"
  frappe/installer.py
Due: server

fix: change order of deletion
  frappe/installer.py
Due: server

refactor: change _delete_modules for testability
  frappe/installer.py
Due: server

docs: add docstring for import_file_by_path
  frappe/model/sync.py
  frappe/modules/import_file.py
Due: server

test: remove app unit tests
  frappe/tests/test_commands.py
Due: server

fix(minor): fixed get_count
  frappe/desk/reportview.py
  frappe/model/db_query.py
  frappe/utils/data.py
Due: server

refactor: using as_str to get string of timestamp
  frappe/utils/data.py
Due: server

fix: Loading state for query reports
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

fix: error if no 'app_include_svg' found in any of the hooks
  frappe/www/app.py
Due: server

fix: include space and tab in special characters to match to encode url
  frappe/public/js/frappe/router.js
Due: ui-tests

feat: select queue in scheduled event server scripts
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script.py
Due: server, ui-tests

feat: log start and end in scheduled job log
  frappe/core/doctype/scheduled_job_log/scheduled_job_log.json
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
Due: server, ui-tests

test: cron format validation
  frappe/core/doctype/scheduled_job_type/test_scheduled_job_type.py
Due: server

refactor: changed replace in filter_prepare
  frappe/model/db_query.py
Due: server

test: scheduled job log creation
  frappe/core/doctype/scheduled_job_type/test_scheduled_job_type.py
Due: server

feat: auto delete scheduled job log
  frappe/core/doctype/log_settings/log_settings.json
  frappe/core/doctype/log_settings/log_settings.py
Due: server, ui-tests

feat: sync mutliple IMAP folders in `Email Account`
  frappe/core/doctype/communication/communication.json
  frappe/core/doctype/communication/communication.py
  frappe/core/doctype/communication/test_communication.py
  frappe/email/doctype/email_account/email_account.js
  frappe/email/doctype/email_account/email_account.json
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_account/test_email_account.py
  frappe/email/doctype/email_account/test_records.json
  frappe/email/doctype/imap_folder/__init__.py
  frappe/email/doctype/imap_folder/imap_folder.json
  frappe/email/doctype/imap_folder/imap_folder.py
  frappe/email/receive.py
  frappe/email/test_smtp.py
  frappe/patches.txt
  frappe/patches/v14_0/copy_mail_data.py
Due: server, ui-tests

refactor: converted queries
  frappe/defaults.py
  frappe/permissions.py
  frappe/sessions.py
Due: server

fix: fixing erroneous query conversions
  frappe/defaults.py
  frappe/permissions.py
Due: server

refactor: converted queries in share & translate
  frappe/share.py
  frappe/translate.py
Due: server

refactor!: remove server script args from scheduled events
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/core/doctype/server_script/server_script.py
Due: server

feat: enqueue jobs in server scripts
  frappe/core/doctype/server_script/server_script.py
  frappe/core/doctype/server_script/server_script_utils.py
  frappe/handler.py
  frappe/utils/safe_exec.py
Due: server

refactor!: remove server script args from scheduled events
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
Due: server

fix: resolve conflict
  frappe/tests/test_commands.py
Due: server

test: enqueue jobs with safe_exec
  frappe/tests/test_safe_exec.py
  frappe/utils/safe_exec.py
Due: server

chore: Try on FCloud button
  .github/try-on-f-cloud-button.svg
  README.md
Due: none

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
