Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

feat: basic error analysis widget
  frappe/core/doctype/error_log/error_log.js
  frappe/core/doctype/error_log/error_log.json
  frappe/core/doctype/error_log/error_log.py
Due: server, ui-tests

fix: add collapse after send and UI fixes
  ui/src/components/Composer/Composer.vue
  ui/src/components/Composer/MultiComposer.vue
Due: none

feat: basic error analysis widget (#40462)
  frappe/core/doctype/error_log/error_log.js
  frappe/core/doctype/error_log/error_log.json
  frappe/core/doctype/error_log/error_log.py
Due: server, ui-tests

fix: Make HTTP caching work on fingerprint stats
  frappe/core/doctype/error_log/error_log.js
Due: ui-tests

fix: duplicate code cleanup
  frappe/desk/doctype_settings/settings_map.py
  frappe/public/js/frappe/form/doctype_settings/doctype_settings.js
  frappe/public/js/frappe/form/doctype_settings/registry.js
  frappe/public/js/frappe/form/doctype_settings/tabs/global_search.js
  frappe/public/js/frappe/form/doctype_settings/tabs/permissions.js
  frappe/public/js/frappe/form/doctype_settings/tabs/print_format.js
  frappe/public/js/frappe/form/doctype_settings/tabs/settings_map.js
  frappe/public/js/frappe/ui/settings_dialog.js
  frappe/public/scss/desk/embedded_list.scss
  frappe/public/scss/desk/settings_dialog.scss
Due: server, ui-tests

fix: Make HTTP caching work on fingerprint stats (#40471)
  frappe/core/doctype/error_log/error_log.js
Due: ui-tests

refactor!: Remove what's new
  frappe/boot.py
  frappe/desk/doctype/changelog_feed/__init__.py
  frappe/desk/doctype/changelog_feed/changelog_feed.js
  frappe/desk/doctype/changelog_feed/changelog_feed.json
  frappe/desk/doctype/changelog_feed/changelog_feed.py
  frappe/desk/doctype/changelog_feed/test_changelog_feed.py
  frappe/desk/page/desktop/desktop.html
  frappe/hooks.py
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/ui/sidebar/sidebar.html
Due: server, ui-tests

feat(print-format-builder): add none option for table header
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/templates/print_format/macros/Table.html
Due: none

feat(print-format-builder): make table column header labels editable
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

feat(print-format-builder): add table cell padding control
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/public/js/print_format_builder/stores/index.js
  frappe/templates/print_format/macros/Table.html
Due: ui-tests

feat(print-format-builder): add table corner radius control
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/public/js/print_format_builder/stores/index.js
  frappe/templates/print_format/macros/Table.html
Due: ui-tests

refactor!: Remove marketplace search
  frappe/boot.py
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
Due: server, ui-tests

feat(print-format-builder): add section border controls
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/templates/print_format/print_format.html
Due: none

feat: allow bulk edit in website redirect
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/doctype/website_settings/website_settings.py
Due: server, ui-tests

chore: conflicts
  frappe/core/doctype/report/report.py
Due: server

fix: Improve error title
  frappe/utils/error.py
Due: server

fix(print-format-builder): font size px unit and table radius on table not wrapper
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/templates/print_format/macros/Table.html
Due: none

feat(print-format-builder): simplify section border and add table layout mode
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/templates/print_format/print_format.css
  frappe/templates/print_format/print_format.html
Due: none

feat: resolving forwardrefs using get_type_hints
  frappe/utils/typing_validations.py
Due: server

refactor(print-format-builder): remove section border feature and dead code
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/templates/print_format/print_format.html
Due: none

fix: Improve error title (#40475)
  frappe/utils/error.py
Due: server

fix(print-format-builder): cell padding always visible, table layout css, font size cascade
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/templates/print_format/print_format.css
Due: none

fix(postgres): raise a clean error on incompatible field-type change
  frappe/database/postgres/database.py
  frappe/database/postgres/schema.py
Due: server

chore: Added tests and resolved pre-commit
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.js
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.py
  frappe/core/doctype/doctype_settings_map/test_doctype_settings_map.py
  frappe/core/doctype/role/role.js
  frappe/desk/doctype_settings/test_settings_map.py
  frappe/printing/doctype/print_format/print_format.js
  frappe/printing/doctype/print_format/print_format.py
  frappe/public/js/frappe/form/doctype_settings/doctype_settings.js
  frappe/public/js/frappe/form/doctype_settings/list_panel.js
  frappe/public/js/frappe/form/doctype_settings/registry.js
  frappe/public/js/frappe/form/doctype_settings/tabs/global_search.js
  frappe/public/js/frappe/form/doctype_settings/tabs/naming.js
  frappe/public/js/frappe/form/doctype_settings/tabs/permissions.js
  frappe/public/js/frappe/form/doctype_settings/tabs/print_format.js
  frappe/public/js/frappe/ui/permission_dialog.js
Due: server, ui-tests

fix: bugs in impl
  frappe/utils/typing_validations.py
Due: server

fix(print-format-builder): table layout borders, hide empty cols in preview, add grid border-radius
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/templates/print_format/print_format.css
Due: none

fix(print-format-builder): hide empty sections in clean preview
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
Due: none

feat(print-format-builder): field/section styling, unified font size, editable table headers
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/inspector/BoxInput.vue
  frappe/public/js/print_format_builder/components/inspector/ColorInput.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/public/js/print_format_builder/stores/index.js
  frappe/templates/print_format/macros/Data.html
  frappe/templates/print_format/macros/Table.html
  frappe/templates/print_format/print_format.css
  frappe/templates/print_format/print_format.html
  frappe/templates/styles/standard.css
  frappe/www/printview.py
Due: server, ui-tests

fix(print-format-builder): use border-radius-md var, restore grid column divider
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/templates/print_format/print_format.css
Due: none

fix(print-format-builder): add column borders and zero gap in grid layout
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/templates/print_format/print_format.css
  frappe/templates/print_format/print_format.html
Due: none

fix(print-format-builder): restore field hover border in grid, fix font size cascade
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
Due: none

fix(print-format-builder): fix font size cascade and grid dividers
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/templates/print_format/print_format.css
  frappe/templates/print_format/print_format.html
Due: none

fix: improvising doctype setting mapping
  frappe/core/doctype/doctype/doctype.js
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype_settings_map/__init__.py
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.js
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.json
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.py
  frappe/core/doctype/doctype_settings_map/test_doctype_settings_map.py
  frappe/core/doctype/doctype_settings_map_item/__init__.py
  frappe/core/doctype/doctype_settings_map_item/doctype_settings_map_item.json
  frappe/core/doctype/doctype_settings_map_item/doctype_settings_map_item.py
  frappe/desk/doctype_settings/related_settings.py
  frappe/desk/doctype_settings/settings_map.py
  frappe/model/base_document.py
  frappe/model/meta.py
  frappe/patches.txt
  frappe/public/js/frappe/form/doctype_settings/doctype_settings.js
  frappe/public/js/frappe/form/doctype_settings/tabs/settings_map.js
Due: server, ui-tests

fix: generating preview on every update through scheduler
  frappe/printing/doctype/print_format/print_format.py
Due: server

fix: UX improvements and es button migration
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.js
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.json
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.py
  frappe/public/js/frappe/form/doctype_settings/list_panel.js
  frappe/public/js/frappe/form/doctype_settings/registry.js
  frappe/public/js/frappe/form/doctype_settings/tabs/naming.js
  frappe/public/js/frappe/form/doctype_settings/tabs/permissions.js
  frappe/public/js/frappe/form/doctype_settings/tabs/print_format.js
  frappe/public/js/frappe/form/doctype_settings/tabs/settings_map.js
  frappe/public/js/frappe/ui/naming_series.js
  frappe/public/js/frappe/ui/permission_dialog.js
  frappe/public/js/frappe/ui/settings_dialog.js
  frappe/public/scss/desk/doctype_settings.scss
Due: server, ui-tests

fix: network issue in loading handling
  frappe/core/doctype/doctype_settings_map/doctype_settings_map.json
  frappe/core/doctype/role/role.js
  frappe/desk/doctype_settings/settings_map.py
  frappe/printing/doctype/print_format/print_format.js
  frappe/public/js/frappe/form/doctype_settings/registry.js
  frappe/public/js/frappe/form/doctype_settings/tabs/email_template.js
  frappe/public/js/frappe/form/doctype_settings/tabs/global_search.js
  frappe/public/js/frappe/form/doctype_settings/tabs/permissions.js
  frappe/public/js/frappe/form/doctype_settings/tabs/print_format.js
  frappe/public/scss/desk/doctype_settings.scss
Due: server, ui-tests
