Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: check Submission Queue already exists for the record
  frappe/core/doctype/submission_queue/submission_queue.py
Due: server

fix(filters): robust localized numeric parsing & correct null-check in set_values
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

feat(ui): Add dropdown support to primary action button
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

feat: add reset password key verification for enhanced security
  frappe/core/doctype/user/user.py
  frappe/www/update-password.html
Due: server

fix: update reset password key verification response handling
  frappe/core/doctype/user/user.py
  frappe/www/update-password.html
Due: server

Notes added by 'git notes add'
  0361f9798a8ae8984444ff319556c33b8f7b7237
Due: none

Notes added by 'git notes add'
  ed5dd958248af30ecd4749cc14079b67d3ce001e
Due: none

export_users.md
  docs/user_guides/export_users.md
Due: none

feat: add custom invitation email template support
  frappe/core/doctype/user_invitation/user_invitation.py
Due: server

chore: fixed linters
  frappe/core/doctype/user_invitation/user_invitation.py
Due: server

fix: MultiSelectDialog primary filters not triggering on change #33833
  frappe/public/js/frappe/form/multi_select_dialog.js
Due: ui-tests

feat:Added options to Scanner for Dialog
  frappe/public/js/frappe/scanner/index.js
Due: ui-tests

docs: update README with project description
  docs/user_guides/export_users.md
Due: none

feat: [31732] Configure custom path when backing up to S3
  frappe/integrations/doctype/s3_backup_settings/s3_backup_settings.json
  frappe/integrations/doctype/s3_backup_settings/s3_backup_settings.py
Due: server, ui-tests

feat: [31732] Configure custom path when backing up to S3
  frappe/integrations/doctype/s3_backup_settings/s3_backup_settings.py
Due: server

feat: Configure custom path when backing up to S3
  frappe/integrations/doctype/s3_backup_settings/s3_backup_settings.json
Due: ui-tests

feat(web form list column): add options
  frappe/public/js/frappe/web_form/web_form_list.js
  frappe/website/doctype/web_form/web_form.js
  frappe/website/doctype/web_form_list_column/web_form_list_column.json
  frappe/website/doctype/web_form_list_column/web_form_list_column.py
Due: server, ui-tests

feat: add --esbuild-21 argument to bench build command
  esbuild/esbuild.js
  frappe/build.py
  frappe/commands/utils.py
Due: server, ui-tests

feat: add --esbuild-21 argument to bench build command
  esbuild/esbuild.js
Due: ui-tests

refactor: fix type hint
  frappe/utils/data.py
Due: server

test(compare): add test cases for operators "in", "not in" and "is"
  frappe/tests/test_utils.py
Due: server

fix(compare): avoid casting values for special operators
  frappe/utils/data.py
Due: server

docs(compare): add docstring and return type
  frappe/utils/data.py
Due: server

feat: enhance reset password key handling with validation and sanitization
  frappe/core/doctype/user/user.py
Due: server

feat: Add ES2021 Target Support to ESBuild Configuration
  esbuild/esbuild.js
  frappe/build.py
  frappe/commands/utils.py
Due: server, ui-tests

refactor: casting logic
  frappe/utils/data.py
Due: server

chore: bump ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: exclude the refactor from blame
  .git-blame-ignore-revs
Due: none

fix(desktop): manual fixup on top of ruff's changes
  frappe/desk/desktop.py
Due: server

chore: resolve conflicts
  .git-blame-ignore-revs
  frappe/__init__.py
  frappe/auth.py
  frappe/boot.py
  frappe/core/doctype/permission_inspector/permission_inspector.py
  frappe/core/doctype/server_script/server_script.py
  frappe/desk/doctype/dashboard_chart_source/dashboard_chart_source.py
  frappe/desk/form/document_follow.py
  frappe/email/test_email_attachments.py
  frappe/handler.py
  frappe/model/meta.py
  frappe/printing/doctype/print_format/test_print_format.py
  frappe/tests/classes/context_managers.py
  frappe/tests/utils/generators.py
  frappe/types/frappedict.py
  frappe/utils/data.py
  frappe/utils/defaults.py
  pyproject.toml
Due: server

chore: run ruff format
  frappe/commands/redis_utils.py
  frappe/commands/site.py
  frappe/commands/utils.py
  frappe/coverage.py
  frappe/desk/reportview.py
  frappe/email/doctype/email_queue/test_email_queue.py
  frappe/tests/test_api.py
  frappe/tests/test_commands.py
  frappe/tests/test_db_query.py
  frappe/utils/backups.py
  frappe/utils/deprecations.py
  frappe/utils/safe_exec.py
  frappe/www/printview.py
Due: server

chore: run ruff check --fix
  frappe/app.py
  frappe/core/doctype/file/test_file.py
  frappe/core/doctype/system_settings/system_settings.py
  frappe/sessions.py
  frappe/website/website_generator.py
Due: server

feat(Form Builder): show default value in CheckControl
  frappe/public/js/form_builder/FormBuilder.vue
  frappe/public/js/form_builder/components/controls/CheckControl.vue
Due: none

fix(dynamic_links): skip virtual docfields in dynamic link map
  frappe/model/dynamic_links.py
Due: server

fix: try setting request IP from request.remote_addr if possible
  frappe/auth.py
Due: server
