Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: select label `null` breaks form rendereding (#24427)
  frappe/public/js/frappe/form/controls/select.js
Due: ui-tests

fix: set defaults at the highest level interface
  frappe/__init__.py
  frappe/database/__init__.py
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/mariadb/setup_db.py
  frappe/database/postgres/database.py
  frappe/database/postgres/setup_db.py
Due: server

refactor funcions
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/form/save.py
Due: server

feat: add defaults to db superuser prompt
  frappe/database/mariadb/setup_db.py
  frappe/database/postgres/setup_db.py
Due: server

refactor: Start sentry before freezing gc and use in pool
  frappe/utils/background_jobs.py
Due: server

ci: split pre-commit config
  .github/workflows/linters.yml
  .github/workflows/pre-commit.yml
Due: none

ci: split pre-commit config (#24437)
  .github/workflows/linters.yml
  .github/workflows/pre-commit.yml
Due: none

fix: avoid mutating list while iterating over it
  frappe/commands/utils.py
  frappe/core/doctype/comment/comment.py
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/utils/response.py
Due: server

refactor: Start sentry before freezing gc and use in pool (#24436)
  frappe/utils/background_jobs.py
Due: server

fix: avoid mutating list while iterating over it (#24438)
  frappe/commands/utils.py
  frappe/core/doctype/comment/comment.py
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/utils/response.py
Due: server

chore: conflicts
  frappe/utils/response.py
Due: server

chore: silence semgrep warnings for overusing args
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server

fix(setup wizard): allow setting user password for an existing user
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server, ui-tests

fix: add command to indicate use-cached support
  frappe/commands/utils.py
Due: server

chore: more concise code
  frappe/database/mariadb/setup_db.py
  frappe/database/postgres/setup_db.py
Due: server

fix: skip strict user perms for single doctypes
  frappe/permissions.py
Due: server

refactor: set using cached with envvar
  frappe/commands/utils.py
Due: server

test: amend to consistently specify the test env's root db user
  frappe/tests/test_commands.py
Due: server

chore: keep frappe.connect backwards compatible for a while
  frappe/__init__.py
Due: server

fix(decrypt): wrap the yield and cleanup code in try-finally
  frappe/utils/backups.py
Due: server

fix(website): Handle virtual DocTypes webview routing
  frappe/website/page_renderers/document_page.py
Due: server

chore: resolve conflicts
  frappe/permissions.py
Due: server

chore(release): Bumped to Version 14.62.4
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  fb865c7fa539bcf1d6d21ec67c95d22fc3ac8345
Due: none

fix: Handle bad URL
  frappe/public/js/frappe/router.js
Due: ui-tests

fix: avoid changing argument order
  frappe/database/__init__.py
  frappe/database/database.py
Due: server

fix: Handle bad URL (#24456)
  frappe/public/js/frappe/router.js
Due: ui-tests

fix(Build): reinit app_path, avoid get_app_path
  esbuild/esbuild.js
Due: ui-tests

fix: Handle invalid descendant filter
  frappe/model/db_query.py
Due: server
