Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

build(deps): bump pillow
  pyproject.toml
Due: none

fix: play_sound api replay media from beginning for same media (#33190)
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix(data_import): make our link field checks case-insensitive
  frappe/core/doctype/data_import/importer.py
Due: server

chore: invoice translate added
  frappe/translations/nl.csv
Due: none

fix: Swedish translations
  frappe/locale/sv.po
Due: none

fix: reset api_name_set flag after record creation
  frappe/model/document.py
Due: server

fix: always persist all indexes added via db.add_index (#31177)
  frappe/commands/site.py
  frappe/core/doctype/recorder/recorder.py
  frappe/database/mariadb/database.py
  frappe/tests/test_commands.py
Due: server

fix(DX): print execution time after printing query
  frappe/database/database.py
Due: server

fix(data_import): make our link field checks case-insensitive (#33196)
  frappe/core/doctype/data_import/importer.py
Due: server

fix(DX): print execution time after printing query (#33207)
  frappe/database/database.py
Due: server

s3 upload handle
  frappe/hooks.py
  frappe/utils/s3_file_handler.py
Due: server

fix: keep setup_complete in sync with rest
  frappe/core/doctype/installed_applications/installed_applications.py
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server

fix: keep setup_complete in sync with rest (#33215)
  frappe/core/doctype/installed_applications/installed_applications.py
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server

feat: add server script methods to Workflow Action Master
  frappe/workflow/doctype/workflow_action_master/test_workflow_action_master.py
  frappe/workflow/doctype/workflow_action_master/workflow_action_master.json
  frappe/workflow/doctype/workflow_action_master/workflow_action_master.py
  frappe/workflow/doctype/workflow_action_master_task/__init__.py
  frappe/workflow/doctype/workflow_action_master_task/workflow_action_master_task.json
  frappe/workflow/doctype/workflow_action_master_task/workflow_action_master_task.py
Due: server, ui-tests

chore: add Workflow Task to Script Type of Server Scripts
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script.py
Due: server, ui-tests

feat: add method to execute workflow tasks
  frappe/core/doctype/server_script/server_script.py
Due: server

feat: execute tasks in the background on state transition
  frappe/model/workflow.py
Due: server

chore: add description for Workflow Tasks
  frappe/core/doctype/server_script/server_script.js
Due: ui-tests

Revert "Merge pull request #32327 from akhilnarang/allow-passing-name-in-api"
  frappe/api/v1.py
  frappe/api/v2.py
  frappe/model/document.py
Due: server

feat(api/v2): set name if passed when creating document
  frappe/api/v2.py
Due: server

chore: resolve conflicts
  frappe/api/v2.py
Due: server

fix: make Workflow Action Master Tasks not mandatory
  frappe/workflow/doctype/workflow_action_master/workflow_action_master.json
Due: ui-tests

feat(get-events): extend dynamic link filtering to support more doctypes
  frappe/desk/doctype/event/event.py
Due: server

fix: typo_remember
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

fix: left_right_translatability
  frappe/desk/doctype/form_tour_step/form_tour_step.json
  frappe/printing/doctype/letter_head/letter_head.json
  frappe/website/doctype/web_page/web_page.json
Due: ui-tests

fix: space
  frappe/website/doctype/web_page/web_page.json
Due: ui-tests

s3 auto setup bucket
  frappe/patches.txt
  frappe/patches/v15_0/setup_s3_auto_creation.py
  frappe/utils/s3_auto_setup.py
  frappe/utils/s3_file_handler.py
Due: server

fix: drop method-related code from whitelist
  frappe/__init__.py
Due: server

fix: find message id from in_reply_to field in communication
  frappe/email/doctype/email_queue/email_queue.py
Due: server

fix create s3 bucket
  frappe/hooks.py
  frappe/patches.txt
  frappe/patches/v15_0/setup_s3_auto_creation.py
  frappe/utils/s3_auto_setup.py
  frappe/utils/s3_site_setup.py
Due: server

fix add config s3
  frappe/utils/s3_site_setup.py
Due: server

fix add site_config s3
  frappe/utils/s3_auto_setup.py
Due: server

fix(router): sanitize private workspace route in msgprint
  frappe/public/js/frappe/router.js
Due: ui-tests

fix: Serbian (Latin) translations
  frappe/locale/sr_CS.po
Due: none

fix: Serbian (Cyrillic) translations
  frappe/locale/sr.po
Due: none

chore: add translation function to file_backup_notification template
  frappe/templates/emails/file_backup_notification.html
Due: none

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
