Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(response): harden download_backup
  frappe/utils/response.py
Due: server

feat(utils): add util to ensure sandboxing
  frappe/core/doctype/file/utils.py
Due: server

chore: resolve conflicts
  frappe/desk/form/test_form.py
Due: server

feat: register AI module in frappe
  frappe/ai/__init__.py
  frappe/ai/doctype/__init__.py
  frappe/ai/doctype/ai_model/__init__.py
  frappe/modules.txt
Due: server

feat(ai-model): add AI Model doctype schema
  frappe/ai/doctype/ai_model/ai_model.json
Due: ui-tests

build(deps): add litellm>=1.85.0,<2
  pyproject.toml
Due: none

feat(ai-model): add controller with validation and test_connection
  frappe/ai/doctype/ai_model/ai_model.py
Due: server

feat(ai-model): add Test Connection form button
  frappe/ai/doctype/ai_model/ai_model.js
Due: ui-tests

chore(release): Bumped to Version 15.108.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  19407482519b46af94b1c80bf4f544ab4dbc8e9c
Due: none

feat: store last sidebar shown
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: ui-tests

fix(ai-model): make api_key optional for local providers
  frappe/ai/doctype/ai_model/ai_model.json
  frappe/ai/doctype/ai_model/ai_model.py
Due: server, ui-tests

feat(ai): add Model client wrapping litellm
  frappe/ai/__init__.py
  frappe/ai/model.py
Due: server

test(ai): add Model unit tests
  frappe/ai/test_model.py
Due: server

fix: add padding block
  frappe/public/scss/common/controls.scss
Due: none

fix(print): namespace meta-loaded print formats in client locals
  frappe/desk/form/meta.py
  frappe/printing/page/print/print.js
  frappe/printing/page/print_format_builder/print_format_builder.js
  frappe/public/js/frappe/model/meta.js
  frappe/public/js/frappe/views/communication.js
Due: server, ui-tests

chore: add exclude-newer option for uv tool in pyproject.toml
  pyproject.toml
Due: none

fix(print): keep meta print format cache fresh
  frappe/printing/page/print_format_builder/print_format_builder.js
  frappe/public/js/frappe/model/sync.js
Due: ui-tests

fix(defaults): convert defvalue to int if it represents an integer
  frappe/defaults.py
Due: server

fix: skip exact duplicates before checking list membership
  frappe/defaults.py
Due: server

test: default conversion
  frappe/tests/test_defaults.py
Due: server

refactor: add is_enabled method to check user default settings
  frappe/public/js/frappe/defaults.js
Due: ui-tests

refactor: use is_enabled instead of manual casting
  frappe/core/doctype/user/user.js
  frappe/email/doctype/email_queue/email_queue.js
  frappe/email/doctype/email_queue/email_queue_list.js
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/form/controls/base_control.js
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/form/footer/base_timeline.js
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/model/model.js
  frappe/public/js/frappe/ui/capture.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/utils/number_format.js
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

refactor(ai): move model tests to frappe/tests
  frappe/tests/test_ai_model.py
Due: server

fix(ai-model): sync optional api_key type hint and clean up doctype defaults
  frappe/ai/doctype/ai_model/ai_model.json
  frappe/ai/doctype/ai_model/ai_model.py
  frappe/ai/doctype/ai_model/test_ai_model.py
Due: server, ui-tests

feat(ai): add @tool decorator with type-hint-driven schema generation
  frappe/ai/__init__.py
  frappe/ai/tool.py
Due: server

test(ai): add tool decorator and schema generation tests
  frappe/tests/test_ai_tool.py
Due: server

fix: hide signup account state and rate limit requests
  frappe/core/doctype/user/user.py
Due: server

fix: align signup hardening behavior
  frappe/core/doctype/user/test_user.py
  frappe/core/doctype/user/user.py
Due: server

fix: limit to 500 per minute
  frappe/core/doctype/user/user.py
Due: server

test: use same error message
  frappe/core/doctype/user/test_user.py
Due: server

ci: Asset test should be absolute
  .github/helper/compare_default_js_bundle_size.py
Due: server

fix(multi_select_dialog): apply array setter default on initial search
  frappe/public/js/frappe/form/multi_select_dialog.js
Due: ui-tests

chore: add exclude-newer option for uv tool in pyproject.toml (#39415)
  pyproject.toml
Due: none

perf: lazy-load leaflet bundle
  frappe/public/js/frappe/form/controls/geolocation.js
  frappe/public/js/frappe/views/map/map_view.js
  frappe/public/js/leaflet.bundle.js
  frappe/public/js/libs.bundle.js
  frappe/public/scss/desk.bundle.scss
  frappe/public/scss/leaflet.bundle.scss
Due: ui-tests

fix(multi_select_dialog): apply array setter default on initial search (#39419)
  frappe/public/js/frappe/form/multi_select_dialog.js
Due: ui-tests

feat(ai): add Agent class with tool-call loop and input validation
  frappe/ai/__init__.py
  frappe/ai/agent.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
