Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

feat: give higher priority to minor versions
  frappe/utils/change_log.py
Due: server

feat: Keep certain keys persistent in cache
  frappe/__init__.py
  frappe/hooks.py
  frappe/tests/test_deferred_insert.py
Due: server

chore: conflicts
  frappe/tests/test_utils.py
  frappe/utils/change_log.py
  pyproject.toml
Due: server

chore: drop git url parse dependency
  pyproject.toml
Due: none

style: whitespace in social_login_key.json (#26317)
  frappe/integrations/doctype/social_login_key/social_login_key.json
Due: ui-tests

test: password sanitization test fails because of lineno
  frappe/tests/test_utils.py
Due: server

fix: sync translations from crowdin (#26120)
  frappe/locale/bs.po
  frappe/locale/de.po
  frappe/locale/es.po
  frappe/locale/fa.po
  frappe/locale/tr.po
Due: none

fix: Add some strings for translation (#26322)
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server

Added comment to the child-rows remove-events in customize_form.js
  frappe/custom/doctype/customize_form/customize_form.js
Due: ui-tests

chore: update POT file
  frappe/locale/main.pot
Due: none

fix: Persian translations
  frappe/locale/fa.po
Due: none

fix: new and add child button for empty tree doctype
  frappe/desk/treeview.py
  frappe/public/js/frappe/views/treeview.js
Due: server, ui-tests

test: smtp4dev API changes
  frappe/tests/test_email.py
Due: server

test: smtp4dev API changes (#26330)
  frappe/tests/test_email.py
Due: server

feat: allow linking of request http errors
  frappe/integrations/utils.py
Due: server

fix: Apply configured perms on address list
  frappe/contacts/doctype/address/address.py
Due: server

fix: Apply configured perms on address list (#26334)
  frappe/contacts/doctype/address/address.py
Due: server

test: increase threshold for perf test (#26316)
  frappe/tests/test_perf.py
Due: server

perf: Reduce 1 redis call while dumping monitor logs
  frappe/monitor.py
  frappe/utils/redis_wrapper.py
Due: server

perf: avoid two layer cache of timezone
  frappe/utils/data.py
Due: server

perf: Reduce 1 redis call while dumping monitor logs (#26337)
  frappe/monitor.py
  frappe/utils/redis_wrapper.py
Due: server

perf: cache site config for ~5 minutes
  frappe/__init__.py
Due: server

perf: avoid two layer cache of timezone (#26340)
  frappe/utils/data.py
Due: server

Update monitor.py
  frappe/monitor.py
Due: server

Update data.py
  frappe/utils/data.py
Due: server

fix: QB name in error message
  frappe/database/database.py
Due: server

fix: QB name in error message (#26345)
  frappe/database/database.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
