Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(desk): add permission checks to toggle_like and mark_as_seen
  frappe/desk/doctype/note/note.py
  frappe/desk/like.py
Due: server

refactor: Update dynamic link resolution logic and improve description handling
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

refactor(data-import): improve data handling and UI reset functionality
  frappe/core/doctype/data_import/data_import.js
  frappe/core/doctype/data_import/importer.py
  frappe/core/doctype/data_import/value_mapping.py
Due: server, ui-tests

fix(file_uploader): use optional chaining for frm.attachments.max_reached
  frappe/public/js/frappe/file_uploader/file_uploader.bundle.js
Due: ui-tests

style(data-import): remove unused CSS for disabled checkboxes in value mappings
  frappe/core/doctype/data_import/data_import.css
Due: none

fix: onboarding tour boot defaults never applied due to comparison typo
  frappe/public/js/onboarding_tours/onboarding_tours.js
Due: ui-tests

fix: ad cannot_delete_rows instead of js style hacks
  frappe/core/doctype/data_import/data_import.js
Due: ui-tests

fix(phone): fix RTL flag picker popover position
  frappe/public/js/frappe/form/controls/phone.js
  frappe/public/scss/common/phone_picker.scss
Due: ui-tests

fix(mobile): show sidebar toggle button
  frappe/public/scss/desk/sidebar.scss
Due: none

feat(FormLayout): add core layout components and meta builder
  ui/src/components/FormLayout/FormLayout.vue
  ui/src/components/FormLayout/FormLayoutColumn.vue
  ui/src/components/FormLayout/FormLayoutField.vue
  ui/src/components/FormLayout/FormLayoutSection.vue
  ui/src/components/FormLayout/buildLayoutFromMeta.ts
  ui/src/components/FormLayout/index.ts
  ui/src/components/FormLayout/stories/FormLayout.story.vue
  ui/src/components/FormLayout/tests/buildLayoutFromMeta.test.ts
  ui/src/components/FormLayout/types.ts
  ui/src/index.ts
Due: none

feat(FormLayout): add useDoctypeLayout composable
  ui/src/components/FormLayout/stories/DoctypeLayout.story.vue
  ui/src/components/FormLayout/tests/useDoctypeLayout.test.ts
  ui/src/components/FormLayout/useDoctypeLayout.ts
Due: none

feat(FormLayout): add field type registry and field components
  ui/src/components/FormLayout/fieldTypes.ts
  ui/src/components/FormLayout/fields/CheckField.vue
  ui/src/components/FormLayout/fields/DateField.vue
  ui/src/components/FormLayout/fields/DatetimeField.vue
  ui/src/components/FormLayout/fields/LinkField.vue
  ui/src/components/FormLayout/fields/NumberField.vue
  ui/src/components/FormLayout/fields/PasswordField.vue
  ui/src/components/FormLayout/fields/SelectField.vue
  ui/src/components/FormLayout/fields/TextField.vue
  ui/src/components/FormLayout/fields/TextareaField.vue
  ui/src/components/FormLayout/fields/TimeField.vue
  ui/src/components/FormLayout/tests/fieldTypes.test.ts
  ui/src/components/FormLayout/useFieldTypes.ts
Due: none

feat(FormLayout): add conditional sections and collapsible UI
  ui/src/components/FormLayout/CollapsibleSection.vue
  ui/src/components/FormLayout/stories/StaticSchema.story.vue
Due: none

fix: decide globals in get_jenv
  frappe/utils/jinja.py
Due: server

feat: Redis-less Frappe for developer onboarding
  .github/actions/setup/action.yml
  .github/workflows/_base-redisless-smoke.yml
  .github/workflows/server-tests.yml
  .gitignore
  frappe/commands/test_commands.py
  frappe/commands/utils.py
  frappe/commands/wizard.py
  frappe/realtime.py
  frappe/tests/test_background_jobs_inmemory.py
  frappe/tests/test_caching.py
  frappe/tests/test_realtime_inmemory.py
  frappe/utils/background_jobs.py
  frappe/utils/memory_cache.py
  frappe/utils/redis_wrapper.py
  frappe/utils/scheduler.py
  realtime/index.js
  realtime/middlewares/authenticate.js
Due: server, ui-tests

ci: allow exec_safe state in CI workflows
  .github/actions/setup/action.yml
Due: none

feat(FormLayout): evaluate depends_on for conditional visibility
  ui/src/components/FormLayout/FormLayout.vue
  ui/src/components/FormLayout/buildLayoutFromMeta.ts
  ui/src/components/FormLayout/dependsOn.ts
  ui/src/components/FormLayout/fieldTypes.ts
  ui/src/components/FormLayout/fields/CheckField.vue
  ui/src/components/FormLayout/fields/DateField.vue
  ui/src/components/FormLayout/fields/DatetimeField.vue
  ui/src/components/FormLayout/fields/LinkField.vue
  ui/src/components/FormLayout/fields/NumberField.vue
  ui/src/components/FormLayout/fields/PasswordField.vue
  ui/src/components/FormLayout/fields/SelectField.vue
  ui/src/components/FormLayout/fields/TextField.vue
  ui/src/components/FormLayout/fields/TextareaField.vue
  ui/src/components/FormLayout/fields/TimeField.vue
  ui/src/components/FormLayout/index.ts
  ui/src/components/FormLayout/resolveLayout.ts
  ui/src/components/FormLayout/stories/StaticSchema.story.vue
  ui/src/components/FormLayout/tests/buildLayoutFromMeta.test.ts
  ui/src/components/FormLayout/tests/dependsOn.test.ts
  ui/src/components/FormLayout/tests/resolveLayout.test.ts
  ui/src/components/FormLayout/types.ts
Due: none

feat: checkpoint non-shadow dom approach
  .gitignore
  PLAN-FRAPPE-UI-DESK.md
  esbuild/build-islands.mjs
  esbuild/esbuild.js
  esbuild/island-assets.js
  frappe/public/js/frappe/ui/vue_island.js
  frappe/public/js/frappe_ui_poc/frappe_ui_poc.bundle.css
  frappe/public/js/frappe_ui_poc/frappe_ui_poc.bundle.js
  frappe/public/js/islands/frappe_ui_poc/FrappeUIPoc.vue
  frappe/public/js/islands/frappe_ui_poc/frappe_ui_poc.bundle.css
  frappe/public/js/islands/frappe_ui_poc/frappe_ui_poc.bundle.js
  package.json
  tailwind.config.desk-islands.mjs
  yarn.lock
Due: ui-tests

refactor: use shadow dom approach
  PLAN-FRAPPE-UI-DESK.md
  esbuild/build-islands.mjs
  esbuild/esbuild.js
  esbuild/lucide-icons.js
  esbuild/postcss-frappe-ui-important.js
  esbuild/postcss-root-to-host.js
  frappe/desk/page/frappe_ui_poc/frappe_ui_poc.js
  frappe/public/css/frappe-ui-scoped-preflight.css
  frappe/public/js/frappe/ui/vue_island.js
  frappe/public/js/islands/frappe_ui_poc/FrappeUIPoc.vue
  frappe/public/js/islands/frappe_ui_poc/frappe_ui_poc.bundle.css
  frappe/public/js/islands/frappe_ui_poc/frappe_ui_poc.bundle.js
  tailwind.config.desk-islands.mjs
Due: ui-tests

test: add test for globals override
  frappe/tests/test_safe_exec.py
Due: server

refactor: replace deep-imports with barrel file imports
  esbuild/build-islands.mjs
  esbuild/esbuild.js
  frappe/public/js/islands/frappe_ui_poc/FrappeUIPoc.vue
  package.json
  yarn.lock
Due: ui-tests

fix(print-format-builder): mark letterhead dirty on all inspector mutations
  frappe/public/js/print_format_builder/components/inspector/LetterHeadZoneInspector.vue
Due: none

fix(print-format-builder): move field drag handle to left edge, show remove button in preview
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
Due: none

fix(print-format-builder): unified action pills for fields and sections in preview mode
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
Due: none

fix(print-format-builder): merge section style into properties, remove logic tab
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

fix(print-format-builder): remove tabs and format/behavior placeholders from field inspector
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

fix(print-format-builder): prevent source display from overflowing inspector panel
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

fix(print-format-builder): clear letterhead selection when selecting section from outline
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
Due: none

fix(print-format-builder): remove non-functional inline show label option
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

fix: copy font styles from frappe-ui
  frappe/public/js/islands/frappe_ui_poc/frappe_ui_poc.bundle.css
Due: none

feat: update POC page with better examples
  frappe/public/js/islands/frappe_ui_poc/FrappeUIPoc.vue
Due: none

refactor: remove unnecessary plugin
  esbuild/esbuild.js
Due: ui-tests

chore(print-format-builder): apply Espresso design tokens across all components
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
  frappe/public/js/print_format_builder/components/inspector/ConfigureColumns.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
  frappe/public/js/print_format_builder/components/inspector/LetterHeadZoneInspector.vue
Due: none

fix(print-format-builder): compact inspector header, remove all-caps eyebrow
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

fix(print-format-builder): remove broken alert-circle icon from lh notice
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

feat(print-format-builder): replace add-column select with searchable autocomplete
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

refactor(print-format-builder): extract autocomplete into reusable component
  frappe/public/js/print_format_builder/components/Autocomplete.vue
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

fix: adapt to new keys in frappe.init() and print_language
  frappe/__init__.py
  frappe/translate.py
Due: server

fix(print-format-builder): reopen autocomplete dropdown on input after selection
  frappe/public/js/print_format_builder/components/Autocomplete.vue
Due: none

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
