Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

chore: update translations
  frappe/locale/af.po
  frappe/locale/fi.po
  frappe/locale/mn.po
  frappe/locale/ta.po
  frappe/locale/zh_TW.po
Due: none

feat: `security.txt` (#38530)
  frappe/app.py
  frappe/core/doctype/security_settings/__init__.py
  frappe/core/doctype/security_settings/security_settings.js
  frappe/core/doctype/security_settings/security_settings.json
  frappe/core/doctype/security_settings/security_settings.py
  frappe/core/doctype/security_settings/security_settings_alert.py
  frappe/core/doctype/security_settings/test_security_settings.py
  frappe/core/doctype/security_settings_contact/__init__.py
  frappe/core/doctype/security_settings_contact/security_settings_contact.json
  frappe/core/doctype/security_settings_contact/security_settings_contact.py
  frappe/core/doctype/security_settings_language/__init__.py
  frappe/core/doctype/security_settings_language/security_settings_language.json
  frappe/core/doctype/security_settings_language/security_settings_language.py
  frappe/hooks.py
  frappe/templates/emails/security_txt_expiry_alert.html
Due: server, ui-tests

chore: fix conflicts
  frappe/app.py
  frappe/hooks.py
Due: server

fix: escape html for letterhead footer and header
  frappe/boot.py
Due: server

test: use `unittest.TestCase` class
  frappe/core/doctype/security_settings/test_security_settings.py
Due: server

fix(security-settings): newline at end and utc (#38613)
  frappe/core/doctype/security_settings/security_settings.py
  frappe/core/doctype/security_settings/test_security_settings.py
Due: server

chore: fix conflicts
  frappe/core/doctype/security_settings/test_security_settings.py
Due: server

fix: French translations
  frappe/locale/fr.po
Due: none

fix: Arabic translations
  frappe/locale/ar.po
Due: none

fix: Czech translations
  frappe/locale/cs.po
Due: none

fix: Danish translations
  frappe/locale/da.po
Due: none

fix: Italian translations
  frappe/locale/it.po
Due: none

fix: Polish translations
  frappe/locale/pl.po
Due: none

fix: Portuguese translations
  frappe/locale/pt.po
Due: none

fix: Slovenian translations
  frappe/locale/sl.po
Due: none

fix: Turkish translations
  frappe/locale/tr.po
Due: none

fix: Chinese Simplified translations
  frappe/locale/zh.po
Due: none

fix: Vietnamese translations
  frappe/locale/vi.po
Due: none

fix: Portuguese, Brazilian translations
  frappe/locale/pt_BR.po
Due: none

fix: Indonesian translations
  frappe/locale/id.po
Due: none

fix: Persian translations
  frappe/locale/fa.po
Due: none

fix: Thai translations
  frappe/locale/th.po
Due: none

fix: Burmese translations
  frappe/locale/my.po
Due: none

fix: Norwegian Bokmal translations
  frappe/locale/nb.po
Due: none

chore: fix conflicts
  frappe/core/doctype/security_settings/security_settings.py
  frappe/core/doctype/security_settings/test_security_settings.py
Due: server

fix: only escape script tag
  frappe/boot.py
  frappe/utils/html_utils.py
Due: server

fix: Spanish translations
  frappe/locale/es.po
Due: none

fix: German translations
  frappe/locale/de.po
Due: none

fix: Hungarian translations
  frappe/locale/hu.po
Due: none

fix: Dutch translations
  frappe/locale/nl.po
Due: none

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
