Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(print): typst support for static text, block linked and summary
  frappe/public/js/print_format_builder/utils.js
  frappe/utils/typst_emitter.py
Due: server, ui-tests

refactor(pfb): dedupe inspector rows, table macros and eval logging
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/public/js/print_format_builder/components/editor/FieldPreviewSummary.vue
  frappe/public/js/print_format_builder/components/inspector/FieldPropertiesPanel.vue
  frappe/public/js/print_format_builder/components/inspector/RepeaterFieldInspector.vue
  frappe/public/js/print_format_builder/components/inspector/SectionPropertiesPanel.vue
  frappe/public/js/print_format_builder/components/inspector/SelectRow.vue
  frappe/public/js/print_format_builder/components/inspector/TableFieldInspector.vue
  frappe/public/js/print_format_builder/composables/useDoctypeFields.js
  frappe/public/js/print_format_builder/inspector.css
  frappe/public/js/print_format_builder/utils.js
  frappe/templates/print_format/macros.html
  frappe/templates/print_format/macros/Data.html
  frappe/templates/print_format/macros/LinkedField.html
  frappe/templates/print_format/macros/SummaryTable.html
  frappe/templates/print_format/macros/Table.html
  frappe/utils/print_format_generator.py
  frappe/utils/typst_emitter.py
Due: server, ui-tests

chore: resolve backport conflict in calendar.py
  frappe/desk/calendar.py
  frappe/desk/test_calendar.py
Due: server

fix(contact): enforce one primary contact per party
  frappe/contacts/doctype/contact/contact.py
Due: server

test(contact): cover primary contact uniqueness
  frappe/contacts/doctype/contact/test_contact.py
Due: server

fix: Mongolian translations (#42247)
  frappe/locale/mn.po
Due: none

Merge pull request #42246 from frappe/l10n_develop
  frappe/locale/mn.po
Due: none

fix: Mongolian translations (#42245)
  frappe/locale/mn.po
Due: none

fix: attach files linked by url to attach fields
  frappe/core/doctype/file/utils.py
Due: server

chore: update POT file
  frappe/locale/main.pot
Due: none

style: fix prettier formatting in meta.js
  frappe/public/js/frappe/model/meta.js
Due: ui-tests

docs(frontend): add the desk layer's design philosophy
  frontend/PHILOSOPHY.md
Due: none

fix(rounding): skip epsilon correction when it exceeds the rounding step
  frappe/public/js/frappe/utils/number_format.js
  frappe/utils/data.py
Due: server, ui-tests

test(rounding): cover epsilon inflation and rounding idempotence
  frappe/tests/test_utils.py
Due: server

docs(frontend): add workspace notes for the desk v2 shell
  frontend/CLAUDE.md
Due: none

docs(frontend): add the desk layer's glossary
  frontend/CONTEXT.md
Due: none

fix(rounding): apply epsilon correction fix to FormLayout number formatter
  ui/src/components/FormLayout/formatNumber.ts
Due: none

test(rounding): cover epsilon inflation in FormLayout formatter
  ui/src/components/FormLayout/tests/formatNumber.test.ts
Due: none

feat(printing): render letter head Jinja previews
  frappe/printing/doctype/letter_head/letter_head.js
  frappe/printing/doctype/letter_head/letter_head.py
  frappe/printing/doctype/letter_head/test_letter_head.py
  frappe/public/js/frappe/form/controls/html_editor.js
Due: server, ui-tests

docs(frontend): stop DP1 claiming components that have not landed
  frontend/PHILOSOPHY.md
Due: none

feat(desk-v2): address every doctype under every prefix, with a module segment
  frappe/shell/boot.py
  frappe/shell/doctypes.py
  frappe/shell/links.py
  frappe/shell/registry.py
  frappe/tests/test_shell.py
  frappe/tests/test_utils.py
  frappe/utils/data.py
  frontend/src/addresses.ts
  frontend/src/boot.ts
  frontend/src/main.ts
  frontend/src/navigation.ts
  frontend/src/pages/Home.vue
  frontend/src/pages/List.vue
  frontend/src/pages/Module.vue
  frontend/src/pages/Record.vue
  frontend/src/public.ts
  frontend/src/router/generated.ts
  frontend/src/router/index.ts
  frontend/src/router/routeFor.ts
  frontend/src/shell/AppRail.vue
  frontend/vite.config.js
Due: server, ui-tests

docs(frontend): correct why prettier must not touch .ts here
  frontend/CLAUDE.md
Due: none

fix(ui): Detach duration picker to avoid css issue (#41109)
  cypress/integration/control_duration.js
  frappe/public/js/frappe/form/controls/duration.js
  frappe/public/scss/common/controls.scss
Due: ui-tests

fix(ui): anchor duration picker to the field it was opened from
  frappe/public/js/frappe/form/controls/duration.js
Due: ui-tests

fix(desk-v2): read navigation permissions in one pass, not per doctype
  frappe/shell/doctypes.py
  frappe/tests/test_shell.py
  frontend/src/addresses.ts
  frontend/src/boot.ts
  frontend/src/main.ts
  frontend/src/navigation.ts
  frontend/src/public.ts
  frontend/src/router/generated.ts
  frontend/src/router/index.ts
  frontend/src/router/routeFor.ts
Due: server

fix(desk-v2): clear module navigation before fetching, and say it is loading
  frontend/src/navigation.ts
  frontend/src/pages/Home.vue
  frontend/src/pages/Module.vue
  frontend/src/shell/AppRail.vue
Due: none

docs(frontend): correct the default prefix derivation
  frontend/CONTEXT.md
Due: none

test(desk-v2): assert the address tests against frappe alone
  frappe/tests/test_shell.py
Due: server

fix(desk-v2): offer doctypes reached only by sharing, and show a failed fetch
  frappe/shell/doctypes.py
  frappe/tests/test_shell.py
  frontend/src/navigation.ts
  frontend/src/pages/Module.vue
  frontend/src/shell/AppRail.vue
Due: server

fix(desk-v2): report a failed navigation fetch on the app home too
  frontend/src/pages/Home.vue
Due: none

fix: Swedish translations
  frappe/locale/sv.po
Due: none

fix(sms_settings): add roles table to sms settings
  frappe/core/doctype/sms_settings/sms_settings.json
  frappe/core/doctype/sms_settings/sms_settings.py
  frappe/email/doctype/notification/notification.py
Due: server, ui-tests

test(sms_settings): add test to check perms. are now respected
  frappe/core/doctype/sms_settings/test_sms_settings.py
Due: server

fix: add patch
  frappe/patches.txt
  frappe/patches/v16_0/seed_sms_settings_allowed_roles.py
Due: server
