Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

chore: resolve backport conflicts
  frappe/automation/sidebar/automation/automation.json
  frappe/printing/sidebar/printing/printing.json
Due: ui-tests

feat: add support for right icon in dropdown menu
  frappe/core/page/component_explorer/component_explorer.js
  frappe/public/css/espresso/components/menu.css
  frappe/public/js/frappe/ui/components/menu.js
Due: ui-tests

feat(ui): link to the DocType's documentation from list, board and form menus
  frappe/public/js/frappe/form/toolbar.js
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/ui/page.js
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
Due: ui-tests

fix(search): use the Espresso empty state in global search and align it with the input
  frappe/public/js/frappe/ui/toolbar/search.js
  frappe/public/scss/desk/global_search.scss
Due: ui-tests

fix(ui): keep a dropdown or popover trigger pressed while its menu is open
  frappe/public/css/espresso/components/button.css
Due: none

fix(ui): mark the badge's label span as the pill label in tags and email pills
  frappe/public/js/frappe/ui/tags.js
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

fix(ui): restore the explorer's dropdown group title the UI tests look for
  frappe/core/page/component_explorer/component_explorer.js
Due: ui-tests

Merge pull request #35840 from sokumon/remove-sidebars
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
Due: server

fix: Limit meme types on image fields (#36800)
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/form/controls/attach.js
  frappe/public/js/frappe/form/controls/attach_image.js
Due: ui-tests

Merge pull request #36740 from surajshetty3416/fix-grid-reordering-issue
  frappe/public/js/frappe/model/sync.js
Due: ui-tests

Merge pull request #36604 from GursheenK/fetch-title-for-link-title
  frappe/public/js/frappe/model/model.js
Due: ui-tests

fix: make the phone code vertically center (#36614)
  frappe/public/scss/common/phone_picker.scss
Due: none

fix(ui): render checkbox label in pick columns correctly (#36839)
  frappe/public/scss/desk/role_editor.scss
Due: none

fix: remove reload file button (#37067)
  frappe/public/js/frappe/form/controls/attach.js
Due: ui-tests

Merge pull request #36865 from sokumon/delete-message
  frappe/desk/reportview.py
Due: server

Merge pull request #36730 from frappe/portal-search
  frappe/templates/includes/list/filters.html
  frappe/templates/includes/list/list.html
  frappe/www/portal.py
Due: server

Merge pull request #36580 from safwansamsudeen/force-value-reload
  frappe/public/js/frappe/form/controls/base_control.js
Due: ui-tests

fix: improve scroll-to-top button (#36400)
  frappe/public/js/frappe/form/footer/footer.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/scss/desk/form.scss
Due: ui-tests

fix(ux): add currency symbol handling in editable grid rows (#36818)
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/scss/common/grid.scss
Due: ui-tests

Merge pull request #36143 from claytonlin1110/fix/preserve-active-tab-after-save
  frappe/public/js/form_builder/store.js
Due: ui-tests

Merge pull request #35214 from Himanshugijawara/feat/mentions-show-email
  frappe/desk/search.py
  frappe/public/js/frappe/form/controls/text_editor.js
Due: server, ui-tests

Merge pull request #36515 from the-bokya/better-data-field-formatting
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

Merge pull request #36567 from claytonlin1110/fix/user-roles-section-new-user
  frappe/core/doctype/user/user.js
Due: ui-tests

fix(file-upload): add support for blocking unsupported file types in file uploader (#36736)
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/form/controls/attach.js
  frappe/public/js/frappe/form/controls/attach_image.js
Due: ui-tests

fix: Translate dashboard chart labels (fixes #35941) (#35952)
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/public/js/frappe/views/dashboard/dashboard_view.js
  frappe/public/js/frappe/widgets/widget_dialog.js
Due: server, ui-tests

Merge pull request #35846 from frappe/form-indicators
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

Merge pull request #36581 from safwansamsudeen/awesomebar-number-format
  cypress/integration/awesome_bar.js
  frappe/public/js/frappe/form/controls/int.js
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/js/frappe/utils/number_format.js
Due: ui-tests

fix: remove duplicate render calls (#37059)
  frappe/public/js/frappe/views/file/file_view.js
Due: ui-tests

Merge pull request #36657 from GursheenK/enter-blur-event-for-quick-entry
  frappe/public/js/frappe/ui/field_group.js
Due: ui-tests

Merge pull request #36682 from GursheenK/link-filters-not-working-for-list-quick-filters
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

fix: deprecated initHighlighting (#36938)
  frappe/website/js/website.js
Due: ui-tests

fix: re-upload with different name maintains original name (#37313)
  frappe/core/doctype/file/file.js
  frappe/utils/response.py
Due: server, ui-tests

fix: duplicate last quoted messagg (#37240)
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

fix: activity toggle render (#36974)
  frappe/public/js/frappe/form/footer/form_timeline.js
Due: ui-tests

Merge pull request #37385 from safwansamsudeen/file-cache
  frappe/core/doctype/file/file.js
Due: ui-tests

Merge pull request #37126 from safwansamsudeen/fetch-all-gantt-fields
  frappe/public/js/frappe/views/gantt/gantt_view.js
  frappe/public/scss/desk/frappe_gantt.scss
Due: ui-tests

Merge pull request #37518 from safwansamsudeen/session-defaults-read-only
  frappe/public/js/frappe/model/create_new.js
Due: ui-tests

Merge pull request #36859 from mendozal/fix-float-parse-number-format
  frappe/public/js/frappe/form/controls/float.js
  frappe/public/js/frappe/form/controls/int.js
Due: ui-tests

fix: ensure import log is only used for persisted Data Import records (#36999)
  frappe/core/doctype/data_import/importer.py
Due: server

fix(grid): saving of values on navigation using arrow keys (#37243)
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests
