Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(island): a chart desk could not draw reads as an empty state, and the build error goes to the console
  frappe/public/js/frappe/widgets/chart_widget.js
Due: ui-tests

fix(island): an overlay renders in the top layer, so no ancestor's stacking context can trap it
  ui/README.md
  ui/island/mount.js
Due: ui-tests

fix: close inherited descriptors before the re-exec
  frappe/runner.py
Due: server

test: cover the descriptors that reach the next generation
  frappe/tests/test_runner.py
Due: server

fix(form builder): dispose old undo history on refetch
  frappe/public/js/form_builder/store.js
Due: ui-tests

chore: vouch for humedi
  .github/VOUCHED.td
Due: none

chore: vouch for humedi (#42744)
  .github/VOUCHED.td
Due: none

fix(Web Form): drop the extra form builder fetch after save
  frappe/website/doctype/web_form/web_form.js
Due: ui-tests

feat(Web Form): add Select Mandatory to the Get Fields picker
  frappe/website/doctype/web_form/web_form.js
Due: ui-tests

fix(form builder): list Table MultiSelect fields in the Web Form picker
  frappe/public/js/form_builder/store.js
Due: ui-tests

feat(Web Form): replace the Get Fields dump with a field picker
  cypress/integration/web_form.js
  cypress/integration/web_form_builder.js
  frappe/website/doctype/web_form/web_form.js
Due: ui-tests

refactor(print): replace postprocess_pdf with run_after_print_hook for PDF handling
  frappe/utils/print_format_generator.py
  frappe/utils/print_utils.py
  frappe/utils/test_print_utils.py
Due: server

fix(form builder): hide the preview button in Web Form
  frappe/public/js/form_builder/form_builder.bundle.js
Due: ui-tests

chore(web_form): add description to Is Standard field
  frappe/website/doctype/web_form/web_form.json
Due: ui-tests

refactor: misc fixes, better error handling, improved function signature and argument propagation
  frappe/utils/redis_wrapper.py
Due: server

refactor: site_cache leveraging existing client_cache
  frappe/utils/caching.py
Due: server

fix(report): apply child user permissions to report rows
  frappe/desk/query_report.py
  frappe/permissions.py
Due: server

test(report): cover child user permissions in report rows
  frappe/core/doctype/report/test_report.py
Due: server

fix: more accurate comparsion
  frappe/utils/caching.py
Due: server

fix(postgres): cast autoincrement parent name in child permission subquery
  frappe/database/query.py
Due: server

test(postgres): cover autoincrement parents with child user permissions
  frappe/tests/test_query.py
Due: server

fix: Always start with clean `frappe.local` in request/jobs (#40088)
  frappe/__init__.py
  frappe/app.py
  frappe/tests/test_safe_exec.py
  frappe/utils/background_jobs.py
Due: server

fix(safe_exec): add request back into render_safe_globals
  frappe/utils/safe_exec.py
Due: server

refactor: expose ignore versioning fields via meta getter
  frappe/core/doctype/version/version.py
  frappe/model/meta.py
Due: server

feat(Web Form): hide breaks in Get Fields, rebuild layout on Select All
  frappe/website/doctype/web_form/test_web_form.py
  frappe/website/doctype/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.py
Due: server, ui-tests

chore(web_form): add docs link to Custom CSS field
  frappe/website/doctype/web_form/web_form.json
Due: ui-tests

fix(naming): read standard fields in a seeded prefix as variables
  frappe/patches/v16_0/seed_naming_rule_series.py
Due: server

test(naming): cover a prefix built on a standard field
  frappe/core/doctype/document_naming_rule/test_document_naming_rule.py
Due: server

refactor: make ignore versioning fields meta property public
  frappe/core/doctype/version/test_version.py
  frappe/core/doctype/version/version.py
  frappe/model/meta.py
Due: server

fix: keep optional columns out of special doctype inserts during migrate
  frappe/model/meta.py
  frappe/tests/test_document.py
Due: server

chore: note pending drop of _comments in meta filters
  frappe/model/meta.py
Due: server

test(print): add unit test for after_print hook across PDF backends
  frappe/utils/test_print_utils.py
Due: server

chore: backport intra thread fix from upstream
  frappe/app.py
  frappe/tests/test_local_lifecycle.py
Due: server

test: cover comment count with flag, with field, and both
  frappe/core/doctype/comment/test_comment.py
Due: server

fix(desk-v2): wait for the Side Panel row before the record's first replay
  frontend/CLAUDE.md
  frontend/src/pages/Record.vue
  frontend/src/recordPage/formLayoutSource/useFormLayout.ts
  frontend/src/recordPage/tests/whenSettled.test.ts
Due: none

test: add cypress specs for report print formats
  cypress/integration/report_print_format.js
Due: ui-tests

fix: show mobile list subject bold only for unread rows
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
