Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

feat: Added env db options for db, password and pg_schema
  frappe/__init__.py
  frappe/tests/test_db.py
Due: server

fix: align filter values in print
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/scss/print.bundle.scss
Due: ui-tests

fix: Reset to orig env vars in specs
  frappe/__init__.py
  frappe/tests/test_db.py
Due: server

refactor: types for List Filters
  desk/src/components/List/ListFilters.vue
  desk/src/components/ViewSwitcher.vue
  desk/src/data/constants/filters.ts
  desk/src/pages/doctype_views/ListView.vue
  desk/src/types/list.ts
Due: none

fix: Adjusted the retrieved dbms errors to also handle mariadb errors correctly in specs.
  frappe/tests/test_db.py
Due: server

fix: Re-establish orig connection in tearDown for failing cases, that following specs dont rely on broken connection
  frappe/tests/test_db.py
Due: server

fix(list_view): pass the correctly formatted title to `get_subject_html()`
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: test upgrade of urllib3
  pyproject.toml
Due: none

from live 6.7.24
  frappe/automation/workspace/tools/tools.json
  frappe/core/workspace/build/build.json
  frappe/core/workspace/users/users.json
  frappe/integrations/workspace/integrations/integrations.json
  frappe/website/workspace/website/website.json
Due: ui-tests

from local 6.7.24 navbar notification
  frappe/core/doctype/navbar_settings/__init__.py
  frappe/core/doctype/navbar_settings/navbar_settings.js
  frappe/core/doctype/navbar_settings/navbar_settings.json
  frappe/core/doctype/navbar_settings/navbar_settings.py
  frappe/core/doctype/navbar_settings/test_navbar_settings.py
  frappe/public/js/frappe/ui/toolbar/navbar.html
Due: server, ui-tests

chore: update POT file
  frappe/locale/main.pot
Due: none

fix: Swedish translations
  frappe/locale/sv.po
Due: none

refactor: types for List Filter Value
  desk/src/components/FormControls/Link.vue
  desk/src/components/FormControls/MultiSelectLink.vue
  desk/src/components/List/ListFilterValue.vue
  desk/src/data/constants/filters.ts
  desk/src/types/controls.ts
Due: none

feat: add read only document mode
  frappe/exceptions.py
  frappe/model/document.py
  frappe/tests/test_document_ro_mode.py
Due: server

feat: doctype casting
  frappe/__init__.py
  frappe/model/document.py
  frappe/permissions.py
  frappe/tests/test_document_casting.py
  frappe/utils/safe_exec.py
Due: server

feat: effectuate conversions in read-only document mode
  frappe/model/document.py
Due: server

chore : migrat-to pre check url
  frappe/integrations/frappe_providers/__init__.py
  frappe/integrations/frappe_providers/frappecloud.py
Due: server

fix: data filter value for status indicator
  frappe/public/js/frappe/model/indicator.js
Due: ui-tests

fix: check image before trying to load in print.
  frappe/templates/print_formats/standard_macros.html
Due: none

fix: input mode for numbers
  frappe/public/js/frappe/form/controls/data.js
  frappe/public/js/frappe/form/controls/int.js
Due: ui-tests

docs: fix server script on payment hooks
  frappe/core/doctype/server_script/server_script.js
Due: ui-tests

fix(data_exporter): don't sort multiselect dialog fields
  frappe/public/js/frappe/data_import/data_exporter.js
Due: ui-tests

fix: removed TODO marks
  frappe/__init__.py
  frappe/tests/test_db.py
Due: server

fix: use currency number format if present
  frappe/public/js/frappe/utils/number_format.js
Due: ui-tests

fix: skip redundant fields in fixture export
  frappe/core/doctype/data_import/data_import.py
Due: server

feat: new report "User Doctype Permissions"
  frappe/core/doctype/user/user.js
  frappe/core/report/user_doctype_permissions/__init__.py
  frappe/core/report/user_doctype_permissions/user_doctype_permissions.js
  frappe/core/report/user_doctype_permissions/user_doctype_permissions.json
  frappe/core/report/user_doctype_permissions/user_doctype_permissions.py
Due: server, ui-tests

chore: fix naming and imports
  desk/src/components/List/ListColumnSettings.vue
  desk/src/components/List/ListFilters.vue
  desk/src/components/List/ListFormatter.vue
  desk/src/components/List/ListSortSelector.vue
  desk/src/components/ViewSwitcher.vue
  desk/src/pages/doctype_views/ListView.vue
  desk/src/types/list.ts
  desk/src/utils/list.ts
Due: none

fix: better label for list primary action
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

Update: Country name from Turkey to Türkiye
  frappe/geo/country_info.json
Due: ui-tests

fix: remove mariadb sandbox mode comment before restoring backups
  frappe/database/db_manager.py
Due: server

fix: unset cscript.is_onload flag after the form is rendered
  frappe/public/js/frappe/form/form.js
Due: ui-tests

refactor: save one variable and line
  frappe/core/report/user_doctype_permissions/user_doctype_permissions.py
Due: server

docs: add type hints and docstrings
  frappe/core/report/user_doctype_permissions/user_doctype_permissions.py
Due: server
