Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

Fix: Map icon color in dark mode
  frappe/public/icons/timeless/icons.svg
Due: none

fix(Duration): save null for empty value
  frappe/public/js/frappe/form/controls/duration.js
Due: ui-tests

Update translations
  frappe/translations/fa.csv
Due: none

fix: remove unsetting of in trigger_onload
  frappe/public/js/frappe/form/form.js
Due: ui-tests

chore(release): Bumped to Version 14.77.6
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  a41d1aab50fc27cee85d51dda61250710c4a5e79
Due: none

chore(release): Bumped to Version 15.34.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  9194eaf80601319078b3b779042abc7d87e12b50
Due: none

fix: linter check
  frappe/public/js/frappe/form/controls/duration.js
Due: ui-tests

feat(Email): manually pull email from given email account
  frappe/email/doctype/email_account/email_account.js
  frappe/email/doctype/email_account/email_account.py
Due: server, ui-tests

fix(System Health Report): Modified the fetch_scheduler function to use different SQL queries for different databases using frappe.db.multisql
  frappe/desk/doctype/system_health_report/system_health_report.py
Due: server

fix: better label for list primary action (#27053)
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

Revert "fix(UX): Nudge to disable user instead of deleting"
  frappe/core/doctype/user/user.py
Due: server

fix: remove deleted user from Workflow Action
  frappe/core/doctype/user/user.py
Due: server

fix: remove deleted user's personal list filters
  frappe/core/doctype/user/user.py
Due: server

fix: remove deleted user from Note's Seen By table
  frappe/core/doctype/user/user.py
Due: server

feat: nudge for all DocTypes that can be disabled
  frappe/model/delete_doc.py
Due: server

fix: Esperanto translations
  frappe/locale/eo.po
Due: none

fix: update country name from Türkiye to T\u00fcrkiye and sort by name
  frappe/geo/country_info.json
Due: ui-tests

Fixed - Fetch From, Need to Select Twice to Set Doctype
  frappe/public/js/form_builder/components/controls/FetchFromControl.vue
Due: none

fix: update country name from Türkiye to T\u00fcrkiye and sort by name (#27069)
  frappe/geo/country_info.json
Due: ui-tests

fix: sync translations from crowdin (#27031)
  frappe/locale/eo.po
  frappe/locale/sv.po
Due: none

fix: cleanup user data on trash (#27068)
  frappe/core/doctype/user/user.py
Due: server

feat: nudge for all DocTypes that can be disabled, not deleted (#27067)
  frappe/core/doctype/user/user.py
  frappe/model/delete_doc.py
Due: server

fix: freeze screen while pulling emails
  frappe/email/doctype/email_account/email_account.js
Due: ui-tests

fix: inform user if email pull already running in queue
  frappe/email/doctype/email_account/email_account.js
  frappe/email/doctype/email_account/email_account.py
Due: server, ui-tests

pre-commit run to format code
  frappe/public/js/form_builder/components/controls/FetchFromControl.vue
Due: none

fix(Naming Series): bigint not null default 0
  frappe/database/mariadb/framework_mariadb.sql
Due: none

fix: formatting
  frappe/desk/doctype/system_health_report/system_health_report.py
Due: server

fix: show escaped content for Code fields
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: Fetch From, Need to Select Twice to Set Doctype (#27071)
  frappe/public/js/form_builder/components/controls/FetchFromControl.vue
Due: none

fix: translation in onboarding_widget.js
  frappe/public/js/frappe/widgets/onboarding_widget.js
Due: ui-tests

fix: translation in chart_widget.js
  frappe/public/js/frappe/widgets/chart_widget.js
Due: ui-tests

fix: translation in breadcrumbs.html
  frappe/templates/includes/breadcrumbs.html
Due: none

fix: translation in messages.js
  frappe/public/js/frappe/ui/messages.js
Due: ui-tests

fix: translation in chart.js
  frappe/public/js/frappe/ui/chart.js
Due: ui-tests
