Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

feat: disable assigned thread notification (#23535)
  frappe/core/doctype/communication/mixins.py
  frappe/desk/doctype/notification_settings/notification_settings.json
  frappe/desk/doctype/notification_settings/notification_settings.py
Due: server, ui-tests

chore: conflict
  frappe/desk/doctype/notification_settings/notification_settings.py
Due: server

fix: Reload whenever the effective language or timezone has changed. (#22952)
  frappe/core/doctype/system_settings/system_settings.js
  frappe/core/doctype/user/user.js
Due: ui-tests

fix: skip using frm object for routing to audit trail
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/toolbar.js
Due: ui-tests

fix: strip html the printview's key value
  frappe/www/printview.py
Due: server

fix: escape instead of strip html
  frappe/www/printview.html
  frappe/www/printview.py
Due: server

chore: git blame ignore rev
  .git-blame-ignore-revs
Due: none

fix: strip html the printview's key value (#23606)
  frappe/www/printview.html
Due: none

Update utils.js
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

Update number_systems.js
  frappe/public/js/frappe/utils/number_systems.js
Due: ui-tests

chore(release): Bumped to Version 15.4.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  38/58b59367953f36a185ad82e14b00d7422ab34b
Due: none

chore(release): Bumped to Version 14.58.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  82/42b3ee316959501ee9cacd7fd11547f978222e
Due: none

Revert "feat: wkhtmltopdf logging (#19935)"
  frappe/utils/logger.py
  frappe/utils/pdf.py
Due: server

chore(release): Bumped to Version 15.4.1
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  af/2a554ca39c89b2f5816cc44b0ff7affb3a7735
Due: none

fix(Report View): clear checked items
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

fix: only update primary action if it is new action is provided
  frappe/public/js/frappe/ui/dialog.js
Due: ui-tests

fix: task_id parameter for publish_progress
  frappe/realtime.py
Due: server

refactor: better variable names
  frappe/desk/doctype/bulk_update/bulk_update.py
Due: server

feat: task_id for submit_cancel_or_update_docs
  frappe/desk/doctype/bulk_update/bulk_update.py
  frappe/public/js/frappe/list/bulk_operations.js
Due: server, ui-tests

chore: deprecate old show_progress
  frappe/desk/doctype/bulk_update/bulk_update.py
Due: server

fix: better error message
  frappe/public/js/frappe/list/bulk_operations.js
Due: ui-tests

refactor: better parameter name
  frappe/public/js/frappe/list/bulk_operations.js
Due: ui-tests

fix(Virtual DocType): use get_doc to validate link field instead of db get_value
  frappe/client.py
Due: server

child table field as standard filter in list view
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

chore: update watchdog
  pyproject.toml
Due: none

feat: Apply Filters to Link Fields Via Form Builder (#22844)
  cypress/fixtures/form_builder_doctype.js
  cypress/integration/form_builder.js
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/docfield/docfield.py
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/custom_field/custom_field.json
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/custom/doctype/customize_form_field/customize_form_field.py
  frappe/public/js/form_builder/components/Field.vue
  frappe/public/js/form_builder/store.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/ui/filters/filter_list.js
Due: server, ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
