Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: Bosnian translations
  frappe/locale/bs.po
Due: none

fix: Chinese Simplified translations
  frappe/locale/zh.po
Due: none

fix: Russian translations
  frappe/locale/ru.po
Due: none

fix: Esperanto translations
  frappe/locale/eo.po
Due: none

fix: respect `ignore_if_duplicate` for unique constraint violations as well
  frappe/model/base_document.py
Due: server

feat: add in support for `_inplacevar_`
  frappe/utils/safe_exec.py
  pyproject.toml
Due: server

fix: German translations
  frappe/locale/de.po
Due: none

fix(socketio): use auth header if available when making permission requests
  realtime/utils.js
Due: ui-tests

fix: simplify Always BCC
  frappe/email/doctype/email_queue/email_queue.py
Due: server

fix(user_profile): escape html passed in user_image
  frappe/desk/page/user_profile/user_profile.py
Due: server

fix(user_profile): dont explicitly use keys function
  frappe/desk/page/user_profile/user_profile.py
Due: server

fix: if not list
  frappe/email/doctype/email_queue/email_queue.py
Due: server

fix: linter
  frappe/email/doctype/email_queue/email_queue.py
Due: server

fix: simplify Always BCC (#31931)
  frappe/email/doctype/email_queue/email_queue.py
Due: server

fix: condition based alert for submit and save in submittable doctypes
  frappe/desk/form/save.py
Due: server

chore: update descriptions
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/file/file.py
  frappe/custom/doctype/customize_form/customize_form.json
Due: server, ui-tests

feat: hide delete button when file is protected
  frappe/public/js/frappe/form/sidebar/attachments.js
Due: ui-tests

refactor(Data Import): whitelisted methods
  frappe/core/doctype/data_import/data_import.py
Due: server

Notes added by 'git notes add'
  419ad5ef21791801207b18b0799e42c528372a92
Due: none

Revert "fix(user_profile): escape html passed in user_image"
  frappe/desk/page/user_profile/user_profile.py
Due: server

fix(user_profile_controller): escape html before rendering user image
  frappe/desk/page/user_profile/user_profile_controller.js
Due: ui-tests

build: bump RQ to latest
  frappe/utils/background_jobs.py
  pyproject.toml
Due: server

perf: Avoid querying default email account on every load
  frappe/desk/form/load.py
  frappe/email/doctype/email_account/email_account.py
Due: server

perf: index tags for a document and dont track changes
  frappe/desk/doctype/tag_link/tag_link.json
  frappe/desk/doctype/tag_link/tag_link.py
  frappe/desk/form/load.py
Due: server, ui-tests

chore: conflict and remove unnessary changes
  frappe/desk/doctype/tag_link/tag_link.json
  frappe/desk/doctype/tag_link/tag_link.py
  frappe/desk/form/load.py
  frappe/email/doctype/email_account/email_account.py
Due: server, ui-tests

fix: Persian translations
  frappe/locale/fa.po
Due: none

Update Money In words function to conform to Arabic Languages
  frappe/utils/data.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
