Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: Make query Postgres compatible (#15240)
  frappe/patches/v13_0/update_date_filters_in_user_settings.py
Due: server

fix: fixed query to run on postgres db (#15239)
  frappe/patches/v13_0/set_path_for_homepage_in_web_page_view.py
Due: server

fix: remove bench path from traceback
  frappe/utils/__init__.py
Due: server

fix: not able to go back from user profile page
  frappe/desk/page/user_profile/user_profile_controller.js
Due: ui-tests

fix: change route when browsing someone else's profile
  frappe/desk/page/user_profile/user_profile_controller.js
Due: ui-tests

fix: leaderboard link in sidebar
  frappe/desk/page/user_profile/user_profile_sidebar.html
Due: none

fix: remove slash prefix
  frappe/utils/__init__.py
Due: server

chore: renamed hooks and handled an edge case
  frappe/email/doctype/email_queue/email_queue.py
  frappe/utils/__init__.py
Due: server

feat: patched frappe email to work with frappecloud mail app (#15248)
  frappe/email/doctype/email_queue/email_queue.py
  frappe/utils/__init__.py
Due: server

fix(deps): Drop svg-sprite to fix linux/arm64 build
  package.json
  yarn.lock
Due: ui-tests

chore: VS2022 uses .vs instead of .vscode. Add .vs to .gitignore.
  .gitignore
Due: none

fix: update status code
  frappe/core/doctype/user/user.py
Due: server

fix: update test for status code 400
  frappe/core/doctype/user/test_user.py
Due: server

revert: set amended docname to original docname-1
  frappe/core/doctype/system_settings/system_settings.json
Due: ui-tests

fix: remove display none class
  frappe/public/scss/website/index.scss
Due: none

fix: upload jpeg image with alpha channel
  frappe/utils/image.py
Due: server

fix: method-get_doc_permissions
  frappe/permissions.py
Due: server

fix: Convert user to lower case before equating
  frappe/permissions.py
Due: server

feat: make rating field's stars customizable with options field
  cypress/integration/control_rating.js
  frappe/core/doctype/doctype/doctype.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/patches.txt
  frappe/patches/v14_0/save_ratings_in_fraction.py
  frappe/public/js/frappe/form/controls/base_control.js
  frappe/public/js/frappe/form/controls/rating.js
Due: server, ui-tests

chore: add icon classes for each event type
  frappe/public/js/frappe/form/footer/form_timeline.js
Due: ui-tests

fix: adding a new child expands all childs
  frappe/public/js/frappe/ui/tree.js
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

fix: while adding a new node only expand current node
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

fix: dont refresh treeview on save / realtime
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: import doc / fixtures
  frappe/modules/import_file.py
Due: server

fix: Error code for "user not found" (#15223)
  frappe/core/doctype/user/test_user.py
  frappe/core/doctype/user/user.py
Due: server

fix: refresh all data
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: updated email message and subject
  frappe/templates/includes/feedback/feedback.py
Due: server

fix: Set standard indicator colors
  frappe/core/doctype/doctype_state/doctype_state.json
  frappe/public/js/frappe/model/indicator.js
  frappe/public/scss/common/indicator.scss
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
