Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: error code for not found
  frappe/core/doctype/user/user.py
Due: server

ci: update apt cache before install
  .github/helper/install.sh
Due: none

ci: update apt cache before install (#15226)
  .github/helper/install.sh
Due: none

feat: copy error to clipboard
  frappe/public/js/frappe/request.js
Due: ui-tests

fix: copy to clipboard strips off newlines
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

refactor: use navigator api for clipboard
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix: missing content in communication composer
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

fix: updating test
  frappe/core/doctype/user/test_user.py
Due: server

fix: web form table scroll issue
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix: valid parent doctype error
  frappe/desk/doctype/global_search_settings/global_search_settings.py
Due: server

fix: disable data import legacy on v13
  frappe/core/doctype/data_import_legacy/data_import_legacy.js
Due: ui-tests

fix: disable data import legacy on v13 (#15232)
  frappe/core/doctype/data_import_legacy/data_import_legacy.js
Due: ui-tests

fix: valid parent doctype error (#15233)
  frappe/desk/doctype/global_search_settings/global_search_settings.py
Due: server

feat: Document States
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype_state/__init__.py
  frappe/core/doctype/doctype_state/doctype_state.json
  frappe/core/doctype/doctype_state/doctype_state.py
  frappe/model/base_document.py
  frappe/model/meta.py
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/model/indicator.js
Due: server, ui-tests

fix: record name creating based on naming seires and not as per the use set
  frappe/core/doctype/data_import/importer.py
Due: server

fix: fixed query to run on postgres db
  frappe/patches/v13_0/set_path_for_homepage_in_web_page_view.py
Due: server

fix: updated query compatibale with postgres
  frappe/patches/v13_0/update_date_filters_in_user_settings.py
Due: server

fix: updated query compatible with postgres
  frappe/patches/v13_0/update_date_filters_in_user_settings.py
Due: server

test: ConstantColumn
  frappe/tests/test_query_builder.py
Due: server

fix: Sales invoice cancellation error due to get_list
  frappe/desk/form/linked_with.py
Due: server

fix: missed out one `get_list`
  frappe/desk/form/linked_with.py
Due: server

fix: Sales invoice cancellation error due to get_list (#15243)
  frappe/desk/form/linked_with.py
Due: server

fix(deps): Remove svg-sprite to fix linux/arm64 build
  package.json
  yarn.lock
Due: ui-tests

feat: patched EmailQueue.send and frappe.utils.get_formatted_email
  frappe/email/doctype/email_queue/email_queue.py
  frappe/utils/__init__.py
Due: server

fix: update modified of Singles
  frappe/modules/import_file.py
Due: server

feat: Zip files
  frappe/core/doctype/file/file.py
  frappe/public/js/frappe/views/file/file_view.js
Due: server, ui-tests

ci: Use node version 14 to avoid node-sass failure in patch testing build (#15176)
  .github/workflows/patch-mariadb-tests.yml
Due: none

fix: reload doctype IMAP Folder in patch
  frappe/patches/v14_0/copy_mail_data.py
Due: server

fix: unnecessary delay on link input
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

style: Fix indentation
  frappe/website/doctype/personal_data_deletion_request/personal_data_deletion_request.py
Due: server

fix: Make query Postgres compatible (#15240)
  frappe/patches/v13_0/update_date_filters_in_user_settings.py
Due: server
