Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: duplicate last quoted messagg
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

fix(grid): saving of values on navigation using arrow keys
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

fix: conflicts
  frappe/email/doctype/email_account/email_account.py
Due: server

fix: limit config should not be mandatory
  frappe/core/doctype/user_type/user_type.py
Due: server

fix(client): add type hints to whitelisted methods
  frappe/client.py
Due: server

fix: limit config should not be mandatory (#37247)
  frappe/core/doctype/user_type/user_type.py
Due: server

fix: remove from user doctype only
  frappe/patches/v16_0/remove_banner_image_field.py
  frappe/templates/doc.html
  frappe/templates/includes/navbar/navbar.html
  frappe/website/doctype/web_form/templates/web_form.html
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
  frappe/website/doctype/website_settings/website_settings.js
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/doctype/website_settings/website_settings.py
  frappe/website/web_template/primary_navbar/primary_navbar.html
Due: server, ui-tests

fix: fix some of the tighter types
  frappe/client.py
Due: server

fix: adjust padding and layout for knowledge base article list
  frappe/website/doctype/help_article/templates/help_article_list.html
Due: none

fix(exporter): add type hints to whitelisted methods
  frappe/core/doctype/data_export/exporter.py
Due: server

fix(permission_manager): add type hints to whitelisted methods
  frappe/core/page/permission_manager/permission_manager.py
Due: server

fix: DSN validation
  frappe/email/doctype/email_account/email_account.py
Due: server

fix(dashboard_chart): add type hints to whitelisted methods
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
Due: server

fix: migration
  frappe/patches/v16_0/remove_banner_image_field.py
Due: server

fix(number_card): add type hints to whitelisted methods
  frappe/desk/doctype/number_card/number_card.py
Due: server

fix(tag): add type hints to whitelisted methods
  frappe/desk/doctype/tag/tag.py
Due: server

fix(grid): styling of focus grid control (#37169)
  frappe/public/scss/common/grid.scss
Due: none

fix(notification): remove `Custom` type from `send_alert_on` as it's not getting used somewhere
  frappe/email/doctype/notification/notification.json
  frappe/email/doctype/notification/notification.py
Due: server, ui-tests

fix: use allow modules
  frappe/boot.py
Due: server

fix: add hook to force type hints on all whitelisted endpoints
  frappe/hooks.py
Due: server

fix: make translation for link field value irrespective of user permissions only if the source doctype is in translated doctypes
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

feat: support redirect-to parameter in magic link login
  frappe/tests/test_auth.py
  frappe/utils/jinja_globals.py
  frappe/www/login.py
Due: server

fix: sanitize redirect
  frappe/www/login.py
Due: server

fix: docstring
  frappe/utils/jinja_globals.py
Due: server

chore: merge conflicts
  frappe/boot.py
Due: server

fix: tests
  frappe/tests/test_auth.py
Due: server

fix(db_query): handle filters as strings or dictionaries in query preparation
  frappe/model/db_query.py
Due: server

fix: tests order
  frappe/tests/test_auth.py
Due: server

fix(frappecloud_billing): add str typehint to whitelisted endpoint
  frappe/integrations/frappe_providers/frappecloud_billing.py
Due: server

perf: avoid layout thrashing in grid setup_toolbar
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

fix: identity-based grid row matching to prevent row contamination
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_pagination.js
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

perf: scope grid container selector to grid wrapper
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

perf: scope grid container selector to grid wrapper (#37268)
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

fix: Spanish translations
  frappe/locale/es.po
Due: none

fix: Burmese translations
  frappe/locale/my.po
Due: none

fix: Swedish translations
  frappe/locale/sv.po
Due: none

fix: Vietnamese translations
  frappe/locale/vi.po
Due: none

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
