Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(patches): delete wkhtmltopdf property setters through their documents
  frappe/patches/v17_0/switch_wkhtmltopdf_to_chrome.py
Due: server

fix(letter-head): list only the page classes chrome fills in
  frappe/printing/doctype/letter_head/letter_head.js
Due: ui-tests

fix(pdf): extract repeated report headers before dropping hidden-pdf content
  frappe/tests/test_pdf.py
  frappe/utils/pdf_generator/browser.py
Due: server

test(pdf): print as a regular user in the on_print_pdf hook test
  frappe/tests/test_pdf.py
Due: server

fix(pdf): render formats with an unknown pdf generator through chrome
  frappe/printing/doctype/print_format/print_format.py
  frappe/utils/print_format.py
  frappe/utils/print_utils.py
  frappe/utils/test_print_format_generator.py
  frappe/www/printview.py
Due: server

fix(print): validate print settings override values
  frappe/utils/test_print_format_generator.py
  frappe/www/printview.py
Due: server

fix(sidebar): fold for a page without saving it as the user's choice
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: ui-tests

fix(print): apply page settings to email, network print and full page pdf
  frappe/printing/page/print/print.js
  frappe/templates/print_formats/print_action_banner.html
  frappe/utils/print_format.py
  frappe/utils/print_utils.py
  frappe/www/printview.py
Due: server, ui-tests

refactor(print): read style presets directly instead of through a hook
  frappe/printing/print_style_presets.py
Due: server

fix(print): refresh once on shift+r and show default format action only to editors
  frappe/printing/page/print/print.js
Due: ui-tests

style(print): drop an undefined token and a redundant gap
  frappe/public/scss/desk/print_preview.scss
Due: none

fix(pdf): support every print settings page size in chrome
  frappe/tests/test_pdf.py
  frappe/utils/pdf_generator/browser.py
Due: server

fix(pdf): fall back to the format's engine when the requested one is unknown
  frappe/utils/print_utils.py
Due: server

fix(patches): remove every property setter on the dropped print settings field
  frappe/patches/v17_0/switch_wkhtmltopdf_to_chrome.py
Due: server

fix(pdf): mark the chromium session cookie http only
  frappe/utils/chromium/page.py
Due: server

fix(pdf): fit wide report pdfs to the page and skip their scripts
  frappe/email/doctype/auto_email_report/auto_email_report.py
  frappe/tests/test_pdf.py
  frappe/utils/pdf_generator/browser.py
  frappe/utils/print_format.py
Due: server

chore(pdf): annotate get_pdf and drop a stale comment
  frappe/utils/pdf.py
  frappe/utils/pdf_generator/browser.py
Due: server

fix(print): keep request settings and pdf options when printing standard pdfs
  frappe/utils/print_utils.py
  frappe/utils/test_print_format_generator.py
Due: server

test(pdf): run the header and engine fallback tests as a regular user
  frappe/tests/test_pdf.py
  frappe/utils/test_print_format_generator.py
Due: server

fix(sidebar): keep the print page fold through sidebar rebuilds and reloads
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: ui-tests

fix(print): render standard email attachments like the pdf button
  frappe/utils/print_utils.py
  frappe/utils/test_print_format_generator.py
Due: server

fix(print): email from the print page with its format and letter head
  frappe/printing/page/print/print.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

fix(print): give the repeated pdf header the page's layout classes
  frappe/templates/print_formats/chrome_pdf_header_footer.html
  frappe/utils/pdf.py
Due: server

fix(print): keep the classic style serif font off the standard layout
  frappe/printing/print_style/classic/classic.json
Due: ui-tests

fix(print): show portrait as the starting orientation
  frappe/printing/page/print/print.js
Due: ui-tests

fix(print): count the repeated header when estimating preview pages
  frappe/printing/page/print/print.js
Due: ui-tests

test(print): clear the request settings the test leaves behind
  frappe/utils/test_print_format_generator.py
Due: server

test(pdf): render the report pdf test as a regular user
  frappe/tests/test_pdf.py
Due: server

refactor(print): add layout classes to the pdf header in the renderer
  frappe/templates/print_formats/chrome_pdf_header_footer.html
  frappe/utils/pdf.py
  frappe/utils/pdf_generator/browser.py
Due: server

fix(print): keep the page estimate moving when the header is taller than a page
  frappe/printing/page/print/print.js
Due: ui-tests

refactor(print): apply pdf header layout classes outside the hook call
  frappe/utils/pdf_generator/browser.py
Due: server

fix(pdf): skip an empty header or footer instead of failing
  frappe/tests/test_pdf.py
  frappe/utils/pdf_generator/browser.py
Due: server

fix(pdf): keep print format margins out of the header and footer pages
  frappe/templates/print_formats/chrome_pdf_header_footer.html
  frappe/tests/test_pdf.py
Due: server

fix(pdf): encrypt a bulk pdf once after merging its documents
  frappe/tests/test_pdf.py
  frappe/utils/print_format.py
Due: server

fix(pdf): reset header page margins by specificity instead of important
  frappe/templates/print_formats/chrome_pdf_header_footer.html
Due: none

test(pdf): render the header tests as a regular user
  frappe/tests/test_pdf.py
Due: server

fix(patches): keep print format pdf generator property setters
  frappe/patches/v17_0/switch_wkhtmltopdf_to_chrome.py
Due: server

fix(pdf): shrink large pdfs by recompressing their images
  frappe/tests/test_pdf.py
  frappe/utils/pdf.py
Due: server

fix(patch): add chrome to print format generator options overrides
  frappe/patches/v17_0/switch_wkhtmltopdf_to_chrome.py
Due: server

refactor(pdf): drop unreachable encryption in pdf transformer
  frappe/utils/pdf_generator/pdf_merge.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
