Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: pyupgrade
  frappe/query_builder/functions.py
Due: server

fix: calendar view set in assign time
  frappe/public/js/frappe/form/sidebar/assign_to.js
Due: ui-tests

fix: don't try appending email to sent folder if enable incoming and imap is turned off
  frappe/email/doctype/email_account/email_account.py
Due: server

fix: don't try appending email to sent folder if enable incoming and imap is turned off (#17344)
  frappe/email/doctype/email_account/email_account.py
Due: server

fix: encode docname when routing
  cypress/integration/table_multiselect.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/router.js
Due: ui-tests

fix: Resolve conflicts
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: Allow all origins with credentials
  frappe/public/js/frappe/socketio_client.js
  socketio.js
Due: ui-tests

chore: Remove unused less files
  frappe/public/less/desk.less
  frappe/public/less/variables.less
Due: none

chore: delete old conf files
  .pylintrc
  Makefile
Due: server

Update ru.csv
  frappe/translations/ru.csv
Due: none

fix: add standard datetime fields
  frappe/model/base_document.py
  frappe/model/meta.py
  frappe/tests/test_document.py
Due: server

chore: sider fixes
  frappe/database/mariadb/database.py
  frappe/model/base_document.py
Due: server

fix: refresh tree when the treeview is loaded
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

fix: add utility for str to datetime
  frappe/integrations/doctype/oauth_bearer_token/oauth_bearer_token.py
  frappe/utils/data.py
Due: server

tests: do not strptime datetime objects
  frappe/integrations/doctype/oauth_bearer_token/oauth_bearer_token.py
  frappe/website/doctype/personal_data_deletion_request/test_personal_data_deletion_request.py
Due: server

fix: compare datetime for checking if latest
  frappe/model/document.py
Due: server

ci: use different reference for fetched label in has_label
  .github/helper/roulette.py
Due: server

ci: consider svg as docs as well
  .github/helper/roulette.py
Due: server

fix: convert string to datetime for latest check
  frappe/model/document.py
Due: server

chore: sider fixes
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

chore: Remove unused libraries and files
  frappe/public/images/chat/wallpaper-default.jpg
  frappe/public/images/chat/wallpaper-primary.jpg
  frappe/public/images/help/style-settings-help.png
  frappe/public/js/frappe-web.bundle.js
  frappe/public/js/lib/jquery/jquery.hotkeys.js
  frappe/public/js/lib/md5.min.js
  frappe/public/js/libs.bundle.js
Due: ui-tests

fix: Add missing licences for vendored library
  .gitignore
  frappe/public/js/lib/fullcalendar/LICENCE.txt
  frappe/public/js/lib/jquery/LICENCE.txt
  frappe/public/js/lib/photoswipe/LICENCE
Due: none

refactor: Get sortable js from node_modules instead of vendoring it
  frappe/public/js/lib/Sortable.min.js
  frappe/public/js/libs.bundle.js
  package.json
  yarn.lock
Due: ui-tests

refactor: use frappe.get_system_settings
  frappe/database/database.py
Due: server

fix: duplicate tracebacks in console
  frappe/app.py
  frappe/desk/form/load.py
  frappe/desk/form/save.py
Due: server

chore: Add licenses to leaflet libraries
  frappe/public/js/frappe/form/controls/geolocation.js
  frappe/public/js/lib/leaflet/LICENSE
  frappe/public/js/lib/leaflet_control_locate/L.Control.Locate.css
  frappe/public/js/lib/leaflet_control_locate/L.Control.Locate.js
  frappe/public/js/lib/leaflet_control_locate/LICENSE
  frappe/public/js/lib/leaflet_draw/MIT-LICENSE.md
  frappe/public/js/lib/leaflet_draw/leaflet.draw.css
  frappe/public/js/lib/leaflet_draw/leaflet.draw.js
  frappe/public/js/lib/leaflet_easy_button/LICENSE
  frappe/public/js/lib/leaflet_easy_button/easy-button.css
  frappe/public/js/lib/leaflet_easy_button/easy-button.js
  frappe/public/scss/desk.bundle.scss
Due: ui-tests

ci: slightly faster patch test
  .github/workflows/patch-mariadb-tests.yml
Due: none

ci: bump pyenv action to latest version
  .github/workflows/patch-mariadb-tests.yml
Due: none

ci: Separate PY / conflict validation step, merge install
  .github/helper/install_dependencies.sh
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/server-mariadb-tests.yml
  .github/workflows/server-postgres-tests.yml
  .github/workflows/ui-tests.yml
Due: none

refactor: remove unnecessary exception handling
  frappe/desk/form/load.py
Due: server

ci: faster patch test (#17386)
  .github/workflows/patch-mariadb-tests.yml
Due: none

ci: Bump mariadb from 10.3 to 10.6
  .github/helper/install.sh
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/server-mariadb-tests.yml
  .github/workflows/ui-tests.yml
  frappe/utils/boilerplate.py
Due: server

ci(install): Use mariadb 10.6 client
  .github/helper/install.sh
Due: none

refactor: safer binding of outer scope in closures
  frappe/core/doctype/doctype/doctype.py
  frappe/model/naming.py
  frappe/utils/error.py
Due: server

fix: Retain value in the field instance when field is rendered on a dialog w/o doc
  frappe/public/js/frappe/form/controls/base_control.js
Due: ui-tests

refactor: safer binding of outer scope in closures (#17389)
  frappe/core/doctype/doctype/doctype.py
  frappe/model/naming.py
  frappe/utils/error.py
Due: server

refactor: safer binding of outer scope in closures
  frappe/core/doctype/doctype/doctype.py
  frappe/utils/error.py
Due: server
