Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

refactor: show/hide form builder action buttons
  frappe/public/js/form_builder/form_builder.bundle.js
Due: ui-tests

fix: only show menu button if it contains action items
  frappe/public/js/form_builder/form_builder.bundle.js
Due: ui-tests

test: fixed failing UI test
  cypress/integration/form_builder.js
Due: ui-tests

feat: Allow setting cron as Server Script frequency
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script.py
Due: server, ui-tests

fix: only re_route if not on setup-wizard.
  frappe/public/js/frappe/router.js
Due: ui-tests

feat: redis client and use async function where appropriate
  esbuild/esbuild.js
  node_utils.js
  package.json
  socketio.js
  yarn.lock
Due: ui-tests

feat: read-only geolocation (GDE-86)
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

refactor: const instead of var, indentation
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

fix: handle read only property
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

fix: ensure correct return value for `get_values_from_single`
  frappe/database/database.py
Due: server

fix: multiple fixes to `Engine.get_query` (#21135)
  frappe/database/query.py
Due: server

chore: add type hints to Document, BaseDocument and get_doc
  frappe/__init__.py
  frappe/model/base_document.py
  frappe/model/document.py
Due: server

refactor: better type hints
  frappe/__init__.py
  frappe/model/base_document.py
  frappe/model/document.py
Due: server

chore(DX): add type hints to Document, BaseDocument and get_doc (#21060)
  frappe/__init__.py
Due: server

feat: setup changelog feed for framework
  frappe/desk/doctype/changelog_feed/changelog_feed.py
Due: server

chore: cleanup
  frappe/desk/doctype/changelog_feed/changelog_feed.py
Due: server

fix: Dont show save step if frm is not dirty
  frappe/public/js/frappe/form/form_tour.js
Due: ui-tests

fix: render first incomplete step instead of first step
  frappe/public/js/frappe/widgets/onboarding_widget.js
Due: ui-tests

fix: remove hardcoded slide number
  frappe/public/js/frappe/router.js
Due: ui-tests

chore: track doc creation
  frappe/desk/form/save.py
  frappe/utils/telemetry.py
Due: server

fix(UX): add title for documentation link
  frappe/public/js/frappe/form/controls/base_input.js
Due: ui-tests

test: reduce duplication
  frappe/tests/test_nestedset.py
Due: server

fix: make desk css available i shadow html
  frappe/desk/doctype/custom_html_block/custom_html_block.js
Due: ui-tests

fix: made a util to create shadow element
  frappe/desk/doctype/custom_html_block/custom_html_block.js
  frappe/public/js/frappe/dom.js
  frappe/public/js/frappe/widgets/custom_block_widget.js
Due: ui-tests

fix: removed html message since we no longer have no ristrictions
  frappe/desk/doctype/custom_html_block/custom_html_block.json
Due: ui-tests

refactor: rearranged code
  frappe/desk/doctype/custom_html_block/custom_html_block.js
Due: ui-tests

feat: new operator - `descendants of (inclusive)`
  frappe/database/utils.py
  frappe/model/db_query.py
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/utils/data.py
Due: server, ui-tests

fix!: consider list view filters inclusive by default
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

fix: simplify plucking
  frappe/database/query.py
Due: server

feat: support tree-link-fields filtering in QB
  frappe/database/query.py
  frappe/tests/test_nestedset.py
Due: server

feat: Scroll to field via URL
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/scss/desk/global.scss
Due: ui-tests
