Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

Notes added by 'git notes add'
  5c4ed22745bed6cbdb466c7147a569a38c91aa2e
Due: none

fix: Add support for minutes-based notifications
  frappe/email/doctype/notification/notification.js
  frappe/email/doctype/notification/notification.json
  frappe/email/doctype/notification/notification.py
  frappe/email/doctype/notification/test_notification.py
  frappe/hooks.py
Due: server, ui-tests

wip: ephemeral db for tests
  frappe/commands/utils.py
  frappe/database/pg_tmp.py
  frappe/test_runner.py
Due: server

chore: add no-stale label
  .github/stale.yml
Due: none

fix: Turkish translations
  frappe/locale/tr.po
Due: none

chore: simplify config calling
  frappe/commands/utils.py
  frappe/tests/utils.py
Due: server

fix: assert equal on docs; compare dicts
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/tests/utils.py
Due: server

chore: exempt draft prs from stale bot
  .github/stale.yml
Due: none

feat(analytics): add basic utm nomenclature for analytics
  frappe/email/doctype/newsletter/newsletter.json
  frappe/email/doctype/newsletter/newsletter.py
  frappe/public/js/frappe/utils/utils.js
  frappe/website/doctype/utm_campaign/__init__.py
  frappe/website/doctype/utm_campaign/test_utm_campaign.py
  frappe/website/doctype/utm_campaign/utm_campaign.js
  frappe/website/doctype/utm_campaign/utm_campaign.json
  frappe/website/doctype/utm_campaign/utm_campaign.py
  frappe/website/doctype/utm_medium/__init__.py
  frappe/website/doctype/utm_medium/test_utm_medium.py
  frappe/website/doctype/utm_medium/utm_medium.js
  frappe/website/doctype/utm_medium/utm_medium.json
  frappe/website/doctype/utm_medium/utm_medium.py
  frappe/website/doctype/utm_source/__init__.py
  frappe/website/doctype/utm_source/test_utm_source.py
  frappe/website/doctype/utm_source/utm_source.js
  frappe/website/doctype/utm_source/utm_source.json
  frappe/website/doctype/utm_source/utm_source.py
Due: server, ui-tests

feat(analytics): add to website workspace
  frappe/website/workspace/website/website.json
Due: ui-tests

feat: add unit tests for URL tracker functions
  frappe/tests/test_utils.py
Due: server

feat(utm): make data helper more useful
  frappe/utils/data.py
  frappe/utils/safe_exec.py
Due: server

fix: assert equal on docs; compare dicts
  frappe/tests/utils.py
Due: server

test: comment out due to uncontrollable side effects
  frappe/email/doctype/notification/test_notification.py
Due: server

ci: split up install prepare
  .github/helper/install_bench.sh
  .github/helper/install_site.sh
Due: none

ci: split up install
  .github/helper/install.sh
  .github/helper/install_site.sh
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
Due: none

fix: semgrep complaints
  frappe/email/doctype/notification/notification.py
  frappe/email/doctype/notification/test_notification.py
Due: server

chore: reword description
  frappe/email/doctype/notification/notification.json
Due: ui-tests

fix(printview): ensure document title is a string
  frappe/www/printview.py
Due: server

fix: workflow typos
  frappe/translate.py
  frappe/workflow/doctype/workflow/workflow.js
Due: server, ui-tests

refactor!: make room in the frappe.config namespace
  frappe/core/doctype/module_profile/module_profile.py
  frappe/core/doctype/user/test_user.py
  frappe/core/doctype/user/user.py
  frappe/core/doctype/user_type/user_type.py
  frappe/desk/doctype/dashboard/dashboard.py
  frappe/desk/doctype/dashboard/test_dashboard.py
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/desk/doctype/number_card/number_card.py
  frappe/tests/test_config.py
  frappe/utils/modules.py
Due: server

fix: apply workflow permission
  frappe/model/workflow.py
Due: server

fix: time picker doesn't show correct value
  frappe/public/js/frappe/form/controls/time.js
Due: ui-tests

style: pre-commit
  frappe/public/js/frappe/form/controls/time.js
Due: ui-tests

Revert "fix: time picker doesn't show correct value"
  frappe/public/js/frappe/form/controls/time.js
Due: ui-tests

fix: form should pass df to formatter
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: form should pass df to formatter (#27756)
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: improve serializer
  frappe/utils/response.py
Due: server

fix(rename_doc): check permissions for the specific document
  frappe/model/rename_doc.py
Due: server

feat: make more resources in the critical path cacheable
  frappe/public/js/frappe/request.js
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/views/workspace/workspace.js
Due: ui-tests

chore: fix all invocation of init for singledispatch -> min 1 positional arg
  frappe/app.py
  frappe/commands/scheduler.py
  frappe/commands/site.py
  frappe/commands/translate.py
  frappe/commands/utils.py
  frappe/installer.py
  frappe/migrate.py
  frappe/parallel_test_runner.py
  frappe/test_runner.py
  frappe/tests/test_commands.py
  frappe/tests/test_perf.py
  frappe/tests/test_translate.py
  frappe/utils/background_jobs.py
  frappe/utils/scheduler.py
Due: server

fix: add authentication log for ldap login
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
Due: server

fix: show link title in generated form hrefs
  frappe/__init__.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
