Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

feat: enhance drag-and-drop functionality in Kanban board with custom previews and drop indicators
  frappe/public/js/frappe/views/kanban_next/core/drag.js
  frappe/public/js/frappe/views/kanban_next/core/kanban_core.js
  frappe/public/js/frappe/views/kanban_next/new_kanban_page.js
  frappe/public/scss/desk/kanban_next.scss
Due: ui-tests

test: add Cypress tests for new Kanban board functionality
  cypress/integration/new_kanban.js
  frappe/public/js/frappe/views/kanban_next/core/kanban_core.js
Due: ui-tests

feat: implement loading skeleton for Kanban board and enhance page shell management
  frappe/public/js/frappe/views/kanban_next/core/kanban_core.js
  frappe/public/js/frappe/views/kanban_next/new_kanban_page.js
  frappe/public/scss/desk/kanban_next.scss
Due: ui-tests

feat: improve Kanban drag-and-drop error handling and drop index calculation
  frappe/public/js/frappe/views/kanban_next/core/kanban_core.js
Due: ui-tests

fix: prevent reorder on partially-loaded columns in Kanban board
  frappe/public/js/frappe/views/kanban_next/core/kanban_core.js
Due: ui-tests

refactor: bundle size issue
  frappe/public/js/frappe/views/kanban_next/core/kanban_core.js
  frappe/public/js/frappe/views/kanban_next/kanban_next.bundle.js
  frappe/public/js/frappe/views/kanban_next/new_kanban_page.js
  frappe/public/js/frappe/views/kanban_next/new_kanban_view_stub.js
  frappe/public/js/list.bundle.js
Due: ui-tests

fix: update loading skeleton column count in Kanban page to exclude archived columns
  frappe/public/js/frappe/views/kanban_next/new_kanban_page.js
Due: ui-tests

feat: introduce new Kanban UI and system settings toggle for enhanced user experience
  frappe/boot.py
  frappe/core/doctype/system_settings/system_settings.js
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/desk/doctype/kanban_board/kanban_board.js
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/doctype/kanban_board/test_kanban_board.py
  frappe/desk/page/new_kanban/new_kanban.js
  frappe/desk/page/new_kanban/new_kanban.json
  frappe/public/js/frappe/list/list_factory.js
  frappe/public/js/frappe/views/kanban_next/new_kanban_page.js
  frappe/public/js/list.bundle.js
  frappe/public/scss/desk/kanban_next.scss
Due: server, ui-tests

refactor: add use_kanban_v2 option to quick_kanban_board and enhance state management in KanbanCore
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: server, ui-tests

refactor: add early epoch check to prevent stale requests during column page fetch
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: ui-tests

refactor: streamline Kanban V2 codebase with improved comments
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
  frappe/public/js/frappe/views/kanban_v2/kanban_settings.bundle.js
  frappe/public/js/frappe/views/kanban_v2/providers/frappe_data_provider.js
  frappe/public/scss/desk/kanban_v2.scss
Due: ui-tests

fix: handle concurrent reloads in KanbanCore
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: ui-tests

refactor: streamline Kanban V2 codebase with improved comments and structure
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
  frappe/public/js/frappe/views/kanban_v2/core/drag.js
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
  frappe/public/js/frappe/views/kanban_v2/core/virtualization.js
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
  frappe/public/js/frappe/views/kanban_v2/kanban_settings.bundle.js
  frappe/public/js/frappe/views/kanban_v2/providers/frappe_data_provider.js
  frappe/public/js/frappe/views/kanban_v2/settings.js
Due: server, ui-tests

feat: implement board epoch for async response handling in KanbanCore
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: ui-tests

refactor: remove legacy new Kanban page and related files, transitioning to Kanban v2 implementation
  frappe/desk/page/new_kanban/__init__.py
  frappe/desk/page/new_kanban/new_kanban.js
  frappe/desk/page/new_kanban/new_kanban.json
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
Due: server, ui-tests

feat: add quick filters to Kanban board and enhance settings dialog layout
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
  frappe/public/js/frappe/views/kanban_v2/kanban_settings.bundle.js
  frappe/public/scss/desk/kanban_v2.scss
  frappe/public/scss/desk/settings_dialog.scss
Due: ui-tests

feat: enhance Kanban V2 layout with filter section and responsive height adjustments
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
  frappe/public/scss/desk/kanban_v2.scss
Due: ui-tests

fix: code clean up
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: ui-tests

refactor: enhance Kanban settings to auto-fill label column based on selected field
  frappe/public/js/frappe/views/kanban_v2/kanban_settings.bundle.js
Due: ui-tests

refactor: update KanbanCore instance management and improve filter handling in KanbanV2Page
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
Due: ui-tests

feat: kept feature flag itself in board and changed files name
  cypress/integration/kanban_v2.js
  frappe/boot.py
  frappe/core/doctype/system_settings/system_settings.js
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/desk/doctype/kanban_board/kanban_board.js
  frappe/desk/doctype/kanban_board/kanban_board.json
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/list/list_factory.js
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/public/js/frappe/views/kanban_next/kanban_next.bundle.js
  frappe/public/js/frappe/views/kanban_v2/adapters/vanilla.js
  frappe/public/js/frappe/views/kanban_v2/core/drag.js
  frappe/public/js/frappe/views/kanban_v2/core/events.js
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
  frappe/public/js/frappe/views/kanban_v2/core/virtualization.js
  frappe/public/js/frappe/views/kanban_v2/kanban.bundle.js
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
  frappe/public/js/frappe/views/kanban_v2/providers/frappe_data_provider.js
  frappe/public/js/frappe/views/kanban_v2/settings.js
  frappe/public/scss/desk/index.scss
  frappe/public/scss/desk/kanban.scss
  frappe/public/scss/desk/kanban_v2.scss
Due: server, ui-tests

fix: enhance icon picker styles for better alignment and display
  frappe/public/scss/common/icon_picker.scss
Due: none

fix: update kanban board accent color and focus outline
  frappe/public/scss/desk/kanban_v2.scss
Due: none

refactor: improve error handling in Kanban card movement by restoring UI state before reloading data
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: ui-tests

feat: implement access control for Kanban Board settings and enhance UI features
  frappe/desk/doctype/kanban_board/kanban_board.js
  frappe/desk/doctype/kanban_board/kanban_board.json
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/doctype/kanban_board/test_kanban_board.py
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
  frappe/public/js/frappe/views/kanban_v2/kanban_settings.bundle.js
  frappe/public/scss/desk/kanban_v2.scss
Due: server, ui-tests

refactor: add option to enable Kanban V2 experience in settings dialog
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/public/js/frappe/views/kanban_v2/kanban_settings.bundle.js
Due: ui-tests

fix: improve error handling during Kanban order updates by ensuring server resync on transaction failures
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: ui-tests

fix: update Kanban dialog to always use Kanban V2 for new boards
  frappe/public/js/frappe/views/kanban/kanban_view.js
Due: ui-tests

refactor: enhance Kanban card image display with blur-fill technique for improved aesthetics
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
  frappe/public/scss/desk/kanban_v2.scss
Due: ui-tests

refactor: improve image field resolution logic and clean up Kanban settings descriptions
  frappe/public/js/frappe/views/kanban_v2/kanban_page.js
  frappe/public/js/frappe/views/kanban_v2/kanban_settings.bundle.js
Due: ui-tests

refactor: enhance image field handling in Kanban settings and board options
  frappe/desk/doctype/kanban_board/kanban_board.js
  frappe/public/js/frappe/views/kanban_v2/kanban_settings.bundle.js
Due: ui-tests

refactor: improve error handling during board updates by conditionally restoring UI state based on board epoch
  frappe/public/js/frappe/views/kanban_v2/core/kanban_core.js
Due: ui-tests

fix: drop reintroduced use_new_kanban boot sysdefault after rebase
  frappe/boot.py
Due: server

fix(pfb): stamp the format when it is published instead of reading version rows
  frappe/printing/doctype/print_format/print_format.json
  frappe/printing/doctype/print_format/print_format.py
  frappe/printing/doctype/print_format/test_print_format.py
  frappe/public/js/print_format_builder/components/VersionHistory.vue
Due: server, ui-tests

fix(pfb): hide the publisher avatar when the published stamp is unknown
  frappe/public/js/print_format_builder/components/VersionHistory.vue
Due: none

test: run the generated column tests on MariaDB and Postgres
  frappe/tests/test_db_update.py
Due: server

chore(desk): raise the record page's JS baseline to 728.7 KB
  frontend/speed-budgets.json
Due: ui-tests

fix(ui): replace FeatherIcon in the trial banner
  ui/src/components/TrialBanner/TrialBanner.vue
Due: none

fix: use get_list for swimlanes to only show lanes the user has access to
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/doctype/kanban_board/test_kanban_board.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
