Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(ui): tree level input spacing in reports (#37955)
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

fix: onboarding card placement and style (#37943)
  frappe/public/js/billing.bundle.js
  frappe/public/js/frappe/ui/user_onboarding/OnboardingPanel.vue
  frappe/public/js/frappe/ui/user_onboarding/user_onboarding.bundle.js
Due: ui-tests

test: add test cases for skip_docstatus_validation flag and docstatus transition of non-submittable doctype
  frappe/tests/test_document.py
Due: server

fix: fix sidebar view
  frappe/boot.py
  frappe/public/js/frappe/ui/sidebar/sidebar_item.js
Due: server, ui-tests

fix(test): use test2@example.com to avoid System Manager permissions
  frappe/tests/test_model_utils.py
Due: server

refactor: use permitted modules
  frappe/boot.py
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
  frappe/utils/user.py
Due: server

fix: Portuguese, Brazilian translations
  frappe/locale/pt_BR.po
Due: none

feat(File): add helper to copy attachment to different doc
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/test_file.py
Due: server

chore: use appropriate comment for clarity
  frappe/client.py
Due: server

fix: enforce link_filters on link fields server-side
  frappe/client.py
  frappe/public/js/frappe/form/controls/link.js
Due: server, ui-tests

refactor: move has_filters declaration to usage location
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

fix(view-log): Accept int for version parameter
  frappe/website/doctype/web_page_view/web_page_view.py
Due: server

Notes added by 'git notes add'
  39b3ed72c0627d60c2337706c7bbb5f945f28cab
Due: none

fix: apply exif orientation before stripping the tag
  frappe/utils/image.py
Due: server

feat: False state and decision nodes
  frappe/model/workflow.py
  frappe/public/js/workflow_builder/WorkflowBuilder.vue
  frappe/public/js/workflow_builder/components/ActionNode.vue
  frappe/public/js/workflow_builder/components/Properties.vue
  frappe/public/js/workflow_builder/store.js
  frappe/public/js/workflow_builder/utils.js
  frappe/workflow/doctype/workflow_transition/workflow_transition.json
Due: server, ui-tests

fix: format number as "N/A" when it is null
  frappe/public/js/frappe/widgets/number_card_widget.js
Due: ui-tests

fix: parse number part before formatting it
  frappe/public/js/frappe/widgets/number_card_widget.js
Due: ui-tests

fix: add symbol only if present and don't translate it
  frappe/public/js/frappe/widgets/number_card_widget.js
Due: ui-tests

fix: Move workflow save method toserver side
  frappe/public/js/workflow_builder/components/ActionNode.vue
  frappe/public/js/workflow_builder/store.js
  frappe/workflow/doctype/workflow/workflow.py
Due: server, ui-tests

fix: Save server scripts in backend
  frappe/public/js/workflow_builder/components/ActionNode.vue
  frappe/public/js/workflow_builder/components/Properties.vue
  frappe/public/js/workflow_builder/store.js
  frappe/workflow/doctype/workflow/workflow.py
Due: server, ui-tests

chore: update POT file
  frappe/locale/main.pot
Due: none

chore: update project URLs
  pyproject.toml
Due: none

fix: reconnect to DB after long backup upload in Google Drive integration
  frappe/integrations/doctype/google_drive/google_drive.py
Due: server

fix: Turkish translations
  frappe/locale/tr.po
Due: none

fix: fit into view after refresh
  frappe/public/js/workflow_builder/WorkflowBuilder.vue
Due: none

fix: Move email notification config to properties sidebar
  frappe/public/js/workflow_builder/components/ActionNode.vue
  frappe/public/js/workflow_builder/components/Properties.vue
Due: none

fix: Workflow transition task naming and fetch
  frappe/public/js/workflow_builder/store.js
  frappe/workflow/doctype/workflow/workflow.py
  frappe/workflow/doctype/workflow_transition_tasks/workflow_transition_tasks.json
Due: server, ui-tests

fix: get icons from hooks data instead of adding in workflow
  frappe/public/js/workflow_builder/components/ActionNode.vue
  frappe/public/js/workflow_builder/components/StateSelector.vue
  frappe/public/js/workflow_builder/store.js
  frappe/workflow/doctype/workflow/workflow.py
Due: server, ui-tests

fix: task icon in view
  frappe/public/js/workflow_builder/components/ActionNode.vue
Due: none

fix: improve perm check ux
  frappe/permissions.py
Due: server

fix: update based on v15 signature
  frappe/permissions.py
Due: server

feat: add Brazilian Portuguese
  frappe/geo/languages.csv
Due: none

refactor: move confirm inside logout method
  frappe/public/js/frappe/desk.js
Due: ui-tests

Revert "fix(ux): add confirm before logout"
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
Due: ui-tests

fix(ux): add confirm before logout
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
Due: ui-tests

fix: close tooltip with close button
  frappe/public/js/frappe/form/info_card.js
  frappe/public/js/frappe/ui/sidebar/sidebar_card.js
Due: ui-tests

fix(gettext): extract template-literal translations with correct line numbers
  frappe/gettext/extractors/javascript.py
  frappe/gettext/extractors/tests/test_javascript.py
Due: server
