Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(rename_doc): Allow updating only document title or name
  frappe/model/rename_doc.py
Due: server

refactor!: Deprecate ignore_permissions & flags in communication.make API
  frappe/core/doctype/communication/email.py
  frappe/email/doctype/notification/notification.py
Due: server

fix: Add signature only if not Communication.flags.skip_add_signature
  frappe/core/doctype/communication/communication.py
  frappe/core/doctype/communication/email.py
Due: server

fix: Don't add signature only when called from API
  frappe/core/doctype/communication/email.py
Due: server

fix: Add signature to Communication.content if not already added
  frappe/core/doctype/communication/communication.py
  frappe/email/email_body.py
  frappe/public/js/frappe/views/communication.js
  frappe/templates/emails/standard.html
  requirements.txt
Due: server, ui-tests

fix(ux): remove attachment limits
  frappe/core/doctype/user/user.json
  frappe/email/doctype/newsletter/newsletter.json
  frappe/website/doctype/blog_post/blog_post.json
  frappe/website/doctype/web_page/web_page.json
  frappe/website/doctype/website_settings/website_settings.json
Due: ui-tests

fix: resolve conflict
  frappe/email/doctype/newsletter/newsletter.json
  frappe/website/doctype/blog_post/blog_post.json
  frappe/website/doctype/web_page/web_page.json
  frappe/website/doctype/website_settings/website_settings.json
Due: ui-tests

fix: formatting
  frappe/public/js/frappe/web_form/web_form_list.js
Due: ui-tests

fix: Resolve backport conflicts
  frappe/core/doctype/communication/email.py
Due: server

ci: correct py version for asset build
  .github/workflows/publish-assets-releases.yml
Due: none

fix: handle Nonetype error
  frappe/model/base_document.py
Due: server

fix: use frappe.db.multiselect to run databse specific query
  frappe/desk/doctype/system_console/system_console.js
  frappe/desk/doctype/system_console/system_console.py
Due: server, ui-tests

fix: use frappe.db.multiselect to run database specific query
  frappe/desk/doctype/system_console/system_console.js
  frappe/desk/doctype/system_console/system_console.py
Due: server, ui-tests

fix: clear filters before setting them (#16077)
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

fix: Use parent_doctype=... syntax while fetching users with a particular role
  frappe/core/doctype/role/role.py
Due: server

fix: improve ux
  frappe/public/js/frappe/ui/capture.js
  frappe/public/scss/common/controls.scss
Due: ui-tests

fix: stream not being visible
  frappe/public/js/frappe/ui/capture.js
Due: ui-tests

chore: sider fixes
  frappe/public/js/frappe/ui/capture.js
Due: ui-tests

fix: improve `modify_query` regex
  frappe/database/postgres/database.py
Due: server

fix: sider warning
  frappe/database/postgres/database.py
Due: server

fix: show traceback as string instead of bytes
  frappe/www/error.py
Due: server

fix: consider title field only if it's value exists
  frappe/public/js/frappe/model/model.js
Due: ui-tests

chore: make `title` bold
  frappe/public/js/frappe/model/model.js
Due: ui-tests

fix: Consider title field only if it's value exists (#16236)
  frappe/public/js/frappe/model/model.js
Due: ui-tests

fix: setting permissions to any role of some doctypes is not working
  frappe/permissions.py
Due: server

feat: show link titles in web form link fields
  frappe/public/js/frappe/form/controls/autocomplete.js
  frappe/public/js/frappe/utils/utils.js
  frappe/website/doctype/web_form/web_form.py
Due: server, ui-tests

test: failing report_view UI test fix
  cypress/integration/list_paging.js
  cypress/integration/report_view.js
  frappe/tests/ui_test_helpers.py
Due: server, ui-tests

Development 202203101513
  frappe/core/doctype/role_profile/role_profile.json
  frappe/core/doctype/user/user.json
Due: ui-tests

fix: Last grid column has unnecessary margin
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/scss/common/grid.scss
Due: ui-tests

fix(linter): Trim Trailing Whitespace
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

feat: provision to handle payment authorization event in server script for custom documents
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script_utils.py
  frappe/utils/safe_exec.py
Due: server, ui-tests

fix: Number Card to support child table doctype for filters
  frappe/desk/doctype/number_card/number_card.js
  frappe/desk/doctype/number_card/number_card.json
  frappe/desk/doctype/number_card/number_card.py
Due: server, ui-tests

chore: Bump to v13.22.1
  frappe/__init__.py
Due: server

test: Added UI test
  cypress/integration/number_card.js
Due: ui-tests
