Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: simplify comment
  .github/helper/po_pr_review.py
Due: server

fix: filter empty changes
  .github/helper/po_pr_review.py
Due: server

refactor: remove repetitive use of frappe.get_hooks()
  frappe/website/path_resolver.py
Due: server

fix(boilerplate): empty apt dependencies in pyproject boilerplate
  frappe/utils/boilerplate.py
Due: server

fix(boilerplate): add apt dependencies section for Frappe Cloud (#38198)
  frappe/utils/boilerplate.py
Due: server

fix: `get_list` calls fail sometimes due to permlevel TypeError
  frappe/model/meta.py
Due: server

fix: `get_list` calls fail sometimes due to permlevel TypeError (#38214)
  frappe/model/meta.py
Due: server

chore: fix conflicts
  frappe/model/meta.py
Due: server

Notes added by 'git notes add'
  61ab7e2b2409b293ffd3c8f72d730fa89b201332
Due: none

Notes added by 'git notes add'
  72972e28d523da4a0c957833b4ad46da75a4a5e7
Due: none

ci: restrict review script
  .github/workflows/review-po-prs.yml
Due: none

ci: fix branch pattern
  .github/workflows/review-po-prs.yml
Due: none

fix: Spanish translations
  frappe/locale/es.po
Due: none

fix: German translations
  frappe/locale/de.po
Due: none

fix: Vietnamese translations
  frappe/locale/vi.po
Due: none

Revert "fix: use `JSON.parse()` for filter processing"
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/frappe/utils/utils.js
Due: server, ui-tests

Revert "fix: use `JSON.parse()` for filter processing (backport #37421) (#37482)"
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/frappe/utils/utils.js
Due: server, ui-tests

fix: default permission for HR User role
  frappe/core/doctype/role/role.json
  frappe/geo/doctype/currency/currency.json
Due: ui-tests

fix(report): enhance the visibility of serial-no at first column
  frappe/public/scss/desk/report.scss
Due: none

fix(roles-editor): enhance table layout with sticky headers and scrollable container
  frappe/public/js/frappe/roles_editor.js
Due: ui-tests

fix(roles-editor): update header background color based on theme
  frappe/public/js/frappe/roles_editor.js
Due: ui-tests

refactor: add dynamic max height
  frappe/public/js/frappe/roles_editor.js
Due: ui-tests

perf: skip bundle CSS when rendering PDFs via WeasyPrint
  frappe/utils/weasyprint.py
Due: server

ci: run po-review on develop only
  .github/workflows/review-po-prs.yml
Due: none

ci: change permission to "pull-requests: write"
  .github/workflows/review-po-prs.yml
Due: none

fix: Serbian (Latin) translations
  frappe/locale/sr_CS.po
Due: none

fix: Serbian (Cyrillic) translations
  frappe/locale/sr.po
Due: none

fix: show email notification name in workspace UI
  frappe/public/js/workflow_builder/components/ActionNode.vue
  frappe/workflow/doctype/workflow/workflow.py
Due: server

fix: Make workflow builder UI as default
  frappe/public/js/workflow_builder/store.js
  frappe/public/js/workflow_builder/workflow_builder.bundle.js
  frappe/tests/classes/integration_test_case.py
  frappe/workflow/doctype/workflow/workflow.js
  frappe/workflow/doctype/workflow/workflow.json
Due: server, ui-tests

refactor: update variable name
  frappe/website/path_resolver.py
Due: server

Notes added by 'git notes add'
  665fce241eeed17b8869168cd9103d795f39e3e1
Due: none

Notes added by 'git notes add'
  1c6c7d9782c64bfee71de64f84f4c5ecf8072568
Due: none

fix: Italian translations
  frappe/locale/it.po
Due: none

feat: pending workflow report
  frappe/workflow/report/__init__.py
  frappe/workflow/report/pending_workflow/__init__.py
  frappe/workflow/report/pending_workflow/pending_workflow.js
  frappe/workflow/report/pending_workflow/pending_workflow.json
  frappe/workflow/report/pending_workflow/pending_workflow.py
Due: server, ui-tests

chore(language): enabled language pt-BR by default
  frappe/geo/languages.csv
Due: none

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
