Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: Resolve conflicts
  frappe/contacts/address_and_contact.py
Due: server

chore: rename variable
  frappe/model/base_document.py
Due: server

fix: don't add navbar items if theyre already present
  frappe/utils/install.py
Due: server

fix: only set home_page in after_install, if the key doesn't have value
  frappe/utils/install.py
Due: server

feat: Added force flag to install-app command
  frappe/commands/site.py
  frappe/core/doctype/file/file.py
  frappe/installer.py
  frappe/modules/import_file.py
  frappe/utils/install.py
Due: server

chore: use secho instead of raising exception if app is already installed
  frappe/installer.py
Due: server

chore: add comments and add force flag to more places
  frappe/installer.py
Due: server

fix: title should be h1
  frappe/public/scss/website/web_form.scss
  frappe/website/doctype/web_form/templates/web_form.html
Due: none

fix: #16873 - broken indicator-pills after color hex code fix
  frappe/public/js/frappe/widgets/shortcut_widget.js
Due: ui-tests

test: test for force install-app
  frappe/tests/test_commands.py
Due: server

fix: use set instead of list in insert_many client function
  frappe/client.py
Due: server

test: test for insert_many client function
  frappe/tests/test_client.py
Due: server

feat: Added support for IS in frappe qb
  frappe/database/query.py
Due: server

test: added tests for custom IS operator
  frappe/tests/test_db.py
Due: server

style: formatted code (black-ish)
  frappe/tests/test_db.py
Due: server

Development 20220511
  frappe/core/doctype/ticketing_support/ticketing_support.json
  frappe/integrations/doctype/crm_integrator_settings/crm_integrator_settings.json
Due: ui-tests

chore: misleading typehint
  frappe/utils/data.py
Due: server

fix(ux): Show note on how 'All' Role impacts users
  frappe/core/doctype/role/role.js
Due: ui-tests

refactor: Remove dead code
  frappe/commands/site.py
  frappe/core/doctype/communication/communication.py
  frappe/utils/csvutils.py
Due: server

feat: Quick List Block for Workspace
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace_quick_list/__init__.py
  frappe/desk/doctype/workspace_quick_list/workspace_quick_list.json
  frappe/desk/doctype/workspace_quick_list/workspace_quick_list.py
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/workspace/blocks/index.js
  frappe/public/js/frappe/views/workspace/blocks/quick_list.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/js/frappe/widgets/base_widget.js
  frappe/public/js/frappe/widgets/quick_list_widget.js
  frappe/public/js/frappe/widgets/shortcut_widget.js
  frappe/public/js/frappe/widgets/widget_dialog.js
  frappe/public/js/frappe/widgets/widget_group.js
  frappe/public/scss/common/css_variables.scss
  frappe/public/scss/desk/dark.scss
  frappe/public/scss/desk/desktop.scss
Due: server, ui-tests

fix: changed logic of IS function
  frappe/database/query.py
Due: server

fix: Take full backup before dropping site
  frappe/commands/site.py
Due: server

test: updated tests
  frappe/tests/test_db.py
Due: server

chore: missing semicolons, indentation
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/widgets/quick_list_widget.js
Due: ui-tests

fix: don't allow autoincrement autoname from customize form
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form/test_customize_form.py
  frappe/desk/doctype/event/event.json
Due: server, ui-tests

chore: bump plyr to latest version
  package.json
  yarn.lock
Due: ui-tests

refactor: Remove dead code (#16886)
  frappe/commands/site.py
  frappe/core/doctype/communication/communication.py
  frappe/utils/csvutils.py
Due: server

test: UI test for quick list block
  cypress/integration/workspace_blocks.js
  frappe/public/js/frappe/ui/filters/filter_list.js
Due: ui-tests

test: fixed failing test
  cypress/integration/workspace_blocks.js
Due: ui-tests

test: update and rename test_change_autoname
  frappe/core/doctype/doctype/test_doctype.py
  frappe/tests/test_db.py
Due: server

refactor(minor): convert change_name_type_and_make_sequence function to setup_autoincrement_and_sequence method
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/database/mariadb/database.py
  frappe/database/mariadb/schema.py
  frappe/database/postgres/database.py
  frappe/database/postgres/schema.py
Due: server, ui-tests

test(customize form): rename test_autoincrement_autoname to test_change_to_autoincrement_autoname
  frappe/custom/doctype/customize_form/test_customize_form.py
Due: server

fix: instantiate field objects
  frappe/database/query.py
Due: server

chore: remove dead code from event
  frappe/desk/doctype/event/event.py
Due: server

fix: prioritize workspace_quick_list doctype while installing
  frappe/model/sync.py
Due: server

fix: recursion error in translations
  frappe/translate.py
Due: server

feat: Quick List Block for Workspace (#16887)
  cypress/integration/workspace_blocks.js
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace_quick_list/__init__.py
  frappe/desk/doctype/workspace_quick_list/workspace_quick_list.json
  frappe/desk/doctype/workspace_quick_list/workspace_quick_list.py
  frappe/model/sync.py
  frappe/public/js/frappe/ui/filters/filter_list.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/workspace/blocks/index.js
  frappe/public/js/frappe/views/workspace/blocks/quick_list.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/js/frappe/widgets/base_widget.js
  frappe/public/js/frappe/widgets/quick_list_widget.js
  frappe/public/js/frappe/widgets/shortcut_widget.js
  frappe/public/js/frappe/widgets/widget_dialog.js
  frappe/public/js/frappe/widgets/widget_group.js
  frappe/public/scss/common/css_variables.scss
  frappe/public/scss/desk/dark.scss
  frappe/public/scss/desk/desktop.scss
Due: server, ui-tests

test: verify ALL translation file syntax
  frappe/tests/test_translate.py
  frappe/translate.py
Due: server

Filters Won't Work While Routing in Report
  frappe/public/js/frappe/widgets/chart_widget.js
Due: ui-tests
