Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

Notes added by 'git notes add'
  61/9cf699d8e72ef81cf59d4f3a9b8b210d058c47
Due: none

fix: type hint
  frappe/utils/data.py
Due: server

fix: render new doctype dialog box if doctype is not copied (#23854)
  frappe/core/doctype/doctype/doctype.js
Due: ui-tests

fix: don't allow deleting original doc if amendment exists
  frappe/model/delete_doc.py
  frappe/tests/test_linked_with.py
Due: server

test: retry flaky password_strength test thrice
  frappe/tests/test_password_strength.py
Due: server

fix: Error when displaying dashboard with number card using average and sum functions
  frappe/model/db_query.py
Due: server

fix: faster clear user cache on perm change
  frappe/core/doctype/doctype/doctype.py
Due: server

fix: optimize clear_permissions_cache method (#23858)
  frappe/core/doctype/doctype/doctype.py
Due: server

fix: Error when displaying dashboard with number card using average and sum functions (#23883)
  frappe/model/db_query.py
Due: server

feat(sentry): drop events which have `frappe.throw`
  frappe/public/js/sentry.bundle.js
Due: ui-tests

feat(sentry): drop events which have `frappe.throw` (#23886)
  frappe/public/js/sentry.bundle.js
Due: ui-tests

feat: allow setting a custom http status code for redirects
  frappe/exceptions.py
  frappe/website/doctype/website_route_redirect/website_route_redirect.json
  frappe/website/doctype/website_route_redirect/website_route_redirect.py
  frappe/website/page_renderers/redirect_page.py
  frappe/website/path_resolver.py
Due: server, ui-tests

fix: set correct response code for redirections
  frappe/website/serve.py
Due: server

fix(tests): fix redirect tests by adding new field + add another test scenario
  frappe/tests/test_website.py
Due: server

refactor: cache status code as well
  frappe/tests/test_website.py
  frappe/website/path_resolver.py
Due: server

fix: execute query even though input cache exists
  frappe/public/js/frappe/form/controls/autocomplete.js
Due: ui-tests

fix: Treat Document Links entries as all non-std fields
  frappe/model/meta.py
Due: server

test: Custom doctype links having non std fieldname with dashboard override
  frappe/tests/test_dashboard_connections.py
Due: server

style: Linter
  frappe/tests/test_dashboard_connections.py
Due: server

fix(test_customize_form): drop checking of `flags.update_db`
  frappe/custom/doctype/customize_form/test_customize_form.py
Due: server

fix: grid row default values with not using model
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

feat: run a specific UI test spec.js
  frappe/commands/utils.py
Due: server

fix: add skip_dirty_trigger param for child_table
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: allow aspect ratio options to crop from sidebar image field
  frappe/public/js/frappe/form/controls/attach.js
Due: ui-tests

chore: close sidebar was failing
  frappe/public/js/frappe/form/sidebar/user_image.js
Due: ui-tests

build(deps): bump datatable to latest
  frappe/public/js/frappe/views/reports/query_report.js
  package.json
  yarn.lock
Due: ui-tests
