Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: translate header inner text if it is a simple text
  frappe/public/js/frappe/views/workspace/blocks/header.js
Due: ui-tests

fix: child table filter
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

fix: Allow track changes for Roles and Allowed Modules child tables in User DocType (#26841)
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/docfield/docfield.py
  frappe/core/doctype/user/user.json
  frappe/public/js/frappe/form/footer/version_timeline_content_builder.js
Due: server, ui-tests

fix: header block is not translatable
  frappe/public/js/frappe/views/workspace/blocks/header.js
Due: ui-tests

feat: Apps page
  frappe/www/apps.css
  frappe/www/apps.html
  frappe/www/apps.py
Due: server

fix: include apps link in navbar in login screen
  frappe/templates/includes/navbar/navbar_login.html
Due: none

fix: include apps link in standard navbat items
  frappe/hooks.py
Due: server

fix: patch to add apps navbar item in default navbar items in navbar settings
  frappe/patches.txt
  frappe/patches/v16_0/add_app_launcher_in_navbar_settings.py
Due: server

fix: get value with ignore=True
  frappe/desk/doctype/notification_settings/notification_settings.py
Due: server

fix: default notification
  frappe/desk/doctype/notification_log/notification_log.json
  frappe/desk/doctype/notification_log/notification_log.py
Due: server, ui-tests

chore: `conflicts`
  frappe/desk/doctype/notification_log/notification_log.json
Due: ui-tests

chore: `conflicts`
  frappe/desk/doctype/notification_log/notification_log.py
Due: server

feat: Workspace Settings - allow enabling and disabling of workspaces during setup
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/navbar_settings/navbar_settings.py
  frappe/core/workspace/users/users.json
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace_settings/__init__.py
  frappe/desk/doctype/workspace_settings/test_workspace_settings.py
  frappe/desk/doctype/workspace_settings/workspace_settings.js
  frappe/desk/doctype/workspace_settings/workspace_settings.json
  frappe/desk/doctype/workspace_settings/workspace_settings.py
  frappe/hooks.py
  frappe/migrate.py
  frappe/model/base_document.py
  frappe/patches.txt
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/form/quick_entry.js
  frappe/public/js/frappe/form/script_manager.js
  frappe/public/js/frappe/ui/dialog.js
  frappe/public/js/frappe/views/workspace/workspace.js
Due: server, ui-tests

chore: update POT file
  frappe/locale/main.pot
Due: none

feat: flesh out boilerplate for script report
  frappe/core/doctype/report/boilerplate/controller.js
  frappe/core/doctype/report/boilerplate/controller.py
  pyproject.toml
Due: server, ui-tests

fix: add missing translation
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix: add translation function to route label text (#27175)
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

chore: update POT file (#27300)
  frappe/locale/main.pot
Due: none

fix: use dynamic links for doctype links
  frappe/automation/doctype/milestone/milestone.json
  frappe/automation/doctype/milestone/milestone.py
  frappe/core/doctype/error_log/error_log.json
  frappe/core/doctype/error_log/error_log.py
  frappe/core/doctype/file/file.json
  frappe/core/doctype/file/file.py
  frappe/core/doctype/version/version.json
  frappe/core/doctype/version/version.py
  frappe/desk/doctype/notification_log/notification_log.json
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/email/doctype/email_queue/email_queue.json
  frappe/email/doctype/email_queue/email_queue.py
  frappe/social/doctype/energy_point_log/energy_point_log.json
  frappe/social/doctype/energy_point_log/energy_point_log.py
Due: server, ui-tests

fix: translation of dashboard chart and number card label
  frappe/public/js/frappe/widgets/base_widget.js
Due: ui-tests

fix: translation of dashboard chart and number card label prettier
  frappe/public/js/frappe/widgets/base_widget.js
Due: ui-tests

fix: Esperanto translations
  frappe/locale/eo.po
Due: none

fix: Swedish translations
  frappe/locale/sv.po
Due: none

fix(ErrorHandling): add missing system setting handling for error traceback
  frappe/app.py
Due: server

feat(DurationControl): Parse duration string input
  frappe/public/js/frappe/form/controls/duration.js
Due: ui-tests

chore(deleted_document): don't create feed entry on deletion
  frappe/core/doctype/deleted_document/deleted_document.py
Due: server

fix: moved translation function call to text variable let
  frappe/public/js/frappe/views/workspace/blocks/header.js
Due: ui-tests

perf(utils): Lazy load flags img in frappe.utils.flag
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix(XLSX): remove unsupported characters from sheet title
  frappe/utils/xlsxutils.py
Due: server
