Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

feat: backup health
  frappe/desk/doctype/system_health_report/system_health_report.json
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/desk/page/backups/backups.py
Due: server, ui-tests

feat: cache health
  frappe/desk/doctype/system_health_report/system_health_report.json
  frappe/desk/doctype/system_health_report/system_health_report.py
Due: server, ui-tests

refactor: Single page instead of tabs
  frappe/desk/doctype/system_health_report/system_health_report.json
Due: ui-tests

fix: exception handling for health report
  frappe/desk/doctype/system_health_report/system_health_report.py
Due: server

feat: highlight bad indicators
  frappe/desk/doctype/system_health_report/system_health_report.js
Due: ui-tests

chore: rename child doctypes
  frappe/desk/doctype/system_health_report/system_health_report.json
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/desk/doctype/system_health_report_queue/__init__.py
  frappe/desk/doctype/system_health_report_queue/system_health_report_queue.json
  frappe/desk/doctype/system_health_report_queue/system_health_report_queue.py
  frappe/desk/doctype/system_health_report_tables/__init__.py
  frappe/desk/doctype/system_health_report_tables/system_health_report_tables.json
  frappe/desk/doctype/system_health_report_tables/system_health_report_tables.py
  frappe/desk/doctype/system_health_report_workers/__init__.py
  frappe/desk/doctype/system_health_report_workers/system_health_report_workers.json
  frappe/desk/doctype/system_health_report_workers/system_health_report_workers.py
Due: server, ui-tests

feat: background jobs test
  frappe/desk/doctype/system_health_report/system_health_report.js
  frappe/desk/doctype/system_health_report/system_health_report.json
  frappe/desk/doctype/system_health_report/system_health_report.py
Due: server, ui-tests

fix(UX): help links and relative URLs
  frappe/desk/doctype/system_health_report/system_health_report.js
  frappe/desk/doctype/system_health_report/system_health_report.json
  frappe/utils/__init__.py
Due: server, ui-tests

feat: extend highlight to child tables
  frappe/desk/doctype/system_health_report/system_health_report.js
Due: ui-tests

refactor: misc
  frappe/desk/doctype/system_health_report/system_health_report.js
  frappe/desk/doctype/system_health_report/system_health_report.py
Due: server, ui-tests

feat: failng scheduled jobs
  frappe/desk/doctype/system_health_report/system_health_report.json
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/desk/doctype/system_health_report_failing_jobs/__init__.py
  frappe/desk/doctype/system_health_report_failing_jobs/system_health_report_failing_jobs.json
  frappe/desk/doctype/system_health_report_failing_jobs/system_health_report_failing_jobs.py
Due: server, ui-tests

refactor: use table for errors
  frappe/desk/doctype/system_health_report/system_health_report.js
  frappe/desk/doctype/system_health_report/system_health_report.json
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/desk/doctype/system_health_report_errors/__init__.py
  frappe/desk/doctype/system_health_report_errors/system_health_report_errors.json
  frappe/desk/doctype/system_health_report_errors/system_health_report_errors.py
Due: server, ui-tests

fix(UX): Add health check in navbar
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/hooks.py
Due: server

chore: conflicts
  realtime/handlers/frappe_handlers.js
Due: ui-tests

fix: unknown charset windows-874 problem on incoming mail
  frappe/email/receive.py
Due: server

refactor: don't modify email library's dictionary
  frappe/__init__.py
  frappe/email/receive.py
Due: server

fix(UX): Add health check in navbar (#26086)
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/hooks.py
Due: server

fix(resolver): handle werkzeug redirect exception
  frappe/website/path_resolver.py
  frappe/website/router.py
Due: server

fix: 🐛 don't create __init__.py files when gathering pages (#26045)
  frappe/website/router.py
Due: server

conflicts
  frappe/website/router.py
Due: server

chore: drop flaky not so important UI tests
  cypress/integration/discussions.js
  cypress/integration/first_day_of_the_week.js
  cypress/integration/list_view_drag_select.js
  frappe/website/doctype/blog_post/ui_test_blog_post.js
Due: ui-tests

fix: Turkish translations
  frappe/locale/tr.po
Due: none

fix: Bosnian translations
  frappe/locale/bs.po
Due: none

fix(attribution): Truncate text, hide deps if there are none (#25999)
  frappe/www/attribution.html
Due: none

chore: drop flaky not so important UI tests (#26092)
  cypress/integration/discussions.js
  cypress/integration/first_day_of_the_week.js
  cypress/integration/list_view_drag_select.js
  frappe/website/doctype/blog_post/ui_test_blog_post.js
Due: ui-tests

fix(grid): ensure that `doc` itself is not null
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

fix: deprecate uploadfile
  frappe/handler.py
Due: server

chore!: Drop deprecated method
  frappe/handler.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
