Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

feat: add extractor for count format of shortcut
  frappe/gettext/extractors/workspace.py
Due: server

fix: clean up print
  frappe/gettext/extractors/html_template.py
Due: server

fix: linting issues
  frappe/public/js/frappe/form/sidebar/assign_to.js
Due: ui-tests

fix: multistep webform page navigation
  frappe/public/js/frappe/web_form/web_form.js
Due: ui-tests

chore: warn if wkhtmltopdf is invalid
  frappe/printing/page/print/print.js
  frappe/utils/pdf.py
Due: server, ui-tests

fix: clean up print (#26170)
  frappe/gettext/extractors/html_template.py
Due: server

fix: Don't optimize images implicitly
  frappe/core/doctype/file/utils.py
Due: server

fix: Don't optimize images implicitly (#26177)
  frappe/core/doctype/file/utils.py
Due: server

feat: Document.remove_tag (#22970)
  frappe/model/document.py
Due: server

fix: Turkish translations
  frappe/locale/tr.po
Due: none

fix: Spanish translations
  frappe/locale/es.po
Due: none

fix: German translations
  frappe/locale/de.po
Due: none

fix: Bosnian translations
  frappe/locale/bs.po
Due: none

feat: add extraction of description string
  frappe/gettext/extractors/workspace.py
Due: server

fix: compute modal title server side
  frappe/templates/includes/contact.js
Due: ui-tests

fix permissions
  frappe/desk/reportview.py
  frappe/model/db_query.py
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Due: server, ui-tests

fix get data from kanban
  frappe/desk/reportview.py
  frappe/model/db_query.py
Due: server

Fix: lstrip for query writes detection
  frappe/database/database.py
Due: server

fix: Persian translations
  frappe/locale/fa.po
Due: none

Bug fix: Lookup in DB should perform the same preperation operations as method update_nsm in file nestedset.py
  frappe/desk/treeview.py
Due: server

chore: update POT file
  frappe/locale/main.pot
Due: none

fix: restoring site breaks when checking backup version
  frappe/installer.py
Due: server

Bug fix: Added missing fixes for GUI
  frappe/desk/treeview.py
  frappe/public/js/frappe/views/treeview.js
Due: server, ui-tests

feat: add Espresso & Timeless icons
  desk/src/App.vue
  desk/src/components/Icon.vue
  desk/src/components/icons/IconsEspresso.vue
  desk/src/components/icons/IconsTimeless.vue
  package.json
Due: ui-tests

fix(style): inherit icon colors from parent
  desk/src/components/icons/IconsEspresso.vue
  desk/src/components/icons/IconsTimeless.vue
Due: none

feat: Iconic Desktop starter
  desk/src/App.vue
  desk/src/components/Desktop.vue
  desk/src/components/Icon.vue
  desk/src/data/desktop.js
  desk/src/pages/Home.vue
Due: ui-tests

fix: rename fields for html, col, section, etc.
  frappe/custom/doctype/custom_field/custom_field.py
Due: server

fix(UX): bulk delete error messages
  frappe/desk/reportview.py
Due: server

fix: rename fields for html, col, section, etc. (#26188)
  frappe/custom/doctype/custom_field/custom_field.py
Due: server

add generic response type
  frappe/utils/response.py
Due: server

null
  .gitignore
Due: none
