Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

chore: don't allow printing more than 50 documents for now (#25229)
  frappe/public/js/frappe/list/bulk_operations.js
Due: ui-tests

fix: imports
  frappe/core/doctype/doctype/test_doctype.py
Due: server

ci(version-15): use 3.10 (#25227)
  .github/workflows/linters.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
  frappe/tests/test_auth.py
Due: server

refactor: better variable names
  frappe/desk/doctype/bulk_update/bulk_update.py
Due: server

fix: task_id parameter for publish_progress
  frappe/realtime.py
Due: server

refactor: better parameter name
  frappe/public/js/frappe/list/bulk_operations.js
Due: ui-tests

chore: deprecate old show_progress
  frappe/desk/doctype/bulk_update/bulk_update.py
Due: server

fix: better error message
  frappe/public/js/frappe/list/bulk_operations.js
Due: ui-tests

feat: task_id for submit_cancel_or_update_docs
  frappe/desk/doctype/bulk_update/bulk_update.py
  frappe/public/js/frappe/list/bulk_operations.js
Due: server, ui-tests

ci: don't skip validations in CI
  frappe/core/doctype/doctype/doctype.py
Due: server

ci: don't skip validations in CI (#25226)
  frappe/core/doctype/doctype/doctype.py
Due: server

feat: set counter in columns titles kanband boards
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
  frappe/public/js/frappe/views/kanban/kanban_view.js
Due: ui-tests

login page
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
  frappe/hooks.py
  frappe/templates/includes/login/login.js
  frappe/www/login.html
  frappe/www/login.py
  frappe/www/verify_otp.html
Due: server, ui-tests

New translations main.pot (Spanish)
  frappe/locale/es.po
Due: none

New translations main.pot (Persian)
  frappe/locale/fa.po
Due: none

login page
  frappe/www/login.py
Due: server

chore: sync translations from crowdin (#25236)
  frappe/locale/es.po
  frappe/locale/fa.po
Due: none

chore(release): Bumped to Version 14.67.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  9199a4eaff746024453342281a56bdfa70be2590
Due: none

chore(release): Bumped to Version 15.17.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  34d6daa74837c7c5be0d956ddc4554efcf55df54
Due: none

fix: indicator disappearing
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

from live
  frappe/automation/workspace/tools/tools.json
  frappe/core/workspace/build/build.json
  frappe/core/workspace/users/users.json
  frappe/integrations/workspace/integrations/integrations.json
  frappe/website/workspace/website/website.json
Due: ui-tests

chore: update crowdin configuration
  crowdin.yml
Due: none

fix: alignment
  frappe/public/js/frappe/list/list_view.js
  frappe/public/scss/desk/list.scss
Due: ui-tests

chore: update crowdin configuration (#25240)
  crowdin.yml
Due: none

fix: German translations
  frappe/locale/de.po
Due: none

fix: Spanish translations
  frappe/locale/es.po
Due: none

feat: no create a new item on projects -> quotation -> new item
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

merge
  frappe/public/js/frappe/request.js
Due: ui-tests

fix: Private images in PDFs from background jobs (#24980)
  frappe/core/doctype/file/test_file.py
  frappe/core/doctype/file/utils.py
  frappe/tests/test_pdf.py
  frappe/utils/pdf.py
  frappe/utils/response.py
Due: server

fix: sync translations from crowdin (#25244)
  frappe/locale/de.po
  frappe/locale/es.po
Due: none

Revert "perf: reduce JS duplication (#25199)"
  frappe/public/js/frappe/data_import/import_preview.js
  frappe/public/js/frappe/form/controls/phone.js
  frappe/public/js/frappe/ui/datatable.js
  frappe/public/js/frappe/views/communication.js
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/report_view.js
  frappe/public/js/libs.bundle.js
  frappe/public/scss/report.bundle.scss
Due: ui-tests

Revert "perf: reduce JS duplication (#25199)" (#25246)
  frappe/public/js/frappe/data_import/import_preview.js
  frappe/public/js/frappe/form/controls/phone.js
  frappe/public/js/frappe/ui/datatable.js
  frappe/public/js/frappe/views/communication.js
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/report_view.js
  frappe/public/js/libs.bundle.js
  frappe/public/scss/report.bundle.scss
Due: ui-tests

Hotfix update after submit bug on comparing time <> timedelta fieldtype
  frappe/model/base_document.py
Due: server

chore: conflicts
  frappe/utils/pdf.py
Due: server

fix: loosen validation on fetch from columns
  frappe/core/doctype/doctype/doctype.py
Due: server

fix: Delete EPS logs before deleting user
  frappe/core/doctype/user/user.py
Due: server

fix(UX): Nudge to disable user instead of deleting
  frappe/core/doctype/user/user.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
