Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

perf: Use get_cached_doc instead of get_doc - Makes document pages with no-cache load a bit faster
  frappe/website/page_renderers/document_page.py
Due: server

refactor(sentry): don't require passing in an exception (#23689)
  frappe/utils/sentry.py
Due: server

perf: Simplify dynamic route evaluation to speed up route resolution
  frappe/website/doctype/web_form/web_form.py
  frappe/website/router.py
Due: server

fix: call onchange with GridRow object as its scope
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

feat: implemented secure deletion of associated files on document trashing
  frappe/desk/doctype/dashboard_chart_source/dashboard_chart_source.py
Due: server

fix!: remove grid row field_on_change usage.
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

Update indicator.js
  frappe/public/js/frappe/model/indicator.js
Due: ui-tests

Merge pull request from GHSA-v3vh-7qx4-f582
  frappe/utils/safe_exec.py
Due: server

fix: Show server script name in traceback (#23676)
  frappe/core/doctype/report/report.py
  frappe/core/doctype/server_script/server_script.py
  frappe/desk/doctype/system_console/system_console.py
  frappe/query_builder/utils.py
  frappe/recorder.py
  frappe/utils/error.py
  frappe/utils/safe_exec.py
  frappe/website/doctype/web_page/web_page.py
Due: server

chore: improve condition to avoid re-initializing flag
  frappe/utils/safe_exec.py
Due: server

fix: escape username on avatar control
  frappe/templates/includes/avatar_macro.html
Due: none

fix: escape username on avatar control (#23713)
  frappe/templates/includes/avatar_macro.html
Due: none

fix: ecsape search string
  frappe/templates/includes/list/list.html
  frappe/templates/includes/list/list.js
Due: ui-tests

fix: ecsape search string (#23717)
  frappe/templates/includes/list/list.html
  frappe/templates/includes/list/list.js
Due: ui-tests

fix: change webhook header types to small text
  frappe/integrations/doctype/webhook_header/webhook_header.json
Due: ui-tests

fix: change webhook header types to small text (#23722)
  frappe/integrations/doctype/webhook_header/webhook_header.json
Due: ui-tests

fix: Correct fallback for social login key
  frappe/integrations/doctype/social_login_key/social_login_key.py
Due: server

fix: ignore duplicate contact creation (#23423)
  frappe/core/doctype/user/user.py
Due: server

fix: Avoid duplicate contact names
  frappe/contacts/doctype/contact/contact.py
Due: server

fix: Avoid duplicate contact names (#23731)
  frappe/contacts/doctype/contact/contact.py
Due: server

fix: ignore if controller doesn't have `get_list` attr
  frappe/model/db_query.py
Due: server

fix: get users for leaderboard
  frappe/desk/leaderboard.py
Due: server

style: Linter
  frappe/tests/test_dashboard_connections.py
Due: server
