Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: append download button to body and cleanup after click
  frappe/core/doctype/file/file.js
Due: ui-tests

fix: remove fetch_from from link field
  frappe/core/doctype/doctype/doctype.py
Due: server

fix(ui): remove fetch_from from link field properties
  frappe/public/js/form_builder/components/FieldProperties.vue
Due: none

feat: remove User.a_system_manager_should_exist
  frappe/core/doctype/user/user.py
Due: server

feat: remove User.add_system_manager_role
  frappe/core/doctype/user/user.py
Due: server

feat: remove User.is_system_manager_disabled
  frappe/core/doctype/user/user.py
Due: server

feat: remove User.get_other_system_managers
  frappe/core/doctype/user/user.py
Due: server

feat(Kanban): grow columns if there's leftover space
  frappe/public/scss/desk/kanban.scss
Due: none

fix(Kanban): space between columns
  frappe/public/scss/desk/kanban.scss
Due: none

fix(test): don't navigate after login
  cypress/integration/navigation.js
Due: ui-tests

fix: Turkish translations
  frappe/locale/tr.po
Due: none

refactor: Wrap meta in v2
  frappe/api/v2.py
Due: server

feat: Option to make webform embeddable
  frappe/website/doctype/web_form/templates/web_form.html
  frappe/website/doctype/web_form/web_form.js
Due: ui-tests

refactor: Wrap meta in v2 (#26548)
  frappe/api/v2.py
Due: server

feat: store filters for config
  desk/src/components/Controls/DatePicker.vue
  desk/src/components/Controls/DateRangePicker.vue
  desk/src/components/Controls/DatetimePicker.vue
  desk/src/components/Controls/Link.vue
  desk/src/components/ListColumnSettings.vue
  frappe/desk/doctype/view_config/view_config.json
  frappe/desk/doctype/view_config/view_config.py
Due: server, ui-tests

fix(ui_test): reload page after login instead of redirecting to /app
  cypress/integration/navigation.js
Due: ui-tests

fix(ui_test): reload page after login instead of redirecting to /app (#26551)
  cypress/integration/navigation.js
Due: ui-tests

feat: kanban style (#26538)
  frappe/public/js/frappe/views/kanban/kanban_column.html
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/public/scss/desk/kanban.scss
Due: ui-tests

feat: add "System Manager" role to User created by setup wizard
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server

fix: append download button to body and cleanup after click (#26544)
  frappe/core/doctype/file/file.js
Due: ui-tests

fix: don't automatically add system manager (#26540)
  frappe/core/doctype/user/user.py
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server

refactor: `frappe.json` -> `json`
  frappe/desk/query_report.py
Due: server

feat: use `orjson` instead of `json` in some places
  frappe/__init__.py
  frappe/app.py
  frappe/tests/test_utils.py
  frappe/utils/response.py
  frappe/www/app.py
  pyproject.toml
Due: server

feat: add ListFilter component
  desk/src/components/ListControls.vue
  desk/src/components/ListFilter.vue
  desk/src/components/ListView.vue
Due: none

test: refactor autocomplete cypress test
  cypress/integration/control_autocomplete.js
Due: ui-tests

fix: child table field wildcard in API (#26543)
  frappe/desk/reportview.py
Due: server

feat: handle filters using route params
  desk/src/components/ListControls.vue
  desk/src/pages/List.vue
Due: none

fix: Appropriate variable name, avoid redefining parameter
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

feat: increase verbosity of post_schema_updates
  frappe/migrate.py
Due: server

fix: use link field for letter head
  frappe/public/js/frappe/form/print_utils.js
Due: ui-tests

fix: apply user permissions on letter head
  frappe/boot.py
Due: server

refactor: cleanup event emitting for filters
  desk/src/components/ListControls.vue
  desk/src/components/ListView.vue
  desk/src/pages/List.vue
Due: none

refactor: watcher for column picker
  desk/src/components/Controls/NestedPopover.vue
  desk/src/components/ListColumnSettings.vue
  desk/src/components/ListFilters.vue
Due: none

fix: Persian translations
  frappe/locale/fa.po
Due: none
