Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

build: Bump python_requires to match documentation
  setup.py
Due: server

fix virtual doctype use problem
  frappe/core/doctype/comment/comment.py
  frappe/database/database.py
  frappe/desk/form/load.py
  frappe/model/base_document.py
  frappe/workflow/doctype/workflow/workflow.py
Due: server

fix: Add all possible view as comment
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

fix(ux): instructions/warning for doctype edits
  frappe/core/doctype/doctype/doctype.js
  frappe/public/js/frappe/form/layout.js
Due: ui-tests

fix(translation): Add all possible views as comment (#16097)
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

fix: Resolve conflicts
  frappe/public/js/frappe/form/dashboard.js
Due: ui-tests

fix(print): Added properties page-width, page-height (#16045)
  frappe/utils/pdf.py
Due: server

test: Set correct parent doctype for document link
  frappe/custom/doctype/customize_form/test_customize_form.py
Due: server

fix: Use meta if parent doctype is same as current doctype
  frappe/core/doctype/doctype/doctype.py
Due: server

fix: Fix if table_field exists in meta of link.parent_doctype
  frappe/core/doctype/doctype/doctype.py
Due: server

fix: only check migration_hash on doctype
  frappe/modules/import_file.py
Due: server

fix: explicitly ignore duplicates
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/desk/utils.py
  frappe/test_runner.py
  frappe/utils/install.py
Due: server

chore: remove redundant code from `update_if_missing`
  frappe/model/base_document.py
Due: server

fix(translation): Field translation (#16010)
  frappe/translations/de.csv
Due: none

fix(UI): Flaky link preview popover creation (closes #15482)
  frappe/public/js/frappe/ui/link_preview.js
Due: ui-tests

fix(UI): Fix incorrect dark theme text color in user-wise grid column configuration (closes #14572)
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

test: use `now` instead of `is_async` in tests
  frappe/model/delete_doc.py
Due: server

refactor(rename_doc): update_document_title API
  frappe/model/rename_doc.py
  frappe/public/js/frappe/form/toolbar.js
Due: server, ui-tests

fix!: Disallow posiitonal args in update_document_title
  frappe/model/rename_doc.py
Due: server

test: Use 'Module Def' to test update_document_title
  frappe/tests/test_rename_doc.py
Due: server

test: clear-cache after DDl
  frappe/workflow/doctype/workflow/test_workflow.py
Due: server

fix: format of ldap_settings.py
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
Due: server

test: Skip test_image_parsing if no mail found
  frappe/tests/test_email.py
Due: server

test(TestFrappeClient): Set Admin password else skip
  frappe/tests/test_frappe_client.py
Due: server

refactor: Workflow Action Role to Workflow Action Permitted Role
  frappe/workflow/doctype/workflow/test_workflow.py
  frappe/workflow/doctype/workflow_action/workflow_action.json
  frappe/workflow/doctype/workflow_action/workflow_action.py
  frappe/workflow/doctype/workflow_action_permitted_role/__init__.py
  frappe/workflow/doctype/workflow_action_permitted_role/workflow_action_permitted_role.json
  frappe/workflow/doctype/workflow_action_permitted_role/workflow_action_permitted_role.py
Due: server, ui-tests

fix: new frappe events not syncing with google calendar
  frappe/integrations/doctype/google_calendar/google_calendar.py
Due: server

refactor: remove default values
  frappe/core/page/dashboard_view/dashboard_view.js
Due: ui-tests

fix: set the filters in chart doc
  frappe/core/page/dashboard_view/dashboard_view.js
Due: ui-tests

fix: remove unused code
  frappe/hooks.py
  frappe/workflow/doctype/workflow_action/workflow_action.py
Due: server

fix: do not set default root user
  frappe/commands/site.py
  frappe/installer.py
Due: server

fix: remove padding for mobile view
  frappe/public/scss/website/web_form.scss
Due: none

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
