Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

ci: temporarily redirect for testing the ci fix
  .github/workflows/ui-tests.yml
  ci
Due: none

ci: fix ui test trigger (inverted copy paste error)
  .github/workflows/ui-tests.yml
Due: none

ci: revert erroneous, auto-merge mediated, commit
  ci
Due: none

ci: leanly invocate bench modules requiring less upstream refactor
  .github/actions/setup/action.yml
Due: none

fix: enable fetching datetime fields from linked doctypes
  frappe/public/js/frappe/form/script_manager.js
Due: ui-tests

fix: Spanish translations
  frappe/locale/es.po
Due: none

fix: Turkish translations
  frappe/locale/tr.po
Due: none

ci: make db-migration arifact part of the workflow inputs
  .github/workflows/_base-migration.yml
  .github/workflows/server-tests.yml
  pyproject.toml
Due: none

ci: chore cleanup
  .github/workflows/_base-migration.yml
Due: none

ci: introduce
  .github/workflows/server-tests.yml
Due: none

ci: finish off introduction of #28604
  .github/workflows/server-tests.yml
Due: none

ci: add tmate session debug to ui tests
  .github/workflows/_base-ui-tests.yml
Due: none

ci: remove obsolete helpers
  .github/helper/install_bench.sh
  .github/helper/install_dependencies.sh
  .github/helper/install_site.sh
Due: none

ci: fix coverage
  .github/actions/setup/action.yml
  .github/workflows/_base-server-tests.yml
  .github/workflows/_base-ui-tests.yml
Due: none

ci: fix redirect
  .github/workflows/ui-tests.yml
Due: none

Update Chinese locale
  frappe/locale/zh.po
Due: none

Update locale translator info
  frappe/locale/zh.po
Due: none

ci: this adds universal runtime typechecking during tests to test runners
  frappe/parallel_test_runner.py
  frappe/testing/environment.py
  frappe/utils/typing_validations.py
Due: server

ci: add configuration options for test-time type checking
  frappe/testing/environment.py
  pyproject.toml
Due: server

translation
  frappe/translations/nl.csv
  frappe/utils/print_format.py
  frappe/www/printview.py
Due: server

fix: Swedish translations
  frappe/locale/sv.po
Due: none

feat: update pickup icon to change color based on status
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Due: ui-tests

test: fix universal type checker based on downstream use and more testing
  frappe/testing/environment.py
Due: server

fix: type validation error reporting
  frappe/testing/environment.py
  frappe/utils/typing_validations.py
Due: server

fix: types; various
  frappe/__init__.py
  frappe/core/doctype/recorder/recorder.py
Due: server

chore: switch off test-time type checking
  pyproject.toml
Due: none

chore: python3.13 support
  .github/workflows/_base-migration.yml
  .github/workflows/_base-server-tests.yml
  .github/workflows/_base-type-check.yml
  .github/workflows/_base-ui-tests.yml
  .github/workflows/generate-pot-file.yml
  .github/workflows/linters.yml
  .github/workflows/on_release.yml
  .github/workflows/publish-assets-develop.yml
  .github/workflows/run-indinvidual-tests.yml
  .github/workflows/server-tests.yml
  pyproject.toml
Due: none

chore: bump RestrictedPython
  pyproject.toml
Due: none

fix(deprecation_dumpster): import functools uncondtionally
  frappe/deprecation_dumpster.py
Due: server

chore: bump pydantic
  pyproject.toml
Due: none

chore: bump uuid-utils
  pyproject.toml
Due: none

chore(docref): improve error message
  frappe/types/docref.py
Due: server

chore(ui-tests): don't print subprocess traceback
  frappe/commands/testing.py
Due: server

chore(ui-tests): raise click Exit exception
  frappe/commands/testing.py
Due: server
