Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(menu): should always close
  frappe/public/js/frappe/ui/menu.js
Due: ui-tests

feat: have default workspace for items that can be in multiple sidebar
  frappe/boot.py
  frappe/desk/doctype/workspace_sidebar_item/workspace_sidebar_item.json
  frappe/desk/doctype/workspace_sidebar_item/workspace_sidebar_item.py
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: server, ui-tests

chore: fix tests
  frappe/tests/test_domainification.py
Due: server

fix: remove test for now
  frappe/desk/doctype/workspace/test_workspace.py
Due: server

feat: show allowed workspaces on user form
  frappe/core/doctype/user/user.js
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
Due: server, ui-tests

feat: explict workspace permission
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/doctype/workspace_allowed_users/__init__.py
  frappe/desk/doctype/workspace_allowed_users/workspace_allowed_users.json
  frappe/desk/doctype/workspace_allowed_users/workspace_allowed_users.py
  frappe/patches.txt
  frappe/patches/v16_0/prefill_workspace_allowed_users.py
Due: server, ui-tests

fix: remove grouping and add home button in breadcrumb
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/views/breadcrumbs.js
Due: ui-tests

refactor: remove desktop icon related patches
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/doctype/desktop_layout/desktop_layout.py
  frappe/desk/page/desktop/desktop.html
  frappe/desk/page/desktop/desktop.py
  frappe/patches.txt
  frappe/patches/v16_0/add_standard_field_in_workspace_sidebar.py
  frappe/patches/v16_0/auto_generate_desktop_icon_and_sidebar.py
  frappe/patches/v16_0/change_link_type_to_workspace_sidebar.py
  frappe/patches/v16_0/unset_standard_field_for_auto_generated_icons.py
Due: server

fix: sync allowed users
  frappe/model/sync.py
Due: server

chore: remove test for desktop layout
  frappe/desk/doctype/desktop_layout/test_desktop_layout.py
Due: server

fix: remove sidebar editor
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
  frappe/public/js/frappe/ui/sidebar/sidebar.html
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_editor.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.html
  frappe/public/js/frappe/ui/sidebar/sidebar_item.html
  frappe/public/js/frappe/ui/sidebar/sidebar_item.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/scss/desk/sidebar.scss
Due: server, ui-tests

refactor: remove my workspaces concept
  cypress/integration/workspace.js
  frappe/boot.py
  frappe/core/workspace/my_workspaces/my_workspaces.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
  frappe/desktop_icon/my_workspaces.json
  frappe/patches.txt
  frappe/patches/v16_0/add_private_workspaces_to_sidebar.py
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/tests/ui_test_helpers.py
  frappe/workspace_sidebar/my_workspaces.json
Due: server, ui-tests

feat: preserve site level customsations on standard workspaces
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/doctype/workspace_customization/__init__.py
  frappe/desk/doctype/workspace_customization/test_workspace_customization.py
  frappe/desk/doctype/workspace_customization/workspace_customization.json
  frappe/desk/doctype/workspace_customization/workspace_customization.py
  frappe/public/js/frappe/views/workspace/workspace.js
Due: server, ui-tests

test: workspace customization
  frappe/desk/doctype/workspace_customization/test_workspace_customization.py
  frappe/desk/doctype/workspace_customization/workspace_customization.py
Due: server

refactor: remove logic to merge workspace contents
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace_customization/test_workspace_customization.py
  frappe/desk/doctype/workspace_customization/workspace_customization.json
  frappe/desk/doctype/workspace_customization/workspace_customization.py
Due: server, ui-tests

fix: skip migrating private workspace sidebars
  frappe/patches/v16_0/migrate_workspace_sidebar_to_workspace.py
Due: server

fix: hide module fields when non standard workspace
  frappe/desk/doctype/workspace/workspace.json
Due: ui-tests

refactor: cleanup more auto generation of desktop icons
  frappe/boot.py
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/hooks.py
  frappe/public/js/frappe/utils/utils.js
  frappe/utils/install.py
Due: server, ui-tests

fix: simpliify routing logic
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: ui-tests

fix: border radius for header logo
  frappe/patches.txt
  frappe/public/scss/desk/sidebar_header.scss
Due: none

feat: create sidebar entries for private workspaces
  frappe/patches.txt
  frappe/patches/v16_0/populate_private_workspace_sidebar.py
Due: server

feat: add ability to add workspaces based on user preferences
  frappe/boot.py
  frappe/core/doctype/user_workspaces/user_workspaces.json
  frappe/core/doctype/user_workspaces/user_workspaces.py
  frappe/desk/desktop.py
Due: server, ui-tests

fix: don't show the current shell in the workspace selector
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
Due: ui-tests

fix: handle going through a different app
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: ui-tests

chore: remove debugging statements
  frappe/desk/doctype/workspace/workspace.py
Due: server

feat: add user workspaces to allow user level customisations
  frappe/core/doctype/user/user.js
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
  frappe/core/doctype/user_workspaces/__init__.py
  frappe/core/doctype/user_workspaces/user_workspaces.json
  frappe/core/doctype/user_workspaces/user_workspaces.py
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/model/sync.py
  frappe/patches/v16_0/prefill_workspace_allowed_users.py
Due: server, ui-tests

chore: remove unused patch
  frappe/patches.txt
Due: none

fix: don't include private workspaces in auto generated sidebars
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
Due: server

fix: nicer labels
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/workspace_picker.js
Due: ui-tests

fix: change condition for auto generation
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
Due: server

chore: remove unused doctypes
  frappe/desk/doctype/sidebar_item_group/__init__.py
  frappe/desk/doctype/sidebar_item_group/sidebar_item_group.js
  frappe/desk/doctype/sidebar_item_group/sidebar_item_group.json
  frappe/desk/doctype/sidebar_item_group/sidebar_item_group.py
  frappe/desk/doctype/sidebar_item_group/test_sidebar_item_group.py
  frappe/desk/doctype/sidebar_item_group_link/__init__.py
  frappe/desk/doctype/sidebar_item_group_link/sidebar_item_group_link.json
  frappe/desk/doctype/sidebar_item_group_link/sidebar_item_group_link.py
  frappe/model/sync.py
Due: server, ui-tests

fix: cleanup desktop icon template
  frappe/boot.py
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/ui/desktop_icon.html
  frappe/public/js/frappe/utils/utils.js
Due: server, ui-tests

fix: show alphabet icon in sub menu also
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
Due: ui-tests

fix(UX): create workspace
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/frappe/views/workspace/workspace.js
Due: server, ui-tests

feat: workspace management ui
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/doctype/workspace_customization/workspace_customization.py
  frappe/public/js/frappe/views/workspace/workspace.js
Due: server, ui-tests

fix(UX): add clear button in workspace picker
  frappe/public/js/frappe/ui/sidebar/workspace_picker.js
  frappe/public/scss/desk/workspace_picker.scss
Due: ui-tests

fix: use letter icons for module sidebars
  frappe/boot.py
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
Due: server, ui-tests

fix: make app choosing reslient
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: ui-tests

fix: always pass the app name to show the correct subtitle for sidebar
  frappe/boot.py
Due: server

fix: add an app field for auto_generated sidebars
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
