Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

refactor: store value in global defaults, not system settings
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/tests/test_legacy_gravatar_cleanup.py
  frappe/utils/legacy_gravatar_cleanup.py
Due: server, ui-tests

fix: use xcall instead of call
  frappe/public/js/frappe/legacy_gravatar_cleanup.js
Due: ui-tests

refactor: action dropdown instead of checkboxes
  frappe/public/js/frappe/legacy_gravatar_cleanup.js
  frappe/tests/test_legacy_gravatar_cleanup.py
  frappe/utils/legacy_gravatar_cleanup.py
Due: server, ui-tests

fix: clarify message
  frappe/public/js/frappe/legacy_gravatar_cleanup.js
Due: ui-tests

chore: add patch skip_gravatar_deletion_prompt_if_no_urls
  frappe/patches.txt
  frappe/patches/v15_0/skip_gravatar_deletion_prompt_if_no_urls.py
  frappe/tests/test_legacy_gravatar_cleanup.py
  frappe/utils/legacy_gravatar_cleanup.py
Due: server

fix: throw error for invalid action in gravatar deletion prompt
  frappe/utils/legacy_gravatar_cleanup.py
Due: server

feat: Gravatar deletion prompt (#40018)
  frappe/patches.txt
  frappe/patches/v15_0/skip_gravatar_deletion_prompt_if_no_urls.py
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/legacy_gravatar_cleanup.js
  frappe/sessions.py
  frappe/tests/test_legacy_gravatar_cleanup.py
  frappe/utils/legacy_gravatar_cleanup.py
Due: server, ui-tests

chore: resolve conflicts
  frappe/patches.txt
  frappe/sessions.py
Due: server

fix: check if erpnext is installed
  frappe/public/js/frappe/legacy_gravatar_cleanup.js
Due: ui-tests

fix: frappe.in_test -> frappe.flags.in_test
  frappe/utils/legacy_gravatar_cleanup.py
Due: server

test: use FrappeTestCase
  frappe/tests/test_legacy_gravatar_cleanup.py
Due: server

chore: fix pre-commit formatting
  frappe/public/js/frappe/router.js
Due: ui-tests

refactor: skip blob link
  frappe/public/js/frappe/router.js
Due: ui-tests

fix: resolve blob URL hostname before checking external link warning
  frappe/public/js/frappe/router.js
Due: ui-tests

fix: cleanup property setters in test_index_and_unique_constraints
  frappe/tests/test_db_update.py
Due: server

fix: use let for hasError, restore submit button type, show expired password notice
  frappe/templates/includes/login/login.js
  frappe/www/update-password.html
Due: ui-tests

fix: update cypress login tests to match redesigned UI text
  cypress/integration/login.js
Due: ui-tests

fix: preserve list view sort order during export
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import/exporter.py
Due: server

fix: validate sort_by and sort_order before building ORDER BY clause
  frappe/core/doctype/data_import/data_import.py
Due: server

Merge pull request #40047 from frappe/l10n_develop
  frappe/locale/bs.po
  frappe/locale/fa.po
Due: none

fix: make setup-wizard telemetry capture survive opt-out
  frappe/core/doctype/system_settings/system_settings.py
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server, ui-tests

fix: remove misleading + icon from drop zone in print format builder
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
Due: none

fix: drop initated_client_side for opt-out users in multi-slide wizards
  frappe/desk/page/setup_wizard/setup_wizard.js
Due: ui-tests

fix: group files that point to the same blob
  frappe/core/api/file.py
Due: server

fix: move import to avoid bg memory test failure
  frappe/core/doctype/system_settings/system_settings.py
Due: server

fix: route print_format_builder_beta formats through PrintFormatGenerator in get_html_and_style
  frappe/www/printview.py
Due: server

fix: add printpreview.py to avoid calling doc methods in restricted Jinja sandbox
  frappe/www/printpreview.html
  frappe/www/printpreview.py
Due: server

fix: update cypress navigation test for redesigned login button
  cypress/integration/navigation.js
Due: ui-tests

fix: don't delete recent FIFOs in backup dir based on file type
  frappe/utils/backups.py
Due: server

fix: constrain letterhead images to prevent overflow in print preview
  frappe/templates/print_format/print_format.css
Due: none

fix: constrain letterhead images in print format builder preview
  frappe/public/js/print_format_builder/components/letterhead/LetterHeadEditor.vue
Due: none

fix(tests): update cypress tests for login redesign UI changes
  cypress/integration/login.js
  cypress/integration/navigation.js
Due: ui-tests

fix: constrain letterhead images in print format builder preview
  frappe/public/js/print_format_builder/components/letterhead/LetterHeadEditor.vue
  frappe/public/js/print_format_builder/components/letterhead/LetterHeadZoneEditor.vue
Due: none

fix: use CSS to prevent letterhead image overflow, remove hardcoded height cap
  frappe/public/js/print_format_builder/components/letterhead/LetterHeadZoneEditor.vue
  frappe/templates/print_format/print_format.css
Due: none

fix: respect no_letterhead flag in print format builder beta path
  frappe/www/printview.py
Due: server

fix: remove blue color change on breadcrumb hover in field inspector
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none
