Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(sequence): Setup & use SequenceGeneratorLimitExceeded error
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/database/sequence.py
  frappe/tests/test_sequence.py
Due: server

fix: Add fallbacks for values
  frappe/database/database.py
  frappe/database/postgres/database.py
Due: server

refactor(minor): Use db.db_type instead of conf.db_type
  frappe/database/database.py
Due: server

chore: remove unused code
  frappe/model/naming.py
Due: server

chore: test case added for _auto_name format for date field
  frappe/tests/test_naming.py
Due: server

fix: date_field not able to fetch in _format_naming autoname
  frappe/model/naming.py
Due: server

fix: minor change added
  frappe/tests/test_naming.py
Due: server

fix: can't select dynamic link on address doctype
  frappe/contacts/address_and_contact.py
Due: server

fix: Set first visible tab as active
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/layout.js
  frappe/public/js/frappe/form/tab.js
Due: ui-tests

fix: broken datepicker if default date is null
  frappe/public/js/frappe/form/controls/datetime.js
Due: ui-tests

fix: Check if visible tab exists
  frappe/public/js/frappe/form/layout.js
Due: ui-tests

fix: Remember active tab for a document in a browsing session
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/layout.js
  frappe/public/js/frappe/form/tab.js
Due: ui-tests

fix: cast list to tuple when sending parameterized query for postgres
  frappe/database/postgres/database.py
Due: server

feat(UX): refresh URL when updating filters
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: remove query params from existing URL
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: view routing from URL query paramters
  frappe/public/js/frappe/router.js
Due: ui-tests

fix: don't forget 'like' filters
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

fix: double urlencoding of values
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: kanban board from shared links
  frappe/public/js/frappe/views/kanban/kanban_view.js
Due: ui-tests

fix: handle multiselect report options
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

refactor: update listview URL on all refresh
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

feat(ux): Always sharable query report URLs
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

chore: Test case added for datetime, date and time field
  frappe/tests/test_naming.py
Due: server

test: simple test for URL routing with params
  cypress/integration/routing.js
Due: ui-tests

fix: parse non-margin options in pdf templates, and allow non mm margin values
  frappe/utils/pdf.py
Due: server

syntax: change quotes
  frappe/utils/pdf.py
Due: server

fix: guessing at what the linter needs to pass
  frappe/utils/pdf.py
Due: server

fix: spacing
  frappe/utils/pdf.py
Due: server

fix: comparison against a poorly obtained default "unit"
  frappe/utils/pdf.py
Due: server

refactor(minor): modify_values
  frappe/database/postgres/database.py
Due: server

test: add list value in test_modify_values
  frappe/tests/test_db.py
Due: server

refactor(minor): move test_modify_query and test_modify_values to TestDB class
  frappe/tests/test_db.py
Due: server

fix: Make postgres' last_query lazy decodable
  frappe/database/postgres/database.py
  frappe/database/utils.py
Due: server

chore(deps): Included dependency review
  .github/workflows/depsreview.yaml
Due: none

fix: translate doctype in error messages
  frappe/__init__.py
  frappe/client.py
  frappe/model/db_query.py
  frappe/share.py
Due: server

refactor: Replace usage of deprecated attribute
  frappe/printing/page/print_format_builder/print_format_builder_column_selector.html
  frappe/printing/page/print_format_builder/print_format_builder_field.html
  frappe/printing/page/print_format_builder/print_format_builder_layout.html
  frappe/printing/page/print_format_builder/print_format_builder_section.html
  frappe/printing/page/print_format_builder/print_format_builder_sidebar.html
  frappe/public/icons/social/fair.svg
  frappe/public/icons/social/office_365.svg
  frappe/public/images/leaflet/spritesheet.svg
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/form/templates/print_layout.html
  frappe/public/js/frappe/form/templates/timeline_message_box.html
  frappe/public/js/frappe/list/list_sidebar.html
  frappe/public/js/frappe/ui/group_by/group_by.html
  frappe/public/js/frappe/ui/page.html
  frappe/public/js/frappe/ui/sort_selector.html
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/js/frappe/views/kanban/kanban_column.html
  frappe/public/js/frappe/widgets/chart_widget.js
  frappe/public/js/print_format_builder/ConfigureColumns.vue
  frappe/public/js/print_format_builder/Field.vue
  frappe/public/js/print_format_builder/PrintFormatSection.vue
  frappe/templates/discussions/reply_card.html
  frappe/website/web_template/section_with_cta/section_with_cta.html
  frappe/website/web_template/section_with_small_cta/section_with_small_cta.html
  frappe/www/me.html
Due: ui-tests

fix: translate doctype in error messages (#17239)
  frappe/__init__.py
  frappe/client.py
  frappe/model/db_query.py
  frappe/share.py
Due: server

fix(UI): Web list table layout with filters
  frappe/public/js/frappe/web_form/web_form_list.js
  frappe/public/scss/website/web_form.scss
  frappe/website/doctype/web_form/templates/web_list.html
Due: ui-tests
