Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

chore: fix conflicts
  frappe/utils/print_format.py
Due: server

fix(json_handler): handle `uuid.UUID`
  frappe/utils/response.py
Due: server

fix: better filename for prepared report
  frappe/core/doctype/prepared_report/prepared_report.py
Due: server

build: Bump datatable
  package.json
  yarn.lock
Due: ui-tests

fix: dont render very large reports, offer export instead
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
Due: server, ui-tests

fix: Respect document language in communication
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

fix: Respect document language in communication (#25402)
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

fix: handle parent rename in child workspace
  frappe/desk/doctype/workspace/workspace.py
Due: server

fix: validate homepage paths
  frappe/core/doctype/role/role.json
  frappe/core/doctype/role/role.py
  frappe/website/doctype/portal_settings/portal_settings.py
  frappe/website/path_resolver.py
Due: server, ui-tests

fix: clear routing cache on homepage change
  frappe/core/doctype/role/role.py
  frappe/tests/test_caching.py
  frappe/website/router.py
Due: server

fix: filters can use more than 140 chars
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

feat: add extractor for label of number card
  frappe/gettext/extractors/workspace.py
Due: server

fix: enable_view_tracking not declared in context to be used in website_script.js
  frappe/www/website_script.py
Due: server

Revert "feat: move bulk print operation to the background (backport #25358) (#25396)"
  frappe/public/js/frappe/list/bulk_operations.js
  frappe/utils/print_format.py
Due: server, ui-tests

Revert "feat: move bulk print operation to the background (backport #25358) (#25396)" (#25400)
  frappe/public/js/frappe/list/bulk_operations.js
  frappe/utils/print_format.py
Due: server, ui-tests

fix(console): use `frappe.conf.db_user`
  frappe/commands/utils.py
Due: server

fix: log psql console usage as well
  frappe/commands/utils.py
Due: server

refactor: move histfile setting into helper function
  frappe/commands/utils.py
Due: server

fix: add params in make_request arguments
  frappe/integrations/utils.py
Due: server

fix: debounce filter refresh
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

fix: hide datepicker after picking date
  frappe/public/js/frappe/form/controls/date.js
Due: ui-tests

fix: Avoid setting filter on now/today button
  frappe/public/js/frappe/ui/filters/filter_list.js
Due: ui-tests

fix: skip virtual doctype in tags
  frappe/patches/v12_0/setup_tags.py
Due: server

fix: avoid closing filter popover on any date picker interactions
  frappe/public/js/frappe/ui/filters/filter_list.js
Due: ui-tests

chore: conflicts
  frappe/tests/test_caching.py
Due: server

chore: conflicts
  frappe/core/doctype/role/role.json
  frappe/website/path_resolver.py
Due: server, ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
