Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: allow page length 2500 (#25062)
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

refactor: render list progressively
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

Update AttachControl.vue
  frappe/public/js/form_builder/components/controls/AttachControl.vue
Due: none

Update ButtonControl.vue
  frappe/public/js/form_builder/components/controls/ButtonControl.vue
Due: none

Update CheckControl.vue
  frappe/public/js/form_builder/components/controls/CheckControl.vue
Due: none

Update CodeControl.vue
  frappe/public/js/form_builder/components/controls/CodeControl.vue
Due: none

Update DataControl.vue
  frappe/public/js/form_builder/components/controls/DataControl.vue
Due: none

Update ImageControl.vue
  frappe/public/js/form_builder/components/controls/ImageControl.vue
Due: none

Update LinkControl.vue
  frappe/public/js/form_builder/components/controls/LinkControl.vue
Due: none

Update RatingControl.vue
  frappe/public/js/form_builder/components/controls/RatingControl.vue
Due: none

Update SelectControl.vue
  frappe/public/js/form_builder/components/controls/SelectControl.vue
Due: none

Update SignatureControl.vue
  frappe/public/js/form_builder/components/controls/SignatureControl.vue
Due: none

Update TextControl.vue
  frappe/public/js/form_builder/components/controls/TextControl.vue
Due: none

Update TextEditorControl.vue
  frappe/public/js/form_builder/components/controls/TextEditorControl.vue
Due: none

Update Field.vue
  frappe/public/js/form_builder/components/Field.vue
Due: none

Update EditableInput.vue
  frappe/public/js/form_builder/components/EditableInput.vue
Due: none

Update TableControl.vue
  frappe/public/js/form_builder/components/controls/TableControl.vue
Due: none

Update Column.vue
  frappe/public/js/form_builder/components/Column.vue
Due: none

fix: Spanish translations
  frappe/locale/es.po
Due: none

test: fix timeout decorator
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/tests/utils.py
Due: server

test: fix timeout decorator (#25489)
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/tests/utils.py
Due: server

fix: don't allow killing horse
  frappe/utils/background_jobs.py
Due: server

fix: set same env vars
  frappe/utils/background_jobs.py
Due: server

fix: force init background jobs
  frappe/utils/background_jobs.py
Due: server

feat: allow disabling forking on RQ worker
  frappe/utils/background_jobs.py
Due: server

DEBUG temporarily disable some tests
  frappe/core/doctype/rq_job/test_rq_job.py
Due: server

chore: update POT file
  frappe/locale/main.pot
Due: none

test: setup signal and faulthandler to debug stuck tests
  frappe/parallel_test_runner.py
Due: server

test: setup signal and faulthandler to debug stuck tests (#25494)
  frappe/parallel_test_runner.py
Due: server

perf: use base32 space for random names instead of base16
  frappe/model/naming.py
  frappe/tests/test_naming.py
Due: server

perf: use base32 space for random names instead of base16 (#25497)
  frappe/model/naming.py
  frappe/tests/test_naming.py
Due: server

perf: Skip running webhook code if method is not supported
  frappe/integrations/doctype/webhook/__init__.py
Due: server

chore: update POT file (#25493)
  frappe/locale/main.pot
Due: none

perf: Skip running webhook code if method is not supported (#25498)
  frappe/integrations/doctype/webhook/__init__.py
Due: server

feat: connect to redis sentinel for redis queue
  frappe/utils/redis_queue.py
Due: server

fix: debug stuck process by sending SIGUSR1
  frappe/__init__.py
Due: server
