Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(data import): improve job status handling in stop_data_import function to reflect accurate job state
  frappe/core/doctype/data_import/data_import.js
  frappe/core/doctype/data_import/data_import.py
Due: server, ui-tests

feat: support or_filter in count APIs frappe.db.count() and frappe.client.get_count() accepted only filters, so counts could not be taken over the same OR conditions get_list() already supported.
  frappe/client.py
  frappe/database/database.py
  frappe/public/js/frappe/db.js
  frappe/tests/test_client.py
  frappe/tests/test_db.py
Due: server, ui-tests

feat: builder-first onboarding for print formats
  frappe/printing/doctype/print_format/print_format.js
  frappe/printing/doctype/print_format/print_format_list.js
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSetup.vue
Due: ui-tests

feat: edit custom css from the builder settings panel
  frappe/printing/doctype/print_format/print_format.json
  frappe/printing/doctype/print_format/print_format.py
  frappe/public/js/print_format_builder/components/PrintSettingsPanel.vue
Due: server, ui-tests

fix(inbox): add perm. check in create_email_flag_queue
  frappe/email/inbox.py
Due: server

fix(2fa): correct code-email expiry and remove dead email CSS
  frappe/public/scss/email.bundle.scss
  frappe/twofactor.py
Due: server

fix: force type check in whitelisted methods (#37044)
  frappe/automation/doctype/assignment_rule/assignment_rule.py
  frappe/automation/doctype/auto_repeat/auto_repeat.py
  frappe/contacts/address_and_contact.py
  frappe/contacts/doctype/address/address.py
  frappe/contacts/doctype/contact/contact.py
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/core/doctype/session_default_settings/session_default_settings.py
  frappe/core/doctype/submission_queue/submission_queue.py
  frappe/core/report/permitted_documents_for_user/permitted_documents_for_user.py
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/desk/doctype/dashboard/dashboard.py
  frappe/desk/doctype/dashboard_settings/dashboard_settings.py
  frappe/desk/doctype/form_tour/form_tour.py
  frappe/desk/doctype/route_history/route_history.py
  frappe/desk/doctype/sidebar_item_group/sidebar_item_group.py
  frappe/desk/form/document_follow.py
  frappe/email/__init__.py
  frappe/email/doctype/auto_email_report/auto_email_report.py
  frappe/email/queue.py
  frappe/search/__init__.py
  frappe/utils/backups.py
  frappe/utils/weasyprint.py
  frappe/website/doctype/discussion_reply/discussion_reply.py
  frappe/website/doctype/discussion_topic/discussion_topic.py
  frappe/website/doctype/personal_data_deletion_request/personal_data_deletion_request.py
  frappe/website/doctype/website_settings/google_indexing.py
  frappe/www/contact.py
Due: server

fix: force type check in whitelisted methods (#37044)
  frappe/automation/doctype/assignment_rule/assignment_rule.py
  frappe/automation/doctype/auto_repeat/auto_repeat.py
  frappe/contacts/address_and_contact.py
  frappe/contacts/doctype/address/address.py
  frappe/contacts/doctype/contact/contact.py
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/core/doctype/session_default_settings/session_default_settings.py
  frappe/core/doctype/submission_queue/submission_queue.py
  frappe/core/report/permitted_documents_for_user/permitted_documents_for_user.py
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/desk/doctype/dashboard/dashboard.py
  frappe/desk/doctype/dashboard_settings/dashboard_settings.py
  frappe/desk/doctype/form_tour/form_tour.py
  frappe/desk/doctype/route_history/route_history.py
  frappe/desk/form/document_follow.py
  frappe/email/__init__.py
  frappe/email/doctype/auto_email_report/auto_email_report.py
  frappe/email/queue.py
  frappe/search/__init__.py
  frappe/utils/backups.py
  frappe/utils/weasyprint.py
  frappe/website/doctype/discussion_reply/discussion_reply.py
  frappe/website/doctype/discussion_topic/discussion_topic.py
  frappe/website/doctype/personal_data_deletion_request/personal_data_deletion_request.py
  frappe/website/doctype/website_settings/google_indexing.py
  frappe/www/contact.py
Due: server

feat(virtual_doctype): Remove index support for virtual doctype
  frappe/core/doctype/doctype/doctype.py
  frappe/tests/test_global_search.py
Due: server

feat(virtual_doctype): Remove index support for virtual doctype
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype/doctype.py
  frappe/desk/doctype/global_search_settings/global_search_settings.py
  frappe/patches.txt
  frappe/patches/v16_0/clear_global_search_flags_on_virtual_doctypes.py
  frappe/tests/test_global_search.py
  frappe/utils/global_search.py
Due: server, ui-tests

fix(pagination): Reverting back to old form
  frappe/model/qb_query.py
Due: server

fix(qb_query): preserve explicit unlimited page length for virtual doctype
  frappe/model/qb_query.py
  frappe/tests/test_virtual_doctype.py
Due: server

feat(virtual_doctype): Remove index support for virtual doctype
  frappe/desk/doctype/global_search_settings/global_search_settings.py
Due: server

feat(virtual_doctype): Remove index support for virtual doctype
  frappe/desk/doctype/global_search_settings/global_search_settings.js
  frappe/desk/doctype/global_search_settings/global_search_settings.py
  frappe/tests/test_global_search.py
Due: server, ui-tests

feat(virtual_doctype): Remove index support for virtual doctype
  frappe/desk/doctype/global_search_settings/global_search_settings.py
  frappe/utils/global_search.py
Due: server

feat(virtual_doctype): Remove index support for virtual doctype
  frappe/model/qb_query.py
Due: server

feat(virtual_doctype): Remove index support for virtual doctype
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/doctype/doctype.json
Due: ui-tests

feat(virtual_doctype): Remove index support for virtual doctype
  frappe/tests/test_virtual_doctype.py
  frappe/utils/global_search.py
Due: server

chore: resolve conflicts
  frappe/desk/doctype/dashboard/dashboard.py
  frappe/desk/doctype/form_tour/form_tour.py
  frappe/email/__init__.py
  frappe/www/contact.py
Due: server

fix: keep rate lim. as 100
  frappe/www/contact.py
Due: server

fix(ui): Hide core modules in global search settings
  frappe/desk/doctype/global_search_settings/global_search_settings.js
  frappe/tests/test_global_search.py
Due: server, ui-tests

chore: resolve conflicts
  frappe/desk/doctype/form_tour/form_tour.py
  frappe/desk/doctype/sidebar_item_group/sidebar_item_group.py
  frappe/desk/form/document_follow.py
  frappe/email/__init__.py
  frappe/search/__init__.py
  frappe/utils/backups.py
  frappe/www/contact.py
Due: server

fix: force type check in whitelisted methods 2 (#37086)
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/deleted_document/deleted_document.py
  frappe/core/doctype/log_settings/log_settings.py
  frappe/core/doctype/recorder/recorder.py
  frappe/core/doctype/role/role.py
  frappe/core/doctype/rq_job/rq_job.py
  frappe/core/doctype/sms_settings/sms_settings.py
  frappe/core/doctype/user_permission/user_permission.py
  frappe/core/doctype/user_type/user_type.py
  frappe/desk/doctype/custom_html_block/custom_html_block.py
  frappe/desk/doctype/onboarding_step/onboarding_step.py
  frappe/desk/doctype/system_console/system_console.py
  frappe/desk/doctype/todo/todo.py
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
  frappe/desk/gantt.py
  frappe/desk/like.py
  frappe/desk/link_preview.py
  frappe/desk/search.py
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_group/email_group.py
  frappe/email/doctype/email_queue/email_queue.py
  frappe/email/doctype/email_template/email_template.py
  frappe/email/doctype/notification/notification.py
  frappe/email/email_body.py
  frappe/email/inbox.py
  frappe/utils/csvutils.py
  frappe/utils/diff.py
  frappe/utils/file_manager.py
  frappe/utils/global_search.py
  frappe/utils/print_format.py
  frappe/utils/telemetry/pulse/client.py
  frappe/website/doctype/web_form/web_form.py
  frappe/website/doctype/web_page_view/web_page_view.py
Due: server

fix: add type hints to whitelisted methods 3 (#37149)
  frappe/apps.py
  frappe/automation/doctype/auto_repeat/auto_repeat.py
  frappe/client.py
  frappe/integrations/doctype/connected_app/connected_app.py
  frappe/integrations/doctype/google_calendar/google_calendar.py
  frappe/integrations/doctype/google_contacts/google_contacts.py
  frappe/integrations/doctype/social_login_key/social_login_key.py
  frappe/integrations/doctype/webhook/webhook.py
  frappe/integrations/frappe_providers/frappecloud_billing.py
  frappe/integrations/oauth2.py
  frappe/model/document.py
  frappe/model/mapper.py
  frappe/model/utils/user_settings.py
  frappe/model/workflow.py
  frappe/printing/doctype/network_printer_settings/network_printer_settings.py
  frappe/printing/page/print/print.py
  frappe/printing/page/print_format_builder/print_format_builder.py
  frappe/recorder.py
  frappe/share.py
  frappe/templates/includes/comments/comments.py
  frappe/tests/test_rename_doc.py
  frappe/translate.py
  frappe/workflow/doctype/workflow/workflow.py
  frappe/workflow/doctype/workflow_action/workflow_action.py
Due: server

fix: add type hints to whitelisted methods 4 (#37204)
  frappe/core/doctype/access_log/access_log.py
  frappe/core/doctype/communication/email.py
  frappe/core/doctype/data_export/exporter.py
  frappe/core/doctype/user/user.py
  frappe/core/page/permission_manager/permission_manager.py
  frappe/desk/calendar.py
  frappe/desk/desktop.py
  frappe/desk/doctype/bulk_update/bulk_update.py
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/desk/doctype/event/event.py
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/doctype/list_view_settings/list_view_settings.py
  frappe/desk/doctype/notification_settings/notification_settings.py
  frappe/desk/doctype/number_card/number_card.py
  frappe/desk/doctype/tag/tag.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/form/assign_to.py
  frappe/desk/form/linked_with.py
  frappe/desk/form/load.py
  frappe/desk/form/save.py
  frappe/desk/form/utils.py
  frappe/desk/listview.py
  frappe/desk/notifications.py
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/desk/query_report.py
  frappe/desk/reportview.py
  frappe/desk/treeview.py
  frappe/hooks.py
  frappe/tests/test_api.py
  frappe/tests/test_api_v2.py
  frappe/tests/test_search.py
Due: server

fix: support int PK types
  frappe/desk/form/document_follow.py
  frappe/email/__init__.py
Due: server

feat: mark typst renderer as experimental in builder settings
  frappe/public/js/print_format_builder/components/PrintSettingsPanel.vue
Due: none

feat: typst block for raw markup in builder formats
  frappe/printing/doctype/print_format/print_format.py
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/public/js/print_format_builder/components/PrintSettingsPanel.vue
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/templates/print_format/macros/Typst.html
  frappe/utils/print_format_generator.py
  frappe/utils/test_typst_emitter.py
  frappe/utils/typst_emitter.py
Due: server

feat: Copy section in form builder
  frappe/public/js/form_builder/components/Section.vue
  frappe/public/js/form_builder/utils.js
Due: ui-tests

fix: shorten typst experimental hint
  frappe/public/js/print_format_builder/components/PrintSettingsPanel.vue
Due: none

fix: edit typst block markup from the inspector
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/public/js/print_format_builder/components/inspector/FieldPropertiesPanel.vue
  frappe/public/js/print_format_builder/inspector.css
Due: none

fix: humanize typst block hint
  frappe/public/js/print_format_builder/components/inspector/FieldPropertiesPanel.vue
Due: none

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
