Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

feat: invite grid sites to try the new navigation
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/new_navigation_nudge.js
  frappe/sessions.py
  frappe/tests/test_new_navigation_nudge.py
  frappe/utils/new_navigation_nudge.py
Due: server, ui-tests

fix: remove modules child table on roles
  frappe/boot.py
  frappe/core/doctype/module_profile/module_profile.py
  frappe/core/doctype/role/role.json
  frappe/core/doctype/role/role.py
  frappe/core/doctype/role_module/__init__.py
  frappe/core/doctype/role_module/role_module.json
  frappe/core/doctype/role_module/role_module.py
  frappe/desk/desktop.py
  frappe/tests/test_dock_preferences.py
  frappe/tests/test_module_permissions.py
  frappe/tests/test_standalone_modules.py
  frappe/tests/test_v15_upgrade.py
  frappe/utils/modules.py
Due: server, ui-tests

test: pin the claim above the entity's own module
  cypress/integration/sidebar_resolution.js
Due: ui-tests

test: fix page deletion and query count on a fresh site
  frappe/desk/doctype/custom_module_sidebar/test_custom_module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/tests/test_module_sidebar_boot.py
Due: server

docs: name what ends the icon grid batch
  frappe/desk/RETIRING.md
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/doctype/desktop_layout/desktop_layout.py
  frappe/desk/doctype/desktop_settings/desktop_settings.py
  frappe/desk/doctype/module_sidebar/convert_fixtures.py
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
  frappe/model/sync.py
  frappe/modules/utils.py
  frappe/tests/test_retiring_batch.py
  frappe/utils/new_navigation_nudge.py
Due: server

fix: mark app-path file access as audited
  frappe/desk/doctype/module_sidebar/convert_fixtures.py
Due: server

fix: module sidebars for data and system
  frappe/data/module_sidebar/data/data.json
  frappe/system/module_sidebar/system/system.json
Due: ui-tests

feat: deterministic claim comparator for entity ownership
  frappe/boot.py
  frappe/tests/test_module_sidebar_boot.py
Due: server

refactor: migrate sidebars from the v16 archive
  frappe/automation/workspace/automation/automation.json
  frappe/core/workspace/build/build.json
  frappe/core/workspace/data/data.json
  frappe/core/workspace/system/system.json
  frappe/core/workspace/users/users.json
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.js
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.json
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
  frappe/email/workspace/email/email.json
  frappe/integrations/workspace/integrations/integrations.json
  frappe/model/sync.py
  frappe/patches.txt
  frappe/patches/v16_0/backfill_workspace_module.py
  frappe/patches/v16_0/build_module_sidebars.py
  frappe/patches/v16_0/migrate_workspace_sidebar_to_workspace.py
  frappe/patches/v16_0/populate_workspace_sidebar_from_shortcuts.py
  frappe/printing/workspace/printing/printing.json
  frappe/tests/test_module_sidebar_boot.py
  frappe/tests/test_v15_upgrade.py
  frappe/tests/test_v16_upgrade.py
  frappe/website/workspace/website/website.json
Due: server, ui-tests

fix: module not found issue
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
Due: server

feat: membership-first cold-entry sidebar resolution
  cypress/integration/sidebar_resolution.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: ui-tests

feat: site and user dock order
  frappe/boot.py
  frappe/core/doctype/dock_module/__init__.py
  frappe/core/doctype/dock_module/dock_module.json
  frappe/core/doctype/dock_module/dock_module.py
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
  frappe/desk/desktop.py
  frappe/desk/doctype/dock_order/__init__.py
  frappe/desk/doctype/dock_order/dock_order.json
  frappe/desk/doctype/dock_order/dock_order.py
  frappe/patches.txt
  frappe/patches/v16_0/migrate_user_workspaces_to_dock_modules.py
  frappe/patches/v16_0/rename_user_dock_module_to_dock_module.py
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

refactor: simplify breadcrumbs
  frappe/desk/form/meta.py
  frappe/public/js/frappe/assets.js
  frappe/public/js/frappe/list/list_factory.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/views/breadcrumbs.js
Due: server, ui-tests

fix: change tests to a different module
  frappe/desk/doctype/custom_module_sidebar/test_custom_module_sidebar.py
Due: server

feat: re-runnable sidebar migration report
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/patches/v16_0/build_module_sidebars.py
  frappe/tests/test_v16_upgrade.py
Due: server

refactor: desktop migration
  frappe/commands/site.py
  frappe/desk/doctype/desktop_icon/desktop_icon.js
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/doctype/desktop_settings/desktop_settings.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/model/sync.py
  frappe/modules/utils.py
  frappe/tests/test_icon_grid_containment.py
Due: server, ui-tests

feat: split framework into semantic modules
  frappe/boot.py
  frappe/build_tools/__init__.py
  frappe/build_tools/module_sidebar/build_tools/build_tools.json
  frappe/build_tools/workspace/build/build.json
  frappe/core/number_card/failed_scheduled_jobs/failed_scheduled_jobs.json
  frappe/core/workspace/system/system.json
  frappe/data/__init__.py
  frappe/data/module_sidebar/data/data.json
  frappe/data/workspace/data/data.json
  frappe/hooks.py
  frappe/installer.py
  frappe/migrate.py
  frappe/modules.txt
  frappe/system/__init__.py
  frappe/system/module_sidebar/system/system.json
  frappe/system/workspace/system/system.json
  frappe/users/__init__.py
  frappe/users/module_sidebar/users/users.json
  frappe/users/workspace/users/users.json
  frappe/utils/modules.py
Due: server, ui-tests

fix: put the semgrep suppression on the right line
  frappe/desk/doctype/module_sidebar/convert_fixtures.py
Due: server

feat: the base may hide, and the manager says who hid it
  frappe/desk/doctype/dock/dock.py
  frappe/desk/layers.py
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/scss/desk/dock_manager.scss
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

feat: a Dock Item names a typed Sidebar or Workspace
  frappe/desk/doctype/dock/dock.py
  frappe/desk/doctype/dock_item/dock_item.json
  frappe/desk/doctype/dock_item/dock_item.py
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

test: add developer mode in page test
  frappe/tests/test_boot.py
Due: server

refactor: simplify selection
  cypress/integration/sidebar_resolution.js
  frappe/cache_manager.py
  frappe/desk/desk_views.py
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_boot.py
Due: server, ui-tests

refactor: boot payload
  frappe/boot.py
  frappe/core/doctype/module_def/test_module_def.py
  frappe/desk/doctype/custom_module_sidebar/custom_module_sidebar.py
  frappe/desk/doctype/custom_module_sidebar/test_custom_module_sidebar.py
  frappe/desk/doctype/module_sidebar/module_sidebar.py
  frappe/desk/doctype/module_sidebar/test_module_sidebar.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/tests/test_module_home_and_onboarding.py
  frappe/tests/test_module_sidebar_boot.py
  frappe/tests/test_standalone_modules.py
  frappe/tests/test_v16_upgrade.py
  frappe/utils/modules.py
Due: server

fix: handle shell selection for code only modules
  cypress/integration/sidebar_resolution.js
  frappe/boot.py
  frappe/hooks.py
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_module_sidebar_boot.py
  frappe/utils/modules.py
Due: server, ui-tests

feat: Ship This Order hands you the hook
  frappe/desk/doctype/dock/dock.py
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/scss/desk/dock_manager.scss
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

feat: the app layer of the Dock becomes the add_to_dock hook
  frappe/desk/doctype/dock/dock.json
  frappe/desk/doctype/dock/dock.py
  frappe/tests/test_dock_preferences.py
  frappe/utils/boilerplate.py
  hooks.md
Due: server, ui-tests

refactor: unify customisation layer
  frappe/desk/desktop.py
  frappe/desk/doctype/custom_sidebar/custom_sidebar.py
  frappe/desk/layers.py
Due: server

fix: remove redudant report data
  frappe/core/doctype/report/test_report.py
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/list/list_view_select.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
  frappe/public/js/frappe/views/reports/report_view.js
  frappe/utils/user.py
Due: server, ui-tests

feat: a companion's pinned Workspace reaches the host's dock
  frappe/apps.py
  frappe/boot.py
  frappe/desk/doctype/dock/dock.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/desktop_icons.bundle.js
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/workspace_dock.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/tests/test_dock_preferences.py
  frappe/tests/test_module_sidebar_boot.py
  frappe/tests/test_standalone_modules.py
  frappe/utils/boilerplate.py
  hooks.md
Due: server, ui-tests

feat: Dock
  frappe/boot.py
  frappe/core/doctype/dock_module/dock_module.json
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
  frappe/desk/desktop.py
  frappe/desk/doctype/dock/__init__.py
  frappe/desk/doctype/dock/dock.json
  frappe/desk/doctype/dock/dock.py
  frappe/desk/doctype/dock_item/__init__.py
  frappe/desk/doctype/dock_item/dock_item.json
  frappe/desk/doctype/dock_item/dock_item.py
  frappe/desk/doctype/dock_order/dock_order.json
  frappe/desk/doctype/dock_order/dock_order.py
  frappe/desk/doctype/sidebar/sidebar.py
  frappe/desk/doctype/sidebar/test_sidebar.py
  frappe/hooks.py
  frappe/patches.txt
  frappe/patches/v16_0/backfill_workspace_module.py
  frappe/patches/v16_0/migrate_user_workspaces_to_dock_modules.py
  frappe/patches/v16_0/rename_user_dock_module_to_dock_module.py
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_dock_preferences.py
  frappe/tests/test_v15_upgrade.py
Due: server, ui-tests

fix: a module that ships no doctype gets its Module Def at install
  frappe/installer.py
Due: server

refactor: workspace backfill patch
  frappe/desk/doctype/workspace/workspace.py
  frappe/patches/v16_0/backfill_workspace_module.py
  frappe/public/js/frappe/ui/settings_dialog.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/tests/test_v15_upgrade.py
Due: server, ui-tests

test: the emit suite turns developer mode on for itself
  frappe/tests/test_dock_preferences.py
Due: server

test: cover the placement backfill in sync_module_defs
  frappe/core/doctype/module_def/test_module_def.py
  frappe/installer.py
Due: server

fix: remove tooltips from sidebar
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_item.html
  frappe/public/js/frappe/ui/sidebar/sidebar_item.js
Due: ui-tests

refactor: sidebar building patch
  frappe/automation/sidebar/automation/automation.json
  frappe/desk/doctype/sidebar/sidebar.py
  frappe/desk/doctype/sidebar/test_sidebar.py
  frappe/desk/doctype/sidebar_item/sidebar_item.json
  frappe/desk/doctype/sidebar_item/sidebar_item.py
  frappe/email/sidebar/email/email.json
  frappe/integrations/sidebar/integrations/integrations.json
  frappe/patches.txt
  frappe/patches/v16_0/backfill_workspace_module.py
  frappe/patches/v16_0/build_module_sidebars.py
  frappe/patches/v16_0/convert_sidebars.py
  frappe/printing/sidebar/printing/printing.json
  frappe/tests/test_sidebar_fixture_conversion.py
  frappe/tests/test_v15_upgrade.py
  frappe/tests/test_v16_upgrade.py
  frappe/website/sidebar/website/website.json
Due: server, ui-tests

refactor: flag patch
  frappe/patches/v16_0/keep_existing_sites_on_desktop_icons.py
  frappe/tests/test_v15_upgrade.py
Due: server

feat: sequence_id goes, and Frappe declares its ten
  frappe/automation/sidebar/automation/automation.json
  frappe/boot.py
  frappe/build_tools/sidebar/build_tools/build_tools.json
  frappe/contacts/sidebar/contacts/contacts.json
  frappe/data/sidebar/data/data.json
  frappe/desk/doctype/sidebar/sidebar.json
  frappe/desk/doctype/sidebar/sidebar.py
  frappe/desk/doctype/sidebar/test_sidebar.py
  frappe/email/sidebar/email/email.json
  frappe/hooks.py
  frappe/integrations/sidebar/integrations/integrations.json
  frappe/printing/sidebar/printing/printing.json
  frappe/system/sidebar/system/system.json
  frappe/tests/test_dock_preferences.py
  frappe/users/sidebar/users/users.json
  frappe/website/sidebar/website/website.json
  frappe/workflow/sidebar/workflow/workflow.json
Due: server, ui-tests

refactor: remove patch from previous iteration
  frappe/desk/doctype/workspace/patches/set_standard_flag.py
  frappe/desk/doctype/workspace/patches/update_app.py
  frappe/installer.py
  frappe/model/sync.py
  frappe/patches.txt
Due: server
