Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(print): gate classic restore on developer mode and tag page status for cypress
  frappe/printing/doctype/print_format/print_format.js
  frappe/printing/doctype/print_format/print_format.py
  frappe/printing/doctype/print_format/test_print_format.py
  frappe/utils/print_format.py
  frappe/utils/print_format_generator.py
  frappe/www/printpreview.py
  frappe/www/printview.py
Due: server, ui-tests

Merge pull request #42823 from KerollesFathy/fix/dark-mode-checkbox-contrast
  frappe/public/scss/desk/dark.scss
Due: none

fix(print): name the fields left out by the classic conversion
  frappe/public/js/frappe/form/print_utils.js
Due: ui-tests

chore(print): move semgrep suppression next to the legacy zone render
  frappe/utils/weasyprint_legacy.py
Due: server

fix(print): hide the pdf renderer field on the form for builder formats
  frappe/printing/doctype/print_format/print_format.js
Due: ui-tests

Merge pull request #42509 from sokumon/dock-interaction
  frappe/public/js/frappe/ui/sidebar/dock.js
  frappe/public/js/frappe/ui/sidebar/sidebar.html
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.html
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/ui/sidebar/sidebar_item.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/scss/desk/dock.scss
  frappe/public/scss/desk/notification.scss
  frappe/public/scss/desk/sidebar.scss
  frappe/public/scss/desk/sidebar_header.scss
  frappe/public/scss/desk/sidebar_panel.scss
Due: ui-tests

Merge pull request #42687 from aryadharmadhikari/fix/icon-misalignment
  frappe/public/js/form_builder/components/controls/DataControl.vue
Due: none

Merge pull request #42577 from iamejaaz/fix-bulk-export-permission
  frappe/public/js/frappe/list/list_view.js
  frappe/tests/test_permissions.py
  frappe/utils/user.py
Due: server, ui-tests

Merge pull request #42244 from sokumon/open-in-desk
  frappe/boot.py
  frappe/desk/page/desktop/desktop.css
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/ui/desktop_icon.html
  frappe/public/js/frappe/ui/sidebar/sidebar_item.js
  frappe/tests/test_dock_preferences.py
  hooks.md
Due: server, ui-tests

chore(print): place semgrep suppressions on the line above each call
  frappe/utils/print_format.py
  frappe/utils/print_format_generator.py
  frappe/www/printpreview.py
  frappe/www/printview.py
Due: server

Merge pull request #43078 from Bowrna/prebaked_messages
  frappe/public/js/frappe/form/success_action.js
Due: ui-tests

Merge pull request #42191 from KerollesFathy/fix/datatable-toast-dark-mode
  frappe/public/scss/desk/frappe_datatable.scss
Due: none

Merge pull request #42239 from sokumon/espresso-tokens
  cypress/integration/awesome_bar.js
  frappe/boot.py
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/ui/page.js
  frappe/public/js/frappe/ui/sidebar/dock.js
  frappe/public/js/frappe/ui/sidebar/sidebar.html
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/views/container.js
  frappe/public/scss/desk/dock.scss
  frappe/public/scss/desk/index.scss
  frappe/public/scss/desk/menu.scss
  frappe/public/scss/desk/notification.scss
  frappe/public/scss/desk/sidebar.scss
  frappe/public/scss/desk/sidebar_header.scss
Due: server, ui-tests

fix(print): keep h3 and h4 bold in print view and pdf
  frappe/public/scss/print.bundle.scss
Due: none

Merge pull request #41434 from g-sowani/fix-footer-parent-label-20918
  cypress/integration/grid_configuration.js
  frappe/website/doctype/website_settings/website_settings.js
Due: ui-tests

Merge pull request #42675 from sokumon/dock
  frappe/public/js/frappe/ui/sidebar/dock.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.html
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/ui/sidebar/sidebar_panel.js
  frappe/public/scss/desk/dock.scss
  frappe/public/scss/desk/sidebar_header.scss
Due: ui-tests

feat: user permissions in DocType settings (#41832)
  frappe/core/doctype/user_permission/test_user_permission.py
  frappe/core/doctype/user_permission/user_permission.py
  frappe/public/js/frappe/form/doctype_settings/doctype_settings.js
  frappe/public/js/frappe/form/doctype_settings/list_panel.js
  frappe/public/js/frappe/form/doctype_settings/registry.js
  frappe/public/js/frappe/form/doctype_settings/tabs/email_template.js
  frappe/public/js/frappe/form/doctype_settings/tabs/global_search.js
  frappe/public/js/frappe/form/doctype_settings/tabs/naming.js
  frappe/public/js/frappe/form/doctype_settings/tabs/notification.js
  frappe/public/js/frappe/form/doctype_settings/tabs/print_format.js
  frappe/public/js/frappe/form/doctype_settings/tabs/roles.js
  frappe/public/js/frappe/form/doctype_settings/tabs/settings_map.js
  frappe/public/js/frappe/form/doctype_settings/tabs/user_permissions.js
  frappe/public/js/frappe/form/doctype_settings/tabs/workflow.js
  frappe/public/js/frappe/form/section.js
  frappe/public/js/frappe/ui/embedded_list.js
  frappe/public/js/frappe/ui/settings_dialog.js
  frappe/public/scss/desk/doctype_settings.scss
  frappe/public/scss/desk/settings_dialog.scss
Due: server, ui-tests

fix(print): convert a format without a layout into the default builder layout
  frappe/printing/doctype/print_format/classic_converter.py
  frappe/printing/doctype/print_format/print_format.py
  frappe/printing/doctype/print_format/test_print_format.py
Due: server

test(pfb): render a merged Date column with its own format
  frappe/printing/doctype/print_format/test_print_format.py
Due: server

fix(print): leave a table's minimum height below its rows
  frappe/public/js/print_format_builder/composables/useFieldFormat.js
  frappe/templates/print_format/macros.html
  frappe/templates/print_format/print_format_doc.css
  frappe/utils/typst_emitter.py
Due: server, ui-tests

fix(pfb): recover a letter head save from a timestamp mismatch
  frappe/public/js/print_format_builder/stores/useDraftSave.js
Due: ui-tests

fix: copy absolute_value along with the other print options
  frappe/printing/doctype/print_format/print_format.py
Due: server

fix(pfb): month and weekday names in date formats follow the user's language
  frappe/public/js/print_format_builder/utils.js
Due: ui-tests

fix(print): show the wkhtmltopdf notice when a format has no renderer set
  cypress/integration/print_format_builder.js
  frappe/printing/doctype/print_format/print_format.js
Due: ui-tests

fix(typst): break a kept-together section that cannot fit a page
  frappe/utils/typst_emitter.py
Due: server

fix(typst): render in Inter by default, like the other renderers
  frappe/utils/typst_emitter.py
Due: server

fix(print): stop forcing cell padding over a format's own css
  frappe/printing/print_style/redesign/redesign.json
  frappe/templates/styles/standard.css
Due: ui-tests

fix(print): refuse to convert a format already on the new builder
  frappe/printing/doctype/print_format/print_format.py
  frappe/printing/doctype/print_format/test_print_format.py
Due: server

fix(pdf): fail clearly when chrome never delivers the pdf stream
  frappe/tests/test_chrome_pdf_interceptor.py
  frappe/utils/pdf_generator/page.py
Due: server

fix(print): keep other letter heads' timestamps when setting a default
  frappe/printing/doctype/letter_head/letter_head.py
Due: server

fix: ignore a disabled Print Style in the builder renderer
  frappe/utils/print_format_generator.py
Due: server

fix(print): keep text colours when printing from the browser
  frappe/public/css/bootstrap.css
Due: none

fix(print): copy a format's print options along with its layout
  frappe/printing/doctype/print_format/print_format.py
  frappe/printing/doctype/print_format/test_print_format.py
Due: server

fix(print): keep each builder page's instance on its own wrapper
  frappe/printing/page/print_format_builder/print_format_builder.js
  frappe/printing/page/print_format_builder_beta/print_format_builder_beta.js
Due: ui-tests

test(pfb): date format test owns its user and reads the time format
  frappe/printing/doctype/print_format/test_print_format.py
Due: server

fix(print): let the print settings font size win over the print style
  frappe/templates/styles/standard.css
  frappe/tests/test_printview.py
  frappe/www/printview.py
Due: server

Merge pull request #42648 from mihir-kandoi/codex/data-import-get-importer
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import/test_importer.py
Due: server

fix(print): download the PDF in the language the print view shows
  frappe/printing/page/print/print.js
Due: ui-tests

fix(print): a bulk print fails on a permission error instead of logging it
  frappe/utils/print_format.py
Due: server
