Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

chore: resolve conflicts
  frappe/model/mapper.py
Due: server

feat(form): add print to form menu on mobile
  frappe/public/js/frappe/form/toolbar.js
Due: ui-tests

chore: update POT file
  frappe/locale/main.pot
Due: none

fix(pfb): label section page break as "Page break after"
  frappe/public/js/print_format_builder/components/inspector/SectionPropertiesPanel.vue
Due: none

fix(pfb): honor multi-selection in duplicate and move
  frappe/public/js/print_format_builder/stores/index.js
Due: ui-tests

fix(pfb): resync format colour pickers on preset apply
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
Due: none

style(pfb): drop explanatory comments
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
  frappe/public/js/print_format_builder/inspector.css
  frappe/public/js/print_format_builder/utils.js
Due: ui-tests

fix(pfb): unmount builder app on navigate to release global listeners
  frappe/printing/page/print_format_builder/print_format_builder.js
  frappe/public/js/print_format_builder/print_format_builder.bundle.js
Due: ui-tests

fix(print-format): hide labelled section when its only table is empty
  frappe/templates/print_format/print_format.html
Due: none

test(pfb): mark page-break as a print-only class in parity contract
  frappe/utils/test_print_format_parity.py
Due: server

fix(pfb): prune stale selection when removing a field via its X button
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/stores/index.js
Due: ui-tests

refactor(pfb): dedupe card css and render icons via frappe.utils.icon
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
Due: none

fix(login): hide Edge's native password reveal icon
  frappe/public/scss/login.bundle.scss
Due: none

style(pfb): use espresso gray tokens and remove dead css
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSetup.vue
  frappe/public/js/print_format_builder/components/editor/SectionInsert.vue
  frappe/public/js/print_format_builder/components/inspector/LetterHeadZoneInspector.vue
Due: none

refactor(pfb): render inspector empty-state icon via frappe.utils.icon
  frappe/public/js/print_format_builder/components/inspector/FieldInspector.vue
Due: none

fix(pfb): add accessible labels to icon-only field buttons
  frappe/public/js/print_format_builder/components/editor/Field.vue
Due: none

feat(pfb): confirm preset/snippet deletes and improve feedback copy
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
Due: none

refactor(pfb): extract is_typing_context keyboard-guard helper
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
Due: none

refactor(pfb): drop dead store exports and centralize dirty tracking
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormat.vue
  frappe/public/js/print_format_builder/stores/index.js
Due: ui-tests

feat(pfb): make canvas fields and sections keyboard-selectable
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/PrintFormatSection.vue
Due: none

feat(pfb): add tablist and tree aria roles to the sidebar
  frappe/public/js/print_format_builder/components/PrintFormatControls.vue
Due: none

refactor(pfb): extract style presets into a usePresets composable
  frappe/public/js/print_format_builder/composables/usePresets.js
  frappe/public/js/print_format_builder/stores/index.js
Due: ui-tests

refactor(pfb): extract preview-doc loading into a usePreviewDoc composable
  frappe/public/js/print_format_builder/composables/usePreviewDoc.js
  frappe/public/js/print_format_builder/stores/index.js
Due: ui-tests

refactor(pfb): extract section snippets into a useSnippets composable
  frappe/public/js/print_format_builder/composables/useSnippets.js
  frappe/public/js/print_format_builder/stores/index.js
Due: ui-tests

refactor(pfb): extract selection state into a useSelection composable
  frappe/public/js/print_format_builder/composables/useSelection.js
  frappe/public/js/print_format_builder/stores/index.js
Due: ui-tests

refactor(pfb): extract copy/paste into a useClipboard composable
  frappe/public/js/print_format_builder/composables/useClipboard.js
  frappe/public/js/print_format_builder/stores/index.js
Due: ui-tests

refactor(pfb): extract layout mutations into a useLayoutMutations composable
  frappe/public/js/print_format_builder/composables/useLayoutMutations.js
  frappe/public/js/print_format_builder/stores/index.js
  frappe/public/js/print_format_builder/utils.js
Due: ui-tests

refactor(pfb): extract barcode preview into FieldPreviewBarcode
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/FieldPreviewBarcode.vue
Due: none

refactor(pfb): extract field formatting helpers into useFieldFormat
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/composables/useFieldFormat.js
Due: ui-tests

refactor(pfb): extract repeater preview into FieldPreviewRepeater
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/FieldPreviewRepeater.vue
Due: none

refactor(pfb): extract table preview into FieldPreviewTable
  frappe/public/js/print_format_builder/components/editor/Field.vue
  frappe/public/js/print_format_builder/components/editor/FieldPreviewTable.vue
Due: none

fix: prevent grid row-edit dropdown from being clipped on short forms
  frappe/public/scss/common/grid.scss
Due: none

fix(treeview): identify tree nodes by node_id instead of label
  frappe/desk/treeview.py
  frappe/public/js/frappe/ui/tree.js
Due: server, ui-tests

fix(print): drop redundant border under styled child-table header
  frappe/templates/print_format/print_format_doc.css
Due: none

fix(treeview): key opt-in on a supplied node_id, not a value comparison
  frappe/public/js/frappe/ui/tree.js
  frappe/public/js/frappe/views/treeview.js
Due: ui-tests

fix(perm): resolve permissions from boot before doctype meta loads
  frappe/public/js/frappe/model/perm.js
Due: ui-tests

test(perm): cover has_perm before a doctype's meta is loaded
  cypress/integration/permissions.js
Due: ui-tests

fix: multiple changes in duckdb sync
  frappe/core/doctype/duckdb_sync/duckdb_sync.json
  frappe/core/doctype/duckdb_sync/duckdb_sync.py
  frappe/database/duckdb/schema.py
Due: server, ui-tests
