Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: Update indicator colors in kanban column
  frappe/desk/doctype/kanban_board_column/kanban_board_column.json
  frappe/patches.txt
  frappe/patches/v14_0/update_color_names_in_kanban_board_column.py
  frappe/public/js/frappe/views/kanban/kanban_board.js
Due: server, ui-tests

fix: Combine request args and form data
  frappe/app.py
Due: server

fix: Add Document States in customize form
  frappe/core/doctype/doctype_state/doctype_state.json
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/property_setter/property_setter.json
  frappe/model/meta.py
Due: server, ui-tests

fix: remove global styling for color select
  frappe/public/js/frappe/widgets/widget_dialog.js
  frappe/public/scss/common/global.scss
Due: ui-tests

test: added test cases to validate keyboard shortcuts for the grid
  cypress/integration/grid_keyboard_shortcut.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

feat: add new row in the grid using keyboard keys
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

fix(minor): removed some unneccessary functions
  frappe/tests/test_document.py
  frappe/utils/html_utils.py
Due: server

fix: update docs link checker
  .github/helper/documentation.py
Due: server

fix: add doctype_state in sync and install
  frappe/model/sync.py
  frappe/utils/install.py
Due: server

fix(ux): show doctype name in customize form
  frappe/custom/doctype/customize_form/customize_form.js
Due: ui-tests

fix(ux): Prevent deletion of standard document states
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/custom/doctype/customize_form/customize_form.json
Due: ui-tests

fix: import doc / fixtures
  frappe/modules/import_file.py
Due: server

fix(ux): list view bulk operations
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: text editor height
  frappe/public/scss/common/quill.scss
Due: none

refactor: reset start and page length after every refresh
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

chore: removed unused code
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

feat: added shortcut keys description for grid
  cypress/integration/grid_keyboard_shortcut.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/js/frappe/ui/keyboard.js
Due: ui-tests

chore: correct coverage config
  codecov.yml
Due: none

feat: Edit page title, icon, etc from sidebar
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/ui/workspace_sidebar_loading_skeleton.html
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/scss/common/buttons.scss
  frappe/public/scss/desk/desktop.scss
Due: server, ui-tests

fix: select perm not visible in role permission summary dialog
  frappe/public/js/frappe/model/perm.js
Due: ui-tests

fix(Translations): Timeline added/removed rows fieldname
  frappe/public/js/frappe/form/footer/version_timeline_content_builder.js
Due: ui-tests

fix(Translations): Search suggestions for lists, reports etc
  frappe/public/js/frappe/ui/toolbar/search_utils.js
Due: ui-tests

fix: Move barcode style to scss file
  frappe/public/js/frappe/form/controls/barcode.js
  frappe/public/scss/common/controls.scss
Due: ui-tests

fix(ux): always show scan barcode button
  frappe/public/js/frappe/form/controls/data.js
Due: ui-tests

fix: Load 20 more rows on click of 'Load More'
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

fix: show unique records in list view
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

fix: refresh all data
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

style: missing semicolon
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: reload doctype state early to fix patch
  frappe/patches.txt
Due: none

fix: more button in multi-select dialog
  frappe/public/js/frappe/form/multi_select_dialog.js
Due: ui-tests

test: update ui tests for list view
  cypress/integration/list_view.js
Due: ui-tests
