Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: Logic to show link expired message
  frappe/www/printview.html
  frappe/www/printview.py
Due: server

style: Fix sider warnings
  frappe/public/js/frappe/form/form.js
  frappe/public/scss/common/controls.scss
Due: ui-tests

feat: Templates for invalid and expired key
  frappe/public/scss/print.scss
  frappe/templates/print_format/print_key_expired.html
  frappe/templates/print_format/print_key_invalid.html
Due: none

fix: Document key expiry logic
  frappe/core/doctype/document_key/document_key.json
  frappe/core/doctype/document_key/document_key.py
  frappe/hooks.py
  frappe/model/document.py
  frappe/www/printview.py
Due: server, ui-tests

refactor: Permission validation for print view
  frappe/exceptions.py
  frappe/www/printview.html
  frappe/www/printview.py
Due: server

fix: Allow document sharing who has share rights
  frappe/public/js/frappe/form/toolbar.js
Due: ui-tests

fix: Rename "Document Key" to "Document Share Key"
  frappe/core/doctype/communication/mixins.py
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/document_share_key/__init__.py
  frappe/core/doctype/document_share_key/document_share_key.js
  frappe/core/doctype/document_share_key/document_share_key.json
  frappe/core/doctype/document_share_key/document_share_key.py
  frappe/core/doctype/document_share_key/test_document_share_key.py
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/model/document.py
  frappe/public/js/frappe/form/form.js
  frappe/www/printview.py
Due: server, ui-tests

fix: Add setting "allow_older_web_view_links" in System Settings
  frappe/core/doctype/system_settings/system_settings.json
  frappe/www/printview.py
Due: server, ui-tests

fix: Move document_share_key_expiry to System Settings
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/document_share_key/document_share_key.json
  frappe/core/doctype/document_share_key/document_share_key.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/custom/doctype/customize_form/customize_form.json
Due: server, ui-tests

fix: Re-use document key if key with same expiry exists
  frappe/model/document.py
Due: server

fix: Move share link functionality to sidebar (WIP)
  frappe/public/js/frappe/form/sidebar/share.js
  frappe/public/js/frappe/form/templates/form_sidebar.html
Due: ui-tests

fix: Share link style
  frappe/public/scss/desk/sidebar.scss
Due: none

feat: Option to Print or download PDF in print view
  frappe/public/scss/print.scss
  frappe/utils/print_format.py
  frappe/www/printview.html
  frappe/www/printview.py
Due: server

feat: Ability to create share link without expiry
  frappe/core/doctype/document_share_key/document_share_key.py
  frappe/model/document.py
  frappe/public/js/frappe/form/sidebar/share.js
Due: server, ui-tests

wip
  frappe/public/js/frappe/form/sidebar/share.js
  frappe/utils/print_format.py
Due: server, ui-tests

fix: Option set no_expiry
  frappe/model/document.py
  frappe/public/js/frappe/form/sidebar/share.js
  frappe/public/scss/desk/sidebar.scss
Due: server, ui-tests

fix: Add patch to set document expiry
  frappe/core/doctype/system_settings/system_settings.json
  frappe/patches.txt
  frappe/patches/v14_0/set_document_expiry_default.py
Due: server, ui-tests

refactor: Update method name
  frappe/core/doctype/communication/mixins.py
  frappe/model/document.py
  frappe/public/js/frappe/form/sidebar/share.js
Due: server, ui-tests

refactor: Remove unnecessary code
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/toolbar.js
Due: ui-tests

refactor: Set values in a single query
  frappe/patches/v14_0/set_document_expiry_default.py
Due: server

fix: Get shareable link style
  frappe/public/js/frappe/form/sidebar/share.js
  frappe/public/scss/desk/sidebar.scss
Due: ui-tests

fix: Remove shareable link feature
  frappe/core/doctype/document_share_key/document_share_key.json
  frappe/core/doctype/system_settings/system_settings.json
  frappe/model/document.py
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/sidebar/share.js
  frappe/public/js/frappe/form/templates/form_sidebar.html
  frappe/public/scss/desk/sidebar.scss
Due: server, ui-tests

test: Case to validate Web Link authentication
  frappe/tests/__init__.py
  frappe/tests/test_document.py
Due: server

fix: Style of document web view
  frappe/public/scss/print.scss
  frappe/www/printview.html
Due: none

style: Fix linter warnings
  frappe/core/doctype/document_share_key/document_share_key.py
  frappe/core/doctype/document_share_key/test_document_share_key.py
  frappe/patches/v14_0/set_document_expiry_default.py
Due: server

refactor: Use boolean while setting a flag
  frappe/tests/test_document.py
Due: server

feat(website-settings): Configurable Splash Image
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/doctype/website_settings/website_settings.py
Due: server, ui-tests

fix: Add splash_image to context if exists
  frappe/website/doctype/website_settings/website_settings.py
Due: server

refactor: use sane-r fieldnames
  frappe/core/doctype/document_naming_settings/document_naming_settings.js
  frappe/core/doctype/document_naming_settings/document_naming_settings.json
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/core/doctype/document_naming_settings/test_document_naming_settings.py
Due: server, ui-tests

chore: Naming Series -> Document Naming Settings
  frappe/core/doctype/document_naming_settings/__init__.py
  frappe/core/doctype/document_naming_settings/document_naming_settings.js
  frappe/core/doctype/document_naming_settings/document_naming_settings.json
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/core/doctype/document_naming_settings/test_document_naming_settings.py
Due: server, ui-tests

fix(UX): dont query options for doctype that dont exist
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/core/doctype/document_naming_settings/test_document_naming_settings.py
Due: server

better context word
  frappe/printing/page/print_format_builder/print_format_builder.js
  frappe/public/js/print_format_builder/PrintFormatControls.vue
  frappe/translations/fr.csv
Due: ui-tests

fix: Exception handling for PDF
  frappe/utils/print_format.py
Due: server

fix: Remove duplicate icons
  frappe/public/icons/timeless/symbol-defs.svg
Due: none

fix(UX): tab layout + misc
  frappe/core/doctype/document_naming_settings/document_naming_settings.js
  frappe/core/doctype/document_naming_settings/document_naming_settings.json
Due: ui-tests

fix(UX): auto complete for selecting transaction
  frappe/core/doctype/document_naming_settings/document_naming_settings.js
  frappe/core/doctype/document_naming_settings/document_naming_settings.json
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
Due: server, ui-tests

refactor: rename preview field
  frappe/core/doctype/document_naming_settings/document_naming_settings.js
  frappe/core/doctype/document_naming_settings/document_naming_settings.json
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
Due: server, ui-tests

refactor: split transaction and prefix functions
  frappe/core/doctype/document_naming_settings/document_naming_settings.js
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/core/doctype/document_naming_settings/test_document_naming_settings.py
  frappe/model/meta.py
  frappe/model/naming.py
Due: server, ui-tests

feat: NamingSeries class
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/core/doctype/document_naming_settings/test_document_naming_settings.py
  frappe/model/naming.py
  frappe/tests/test_naming.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
