Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

feat: permission log
  frappe/core/doctype/custom_docperm/custom_docperm.py
  frappe/core/doctype/custom_role/custom_role.py
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/module_profile/module_profile.py
  frappe/core/doctype/page/page.py
  frappe/core/doctype/permission_log/__init__.py
  frappe/core/doctype/permission_log/permission_log.js
  frappe/core/doctype/permission_log/permission_log.json
  frappe/core/doctype/permission_log/permission_log.py
  frappe/core/doctype/permission_log/permission_log_list.js
  frappe/core/doctype/permission_log/test_permission_log.py
  frappe/core/doctype/report/report.py
  frappe/core/doctype/role_permission_for_page_and_report/role_permission_for_page_and_report.py
  frappe/core/doctype/role_profile/role_profile.py
  frappe/core/doctype/user/user.py
  frappe/core/doctype/user_permission/user_permission.py
  frappe/core/doctype/user_type/user_type.py
  frappe/core/page/permission_manager/permission_manager.py
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/property_setter/property_setter.py
  frappe/hooks.py
  frappe/model/base_document.py
  frappe/permissions.py
Due: server, ui-tests

working
  frappe/__init__.py
  frappe/database/database.py
  frappe/model/base_document.py
  frappe/query_builder/builder.py
  frappe/query_builder/utils.py
  yarn.lock
Due: server

add oracledb file
  pyproject.toml
Due: none

add ==
  pyproject.toml
Due: none

fix: property setter for field ordering
  frappe/custom/doctype/customize_form/customize_form.py
Due: server

feat: add link to (various) logs in sidebar
  frappe/desk/form/load.py
  frappe/integrations/doctype/webhook/webhook.py
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.json
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.py
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/form/templates/form_sidebar.html
Due: server, ui-tests

fix: XML Compatibility Issues in Excel Export
  frappe/utils/xlsxutils.py
Due: server

fix(blog_post): Ensure images are public if shown on website
  frappe/core/doctype/file/utils.py
  frappe/website/doctype/blog_post/blog_post.py
Due: server

fix: Evaluate `bench execute` args for each site
  frappe/commands/utils.py
Due: server

fix: build workspace, add webhook log
  frappe/core/workspace/build/build.json
Due: ui-tests

fix: sync translations from crowdin (#27894)
  frappe/locale/ar.po
  frappe/locale/bs.po
  frappe/locale/de.po
  frappe/locale/eo.po
  frappe/locale/es.po
  frappe/locale/fa.po
  frappe/locale/fr.po
  frappe/locale/sv.po
  frappe/locale/tr.po
Due: none

fix: sync translations from crowdin (#27893)
  frappe/locale/ar.po
  frappe/locale/bs.po
  frappe/locale/de.po
  frappe/locale/eo.po
  frappe/locale/es.po
  frappe/locale/fa.po
  frappe/locale/fr.po
  frappe/locale/sv.po
  frappe/locale/tr.po
Due: none

chore: update POT file (#27927)
  frappe/locale/main.pot
Due: none

fix: Persian translations
  frappe/locale/fa.po
Due: none

fix: French translations
  frappe/locale/fr.po
Due: none

fix: Spanish translations
  frappe/locale/es.po
Due: none

fix: Arabic translations
  frappe/locale/ar.po
Due: none

fix: German translations
  frappe/locale/de.po
Due: none

fix: Swedish translations
  frappe/locale/sv.po
Due: none

fix: Turkish translations
  frappe/locale/tr.po
Due: none

fix: Bosnian translations
  frappe/locale/bs.po
Due: none

fix: Esperanto translations
  frappe/locale/eo.po
Due: none

fix: update idx and name in table before rendering result rows
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

add Make Attachment Public check
  frappe/core/doctype/docfield/docfield.json
Due: ui-tests

add type for make_attachment_public
  frappe/core/doctype/docfield/docfield.py
Due: server

check if field is public
  frappe/public/js/frappe/form/controls/attach.js
Due: ui-tests

fix formatter
  frappe/public/js/frappe/form/controls/attach.js
Due: ui-tests

login page working
  frappe/__init__.py
  frappe/app.py
  frappe/boot.py
  frappe/cache_manager.py
  frappe/database/database.py
  frappe/database/oracledb/database.py
  frappe/desk/desktop.py
  frappe/desk/doctype/changelog_feed/changelog_feed.py
  frappe/desk/doctype/route_history/route_history.py
  frappe/desk/form/load.py
  frappe/desk/form/meta.py
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/model/db_query.py
  frappe/model/naming.py
  frappe/modules/utils.py
  frappe/query_builder/builder.py
  frappe/query_builder/terms.py
  frappe/query_builder/utils.py
  frappe/sessions.py
  frappe/social/doctype/energy_point_log/energy_point_log.py
  frappe/utils/password.py
  frappe/website/doctype/web_form/web_form.py
Due: server

feat(PrivateApp): virtual app that will host all private workspaces of user
  frappe/desk/desktop.py
  frappe/public/js/frappe/ui/sidebar.js
  frappe/public/js/frappe/views/workspace/workspace.js
Due: server, ui-tests

fix: add base on condition in the get_default_address function
  frappe/contacts/doctype/address/address.py
Due: server

fix: leaderboard error resolved
  frappe/desk/leaderboard.py
Due: server

fix: allow to reset rating input if not mandatory
  frappe/public/js/frappe/form/controls/rating.js
Due: ui-tests

fix: conflict
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

fix: Request for Quotation address fix
  frappe/contacts/doctype/address/address.py
Due: server
