Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: handle loading of bundle css & js in website
  esbuild/frappe-vue-style.js
  frappe/public/js/frappe-web.bundle.js
  frappe/website/js/website.js
Due: ui-tests

chore: added enable_manage_susbcriptions as daily background job and refactored patch
  frappe/patches/v14_0/add_manage_subscriptions_in_navbar_settings.py
  frappe/utils/subscription.py
Due: server

chore: added hook to hooks.py
  frappe/hooks.py
Due: server

feat: Added Subscription Banner for remotely logging into FrappeCloud dashboard from site (#18263)
  .github/helper/documentation.py
  frappe/boot.py
  frappe/hooks.py
  frappe/patches.txt
  frappe/patches/v14_0/add_manage_subscriptions_in_navbar_settings.py
  frappe/patches/v14_0/update_github_endpoints.py
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/ui/toolbar/subscription.js
  frappe/utils/install.py
  frappe/utils/subscription.py
Due: server, ui-tests

chore: conflicts
  frappe/patches.txt
Due: none

chore: codeowners
  CODEOWNERS
Due: none

fix: geolocation (#18250)
  frappe/public/js/frappe/form/controls/geolocation.js
Due: ui-tests

style: format
  frappe/core/doctype/report/report.js
Due: ui-tests

feat: log reports for queued submits
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/queued_submit/__init__.py
  frappe/core/doctype/queued_submit/queued_submit.js
  frappe/core/doctype/queued_submit/queued_submit.json
  frappe/core/doctype/queued_submit/queued_submit.py
  frappe/core/doctype/queued_submit/test_queued_submit.py
  frappe/desk/form/save.py
  frappe/model/document.py
  frappe/utils/background_jobs.py
Due: server, ui-tests

fix(minor): More button in list view
  frappe/templates/includes/list/list.html
Due: none

fix: fixed functionality
  frappe/core/doctype/queued_submit/__init__.py
  frappe/core/doctype/queued_submit/queued_submit.js
  frappe/core/doctype/queued_submit/queued_submit.json
  frappe/core/doctype/queued_submit/queued_submit.py
  frappe/core/doctype/queued_submit/test_queued_submit.py
  frappe/model/document.py
  frappe/utils/background_jobs.py
Due: server, ui-tests

fix: removed unused script
  frappe/website/doctype/web_form/templates/web_form.html
Due: none

refactor: File Uploader code to vue 3
  frappe/public/js/frappe/file_uploader/FileBrowser.vue
  frappe/public/js/frappe/file_uploader/FilePreview.vue
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/file_uploader/ImageCropper.vue
  frappe/public/js/frappe/file_uploader/ProgressRing.vue
  frappe/public/js/frappe/file_uploader/TreeNode.vue
  frappe/public/js/frappe/file_uploader/WebLink.vue
  frappe/public/js/frappe/file_uploader/file_uploader.bundle.js
  frappe/public/js/frappe/upload.js
Due: ui-tests

fix(minor): More button in list view (#18283)
  frappe/templates/includes/list/list.html
Due: none

chore: remove unnecessary translation files (#17557)
  frappe/translations/da_dk.csv
  frappe/translations/en_gb.csv
  frappe/translations/en_us.csv
  frappe/translations/es_ar.csv
  frappe/translations/es_bo.csv
  frappe/translations/es_cl.csv
  frappe/translations/es_co.csv
  frappe/translations/es_do.csv
  frappe/translations/es_ec.csv
  frappe/translations/es_es.csv
  frappe/translations/es_gt.csv
  frappe/translations/es_mx.csv
  frappe/translations/es_ni.csv
  frappe/translations/es_pe.csv
  frappe/translations/fr_ca.csv
  frappe/translations/pt_br.csv
  frappe/translations/sr_ba.csv
  frappe/translations/sr_sp.csv
  frappe/translations/zh_tw.csv
Due: none

fix: ignore child tables when init-ing parent doc
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/tests/test_document.py
Due: server

chore(release): Bumped to Version 13.41.4
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  f5603446dc3d693ed0a38fb156b145cc7027a978
Due: none

chore(release): Bumped to Version 14.10.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  ea296321b9eb156fe445ae71fee91fcf2181af04
Due: none

refactor: moved submission from document class
  frappe/core/doctype/report/report.js
  frappe/core/doctype/submission_queue/__init__.py
  frappe/core/doctype/submission_queue/submission_queue.js
  frappe/core/doctype/submission_queue/submission_queue.json
  frappe/core/doctype/submission_queue/submission_queue.py
  frappe/core/doctype/submission_queue/test_submission_queue.py
  frappe/desk/form/save.py
  frappe/model/document.py
Due: server, ui-tests

fix: unlock document when action is executed
  frappe/core/doctype/submission_queue/submission_queue.py
Due: server

refactor: moved background submit to Submission Queue DocType
  frappe/core/doctype/submission_queue/submission_queue.json
  frappe/core/doctype/submission_queue/submission_queue.py
  frappe/desk/form/save.py
Due: server, ui-tests

fix: ignore perm level validation if row deleted
  frappe/model/base_document.py
Due: server

fix: ignore perm level validation if row deleted (#18290)
  frappe/model/base_document.py
Due: server

fix: let charts handle aggregation
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/public/js/frappe/widgets/chart_widget.js
Due: server, ui-tests

fix: let charts handle aggregation (#18293)
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/public/js/frappe/widgets/chart_widget.js
Due: server, ui-tests

chore: conflicts
  frappe/public/js/frappe/widgets/chart_widget.js
Due: ui-tests

refactor: Print Format Builder Beta code to vue 3
  frappe/public/js/print_format_builder/ConfigureColumns.vue
  frappe/public/js/print_format_builder/Field.vue
  frappe/public/js/print_format_builder/HTMLEditor.vue
  frappe/public/js/print_format_builder/LetterHeadEditor.vue
  frappe/public/js/print_format_builder/Preview.vue
  frappe/public/js/print_format_builder/PrintFormat.vue
  frappe/public/js/print_format_builder/PrintFormatBuilder.vue
  frappe/public/js/print_format_builder/PrintFormatControls.vue
  frappe/public/js/print_format_builder/PrintFormatSection.vue
  frappe/public/js/print_format_builder/print_format_builder.bundle.js
  frappe/public/js/print_format_builder/store.js
  package.json
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
