Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

Merge pull request #37518 from safwansamsudeen/session-defaults-read-only
  frappe/public/js/frappe/model/create_new.js
Due: ui-tests

Merge pull request #37027 from UmakanthKaspa/fix/dynamic-filters-dialog-prepopulate
  frappe/desk/doctype/dashboard_chart/dashboard_chart.js
  frappe/desk/doctype/number_card/number_card.js
Due: ui-tests

Merge pull request #37887 from iamejaaz/email-trigger-button
  frappe/public/js/frappe/form/footer/form_timeline.js
Due: ui-tests

Merge pull request #39781 from sumitjain236/data-import-value-mapping-no-of-rows
  frappe/core/doctype/data_import/test_importer.py
  frappe/core/doctype/data_import/value_mapping.py
  frappe/core/doctype/data_import_value_mapping/data_import_value_mapping.json
Due: server, ui-tests

Merge pull request #39867 from sokumon/user-emails
  frappe/core/doctype/user/user.py
  frappe/www/login.py
Due: server

Merge pull request #38306 from iamejaaz/sticky-header
  frappe/public/scss/desk/list.scss
Due: none

Merge pull request #39404 from sokumon/awesomeabar-on-top
  cypress/integration/awesome_bar.js
  frappe/desk/page/desktop/desktop.css
  frappe/desk/page/desktop/desktop.html
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/ui/page.html
  frappe/public/js/frappe/ui/page.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
  frappe/public/js/frappe/views/container.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/index.scss
  frappe/public/scss/desk/page.scss
  frappe/public/scss/desk/search_widget.scss
Due: ui-tests

Merge pull request #39887 from sumitjain236/add-upsert-insert-or-update-option-to-data-import
  frappe/commands/utils.py
  frappe/core/doctype/data_import/data_import.js
  frappe/core/doctype/data_import/data_import.json
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import/data_import_list.js
  frappe/core/doctype/data_import/importer.py
  frappe/core/doctype/data_import/test_importer.py
  frappe/core/doctype/data_import_log/data_import_log.json
  frappe/public/js/frappe/data_import/data_exporter.js
Due: server, ui-tests

fix: make file size param optional (#37952)
  frappe/handler.py
Due: server

Merge pull request #39687 from iamejaaz/fix/notification-panel-icons-and-text
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: ui-tests

Merge pull request #40171 from iamejaaz/fix/awesomebar-duplicate-on-navigation
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

Merge pull request #39779 from sokumon/icon-configuration
  frappe/desk/page/desktop/desktop.js
Due: ui-tests

Merge pull request #39531 from cogk/fix-hash-decoding-accented-characters
  frappe/public/js/frappe/form/form.js
Due: ui-tests

Merge pull request #39554 from Vibhuti410/session-default
  frappe/hooks.py
  frappe/public/js/frappe/ui/menu.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/scss/desk/menu.scss
Due: server, ui-tests

Merge pull request #39681 from sokumon/notifications-actions
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/scss/desk/notification.scss
Due: ui-tests

Merge pull request #40040 from KerollesFathy/fix/set-route-query-params
  frappe/public/js/frappe/router.js
Due: ui-tests

Merge pull request #37026 from UmakanthKaspa/feat/web-form-dynamic-filters
  frappe/website/doctype/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
  frappe/www/list.py
Due: server, ui-tests

Merge pull request #39051 from frappe/primary-grp-btn
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

Merge pull request #38307 from frappe/fix-webform-upload
  frappe/handler.py
  frappe/public/js/frappe/file_uploader/FileUploader.vue
Due: server

Merge pull request #39702 from Abdeali099/remove-invalid-condition-from-map
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

Merge pull request #39625 from sokumon/awesomebar-fix
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
Due: ui-tests

Merge pull request #39556 from Vibhuti410/report-link
  frappe/core/doctype/report/report.json
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

Merge pull request #38283 from iamejaaz/sticky-header
  frappe/public/scss/desk/list.scss
Due: none

chore: remove unused Octicons (#39836)
  attributions.md
  frappe/public/css/octicons/LICENSE.txt
  frappe/public/css/octicons/README.md
  frappe/public/css/octicons/octicons-local.ttf
  frappe/public/css/octicons/octicons.css
  frappe/public/css/octicons/octicons.eot
  frappe/public/css/octicons/octicons.less
  frappe/public/css/octicons/octicons.scss
  frappe/public/css/octicons/octicons.svg
  frappe/public/css/octicons/octicons.ttf
  frappe/public/css/octicons/octicons.woff
  frappe/public/css/octicons/sprockets-octicons.scss
  frappe/public/js/frappe/data_import/import_preview.js
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/js/frappe/views/interaction.js
  frappe/public/js/frappe/views/pageview.js
  frappe/public/scss/desk.bundle.scss
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/list.scss
  frappe/public/scss/web_form.bundle.scss
  frappe/templates/includes/search_box.html
  frappe/website/js/bootstrap-4.js
Due: ui-tests

Merge pull request #38183 from Shllokkk/print-format-fix
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

Merge pull request #40058 from khushi8112/role-permission-management-ui-revamp
  frappe/core/doctype/role/role.js
  frappe/core/doctype/role/role.json
  frappe/desk/page/desktop/desktop.json
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/ui/embedded_list.js
  frappe/public/scss/desk/embedded_list.scss
  frappe/public/scss/desk/index.scss
Due: ui-tests

Merge pull request #38282 from iamejaaz/sticky-header
  frappe/database/query.py
  frappe/public/scss/desk/list.scss
Due: server

Merge pull request #38297 from sagarvora/fix-quick-entry-routing
  frappe/public/js/frappe/form/save.js
Due: ui-tests

Merge pull request #39916 from sumitjain236/fix-sr-no-translation-in-data-import
  frappe/core/doctype/data_import/importer.py
  frappe/public/js/frappe/data_import/import_preview.js
Due: server, ui-tests

fix(form): reset attachment preview on document switch (#39968)
  frappe/public/js/frappe/views/formview.js
  frappe/public/scss/desk/form_sidebar.scss
Due: ui-tests

Merge pull request #38641 from sokumon/center-breadcrumb
  frappe/public/scss/desk/breadcrumb.scss
Due: none

Merge pull request #36792 from aerele/fix/doctype-duplicate-auto-repeat
  frappe/core/doctype/doctype/doctype.js
Due: ui-tests

Merge pull request #38523 from frappe/38448-property-to-include-fields-in-default-import-template
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/docfield/docfield.py
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/custom/doctype/customize_form_field/customize_form_field.py
  frappe/public/js/frappe/data_import/data_exporter.js
  frappe/public/js/frappe/form/controls/multicheck.js
  frappe/public/js/frappe/list/bulk_operations.js
  frappe/public/scss/element/checkbox.scss
Due: server, ui-tests

Merge pull request #38548 from KerollesFathy/fix-int-float-dirty-on-input
  frappe/public/js/frappe/form/controls/data.js
  frappe/public/js/frappe/form/controls/int.js
Due: ui-tests

Merge pull request #39775 from iamejaaz/fix/search-sidebar-and-button-styling
  frappe/public/js/frappe/ui/keyboard.js
  frappe/public/js/frappe/ui/page.html
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/navbar.scss
  frappe/public/scss/desk/search_widget.scss
Due: ui-tests

Merge pull request #38637 from iamejaaz/report-sticky-ui
  frappe/public/scss/desk/list.scss
  frappe/public/scss/desk/report.scss
Due: none

feat: convert user avatar to a dropdown button (#39520)
  frappe/public/js/frappe/ui/menu.js
  frappe/public/js/frappe/ui/sidebar/sidebar.html
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/scss/desk/sidebar.scss
Due: ui-tests

Merge pull request #39047 from sagarvora/fix/remove-unnecessary-deep-copy-in-paste-listener
  frappe/public/js/frappe/desk.js
Due: ui-tests

Merge pull request #39833 from sumitjain236/data-import-tree-preview-for-tree-doctypes
  frappe/core/doctype/data_import/data_import.css
  frappe/core/doctype/data_import/data_import.js
  frappe/core/doctype/data_import/data_import.json
  frappe/core/doctype/data_import/importer.py
  frappe/core/doctype/data_import/test_importer.py
  frappe/core/doctype/data_import/value_mapping.py
  frappe/public/js/frappe/data_import/import_preview.js
  frappe/public/js/frappe/data_import/import_tree_preview.js
  frappe/public/js/frappe/data_import/index.js
  frappe/public/scss/desk/data_import.scss
Due: server, ui-tests
