Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(ui): hide keyboard shortcuts on mobile and use nested menus
  frappe/public/css/espresso/components/menu.css
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

feat: autocomplete field filter support for description (#36981)
  frappe/public/js/frappe/form/controls/autocomplete.js
Due: ui-tests

fix: key endpoint rate limits by the decorated function
  frappe/rate_limiter.py
Due: server

fix: update socket.io to 4.8.3 in the lockfile
  yarn.lock
Due: none

fix: force download for more markup file types (#41359)
  frappe/utils/response.py
Due: server

fix: record query report exports in the access log on the server
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
Due: server, ui-tests

feat(ui): Espresso dropdowns on custom button groups
  cypress/integration/custom_buttons.js
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

fix: require POST for bulk document and title update endpoints (#41361)
  frappe/desk/doctype/bulk_update/bulk_update.py
  frappe/model/rename_doc.py
  frappe/model/workflow.py
Due: server

fix: serve boot translations only for enabled languages (#41362)
  frappe/translate.py
Due: server

fix: desktop issues
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/page/desktop/desktop.css
Due: server

fix: check app title
  frappe/desk/doctype/desktop_icon/desktop_icon.py
Due: server

chore: use linters
  frappe/desk/doctype/desktop_icon/desktop_icon.py
Due: server

fix: use correct tag
  frappe/desk/page/desktop/desktop.css
  frappe/desk/page/desktop/desktop_icons.html
Due: none

fix: sidebar editing
  frappe/public/js/desktop_icons.bundle.js
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix: use frappe.get_attr
  frappe/desk/doctype/desktop_icon/desktop_icon.py
Due: server

fix: handle dock info correctly
  frappe/boot.py
  frappe/desk/doctype/workspace_sidebar_item/workspace_sidebar_item.json
Due: server, ui-tests

fix: guard install apps via flag
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/desk/doctype/desktop_layout/desktop_layout.py
  frappe/utils/install.py
Due: server, ui-tests

fix: pagination issues
  frappe/boot.py
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/public/js/desktop_icons.bundle.js
Due: server, ui-tests

fix: use dry_run correctly
  frappe/utils/install.py
Due: server

fix: alt keyboard shortcuts
  frappe/public/js/frappe/ui/components/menu.js
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

fix: limit notification log document access to its recipient (#41363)
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/hooks.py
Due: server

fix: persist google oauth callback method in state so callback routes across workers
  frappe/integrations/google_oauth.py
  frappe/integrations/test_google_oauth.py
Due: server

fix: limit Tag Link queries to doctypes the user can read (#41365)
  frappe/desk/doctype/tag_link/tag_link.py
  frappe/hooks.py
Due: server

refactor: Use get_query instead of raw query
  frappe/desk/treeview.py
Due: server

fix: require a web form to be published before its API endpoints respond
  frappe/website/doctype/web_form/web_form.py
Due: server

fix: clear dropdowns on refresh
  frappe/public/js/frappe/ui/page.js
Due: ui-tests

fix: scope follow and unfollow endpoints to the session user (#41368)
  frappe/desk/form/document_follow.py
  frappe/desk/form/utils.py
  frappe/desk/like.py
  frappe/email/doctype/document_follow/test_document_follow.py
  frappe/model/document.py
  frappe/public/js/frappe/form/sidebar/document_follow.js
  frappe/share.py
Due: server, ui-tests

refactor: Use get_query instead of raw query (#41366)
  frappe/desk/treeview.py
Due: server

fix: guard missing app_title and icon variant lookups
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/public/js/frappe/utils/utils.js
  frappe/utils/install.py
Due: server, ui-tests

fix: require a web form to be published before its API endpoints respond (#41367)
  frappe/website/doctype/web_form/web_form.py
Due: server

fix: require read permission before returning a link title
  frappe/desk/search.py
Due: server

feat: utilities for settings dialog (#39996)
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/form/controls/control.js
  frappe/public/js/frappe/form/controls/switch.js
  frappe/public/js/frappe/ui/settings_dialog.js
  frappe/public/scss/common/controls.scss
  frappe/public/scss/desk/index.scss
  frappe/public/scss/desk/settings_dialog.scss
Due: ui-tests

fix: tests
  cypress/integration/control_attach.js
  cypress/integration/control_data.js
  cypress/integration/dashboard_links.js
  cypress/integration/list_view.js
  cypress/integration/list_view_column_width.js
Due: ui-tests

fix: accept only POST requests for custom field rename (#41372)
  frappe/custom/doctype/custom_field/custom_field.py
Due: server

fix: require read permission before returning a link title (#41374)
  frappe/desk/search.py
Due: server

fix: limit Dashboard Settings access to the matching user (#41364)
  frappe/desk/doctype/dashboard_settings/dashboard_settings.py
  frappe/hooks.py
Due: server

fix: check read permission before returning a password field value (#41375)
  frappe/client.py
Due: server

fix(realtime): Use urlsplit for parsing hostname
  frappe/realtime/util.py
  frappe/tests/test_realtime_py.py
  realtime/utils.js
Due: server, ui-tests
