Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

chore(release): Bumped to Version 13.54.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  7f/f1e5c26221e30653e999969a76cc4372236415
Due: none

fix: format filter values in report print view (#20717)
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

chore: resolve conflicts
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

fix: make_error_msg for imap
  frappe/email/receive.py
Due: server

chore: rename message_meta -> uid
  frappe/email/receive.py
Due: server

fix: Add translation function to file uploader preview (Optimize and Private checks)
  frappe/public/js/frappe/file_uploader/FilePreview.vue
Due: none

fix: translate file uploader buttons (#20763)
  frappe/public/js/frappe/file_uploader/FilePreview.vue
Due: none

fix: allow system number format parsing in data import
  frappe/core/doctype/data_import/importer.py
  frappe/utils/data.py
Due: server

fix: reload website settings to avoid chat module failure (#20465)
  frappe/patches/v13_0/website_theme_custom_scss.py
Due: server

fix: float formatting
  frappe/public/js/frappe/form/controls/float.js
Due: ui-tests

fix(minor): typo in fixture syncing message
  frappe/modules/utils.py
Due: server

fix(minor): typo in fixture syncing message (#20768)
  frappe/modules/utils.py
Due: server

feat: added URL type in workspace shortcut
  frappe/desk/doctype/workspace_shortcut/workspace_shortcut.json
  frappe/public/js/frappe/widgets/shortcut_widget.js
  frappe/public/js/frappe/widgets/widget_dialog.js
Due: ui-tests

fix: undefined link if no value for url data field in grid
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

fix: validate url string
  frappe/public/js/frappe/widgets/widget_dialog.js
Due: ui-tests

fix: letterhead not working for multiple doc print
  frappe/utils/print_format.py
Due: server

fix(UX): enable login with link by default
  frappe/core/doctype/system_settings/system_settings.json
Due: ui-tests

fix(UX): enable login with link by default (#20772)
  frappe/core/doctype/system_settings/system_settings.json
Due: ui-tests

fix: removed logo implementation
  frappe/templates/emails/login_without_password.html
  frappe/www/login.py
Due: server

feat: Login without password (through link sent on email)
  frappe/core/doctype/system_settings/system_settings.json
  frappe/public/scss/login.bundle.scss
  frappe/templates/emails/login_without_password.html
  frappe/templates/includes/login/login.js
  frappe/www/login.html
  frappe/www/login.py
Due: server, ui-tests

chore: linter fix
  frappe/contacts/doctype/contact/contact.py
Due: server

fix: renamed login without password to passwordless login
  frappe/core/doctype/system_settings/system_settings.json
  frappe/public/scss/login.bundle.scss
  frappe/templates/emails/passwordless_login.html
  frappe/templates/includes/login/login.js
  frappe/www/login.html
  frappe/www/login.py
Due: server, ui-tests

fix: suggested changes and added passwordless_login_expiry option
  frappe/core/doctype/system_settings/system_settings.json
  frappe/www/login.py
Due: server, ui-tests

fix: type checking
  frappe/www/login.py
Due: server

chore: again renaming to Login with email link
  frappe/core/doctype/system_settings/system_settings.json
  frappe/public/scss/login.bundle.scss
  frappe/templates/emails/login_with_email_link.html
  frappe/templates/includes/login/login.js
  frappe/www/login.html
  frappe/www/login.py
Due: server, ui-tests

test: test valid & invalid key
  frappe/tests/test_auth.py
  frappe/www/login.py
Due: server

fix: removed footer
  frappe/templates/emails/login_with_email_link.html
Due: none

refactor: improve test, rate limiting
  frappe/tests/test_auth.py
  frappe/tests/test_rate_limiter.py
  frappe/www/login.py
Due: server

fix: validate route conflict with new title if title is changed
  frappe/desk/doctype/workspace/workspace.py
Due: server

fix: clear cache on delete of prop setters
  frappe/custom/doctype/property_setter/property_setter.py
Due: server

chore: translate Not Saved message message in web_form
  frappe/website/doctype/web_form/templates/web_form.html
Due: none
