Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

perf: manually cast doc.name to string (#32292)
  frappe/desk/form/document_follow.py
  frappe/desk/form/load.py
  frappe/share.py
Due: server

perf: Fix child table queries for int-PK parent (#32293)
  frappe/model/document.py
Due: server

perf: cast dynamic links while filtering (#32294)
  frappe/model/db_query.py
Due: server

perf: cast todo queries for int PK (#32295)
  frappe/desk/doctype/todo/todo.py
  frappe/desk/form/assign_to.py
Due: server

perf: cast filters to string for assignments (#32297)
  frappe/automation/doctype/assignment_rule/assignment_rule.py
Due: server

fix: Condition for processing `like` operators
  frappe/model/db_query.py
Due: server

fix: prevent header folding for email
  frappe/email/doctype/email_queue/email_queue.py
Due: server

fix: Portuguese translations
  frappe/locale/pt.po
Due: none

chore: conflicts
  frappe/model/document.py
Due: server

perf: cast parent to string
  frappe/model/document.py
Due: server

fix(db_query): double-escaped value
  frappe/model/db_query.py
  frappe/tests/test_db_query.py
Due: server

fix: use context explicitly for translation in web_form
  frappe/website/doctype/web_form/web_form.py
Due: server

chore: conflicts
  frappe/app.py
Due: server

perf: Don't update list view settings on every query (#31743)
  frappe/model/db_query.py
Due: server

feat(LDAPSettings): add default login option
  frappe/integrations/doctype/ldap_settings/ldap_settings.json
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
  frappe/www/login.html
Due: server, ui-tests

issue-47120-erpnext
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

fix(LDAPSettings): rename default_login to default_to_ldap_login in settings and login logic
  frappe/integrations/doctype/ldap_settings/ldap_settings.json
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
  frappe/www/login.html
Due: server, ui-tests

fix(LDAPSettings): simplify default_to_ldap_login assignment in result dictionary
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
Due: server

refactor!: use native time picker
  frappe/public/js/frappe/form/controls/time.js
Due: ui-tests

fix: trim whitespace
  frappe/public/js/frappe/form/controls/time.js
Due: ui-tests

chore: resolve conflicts
  frappe/desk/page/setup_wizard/install_fixtures.py
Due: server

test: don't expect datepicker for time field
  cypress/support/commands.js
Due: ui-tests

fix: fix linter errors
  frappe/model/utils/rename_field.py
Due: server

feat: Improve Kanban board card movement validations
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Due: ui-tests

fix: indentation
  frappe/utils/print_format.py
Due: server

fix: Croatian translations
  frappe/locale/hr.po
Due: none

feat: allow setting log_level per module/application
  frappe/utils/logger.py
Due: server

fix: change limit to 100k
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

refactor: reuse print_format_name variable in get_context
  frappe/www/printview.py
Due: server

feat: include print format name in Access Log during print (#32360)
  frappe/www/printview.py
Due: server

build: switch to node 22
  .github/actions/setup/action.yml
  .github/workflows/_base-migration.yml
  .github/workflows/_base-server-tests.yml
  .github/workflows/_base-ui-tests.yml
  .github/workflows/create-release.yml
  .github/workflows/linters.yml
  .github/workflows/on_release.yml
  .github/workflows/publish-assets-develop.yml
  .github/workflows/run-indinvidual-tests.yml
  .github/workflows/server-tests.yml
Due: none

Notes added by 'git notes add'
  12ef6c318fc48323ae63dc7483a85d389c9a4142
Due: none

Notes added by 'git notes add'
  fcec5a3eb5b252d1ada204b599aa446b94209bcd
Due: none

fix: change limit to 100k (#32419)
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

feat: Maintenance queues for scheduled jobs
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.json
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
Due: server, ui-tests

refactor: Move jobs to maintenance queues
  frappe/hooks.py
Due: server

test: update tests
  frappe/core/doctype/scheduled_job_type/test_scheduled_job_type.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
