Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: allow methods in doc_events to work with only doc parameter
  frappe/model/document.py
Due: server

fix: handle pos args
  frappe/model/document.py
Due: server

fix: add caching
  frappe/model/document.py
Due: server

Notes added by 'git notes add'
  75baafaa0bde07a86bf28764383b93b5df97bc7e
Due: none

fix: support esm handlers
  realtime/index.js
Due: ui-tests

fix: missing edge case
  frappe/model/document.py
Due: server

test: assert deferred DocType module hooks fire after export
  frappe/core/doctype/doctype/test_doctype.py
Due: server

fix: snapshot insert intent for deferred DocType module hooks
  frappe/core/doctype/doctype/doctype.py
Due: server

refactor: unify sidebar icons
  frappe/public/js/form_builder/components/Field.vue
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/form/info_card.js
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_card.html
  frappe/public/js/frappe/ui/sidebar/sidebar_card.js
  frappe/public/scss/desk/sidebar_card.scss
Due: ui-tests

fix: Don't switch user on developer install
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server

fix: Don't switch user on developer install (#39157)
  frappe/desk/page/setup_wizard/setup_wizard.py
Due: server

chore: change to 1kb
  frappe/website/utils.py
Due: server

fix: removed unwanted code line
  frappe/public/js/frappe/form/info_card.js
Due: ui-tests

fix: icon for form field description and documentation (#39147)
  frappe/public/js/form_builder/components/Field.vue
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/form/info_card.js
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_card.html
  frappe/public/js/frappe/ui/sidebar/sidebar_card.js
  frappe/public/scss/desk/sidebar_card.scss
Due: ui-tests

ci: run on v15+16
  .github/workflows/review-po-prs.yml
Due: none

ci: drop restriction to frappe-pr-bot
  .github/workflows/review-po-prs.yml
Due: none

ci: add translation PR review workflow
  .github/helper/po_pr_review.py
  .github/workflows/review-po-prs.yml
Due: server

ci: align translation PR review trigger
  .github/workflows/review-po-prs.yml
Due: none

chore: test po review
  frappe/locale/de.po
Due: none

Update frappe/desk/doctype/global_search_settings/global_search_settings.js
  frappe/desk/doctype/global_search_settings/global_search_settings.js
Due: ui-tests

ci: handle big po changes
  .github/helper/po_pr_review.py
  .github/workflows/review-po-prs.yml
Due: server

feat: update grid field options to use autocomplete for improved user experience
  frappe/public/js/frappe/form/grid.js
Due: ui-tests

refactor: enhance bulk edit dialog to use autocomplete for field selection
  frappe/public/js/frappe/list/bulk_operations.js
Due: ui-tests

fix(ci): post replacement PO review comments before deleting old ones
  .github/workflows/review-po-prs.yml
Due: none

fix(ci): tighten PO review part sizing and add oversize fallback comment
  .github/helper/po_pr_review.py
Due: server

fix: stricter comment matching for deletion
  .github/workflows/review-po-prs.yml
Due: none

chore: update POT file
  frappe/locale/main.pot
Due: none

feat(Web Form): add request-key access for one-time links
  frappe/public/js/frappe/web_form/web_form.js
  frappe/public/js/frappe/web_form/webform_script.js
  frappe/website/doctype/web_form/templates/web_form.html
  frappe/website/doctype/web_form/test_web_form.py
  frappe/website/doctype/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
  frappe/website/doctype/web_form_request/__init__.py
  frappe/website/doctype/web_form_request/test_web_form_request.py
  frappe/website/doctype/web_form_request/web_form_request.js
  frappe/website/doctype/web_form_request/web_form_request.json
  frappe/website/doctype/web_form_request/web_form_request.py
  frappe/website/doctype/web_form_request/web_form_request_list.js
Due: server, ui-tests

fix: autoname, no_copy, role perms
  frappe/website/doctype/web_form_request/web_form_request.json
Due: ui-tests

refactor: allows_public_access
  frappe/website/doctype/web_form/templates/web_form.html
  frappe/website/doctype/web_form/web_form.py
Due: server

fix: hide "Submit another response" for single-use keys
  frappe/website/doctype/web_form/templates/web_form.html
Due: none

fix(web_form): enforce login_required for guests on update path
  frappe/website/doctype/web_form/web_form.py
Due: server

fix(web_form): allow docname check when reference_docname is unset
  frappe/website/doctype/web_form/web_form.py
Due: server

fix(web_form): translate PermissionError messages in delete
  frappe/website/doctype/web_form/web_form.py
Due: server

fix(web_form): don't restore deleted docname into reference_docname
  frappe/website/doctype/web_form/web_form.py
Due: server

refactor: update query report to use autocomplete for field and insert after selections
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

test(global_search_settings): update success message and modal handling in Cypress tests
  cypress/integration/global_search_settings.js
Due: ui-tests
