Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

setup py with --python flag
  .github/workflows/patch-mariadb-tests.yml
Due: none

ci: use multiple python version in patch test (#21443)
  .github/workflows/patch-mariadb-tests.yml
Due: none

chore: conflicts
  .github/workflows/patch-mariadb-tests.yml
Due: none

refactor!: scheduler without external libraries (#18331)
  frappe/utils/scheduler.py
  pyproject.toml
Due: server

chore; conflicts
  pyproject.toml
Due: none

feat: before/after hooks for any app install/uninstall
  frappe/installer.py
  frappe/utils/boilerplate.py
Due: server

fix: Added option for setting default in Report filters
  frappe/core/doctype/report_filter/report_filter.json
Due: ui-tests

fix: added get_quarter_ending function in safe_exec
  frappe/utils/safe_exec.py
Due: server

fix: repeat title value in description of link field.
  frappe/desk/search.py
Due: server

update password
  frappe/www/update-password.html
Due: none

fix: remove `app_version` from hooks boilerplate
  frappe/utils/boilerplate.py
Due: server

fix: add `required_apps` to hooks boilerplate
  frappe/utils/boilerplate.py
Due: server

fix (get_report_filters): wrong property name
  frappe/public/js/frappe/views/reports/report_utils.js
Due: ui-tests

perf: defer LOG_DOCTYPES import
  frappe/commands/site.py
Due: server

perf: defer system settings import
  frappe/core/doctype/system_settings/system_settings.py
Due: server

perf: move validate_and_sanitize_search_inputs
  frappe/__init__.py
  frappe/desk/search.py
Due: server

perf: defer requests module imports
  frappe/build.py
  frappe/utils/change_log.py
Due: server

perf: defer translation.py imports
  frappe/boot.py
  frappe/desk/form/meta.py
Due: server

perf: defer gzip import
  frappe/utils/__init__.py
Due: server

perf: remove unused import
  frappe/database/database.py
Due: server

perf: defer update_site_config
  frappe/commands/redis_utils.py
  frappe/utils/scheduler.py
Due: server

perf: defer notifications import
  frappe/cache_manager.py
  frappe/defaults.py
Due: server

perf: defer safe exec import
  frappe/query_builder/utils.py
Due: server

fix: use correct property name for filters in get_report_filters (#21465)
  frappe/public/js/frappe/views/reports/report_utils.js
Due: ui-tests

payment page design
  frappe/templates/pages/integrations/stripe_checkout.html
Due: none

side bar for my profile page.
  frappe/templates/includes/web_sidebar.html
Due: none

test: memory usage overhead
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/utils/data.py
Due: server

fix(UX): better error message for Encryption key
  frappe/utils/password.py
Due: server

perf: reduce memory usage of background processes (#21467)
  frappe/__init__.py
  frappe/boot.py
  frappe/build.py
  frappe/cache_manager.py
  frappe/commands/redis_utils.py
  frappe/commands/site.py
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/core/doctype/system_settings/system_settings.py
  frappe/database/database.py
  frappe/defaults.py
  frappe/desk/form/meta.py
  frappe/desk/search.py
  frappe/query_builder/utils.py
  frappe/utils/__init__.py
  frappe/utils/change_log.py
  frappe/utils/data.py
  frappe/utils/scheduler.py
Due: server

perf: Move babel import to extract function
  frappe/translate.py
Due: server

fix(event)!: Move "Cancelled" to `status` instead of `event_type`
  frappe/desk/doctype/event/event.json
  frappe/patches.txt
  frappe/patches/v15_0/move_event_cancelled_to_status.py
Due: server, ui-tests

fix(Workspace): ignore `is_hidden` when importing standard workspaces
  frappe/modules/import_file.py
Due: server

login token fix
  frappe/auth.py
Due: server

fix: return if exception occur before executing webhook
  frappe/integrations/doctype/webhook/webhook.py
Due: server

fix: removed redundant condition
  frappe/integrations/doctype/webhook/webhook.py
Due: server

add set sid
  frappe/auth.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
