Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

Revert "Merge pull request #27578 from akhilnarang/sanitize-html"
  frappe/desk/form/assign_to.py
Due: server

fix: Swedish translations
  frappe/locale/sv.po
Due: none

fix: Bosnian translations
  frappe/locale/bs.po
Due: none

feat: specify row compression for tables
  frappe/core/doctype/communication/communication.json
  frappe/core/doctype/deleted_document/deleted_document.json
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
  frappe/core/doctype/version/version.json
  frappe/core/doctype/view_log/view_log.json
  frappe/database/mariadb/schema.py
  frappe/email/doctype/email_queue/email_queue.json
  frappe/website/doctype/web_page_view/web_page_view.json
Due: server, ui-tests

fix(assign_to): Check if HTML description is empty
  frappe/desk/form/assign_to.py
Due: server

refactor: Simplify has_content condition
  frappe/desk/form/assign_to.py
Due: server

Merge pull request #31363 from cogk/fix-check-empty-assign_to-comment
  frappe/desk/form/assign_to.py
Due: server

[FIX] Handled page_length variable if not exist
  frappe/public/js/frappe/form/grid_pagination.js
Due: ui-tests

fix: erase cron frequency when type changes
  frappe/core/doctype/server_script/server_script.py
Due: server

fix: remove duplicate clear_cache calls
  frappe/model/document.py
Due: server

fix: return None if password policy isn't enabled
  frappe/core/doctype/user/user.py
Due: server

fix: update validate operator
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Due: ui-tests

fix(workflow_action): Pass context as dict to render template
  frappe/workflow/doctype/workflow_action/workflow_action.py
Due: server

fix: let's customize grid_page_length
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
Due: server, ui-tests

fix: update password strength check to use length instead of truthy value
  frappe/public/js/frappe/form/controls/password.js
Due: ui-tests

fix: sync translations from crowdin (#31191)
  frappe/locale/ar.po
  frappe/locale/bs.po
  frappe/locale/de.po
  frappe/locale/eo.po
  frappe/locale/es.po
  frappe/locale/fa.po
  frappe/locale/fr.po
  frappe/locale/hu.po
  frappe/locale/pl.po
  frappe/locale/ru.po
  frappe/locale/sv.po
  frappe/locale/tr.po
  frappe/locale/zh.po
Due: none

revert: return an empty dict if password policy isn't enabled
  frappe/core/doctype/user/user.py
Due: server

fix: check `score` in response to set strength indicator
  frappe/public/js/frappe/form/controls/password.js
Due: ui-tests

chore: update POT file
  frappe/locale/main.pot
Due: none

perf: Fork multiple workerpool from same process
  frappe/commands/scheduler.py
  frappe/utils/background_jobs.py
Due: server

fix: check `score` in response to set strength indicator (#31384)
  frappe/public/js/frappe/form/controls/password.js
Due: ui-tests

perf: improved `DocStatus` API and other minor improvements
  frappe/desk/form/save.py
  frappe/model/base_document.py
  frappe/model/docstatus.py
  frappe/model/document.py
  frappe/model/workflow.py
  frappe/tests/test_docstatus.py
Due: server

fix: conflict
  frappe/model/document.py
Due: server

perf: cast int-link field filters to string
  frappe/model/db_query.py
Due: server

perf: cast int-link field filters to string (#31396)
  frappe/model/db_query.py
Due: server

perf: Add prefix index for file_url (#29185)
  frappe/core/doctype/file/file.json
  frappe/core/doctype/file/file.py
Due: server, ui-tests

fix: fetch data from submitted child rows for global search indexing
  frappe/utils/global_search.py
Due: server

fix: fetch data from submitted child rows for global search indexing (#31405)
  frappe/utils/global_search.py
Due: server
