Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix(scheduler): use Redis heartbeat for process health
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/desk/doctype/system_health_report/test_system_health_report.py
  frappe/tests/test_scheduler.py
  frappe/utils/scheduler.py
Due: server

feat: add get_label_from_fieldname as SafeDoc method
  frappe/tests/test_safe_exec.py
  frappe/utils/safe_exec.py
Due: server

test(safe_exec): add tests for SafeDoc instance and attrs.
  frappe/tests/test_safe_exec.py
  frappe/utils/safe_exec.py
Due: server

feat: add SafeDoc class
  frappe/utils/safe_exec.py
Due: server

feat: add meta property to SafeDoc instance
  frappe/tests/test_safe_exec.py
  frappe/utils/safe_exec.py
Due: server

feat: port in_format_data and is_print_hide into SafeDoc Class
  frappe/tests/test_safe_exec.py
  frappe/utils/safe_exec.py
Due: server

refactor(log-settings): build log table copy query with query builder
  frappe/core/doctype/log_settings/log_settings.py
Due: server

chore: update pillow
  pyproject.toml
Due: none

fix: migrate standard (app-shipped) classic print formats on patch run, not just custom
  frappe/printing/doctype/print_format/classic_converter.py
Due: server

fix: route beta formats with empty format_data to the beta renderer, not the removed classic path
  frappe/printing/doctype/print_format/classic_converter.py
  frappe/utils/test_print_format_generator.py
Due: server

revert: height change
  frappe/public/scss/common/icon_picker.scss
Due: none

refactor: accept checkbox value for hide_currency_symbol default
  frappe/public/js/frappe/utils/number_format.js
  frappe/utils/data.py
  frappe/utils/xlsxutils.py
Due: server, ui-tests

fix(icon-field): align selected-icon with input in editable and read-only states
  frappe/public/scss/common/icon_picker.scss
Due: none

fix: make workspace sidebar mandatory
  frappe/boot.py
  frappe/hooks.py
  frappe/integrations/workspace/integrations/integrations.json
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/workspace_dock.js
  frappe/utils/boilerplate.py
  frappe/website/workspace/website/website.json
Due: server, ui-tests

fix: show app name in sidebar header
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
Due: ui-tests

feat: init double sidebar
  frappe/boot.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/page/desktop/desktop.js
  frappe/hooks.py
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/ui/page.js
  frappe/public/js/frappe/ui/sidebar/sidebar.html
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.html
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/ui/sidebar/workspace_dock.js
  frappe/public/js/frappe/views/breadcrumbs.js
  frappe/public/scss/desk/index.scss
  frappe/public/scss/desk/sidebar_header.scss
  frappe/public/scss/desk/workspace_dock.scss
  frappe/utils/boilerplate.py
Due: server, ui-tests

fix: workspace dock styles
  frappe/desk/page/desktop/desktop.css
  frappe/public/scss/desk/workspace_dock.scss
Due: none

chore: remove workspace explorer
  frappe/boot.py
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/page/desktop/desktop.js
  frappe/desk/page/workspace_explorer/__init__.py
  frappe/desk/page/workspace_explorer/workspace_explorer.css
  frappe/desk/page/workspace_explorer/workspace_explorer.js
  frappe/desk/page/workspace_explorer/workspace_explorer.json
Due: server, ui-tests

fix: show app description
  frappe/boot.py
  frappe/desk/page/workspace_explorer/workspace_explorer.js
Due: server, ui-tests

feat: init adding to rail hook
  frappe/boot.py
  frappe/desk/page/workspace_explorer/workspace_explorer.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/utils/boilerplate.py
Due: server, ui-tests

fix: make workspace explorer opt in
  frappe/boot.py
  frappe/desk/page/desktop/desktop.js
Due: server, ui-tests

fix: workspace explorer styles
  frappe/desk/page/workspace_explorer/workspace_explorer.js
  frappe/public/scss/desk/workspace_dock.scss
Due: ui-tests

fix: have sequence_order for desktop
  frappe/boot.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/page/desktop/desktop.js
  frappe/hooks.py
Due: server, ui-tests

fix: notification indicator styles
  frappe/public/js/frappe/ui/sidebar/workspace_dock.js
  frappe/public/scss/desk/notification.scss
  frappe/public/scss/desk/workspace_dock.scss
Due: ui-tests

fix: improve sidebar selection
  frappe/boot.py
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
  frappe/public/js/frappe/ui/sidebar/sidebar.js
Due: server, ui-tests

chore: remove duplicate entries
  frappe/website/workspace/website/website.json
Due: ui-tests

fix: rename framework app
  frappe/hooks.py
Due: server

fix: workspace dock ordering
  frappe/boot.py
Due: server

feat: init explorer
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/page/desktop/desktop.js
  frappe/desk/page/workspace_explorer/__init__.py
  frappe/desk/page/workspace_explorer/workspace_explorer.css
  frappe/desk/page/workspace_explorer/workspace_explorer.js
  frappe/desk/page/workspace_explorer/workspace_explorer.json
Due: server, ui-tests

chore: resolve conflicts
  frappe/website/doctype/personal_data_download_request/test_personal_data_download_request.py
Due: server

refactor: drop private workspace sidebar renaming on user rename
  frappe/core/doctype/user/test_user.py
  frappe/core/doctype/user/user.py
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
Due: server

chore: resolve conflicts
  frappe/tests/test_safe_exec.py
Due: server

chore: resolve conflicts
  frappe/website/doctype/personal_data_download_request/personal_data_download_request.py
  frappe/website/doctype/personal_data_download_request/test_personal_data_download_request.py
  frappe/website/web_form/request_data/request_data.json
Due: server, ui-tests

fix(scheduler): refresh heartbeat before each site
  frappe/desk/doctype/system_health_report/test_system_health_report.py
  frappe/tests/test_scheduler.py
  frappe/utils/scheduler.py
Due: server

fix(report): add perm. conditions in perm. hooks
  frappe/core/doctype/report/report.py
Due: server
