Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: type hints for get_address_display (#20923)
  frappe/contacts/doctype/address/address.py
Due: server

chore: remove default None from address_dict param
  frappe/contacts/doctype/address/address.py
Due: server

fix!: Correct resolution order for template page
  frappe/website/page_renderers/template_page.py
Due: server

fix!: Correct resolution order for template page (#20927)
  frappe/website/page_renderers/template_page.py
Due: server

feat: track skipped patch with traceback
  frappe/core/doctype/patch_log/patch_log.json
  frappe/modules/patch_handler.py
Due: server, ui-tests

fix: escape html from workspace title
  frappe/public/js/frappe/views/workspace/workspace.js
Due: ui-tests

fix: escape html from listview row title
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

chore: set_value docstring
  frappe/database/database.py
Due: server

feat: telemetry using posthog
  .pre-commit-config.yaml
  frappe/hooks.py
  frappe/public/js/lib/posthog.js
  frappe/public/js/telemetry.bundle.js
  frappe/public/js/telemetry/index.js
  frappe/utils/telemetry.py
Due: server, ui-tests

feat: let users disable telemetry from system settings
  frappe/core/doctype/system_settings/system_settings.json
Due: ui-tests

feat: let user opt out of telemetry from setup
  frappe/core/doctype/system_settings/system_settings.json
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/public/js/telemetry/index.js
Due: server, ui-tests

feat: setup wizard progress telemetry
  .pre-commit-config.yaml
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/public/js/telemetry/index.js
Due: ui-tests

feat: add python posthog library
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/public/js/telemetry/index.js
  frappe/utils/telemetry.py
  pyproject.toml
Due: server, ui-tests

refactor: reduce duplication
  frappe/utils/telemetry.py
Due: server

chore: conflicts
  frappe/core/doctype/system_settings/system_settings.json
  pyproject.toml
Due: ui-tests

chore: track onboarding progress
  frappe/desk/desktop.py
  frappe/utils/telemetry.py
Due: server

Revert "chore: conflicts"
  frappe/core/doctype/system_settings/system_settings.json
  pyproject.toml
Due: ui-tests

perf: Faster scheduled job deduplication
  frappe/core/doctype/rq_job/rq_job.py
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/database/database.py
  frappe/utils/background_jobs.py
Due: server

feat: `child_field[]` syntax sugar for qb
  frappe/database/query.py
  frappe/query_builder/utils.py
Due: server

test: for child query in qb.get_query
  frappe/tests/test_query.py
Due: server

fix: use dict syntax instead of string
  frappe/database/query.py
  frappe/query_builder/utils.py
Due: server

fix: prioritize user timezone over system
  frappe/public/js/frappe/utils/datetime.js
Due: ui-tests

test: expected failing test
  frappe/tests/test_background_jobs.py
Due: server

refactor: standardize assigning `job_id`
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/utils/background_jobs.py
Due: server

test: deduplication with unique job id
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/utils/background_jobs.py
Due: server

fix: Database error when joining a link field from the same doctype
  frappe/model/db_query.py
Due: server

fix: dump all the patches in patch log
  frappe/modules/patch_handler.py
Due: server

fix: strip comma, space from recipients before sending email for auto repeat
  frappe/automation/doctype/auto_repeat/auto_repeat.py
Due: server

fix: strip comma, space from recipients before sending email for auto repeat (#20940)
  frappe/automation/doctype/auto_repeat/auto_repeat.py
Due: server

fix: use smaller font only if the report doesnt have a standard print format
  frappe/public/html/print_template.html
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

fix: use smaller font only if the report doesnt have a standard print format (#20878)
  frappe/public/html/print_template.html
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/report_view.js
Due: ui-tests

Update frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
