Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

perf: Simplify code to avoid unnecessary DB calls
  frappe/core/doctype/document_share_key/document_share_key.py
  frappe/utils/print_format.py
  frappe/www/printview.py
Due: server

fix: translate email body for 2FA (#17045)
  frappe/twofactor.py
Due: server

refactor: Update exception names
  frappe/exceptions.py
  frappe/utils/print_format.py
  frappe/www/printview.py
Due: server

test: Assert `status_code` according to the exception
  frappe/tests/test_website.py
Due: server

style: Use tab instead of spaces
  frappe/public/js/frappe/form/script_manager.js
Due: ui-tests

fix: update russian translation (#17041)
  frappe/translations/ru.csv
Due: none

perf: store compact JSON in version diffs (#17042)
  frappe/__init__.py
  frappe/core/doctype/version/version.py
Due: server

fix: prioritize report custom roles
  frappe/core/doctype/report/report.py
Due: server

chore: removed unused variable & added nosemgrep on db commit
  frappe/core/doctype/report/test_report.py
Due: server

test: added unit test for report custom role permissions
  frappe/core/doctype/report/test_report.py
Due: server

feat: delete User Permission when User is deleted
  frappe/core/doctype/user/user.py
Due: server

chore: Semantic releases for version-14 beta
  .github/workflows/release.yml
  .releaserc
Due: none

chore: Linting issues
  frappe/__init__.py
Due: server

fix: allow all users of document to send attachments
  frappe/core/doctype/communication/email.py
Due: server

fix: Add "Document Share Key" to `doctypes_to_skip` in `delete_doc.py`
  frappe/model/delete_doc.py
Due: server

fix: Randomize key length to make it harder to brute force
  frappe/core/doctype/document_share_key/document_share_key.py
Due: server

revert: page_content class name refactor
  frappe/public/scss/website/index.scss
  frappe/templates/web.html
Due: none

refactor: Remove unnecessary exception handling
  frappe/exceptions.py
  frappe/templates/print_format/print_key_expired.html
  frappe/templates/print_format/print_key_invalid.html
  frappe/utils/print_format.py
  frappe/www/printview.py
Due: server

perf: Simplify code to avoid unnecessary DB calls
  frappe/core/doctype/document_share_key/document_share_key.py
  frappe/www/printview.py
Due: server

refactor: Update exception names
  frappe/exceptions.py
  frappe/www/printview.py
Due: server

refactor: Remove unnecessary code
  frappe/www/printview.html
  frappe/www/printview.py
Due: server

fix: Update exception message
  frappe/exceptions.py
Due: server

style: Fix linter warnings
  frappe/core/doctype/document_share_key/document_share_key.py
Due: server

chore: remove console.log statements
  frappe/public/js/frappe/form/form.js
Due: ui-tests

fix: remove redundant function
  frappe/desk/form/load.py
Due: server

chore: fix semantic release config
  .releaserc
Due: none

ci: update apt cache
  .github/helper/install.sh
  .github/helper/install_dependencies.sh
Due: none

ci: update apt cache (#17057)
  .github/helper/install.sh
  .github/helper/install_dependencies.sh
Due: none

Feat(UI): Add beforeunload Listener for 'Leave Site' Dialog to dirty forms
  frappe/public/js/frappe/form/form.js
Due: ui-tests

wip
  frappe/public/js/frappe/views/calendar/calendar.js
Due: ui-tests

fix: Customize Form button in Menu Item
  frappe/public/js/frappe/form/toolbar.js
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: Perm for doctype edit
  frappe/public/js/frappe/form/toolbar.js
Due: ui-tests

fix: Permission for list view
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

chore: version bump
  frappe/__init__.py
Due: server

fix(restore): Remove incorrect validation that doesn't allow relative paths
  frappe/commands/site.py
Due: server

feat: FileUploader - refactor
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/file_uploader/WebLink.vue
Due: none

feat: Add URL Title while uploading links
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/file_uploader/WebLink.vue
Due: none
