Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix(report view): fix linters error
  frappe/model/db_query.py
Due: server

fix: switch tests to supported methods
  frappe/tests/test_rename_doc.py
Due: server

test: fix test case to modified behaviour
  frappe/core/doctype/docshare/test_docshare.py
  frappe/tests/utils.py
Due: server

test: semantic assertions
  frappe/tests/test_rename_doc.py
Due: server

test: fixup deprecation tests imports
  frappe/tests/test_rename_doc.py
Due: server

test: switch tests to supported methods (#20494)
  frappe/tests/test_rename_doc.py
Due: server

fix: nestedset rename
  frappe/model/rename_doc.py
  frappe/tests/test_nestedset.py
Due: server

fix: nestedset rename (#20498)
  frappe/model/rename_doc.py
  frappe/tests/test_nestedset.py
Due: server

feat: Disable Sharing globally (#20318)
  frappe/core/doctype/docshare/test_docshare.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/desk/form/assign_to.py
  frappe/permissions.py
  frappe/public/js/frappe/model/model.js
Due: server, ui-tests

feat(contact template): clickable email ids and phone numbers, less labels (#20247)
  frappe/public/js/frappe/form/templates/contact_list.html
Due: none

Update data_import.json
  frappe/core/doctype/data_import/data_import.json
Due: ui-tests

Update importer.py
  frappe/core/doctype/data_import/importer.py
Due: server

style: format
  frappe/model/__init__.py
Due: server

feat: Disable Sharing globally (#20318) [backport] (#20500)
  frappe/core/doctype/docshare/test_docshare.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/desk/form/assign_to.py
  frappe/model/__init__.py
  frappe/permissions.py
  frappe/public/js/frappe/model/model.js
  frappe/tests/utils.py
Due: server, ui-tests

feat: make workflow state translatable (#20412)
  frappe/workflow/doctype/workflow_state/workflow_state.json
Due: ui-tests

Update __init__.py
  frappe/integrations/doctype/webhook/__init__.py
Due: server

Update data_import.py
  frappe/core/doctype/data_import/data_import.py
Due: server

fix: removed unnecessary usage of `@frappe.whitelist`
  frappe/core/doctype/server_script/server_script.py
Due: server

fix: allowed only POST and PUT methods in `rename_doc`
  frappe/__init__.py
Due: server

fix: Kanban Test fails to remove System Manager role
  cypress/integration/kanban.js
  frappe/tests/ui_test_helpers.py
Due: server, ui-tests

fix: display `Reset OTP Secret` button only if Two factor Auth is enabled
  frappe/core/doctype/user/user.js
Due: ui-tests

fix: added validations and fetched value from cached doc
  frappe/twofactor.py
Due: server

fix: linter changes
  frappe/core/doctype/user/user.js
  frappe/twofactor.py
Due: server, ui-tests

fix: email forgery in contact page
  frappe/www/contact.py
Due: server

fix: date field shouldn't be formatted for TZ (#20486)
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

chore: add insights banner (#20487)
  frappe/public/js/frappe/list/list_sidebar.js
Due: ui-tests

Cypress test case for list view drag select
  cypress/integration/list_view_drag_select.js
  package.json
Due: ui-tests

List view: toggle check boxes instead of left and right clicks
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

added comments for drag select
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: escape HTML instead of sanitizing
  frappe/www/printview.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
