Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: remove standlone modules
  frappe/boot.py
  frappe/desk/doctype/sidebar/sidebar.py
  frappe/desk/page/desktop/desktop.js
  frappe/patches/v16_0/backfill_workspace_module.py
  frappe/public/js/frappe/ui/desktop_icon.html
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/workspace_dock.js
  frappe/tests/test_module_sidebar_boot.py
  frappe/tests/test_standalone_modules.py
Due: server, ui-tests

feat: a Dock per app, per Layer
  frappe/boot.py
  frappe/desk/doctype/dock/dock.json
  frappe/desk/doctype/dock/dock.py
  frappe/desk/doctype/sidebar/test_sidebar.py
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

feat: point the arrangement editor at Sidebars
  frappe/desk/doctype/custom_sidebar/custom_sidebar.py
  frappe/desk/doctype/custom_sidebar/test_custom_sidebar.py
  frappe/desk/doctype/sidebar/sidebar.py
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/ui/sidebar/arrangement_editor.js
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_manager.js
  frappe/public/scss/desk/arrangement_editor.scss
  frappe/public/scss/desk/dock_manager.scss
  frappe/public/scss/desk/index.scss
Due: server, ui-tests

feat: more depth in the sidebar editor
  cypress/integration/arrangement_editor.js
  frappe/desk/doctype/custom_sidebar/custom_sidebar.py
  frappe/desk/doctype/custom_sidebar/test_custom_sidebar.py
  frappe/desk/doctype/sidebar/sidebar.py
  frappe/public/js/frappe/ui/sidebar/arrangement_editor.js
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar_manager.js
  frappe/public/scss/desk/arrangement_editor.scss
Due: server, ui-tests

refactor: fix review findings on Sidebar title naming
  frappe/desk/doctype/dock/dock.py
  frappe/desk/doctype/sidebar/convert_fixtures.py
  frappe/desk/doctype/sidebar/sidebar.json
  frappe/desk/doctype/sidebar/sidebar.py
  frappe/desk/doctype/sidebar/test_sidebar.py
Due: server, ui-tests

feat: Manage Dock authoring
  frappe/desk/doctype/dock/dock.py
  frappe/public/js/frappe/ui/sidebar/arrangement_editor.js
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar_manager.js
  frappe/public/scss/desk/arrangement_editor.scss
  frappe/public/scss/desk/dock_manager.scss
  frappe/public/scss/desk/index.scss
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

feat: the dock-less shell -- no rail, and a switcher in the header
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/ui/sidebar/sidebar_header.js
  frappe/public/js/frappe/ui/sidebar/workspace_dock.js
Due: ui-tests

feat: the hook retires and the record is the entry set
  frappe/apps.py
  frappe/boot.py
  frappe/desk/doctype/dock/dock.py
  frappe/hooks.py
  frappe/migrate.py
  frappe/public/js/desktop_icons.bundle.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/tests/test_dock_preferences.py
  frappe/tests/test_module_sidebar_boot.py
  frappe/utils/boilerplate.py
  hooks.md
Due: server, ui-tests

feat: what a customisation may do
  cypress/integration/arrangement_editor.js
  frappe/desk/doctype/dock/dock.py
  frappe/desk/layers.py
  frappe/public/js/frappe/ui/sidebar/arrangement_editor.js
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

feat: the landing ladder
  frappe/boot.py
  frappe/desk/page/desktop/desktop.js
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

feat: the companion pin becomes Dock.mount_on
  frappe/boot.py
  frappe/desk/doctype/dock/dock.json
  frappe/desk/doctype/dock/dock.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/frappe/ui/toolbar/search_utils.js
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

feat: the standard-items band
  frappe/public/js/frappe/ui/sidebar/sidebar.html
  frappe/public/js/frappe/ui/sidebar/sidebar.js
  frappe/public/scss/desk/workspace_dock.scss
Due: ui-tests

fix: review findings on the dock series
  frappe/boot.py
  frappe/desk/doctype/dock/dock.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/layers.py
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

refactor: drop the old dock row columns
  frappe/desk/doctype/dock/dock.py
  frappe/desk/doctype/dock_item/dock_item.json
  frappe/desk/doctype/dock_item/dock_item.py
  frappe/desk/doctype/sidebar/test_sidebar.py
  frappe/tests/test_dock_preferences.py
Due: server, ui-tests

fix(common): validate redirect target against parsed origin
  frappe/public/js/frappe/utils/common.js
Due: ui-tests

fix: "Select All" in MultiSelectList only picked the first 10 results
  frappe/public/js/frappe/db.js
  frappe/public/js/frappe/form/controls/multiselect_list.js
Due: ui-tests

fix: make Select All work for get_data callbacks that ignore for_select_all
  frappe/public/js/frappe/form/controls/multiselect_list.js
Due: ui-tests

refactor: ui test for the new shape
  cypress/integration/arrangement_editor.js
Due: ui-tests

fix: add print_format_for filter
  frappe/desk/query_report.py
Due: server

feat(ui): rework composer API, polish header and toolbar
  ui/src/components/Composer/CommentComposer/CommentComposer.vue
  ui/src/components/Composer/ComposerEditor.vue
  ui/src/components/Composer/EmailComposer/EmailComposer.vue
  ui/src/components/Composer/EmailComposer/HeaderFields.vue
  ui/src/components/Composer/EmailComposer/HeaderRow.vue
  ui/src/components/Composer/EmailComposer/RecipientSelect.vue
  ui/src/components/Composer/index.ts
  ui/src/components/Composer/types.ts
Due: none

docs(ui): rework composer stories into real-life scenes
  ui/src/components/Composer/stories/CommentThread.vue
  ui/src/components/Composer/stories/Composer.story.vue
  ui/src/components/Composer/stories/CustomUtility.vue
  ui/src/components/Composer/stories/DockedCompose.vue
  ui/src/components/Composer/stories/QuickReply.vue
  ui/src/components/Composer/stories/TicketReply.vue
Due: none

fix: dock editable via form
  frappe/desk/doctype/dock/dock.json
Due: ui-tests

fix: sidebar styles
  frappe/desk/doctype/sidebar/sidebar.py
  frappe/public/scss/desk/workspace_dock.scss
Due: server

test: fix failing dashboard link assertions
  cypress/integration/dashboard_links.js
Due: ui-tests

fix: workspace manager styles
  frappe/public/js/frappe/ui/settings_dialog.js
  frappe/public/js/frappe/views/workspace/workspace.js
Due: ui-tests

feat(treeview): rearrange a tree by dragging, and edit a node in place
  frappe/desk/treeview.py
  frappe/public/js/frappe/ui/tree.js
  frappe/public/js/frappe/views/treeview.js
  frappe/public/js/frappe/views/treeview_editor.js
  frappe/public/js/list.bundle.js
  frappe/public/scss/desk/tree.scss
Due: server, ui-tests

fix(Comment): resolve nested comment references to the root document
  frappe/core/doctype/comment/comment.py
  frappe/core/doctype/comment/test_comment.py
  frappe/desk/form/document_follow.py
Due: server

feat: redo email composer
  frappe/email/__init__.py
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
Due: server, ui-tests

refactor: remove welcome workspace
  frappe/core/doctype/user/user.js
  frappe/core/workspace/welcome_workspace/welcome_workspace.json
  frappe/desk/desktop.py
  frappe/desk/doctype/custom_workspace/custom_workspace.py
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/patches/v16_0/rename_lucide_workspace_icons.py
  frappe/public/js/frappe/ui/sidebar/dock_manager.js
  frappe/tests/test_dock_preferences.py
  frappe/tests/test_v16_upgrade.py
Due: server, ui-tests

test: add test for the escape filters change
  frappe/tests/test_query.py
Due: server

fix(query): escape backslashes in filter condition values on MariaDB
  frappe/database/query.py
Due: server

test: drop index for accent-colliding deleted fields
  frappe/tests/test_db_update.py
Due: server

fix: avoid duplicate DROP INDEX for accent/case-colliding fields during schema sync
  frappe/database/mariadb/database.py
  frappe/database/mariadb/mysqlclient.py
  frappe/database/mariadb/schema.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
