Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: Commit before starting a patch
  frappe/modules/patch_handler.py
Due: server

Update installed_application.json
  frappe/core/doctype/installed_application/installed_application.json
Due: ui-tests

fix: Commit before starting a patch (#33133)
  frappe/modules/patch_handler.py
Due: server

fix: Update session after request
  frappe/app.py
Due: server

Update patch_handler.py
  frappe/modules/patch_handler.py
Due: server

fix: handle fraction units being zero
  frappe/utils/data.py
Due: server

chore: update POT file
  frappe/locale/main.pot
Due: none

fix: Handle math domain error in money_in_words for currencies with zero fraction units
  frappe/utils/data.py
Due: server

fix: French translations
  frappe/locale/fr.po
Due: none

fix: Spanish translations
  frappe/locale/es.po
Due: none

fix: Arabic translations
  frappe/locale/ar.po
Due: none

fix: German translations
  frappe/locale/de.po
Due: none

fix: Hungarian translations
  frappe/locale/hu.po
Due: none

fix: Polish translations
  frappe/locale/pl.po
Due: none

fix: Portuguese translations
  frappe/locale/pt.po
Due: none

fix: Russian translations
  frappe/locale/ru.po
Due: none

fix: Swedish translations
  frappe/locale/sv.po
Due: none

fix: Turkish translations
  frappe/locale/tr.po
Due: none

fix: Chinese Simplified translations
  frappe/locale/zh.po
Due: none

fix: Portuguese, Brazilian translations
  frappe/locale/pt_BR.po
Due: none

fix: Persian translations
  frappe/locale/fa.po
Due: none

fix: Thai translations
  frappe/locale/th.po
Due: none

fix: Croatian translations
  frappe/locale/hr.po
Due: none

fix: Bosnian translations
  frappe/locale/bs.po
Due: none

fix: Serbian (Latin) translations
  frappe/locale/sr_CS.po
Due: none

fix: Esperanto translations
  frappe/locale/eo.po
Due: none

fix: Czech translations
  frappe/locale/cs.po
Due: none

fix: Dutch translations
  frappe/locale/nl.po
Due: none

fix: Vietnamese translations
  frappe/locale/vi.po
Due: none

fix: Italian translations
  frappe/locale/it.po
Due: none

fix: Serbian (Cyrillic) translations
  frappe/locale/sr.po
Due: none

feat: add Default to LDAP Login
  frappe/integrations/doctype/ldap_settings/ldap_settings.json
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
  frappe/www/login.html
Due: server, ui-tests

fix: restore earlier werkzeug request default
  frappe/app.py
Due: server

fix: Default option for hostname check
  frappe/database/mariadb/database.py
  frappe/database/mariadb/mysqlclient.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
