Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

feat(ui): the feed store lives as long as the record's cache entry
  frontend/ARCHITECTURE.md
  ui/src/cache/dataCache.ts
  ui/src/cache/index.ts
  ui/src/cache/tests/leave.test.ts
  ui/src/components/ActivityTimeline/DOCS.md
  ui/src/components/ActivityTimeline/storeCache.ts
  ui/src/components/ActivityTimeline/tests/useActivityTimeline.test.ts
  ui/src/components/ActivityTimeline/timelineStore.ts
  ui/src/components/ActivityTimeline/useActivityTimeline.ts
Due: none

feat: business modules hook and Show for Module field property
  frappe/boot.py
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/docfield/docfield.py
  frappe/core/doctype/doctype/doctype.js
  frappe/custom/doctype/custom_field/custom_field.js
  frappe/custom/doctype/custom_field/custom_field.json
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/custom/doctype/customize_form_field/customize_form_field.py
  frappe/public/js/desk.bundle.js
  frappe/public/js/form_builder/components/FieldProperties.vue
  frappe/public/js/frappe/model/business_modules.js
  frappe/tests/test_business_modules.py
  frappe/utils/business_modules.py
Due: server, ui-tests

fix(ui): free a feed store that a reload made for an uncached record
  ui/src/cache/index.ts
  ui/src/components/ActivityTimeline/tests/useActivityTimeline.test.ts
  ui/src/components/ActivityTimeline/useActivityTimeline.ts
Due: none

fix: allow configurable timeout for google drive backups
  frappe/integrations/doctype/google_drive/google_drive.py
Due: server

feat(desk): onOpen, a Client Script handler that runs once per visit
  frontend/ARCHITECTURE.md
  frontend/COMPATIBILITY.md
  frontend/CONTEXT.md
  frontend/SCRIPTING.md
  frontend/src/recordPage/createRecordPage.ts
  frontend/src/recordPage/paintGate.ts
  frontend/src/recordPage/tests/onOpen.test.ts
Due: none

ci(sqlite): reuse prepared state across shard modules
  frappe/commands/testing.py
  frappe/tests/test_sqlite_test_shard.py
  frappe/tests/utils/sqlite_test_shard.py
Due: server

fix(desk): run every onOpen in run order once the first replay's late parts land
  frontend/CONTEXT.md
  frontend/SCRIPTING.md
  frontend/src/recordPage/paintGate.ts
  frontend/src/recordPage/tests/onOpen.test.ts
Due: none

feat(pdf): Optimize pdf
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/test_file.py
  frappe/handler.py
  frappe/public/js/frappe/file_uploader/FilePreview.vue
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/tests/test_utils.py
  frappe/utils/pdf.py
Due: server

fix(desk): keep the skeletons up for a late onOpen, and name its source only while it runs in step
  frontend/SCRIPTING.md
  frontend/src/recordPage/createRecordPage.ts
  frontend/src/recordPage/paintGate.ts
  frontend/src/recordPage/tests/onOpen.test.ts
Due: none

docs(desk): one summary line for the onOpen docstring in the paint gate
  frontend/src/recordPage/paintGate.ts
Due: none

fix(system_settings): form shows stale defaults and saves them back
  frappe/core/doctype/system_settings/system_settings.py
Due: server

test(system_settings): load returns saved value over stale default
  frappe/core/doctype/system_settings/test_system_settings.py
Due: server

fix(ui): count feed store holds and hold a reload's store until its read ends
  frontend/ARCHITECTURE.md
  frontend/src/pages/record/feed/recordFeeds.ts
  frontend/src/pages/record/feed/tests/recordFeeds.test.ts
  ui/src/components/ActivityTimeline/DOCS.md
  ui/src/components/ActivityTimeline/storeCache.ts
  ui/src/components/ActivityTimeline/tests/useActivityTimeline.test.ts
  ui/src/components/ActivityTimeline/useActivityTimeline.ts
Due: none

feat(desk): onOpen, a Client Script handler that runs once per visit (#43630)
  frontend/ARCHITECTURE.md
  frontend/COMPATIBILITY.md
  frontend/CONTEXT.md
  frontend/SCRIPTING.md
  frontend/src/recordPage/createRecordPage.ts
  frontend/src/recordPage/paintGate.ts
  frontend/src/recordPage/tests/onOpen.test.ts
Due: none

fix(ui): keep 20 idle feed stores for records the shared cache does not hold
  ui/src/components/ActivityTimeline/DOCS.md
  ui/src/components/ActivityTimeline/storeCache.ts
  ui/src/components/ActivityTimeline/tests/useActivityTimeline.test.ts
  ui/src/components/ActivityTimeline/useActivityTimeline.ts
Due: none

feat: validate Show for Module on save and frm.hide_module_fields
  cypress/integration/business_modules.js
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/public/js/frappe/form/form.js
  frappe/tests/test_business_modules.py
  frappe/tests/ui_test_helpers.py
  frappe/utils/business_modules.py
Due: server, ui-tests

fix(ui): count an unmounted feed store as just used
  ui/src/components/ActivityTimeline/DOCS.md
  ui/src/components/ActivityTimeline/storeCache.ts
  ui/src/components/ActivityTimeline/tests/useActivityTimeline.test.ts
  ui/src/components/ActivityTimeline/useActivityTimeline.ts
Due: none

feat(pdf): Optimize pdf
  frappe/utils/pdf.py
Due: server

feat(pdf): Optimize pdf
  frappe/core/doctype/file/test_file.py
Due: server

fix(ui): never free a feed store while one of its page reads is out
  ui/src/components/ActivityTimeline/storeCache.ts
  ui/src/components/ActivityTimeline/tests/useActivityTimeline.test.ts
  ui/src/components/ActivityTimeline/timelineStore.ts
Due: none

feat(desk): page.cached, server data a Client Script reads without a second paint
  frontend/ARCHITECTURE.md
  frontend/SCRIPTING.md
  frontend/src/pages/Record.vue
  frontend/src/recordPage/cachedReads.ts
  frontend/src/recordPage/createRecordPage.ts
  frontend/src/recordPage/keptValues.ts
  frontend/src/recordPage/paintGate.ts
  frontend/src/recordPage/tests/cached.test.ts
  frontend/src/recordPage/tests/firstPaint.test.ts
  frontend/src/recordPage/tests/returnVisit.test.ts
  frontend/src/recordPage/types.ts
Due: none

test(desk): the return-visit walk checks a page.cached script paints once
  frontend/walks/README.md
  frontend/walks/cachedScript.js
  frontend/walks/paintCounters.js
  frontend/walks/returnVisit.js
Due: ui-tests

fix(desk): bound page.cached fetches on a return visit, and fetch no key the replay after them reads
  frontend/SCRIPTING.md
  frontend/src/pages/Record.vue
  frontend/src/recordPage/createRecordPage.ts
  frontend/src/recordPage/paintGate.ts
  frontend/src/recordPage/tests/cached.test.ts
Due: none

fix(ui): the limit of 20 never frees a held feed store
  ui/src/components/ActivityTimeline/DOCS.md
  ui/src/components/ActivityTimeline/storeCache.ts
  ui/src/components/ActivityTimeline/tests/useActivityTimeline.test.ts
Due: none

chore: fix icon names in few more DocTypes
  frappe/email/doctype/email_domain/email_domain.json
  frappe/website/doctype/help_article/help_article.json
  frappe/website/doctype/help_category/help_category.json
  frappe/website/doctype/web_form/web_form.json
Due: ui-tests

fix: run shards from bench sites - Resolve Frappe through the Bench-installed app so bench-relative paths, translations, requirement metadata, and Node dependencies use the prepared checkout
  .github/workflows/sqlite-individual-tests.yml
Due: none

fix(web_form): keep page names set in the form builder
  cypress/integration/web_form_builder.js
  frappe/public/js/form_builder/components/Tabs.vue
  frappe/public/js/form_builder/store.js
  frappe/public/js/frappe/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
Due: server, ui-tests

feat: simplify email composer action bar
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
Due: ui-tests

feat: float email composer in bottom-right corner
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
  frappe/public/scss/desk/index.scss
Due: ui-tests

feat: toggle formatting toolbar from action bar
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
Due: ui-tests

feat: show send-options banner in email composer
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
Due: ui-tests

feat: show send-options banner in email composer
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

feat: toggle send-me-a-copy and read-receipt from action bar
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
Due: ui-tests

feat: add read receipt setting to user
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
  frappe/public/js/frappe/views/communication.js
  frappe/utils/user.py
Due: server, ui-tests

fix: recent
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
Due: ui-tests

fix: accept comma-separated recipients and remove dead code in email composer
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
  frappe/public/scss/common/modal.scss
Due: ui-tests

feat: add read receipt preference to user email settings
  frappe/public/js/frappe/ui/user_settings_dialog.js
Due: ui-tests

fix: escaping, permissions and template handling in email composer
  frappe/email/__init__.py
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
Due: server, ui-tests

feat: redo email composer
  frappe/email/__init__.py
  frappe/public/js/frappe/views/communication.js
  frappe/public/scss/common/email_composer.scss
Due: server, ui-tests

feat: pick print format from icon dropdown in email composer
  frappe/public/js/frappe/views/communication.js
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
