Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix!: frappe.has_permission(throw=True) works as expected
  frappe/__init__.py
Due: server

chore: conflicts
  frappe/permissions.py
Due: server

feat: add frappe notification client
  frappe/integrations/doctype/push_notification_settings/__init__.py
  frappe/integrations/doctype/push_notification_settings/push_notification_settings.js
  frappe/integrations/doctype/push_notification_settings/push_notification_settings.json
  frappe/integrations/doctype/push_notification_settings/push_notification_settings.py
  frappe/integrations/doctype/push_notification_settings/test_push_notification_settings.py
  frappe/push_notification.py
Due: server, ui-tests

chore: keep push notification relay disable by default
  frappe/integrations/doctype/push_notification_settings/push_notification_settings.json
Due: ui-tests

chore: lint fixed
  frappe/push_notification.py
Due: server

fix: replace float with flt
  frappe/desk/doctype/number_card/number_card.py
Due: server

chore: use set_value, get_value for cache
  frappe/push_notification.py
Due: server

refactor!: ignore parent_field parameter to rebuild_tree
  frappe/public/js/frappe/views/treeview.js
  frappe/utils/nestedset.py
Due: server, ui-tests

chore: remove testing internet connection for emails (#23581)
  frappe/email/doctype/email_account/email_account.py
Due: server

fix: minor fix
  frappe/desk/doctype/number_card/number_card.py
Due: server

feat: support background jobs in recorder
  frappe/core/doctype/recorder/recorder.json
  frappe/core/doctype/recorder/recorder.py
  frappe/hooks.py
  frappe/recorder.py
  frappe/utils/background_jobs.py
Due: server, ui-tests

chore: conflicts
  frappe/email/doctype/email_account/email_account.py
Due: server

fix: use correct parent field in rebuild_tree() (#24107)
  frappe/public/js/frappe/views/treeview.js
  frappe/utils/nestedset.py
Due: server, ui-tests

fix(web Form): make button label translatable
  frappe/website/doctype/web_form/templates/web_form.html
Due: none

fix: context in web form translations
  frappe/website/doctype/web_form/templates/web_form.html
Due: none

refactor!: remove unused parameter from rebuild_tree, add type hints
  frappe/utils/nestedset.py
Due: server

fix: mobile configure columns issue
  frappe/public/js/frappe/list/list_settings.js
Due: ui-tests

fix: remove parent_field parameter from backend calls
  frappe/tests/test_nestedset.py
  frappe/utils/nestedset.py
Due: server

fix: logic to disable broken account
  frappe/email/doctype/email_account/email_account.py
Due: server

refactor: respect multi-tenancy
  frappe/email/doctype/email_account/email_account.py
Due: server

fix: Reset failed attempts ONLY if succesful connection is made
  frappe/email/doctype/email_account/email_account.py
Due: server

refactor!: remove unused parameter from rebuild_tree, add type hints (#24123)
  frappe/tests/test_nestedset.py
  frappe/utils/nestedset.py
Due: server

fix: fix issues
  frappe/integrations/doctype/push_notification_settings/push_notification_settings.json
  frappe/integrations/doctype/push_notification_settings/push_notification_settings.py
  frappe/push_notification.py
Due: server, ui-tests

chore: fix issues
  frappe/push_notification.py
Due: server

fix: correct arg type
  frappe/email/doctype/email_account/email_account.py
  frappe/tests/test_email.py
Due: server

refactor: set pipefail in shell before running piped backup/restore commands
  frappe/database/db_manager.py
  frappe/utils/backups.py
Due: server

fix: add a small check in set_primary_action function to prevent multiple api calls
  frappe/public/js/frappe/ui/dialog.js
Due: ui-tests

fix(recorder): Normalize `IN` in SQL queries
  frappe/recorder.py
  frappe/tests/test_recorder.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
