Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: german translations
  frappe/translations/de.csv
Due: none

fix: make field label translatable
  frappe/public/js/frappe/ui/group_by/group_by.js
Due: ui-tests

fix: "Remember Last Selected Value" not working (frappe#21364)
  frappe/public/js/frappe/model/create_new.js
Due: ui-tests

feat: allow no_smtp_authentication to be set from site config (#21344)
  frappe/email/doctype/email_account/email_account.py
Due: server

fix(test): Fix test_never_render to get path as string, exclude PYC files from static downloads
  frappe/tests/test_website.py
  frappe/website/page_renderers/static_page.py
Due: server

feat(icons): Add new icon arrow-down-right for Number Card
  frappe/public/icons/timeless/icons.svg
  frappe/public/js/frappe/widgets/number_card_widget.js
Due: ui-tests

perf(icons): Remove uneeded code on some arrow icons
  frappe/public/icons/timeless/icons.svg
Due: none

test: Fix failing test for icon & phone
  cypress/integration/control_icon.js
  cypress/integration/control_phone.js
Due: ui-tests

style: Fix formatting issue
  frappe/public/js/frappe/model/create_new.js
Due: ui-tests

test: Make folder navigation test less flaky
  cypress/integration/folder_navigation.js
Due: ui-tests

test: Return cy.request promise from login
  cypress/support/commands.js
Due: ui-tests

test: Fix control link flaky test
  cypress/integration/control_link.js
Due: ui-tests

test: Fix Kanban test
  cypress/support/commands.js
Due: ui-tests

perf: Index `everyone` in DocShare
  frappe/core/doctype/docshare/docshare.json
Due: ui-tests

perf: Dont order_by while fetching shares
  frappe/share.py
Due: server

fix: missing filter on first connected nagivation
  frappe/public/js/frappe/ui/filters/filter.js
Due: ui-tests

fix(build): Exit build process instead of throwing an exception
  esbuild/esbuild.js
Due: ui-tests

fix: Try waiting for logout
  cypress/integration/kanban.js
  cypress/support/commands.js
Due: ui-tests

fix(desk): Allow setting filters_description via df API (#21382)
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

fix: Keep raw query params string formatted.
  frappe/public/js/frappe/router.js
Due: ui-tests

fix: SQL not unique table/alias when a doctype join itself.
  frappe/model/db_query.py
Due: server

fix(test): Remove frappe.local.request between requests
  frappe/tests/test_website.py
Due: server

chore: refactor duplicate code
  frappe/cache_manager.py
  frappe/core/doctype/document_naming_rule/document_naming_rule.py
Due: server

refactor: `get_doctype_map()` using single query and use generator for caching
  frappe/cache_manager.py
  frappe/core/doctype/document_naming_rule/document_naming_rule.py
  frappe/model/naming.py
Due: server

perf: cache document naming rule to avoid multiple db call
  frappe/model/naming.py
Due: server

fix: dont clear doctype map keys when clearing doctype cache
  frappe/cache_manager.py
Due: server

fix: use property instead of hardcoding
  frappe/core/doctype/document_naming_rule/document_naming_rule.py
Due: server

perf: Cache Docstatus check in invalid links
  frappe/model/base_document.py
Due: server

fix: update_document_title
  frappe/model/rename_doc.py
  frappe/public/js/frappe/form/toolbar.js
Due: server, ui-tests

fix(path_resolver): Avoid 200 OK for NotFoundPage renderer
  frappe/website/path_resolver.py
Due: server

chore: conflicts
  frappe/cache_manager.py
Due: server

feat: webhook timeout
  frappe/integrations/doctype/webhook/webhook.json
  frappe/integrations/doctype/webhook/webhook.py
Due: server, ui-tests

feat: configurable amendment naming
  frappe/core/doctype/amended_document_naming_settings/__init__.py
  frappe/core/doctype/amended_document_naming_settings/amended_document_naming_settings.json
  frappe/core/doctype/amended_document_naming_settings/amended_document_naming_settings.py
  frappe/core/doctype/document_naming_settings/document_naming_settings.json
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/model/naming.py
Due: server, ui-tests

patch: set default amend naming
  frappe/patches.txt
Due: none

chore: linters and document filter
  frappe/core/doctype/document_naming_settings/document_naming_settings.js
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
Due: server, ui-tests

test: amended document naming
  frappe/core/doctype/document_naming_settings/test_document_naming_settings.py
  frappe/model/naming.py
Due: server

fix: ensure default timeout 5 seconds
  frappe/integrations/doctype/webhook/webhook.py
Due: server

refactor: Correctly consider extra row in visible_idx
  frappe/public/js/frappe/views/reports/query_report.js
Due: ui-tests

perf: Faster report exports to Excel
  frappe/desk/query_report.py
Due: server

perf: Faster report exporting logic (#21415)
  frappe/desk/query_report.py
Due: server

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
