Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: Use correct (translated) Home and Attachments folder names
  frappe/core/doctype/communication/email.py
  frappe/public/js/frappe/router.js
  frappe/public/js/frappe/views/file/file_view.js
Due: server, ui-tests

fix(file): Fix reference to wrong attachments_folder
  frappe/core/api/file.py
Due: server

feat(boot): Add attachments_folder to bootinfo
  frappe/boot.py
Due: server

chore: linter fix
  frappe/integrations/utils.py
Due: server

chore: resolved conflict
  frappe/tests/test_api.py
Due: server

fix: check if autoname is promt before setting __newname
  frappe/model/document.py
Due: server

fix: Color indicator style
  frappe/public/scss/common/color_picker.scss
Due: none

fix typo
  frappe/public/js/frappe/socketio_client.js
Due: ui-tests

fix: Show server script name in traceback
  frappe/core/doctype/report/report.py
  frappe/core/doctype/server_script/server_script.py
  frappe/desk/doctype/system_console/system_console.py
  frappe/query_builder/utils.py
  frappe/recorder.py
  frappe/utils/error.py
  frappe/utils/safe_exec.py
  frappe/website/doctype/web_page/web_page.py
Due: server

fix: prioritize link_title if value != link_title
  frappe/public/js/frappe/form/formatters.js
Due: ui-tests

feat: Add button to removing multiple assignments
  frappe/desk/form/assign_to.py
  frappe/public/js/frappe/list/bulk_operations.js
  frappe/public/js/frappe/list/list_view.js
Due: server, ui-tests

chore: typo (#23675)
  frappe/public/js/frappe/socketio_client.js
Due: ui-tests

chore: typo
  frappe/core/doctype/server_script/server_script.py
  frappe/query_builder/utils.py
Due: server

fix: Show server script name in traceback (#23676)
  frappe/core/doctype/report/report.py
  frappe/core/doctype/server_script/server_script.py
  frappe/desk/doctype/system_console/system_console.py
  frappe/query_builder/utils.py
  frappe/recorder.py
  frappe/utils/error.py
  frappe/utils/safe_exec.py
  frappe/website/doctype/web_page/web_page.py
Due: server

test: fixed failing test
  frappe/tests/test_db_query.py
Due: server

chore: better code
  frappe/model/document.py
Due: server

chore: linter fix
  frappe/public/js/frappe/widgets/widget_dialog.js
Due: ui-tests

fix(sentry): set the user's name correctly
  frappe/utils/sentry.py
Due: server

fix: Add filter in Workspace Card Links Block (#23578)
  frappe/public/js/frappe/widgets/widget_dialog.js
Due: ui-tests

feat(minor): child table field as standard filter in list view (#23625)
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

refactor(sentry): don't require passing in an exception
  frappe/utils/sentry.py
Due: server

chore: resolved conflict
  frappe/translations/de.csv
Due: none

revert: version change
  frappe/__init__.py
Due: server

fix: changed red-700 to red-800 since --diff-removed is also 800
  frappe/public/scss/desk/dark.scss
Due: none

fix: undefined variable name fixed in dark.scss (#23646)
  frappe/public/scss/desk/dark.scss
Due: none

fix: revert wrong cleanup attempt
  frappe/public/js/frappe/list/list_view.js
Due: ui-tests

fix: Set sort_order to DESC if sort_field is modified
  frappe/automation/doctype/milestone/milestone.json
  frappe/automation/doctype/milestone_tracker/milestone_tracker.json
  frappe/contacts/doctype/contact/contact.json
  frappe/core/doctype/error_log/error_log.json
  frappe/core/doctype/file/file.json
  frappe/core/doctype/module_def/module_def.json
  frappe/core/doctype/page/page.json
  frappe/core/doctype/role/role.json
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/version/version.json
  frappe/custom/doctype/client_script/client_script.json
  frappe/custom/doctype/custom_field/custom_field.json
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/desk/doctype/note/note.json
  frappe/integrations/doctype/google_contacts/google_contacts.json
  frappe/integrations/doctype/google_drive/google_drive.json
  frappe/printing/doctype/letter_head/letter_head.json
  frappe/social/doctype/review_level/review_level.json
  frappe/website/doctype/web_page/web_page.json
  frappe/website/doctype/website_settings/website_settings.json
  frappe/workflow/doctype/workflow/workflow.json
  frappe/workflow/doctype/workflow_state/workflow_state.json
Due: ui-tests
