Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

fix: Fix flaky tests
  frappe/desk/form/load.py
  frappe/social/doctype/energy_point_log/energy_point_log.py
  frappe/tests/test_utils.py
Due: server

fix: remove custom fields as well on reset to default
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/custom/doctype/customize_form/customize_form.py
Due: server, ui-tests

refactor: remove jquery object
  frappe/public/js/frappe/form/grid_row.js
Due: ui-tests

fix: keep the user column intact
  frappe/workflow/doctype/workflow_action/workflow_action.json
  frappe/workflow/doctype/workflow_action/workflow_action.py
Due: server, ui-tests

fix!: block customizing select field type options
  frappe/custom/doctype/customize_form/customize_form.py
Due: server

fix: use cached values for user config
  frappe/desk/form/assign_to.py
  frappe/desk/form/utils.py
  frappe/desk/like.py
  frappe/model/document.py
  frappe/share.py
Due: server

feat: discussions redesign
  frappe/templates/discussions/button.html
  frappe/templates/discussions/discussions.js
  frappe/templates/discussions/discussions_section.html
  frappe/templates/discussions/reply_card.html
  frappe/templates/discussions/reply_section.html
  frappe/templates/discussions/search.html
  frappe/templates/discussions/sidebar.html
  frappe/templates/styles/discussion_style.css
Due: ui-tests

feat: testing utilities
  frappe/tests/test_permissions.py
  frappe/tests/test_utils.py
  frappe/tests/utils.py
Due: server

feat: testing utilities
  frappe/tests/utils.py
Due: server

fix: Fix energy point log test case
  frappe/social/doctype/energy_point_log/test_energy_point_log.py
Due: server

fix: Don't reset creation dates in install
  frappe/model/document.py
Due: server

fix: Reset any creation datetimes if inconsistencies exist
  frappe/patches.txt
  frappe/patches/v14_0/reset_creation_datetime.py
Due: server

feat(minor): Add patch docstring if available in patch runner
  frappe/modules/patch_handler.py
Due: server

test: test `run_method` with overwritten values
  frappe/tests/test_document.py
Due: server

fix: sider issue
  frappe/model/document.py
Due: server

fix: unset invalid field before executing `run_method`
  frappe/model/document.py
Due: server

fix: remove unnecessary code
  frappe/model/document.py
Due: server

fix: better implementation
  frappe/model/document.py
Due: server

fix: throw `TypeError` instead of deleting key
  frappe/model/document.py
  frappe/tests/test_document.py
Due: server

test: Added test_doc_rename
  frappe/tests/test_rename_doc.py
Due: server

fix: Use rename doc method wrapper
  frappe/model/rename_doc.py
Due: server

fix: always execute method if found in `__dict__` (#15958)
  frappe/model/document.py
  frappe/tests/test_document.py
Due: server

test(fix): Add property setter for ToDo to be made rename-able
  frappe/tests/test_rename_doc.py
Due: server

fix: show/hide untranslated text
  frappe/core/doctype/docfield/docfield.json
  frappe/model/docfield.py
  frappe/public/js/frappe/form/controls/link.js
Due: server, ui-tests

fix: Inherit from FrappeTestCase in template
  frappe/core/doctype/doctype/boilerplate/test_controller._py
Due: none

fix: Print to STDOUT to help debug via is_scheduler_inactive
  frappe/utils/scheduler.py
Due: server

fix: merge conflict
  frappe/tests/test_document.py
Due: server

fix: merge conflict
  frappe/model/base_document.py
Due: server

chore: fix test case
  cypress/integration/control_link.js
Due: ui-tests

feat: Rename Document via Background Job
  frappe/model/rename_doc.py
  frappe/public/js/frappe/form/toolbar.js
Due: server, ui-tests

fix: Ability to disable standard notification
  frappe/email/doctype/notification/notification.py
Due: server

bumped to version 14.0.0-beta.2
  frappe/__init__.py
Due: server

feat(minor): added option to configure powered by in footer and max-height for text editors
  frappe/public/js/frappe/form/controls/text_editor.js
  frappe/templates/includes/footer/footer_info.html
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/doctype/website_settings/website_settings.py
Due: server, ui-tests

fix: set correct label
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
