Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

chore: remove example email id field from email domain
  frappe/email/doctype/email_domain/email_domain.js
  frappe/email/doctype/email_domain/email_domain.json
  frappe/email/doctype/email_domain/email_domain.py
Due: server, ui-tests

chore: add headline for letting users know about how email domain sets attributes
  frappe/email/doctype/email_domain/email_domain.js
  frappe/email/doctype/email_domain/email_domain.py
Due: server, ui-tests

refactor(minor): move out email domain validations to different methods
  frappe/email/doctype/email_domain/email_domain.py
Due: server

fix: consistent fieldnames and keep port alongside server field
  frappe/email/doctype/email_domain/email_domain.json
Due: ui-tests

refactor: modules.utils
  frappe/modules/utils.py
Due: server

chore: linter fixes
  frappe/translate.py
Due: server

chore: linter changes
  frappe/translate.py
Due: server

test: sanitize_html attributes behaviour
  frappe/tests/test_utils.py
Due: server

feat(minor): add connection link to email accounts in email domain
  frappe/email/doctype/email_domain/email_domain.json
Due: ui-tests

feat(minor): fetch attachment_limit from get_max_file_size api
  frappe/email/doctype/email_domain/email_domain.js
  frappe/email/doctype/email_domain/email_domain.json
Due: ui-tests

fix(sanitize-html): allow all data-* attrs
  frappe/utils/html_utils.py
Due: server

feat: Multilanguage sites: language selector only will show "enabled" languages and language default always will be System default (#17745)
  frappe/translate.py
Due: server

chore(release): Bumped to Version 13.37.0
  frappe/__init__.py
Due: server

Notes added by 'git notes add'
  d6197913f37f512005b99a39357d604cd6af6002
Due: none

fix: handle permlevel
  frappe/permissions.py
Due: server

fix: dont init child doc
  frappe/permissions.py
Due: server

fix: get correct doc when checking child table permission
  frappe/permissions.py
Due: server

fix: check permlevel only if > 0
  frappe/permissions.py
Due: server

fix: assume parentfield to be set and valid
  frappe/permissions.py
Due: server

refactor: `has_child_table_permission` => `has_child_permission`
  frappe/permissions.py
Due: server

chore: add deprecation warning everywhere verbose is used
  frappe/__init__.py
  frappe/model/db_query.py
  frappe/model/document.py
  frappe/permissions.py
Due: server

refactor: remove `verbose` parameter; add `user` parameter to `Meta.get_permlevel_access`
  frappe/model/meta.py
  frappe/permissions.py
Due: server

test: use different user
  frappe/tests/test_permissions.py
Due: server

fix: reverse logic for failing permission check
  frappe/permissions.py
  frappe/tests/test_permissions.py
Due: server

test: add tests for `frappe.get_doc`
  frappe/tests/test_permissions.py
Due: server

chore: lazier import; improved docstrings
  frappe/__init__.py
  frappe/model/document.py
Due: server

chore: improve docstring
  frappe/permissions.py
Due: server

refactor: add handle_error decorator and cleanup server validations
  frappe/email/doctype/email_domain/email_domain.js
  frappe/email/doctype/email_domain/email_domain.py
Due: server, ui-tests

test: use FrappeTestCase for cleaning up state
  frappe/tests/test_search.py
Due: server

test: Reset requirements for export_doc
  frappe/modules/utils.py
  frappe/printing/doctype/print_format/test_print_format.py
  frappe/tests/test_modules.py
Due: server

chore: indentation fix
  cypress/integration/control_link.js
Due: ui-tests

test: use FrappeTestCase for cleaning up state (#17768)
  frappe/tests/test_search.py
Due: server

fix: german translations (#17663)
  frappe/public/js/frappe/form/link_selector.js
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/translations/de.csv
Due: ui-tests

fix(ux): email domain doctype
  frappe/email/doctype/email_domain/email_domain.json
Due: ui-tests

Path conditions:
  server: any of: .*\.py
  ui-tests: any of: .*\.js
