Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

fix: dont override local proxies (#16611)
  frappe/desk/doctype/system_console/system_console.py
  frappe/desk/form/load.py
Due: server

test: ui test for client scripts
  frappe/custom/doctype/client_script/ui_test_client_script.js
Due: ui-tests

fix: handle attaching images in new form
  frappe/public/js/frappe/form/controls/markdown_editor.js
  frappe/public/js/frappe/form/sidebar/attachments.js
Due: ui-tests

test: ui test for inserting image in markdown
  cypress/integration/control_markdown_editor.js
  cypress/support/commands.js
Due: ui-tests

fix: dump json when necessary
  frappe/desk/doctype/kanban_board/kanban_board.py
Due: server

fix(validate_links): error if fetch values is None
  frappe/model/base_document.py
Due: server

refactor: frappe.modules.utils
  frappe/modules/utils.py
Due: server

feat: added support for data type json (#16187)
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/doctype/test_doctype.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/model/__init__.py
  frappe/model/base_document.py
  frappe/public/js/frappe/form/controls/control.js
  frappe/public/js/frappe/form/controls/json.js
Due: server, ui-tests

fix: Allow adding JSON fields via Customize Form
  frappe/custom/doctype/custom_field/custom_field.json
Due: ui-tests

chore(frappe): Add typing hints for init methods
  frappe/__init__.py
Due: server

test: Added test for PrintFormat.export_doc
  frappe/printing/doctype/print_format/print_format.py
  frappe/printing/doctype/print_format/test_print_format.py
Due: server

refactor: prevent auto generate of __init__.py in higher python version
  frappe/__init__.py
  frappe/core/doctype/module_def/module_def.py
  frappe/modules/export_file.py
  frappe/website/router.py
Due: server

chore: check in missing __init__.py
  frappe/www/_test/assets/__init__.py
Due: server

chore: check in missing __init__.py (#16617)
  frappe/www/_test/assets/__init__.py
Due: server

test: Added test script for control type "Color"
  cypress/integration/control_color.js
Due: ui-tests

fix: update translation
  frappe/translations/fr.csv
Due: none

test: Added script for control type "Data"
  cypress/integration/control_data.js
Due: ui-tests

test: Fixed sider issues
  cypress/integration/control_color.js
Due: ui-tests

test: Fixed sider issues
  cypress/integration/control_data.js
Due: ui-tests

test: Added tests for frappe.modules
  frappe/tests/test_modules.py
Due: server

fix: Add return values to enable better testing ;)
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/modules/export_file.py
  frappe/modules/utils.py
Due: server

fix: Drop dead suspicious looking API
  frappe/custom/doctype/custom_field/custom_field.py
Due: server

perf: Glob filesystem instead of DB reads etc
  frappe/modules/utils.py
Due: server

fix: Linting issues
  frappe/utils/safe_exec.py
Due: server

fix: table initialization outside loop
  frappe/database/database.py
Due: server

refactor: Fix naming and simpify code
  frappe/model/base_document.py
  frappe/public/js/frappe/form/controls/phone.js
  frappe/public/js/frappe/phone_picker/phone_picker.js
  frappe/utils/__init__.py
Due: server, ui-tests

fix: rename workspace and child workspace logic
  frappe/desk/doctype/workspace/workspace.py
Due: server

test: added UI test for Edit/Duplicate Page & Drag Sidebar item
  cypress/integration/workspace.js
  cypress/support/commands.js
  frappe/commands/utils.py
Due: server, ui-tests

fix: extend autoname validation to child items
  frappe/model/base_document.py
  frappe/model/document.py
Due: server

fix(linter): code formatting
  frappe/desk/doctype/workspace/workspace.py
Due: server

fix(sider): missing semicolons
  cypress/integration/workspace.js
  cypress/support/commands.js
Due: ui-tests

test: naming on child tables
  frappe/tests/test_naming.py
Due: server

wip: further integrate beta print format
  frappe/__init__.py
  frappe/website/page_renderers/print_page.py
  frappe/www/printview.py
Due: server

test: fixed failing delete workspace UI test
  cypress/integration/workspace.js
Due: ui-tests

wip
  frappe/__init__.py
Due: server

fix: Validation error
  cypress/integration/control_phone.js
  frappe/utils/__init__.py
Due: server, ui-tests

fix: multiple fixes
  frappe/__init__.py
  frappe/desk/doctype/bulk_update/bulk_update.py
  frappe/desk/doctype/enqueue_document_action_setting/enqueue_document_action_setting.json
  frappe/desk/doctype/enqueue_document_action_setting/enqueue_document_action_setting.py
  frappe/desk/doctype/enqueue_selected_action/__init__.py
  frappe/desk/doctype/enqueue_selected_action/enqueue_selected_action.json
  frappe/desk/doctype/enqueue_selected_action/enqueue_selected_action.py
  frappe/desk/doctype/queue_document_action/__init__.py
  frappe/desk/doctype/queue_document_action/queue_document_action.js
  frappe/desk/doctype/queue_document_action/queue_document_action.json
  frappe/desk/doctype/queue_document_action/queue_document_action.py
  frappe/desk/doctype/queue_document_action/test_queue_document_action.py
  frappe/desk/utils.py
  frappe/model/document.py
  frappe/public/js/frappe/list/bulk_operations.js
  frappe/utils/background_jobs.py
Due: server, ui-tests
