Repository frappe/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      server:
        target: auto
        threshold: 0.5%
        flags:
          - server
      ui-tests:
        target: auto
        threshold: 0.5%
        flags:
          - ui-tests

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server:
    paths:
      - ".*\\.py"
    carryforward: true
  ui-tests:
    paths:
      - ".*\\.js"
    carryforward: true

chore: remove unused macro
  frappe/templates/print_formats/standard_macros.html
Due: none

fix: validate import columns only if type is insert
  frappe/core/doctype/data_import/importer.py
Due: server

fix: define variable with default value
  frappe/desk/doctype/workspace_sidebar/workspace_sidebar.py
Due: server

fix: Remove newlines from filename in email attachment
  frappe/email/email_body.py
Due: server

refactor!: deprecate older web view links
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/patches/v14_0/set_document_expiry_default.py
  frappe/tests/test_document.py
  frappe/www/printview.py
Due: server, ui-tests

refactor: Hide Rename fieldname custom button (#34982)
  frappe/custom/doctype/custom_field/custom_field.js
Due: ui-tests

fix: handle password feedback for common words and suggestions
  frappe/utils/password_strength.py
Due: server

fix: Serbian (Cyrillic) translations
  frappe/locale/sr.po
Due: none

fix: Croatian translations
  frappe/locale/hr.po
Due: none

fix: Bosnian translations
  frappe/locale/bs.po
Due: none

fix: Serbian (Latin) translations
  frappe/locale/sr_CS.po
Due: none

fix(Contact): don't go to last doc on validation errors
  frappe/contacts/doctype/contact/contact.js
Due: ui-tests

fix: add IDs to "optimize" and "private" checkbox labels in FilePreview
  frappe/public/js/frappe/file_uploader/FilePreview.vue
Due: none

test: check for enabled/disabled
  cypress/integration/file_uploader.js
Due: ui-tests

feat: allow restricting public file uploads to System Managers (#34879)
  cypress/integration/file_uploader.js
  frappe/core/doctype/file/file.js
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/test_file.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/public/js/frappe/file_uploader/FilePreview.vue
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/file_uploader/file_uploader.bundle.js
  frappe/public/js/frappe/utils/utils.js
Due: server, ui-tests

fix(FrappeMail): use custom `raise_for_status`
  frappe/email/frappemail.py
Due: server

refactor: enhance password strength failure msg
  frappe/core/doctype/user/user.py
Due: server

refactor: add type hints and docstrings for XLSX data handling functions
  frappe/desk/query_report.py
  frappe/utils/xlsxutils.py
Due: server

fix: ensure awesomplete exists before early exit
  frappe/public/js/frappe/form/controls/link.js
Due: ui-tests

fix: allow print if login required is checked
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
Due: server, ui-tests

fix: exclude fields with default when validatng mandatory columns for import files
  frappe/core/doctype/data_import/importer.py
Due: server

fix(goal): improve validation
  frappe/utils/goal.py
Due: server

refactor: remove ignored params from call
  frappe/tests/test_query_report.py
Due: server

Notes added by 'git notes add'
  3e999b8ad90fe99e54937dd4027ddfd95bc3949c
Due: none

refactor: remove ignored params from call (#35185)
  frappe/tests/test_query_report.py
Due: server

fix: allow print if login required is checked (#35184)
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
Due: server, ui-tests

feat: add response headers field to integration request
  frappe/integrations/doctype/integration_request/integration_request.json
  frappe/integrations/doctype/integration_request/integration_request.py
Due: server, ui-tests

fix: add display property
  frappe/www/manifest.json
Due: ui-tests

refactor: better UI for showing users with role
  frappe/core/page/permission_manager/permission_manager.js
Due: ui-tests

fix: execute validation for linked document before running doctype methods
  frappe/model/delete_doc.py
Due: server

fix:replace_inline_images to handle multiple <img> tags and replace cid:urls
  frappe/email/receive.py
Due: server

fix: multiselect dailog link fields change trigger not getting triggered
  frappe/public/js/frappe/form/multi_select_dialog.js
Due: ui-tests

fix: file formatted
  frappe/public/js/frappe/form/multi_select_dialog.js
Due: ui-tests

fix(attachments): escape file_url
  frappe/public/js/frappe/form/sidebar/attachments.js
Due: ui-tests

fix(goal): improve validation (#35186)
  frappe/utils/goal.py
Due: server

fix: link field virtual property
  frappe/public/js/form_builder/components/FieldProperties.vue
Due: none

fix: prevent TypeError when desktop_icon_urls variant is undefined
  frappe/public/js/frappe/utils/utils.js
Due: ui-tests

fix: Hungarian translations
  frappe/locale/hu.po
Due: none
